Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Check if any bg jobs running before changing storage
  backend/btrixcloud/storages.py
Due: pylint

Fixup
  backend/btrixcloud/orgs.py
  backend/btrixcloud/storages.py
Due: pylint

Storage update improvements
  backend/btrixcloud/orgs.py
  backend/btrixcloud/storages.py
Due: pylint

More refactoring
  backend/btrixcloud/storages.py
Due: pylint

Check bg job finished as well
  backend/btrixcloud/storages.py
Due: pylint

Fixups
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint

Remove another todo
  backend/btrixcloud/storages.py
Due: pylint

Make post-update task methods private
  backend/btrixcloud/storages.py
Due: pylint

Remove TODO
  backend/btrixcloud/storages.py
Due: pylint

More fixups
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/storages.py
  chart/app-templates/copy_job.yaml
Due: pylint, password-check

Add typing for init_storages_api, import Callable
  backend/btrixcloud/storages.py
Due: pylint

Make API endpoints that change storage superuser-only for now
  backend/btrixcloud/main.py
  backend/btrixcloud/storages.py
Due: pylint

Add provider to s3storage for rclone
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint

Fix typo
  backend/btrixcloud/storages.py
Due: pylint

Add missing User import
  backend/btrixcloud/storages.py
Due: pylint

Fix StorageOps in operator main
  backend/btrixcloud/main_op.py
Due: pylint

Always use oid prefix in s3 storage
  backend/btrixcloud/models.py
  chart/app-templates/copy_job.yaml
Due: pylint, password-check

Post-rebase fixups and remove create bucket fallback
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/storages.py
Due: pylint

Add --progress flag to rclone copy command
  chart/app-templates/copy_job.yaml
Due: password-check

Ensure there are no double slashes between bucket name and oid
  backend/btrixcloud/background_jobs.py
  chart/app-templates/copy_job.yaml
Due: pylint, password-check

Refactor to move updates to FastAPI background tasks
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/storages.py
Due: pylint

Update docstrings and comments
  backend/btrixcloud/storages.py
Due: pylint

Create extra test buckets in CI
  .github/workflows/k3d-ci.yaml
  .github/workflows/microk8s-ci.yaml
Due: password-check

Increase memory limit/request for copy job to 500Mi
  chart/app-templates/copy_job.yaml
Due: password-check

Include default replicas in /storage response if no org replicas
  backend/btrixcloud/storages.py
Due: pylint

Make all-storages response valid JSON with response model
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint

Fix unsetting of presigned URLs
  backend/btrixcloud/orgs.py
Due: pylint

One more positional operator fix
  backend/btrixcloud/orgs.py
Due: pylint

Fix positional operator in storage ref update
  backend/btrixcloud/orgs.py
Due: pylint

Increase ttl seconds after finished for testing on dev
  chart/app-templates/copy_job.yaml
Due: password-check

Add flags to rclone to reduce memory usage, set limit to 350Mi
  chart/app-templates/copy_job.yaml
Due: password-check

Add storage tag to API endpoints
  backend/btrixcloud/storages.py
Due: pylint

Reduce copy job ttlSecondsAfterFinished to 60
  chart/app-templates/copy_job.yaml
Due: password-check

Add test for non-verified custom storage
  backend/test/test_org.py
Due: pylint

Add admin docs for storage
  frontend/docs/docs/deploy/admin/org-storage.md
  frontend/docs/mkdocs.yml
Due: password-check

Check /all-storages in backend tests
  backend/test/test_org.py
Due: pylint

Docs typo fix
  frontend/docs/docs/deploy/admin/org-storage.md
Due: none

Add provider field note
  frontend/docs/docs/deploy/admin/org-storage.md
Due: none

Fix linting
  backend/btrixcloud/background_jobs.py
Due: pylint

Docs language cleanup
  frontend/docs/docs/deploy/admin/org-storage.md
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
