Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Right align copy button in item details page
  frontend/src/pages/org/crawl-detail.ts
Due: none

Rename "Production" to "Remote" (#1105)
  ansible/README.md
  chart/examples/k3s-hosted.yaml
  docs/deploy/remote.md
  mkdocs.yml
Due: password-check

Enable saving individual collection form sections (#1166)
  frontend/src/pages/org/collection-edit.ts
  frontend/src/pages/org/collection-editor.ts
  frontend/src/pages/org/collections-new.ts
Due: none

Implement sync streaming for finished crawl logs (#1168)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/zip.py
Due: pylint

types: add type enums for CrawlState add typed values for list of CrawlStates as List[CrawlState]
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/mypy.ini
Due: pylint

fix tests
  backend/test/test_stop_cancel_crawl.py
  backend/test/test_uploads.py
  backend/test_nightly/test_crawl_timeout.py
  backend/test_nightly/test_max_crawl_size_limit.py
Due: pylint

temp: test nightly
  .github/workflows/k3d-nightly-ci.yaml
Due: password-check

add elseif
  backend/btrixcloud/operator.py
Due: pylint

Reset crawl state to running when any crawlers are running (after post-process states) (#1179)
  backend/btrixcloud/operator.py
Due: pylint

version: bump RWP version to 1.8.12
  chart/values.yaml
Due: password-check

version: bump RWP version to 1.8.12 (#1181)
  chart/values.yaml
Due: password-check

Add local_backend_port to allow external access to backend
  chart/templates/backend.yaml
  chart/values.yaml
Due: password-check

Disable `smtp_use_tls` with `false` instead of empty string
  backend/btrixcloud/emailsender.py
Due: pylint

docs: changes from Antares in IIPC slack
  docs/deploy/ansible/microk8s.md
Due: none

fix(ansible): microk8s deployment missing optional vars
  ansible/group_vars/microk8s/main.yml
Due: password-check

Remove config from list endpoints
  .pre-commit-config.yaml
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/test/test_crawlconfigs.py
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/types/crawler.ts
Due: pylint, password-check

Make CrawlConfigOut inherit from base model so config can be optional
  backend/btrixcloud/models.py
Due: pylint

Linting
  backend/btrixcloud/models.py
Due: pylint

Remove duplicate config from model
  backend/btrixcloud/models.py
Due: pylint

First slow implementation of org metrics
  .pre-commit-config.yaml
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint, password-check

bump version to 1.7.0-beta.1
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Rename storageQuota to storageQuotaBytes to be consistent
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

Fix linting
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

Use helper to get max concurrent crawls
  backend/btrixcloud/orgs.py
Due: pylint

Use Omit<Workflow...>
  frontend/src/types/crawler.ts
Due: none

Add seedCount to ListWorkflow
  frontend/src/types/crawler.ts
Due: none

Add seedCount to Workflow instead
  frontend/src/types/crawler.ts
Due: none

Use .get for type
  backend/btrixcloud/orgs.py
Due: pylint

Add comment
  backend/btrixcloud/orgs.py
Due: pylint

build: disable webpack polling for hot reload
  frontend/webpack.dev.js
Due: none

Add test
  backend/test/test_org.py
Due: pylint

Rework models
  backend/btrixcloud/models.py
Due: pylint

Make config required in Crawl
  backend/btrixcloud/models.py
Due: pylint

Remove config from list endpoints to speed up responses (#1193)
  .pre-commit-config.yaml
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/test/test_crawlconfigs.py
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/types/crawler.ts
Due: pylint, password-check

fix(backend): call run now when updating crawlConfig #1194
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
Due: pylint

build: fix webpack dev server recompiling without changes
  frontend/tailwind.config.js
Due: none

remove duplicate run on save
  frontend/src/pages/org/workflow-editor.ts
Due: none

remove radio
  frontend/src/pages/org/workflow-editor.ts
Due: none

move run now button
  frontend/src/pages/org/workflow-editor.ts
Due: none

update icon
  frontend/src/pages/org/workflow-editor.ts
Due: none
