Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

add check for has_pod_metrics
  backend/btrixcloud/operator/crawls.py
Due: pylint

signal sending fixes: - add exec permission to send signal - add signalAtMem to avoid resending SIGTERM multiple times
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  chart/templates/role.yaml
Due: pylint, password-check

Crawler pod memory padding + auto scaling (#1631)
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  chart/app-templates/crawler.yaml
  chart/templates/role.yaml
Due: pylint, password-check

add horizontal pod autoscaler for backend and frontend via helm charts (#1633)
  chart/templates/backend.yaml
  chart/templates/frontend.yaml
  chart/values.yaml
  docs/deploy/customization.md
Due: password-check

1.9.6 release
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

operator fixes: - give more time for 'starting' before switching to 'waiting_capacity', 150 sec instead of 60 - allow switching to complete from any starting/running type, including waiting_capacity
  backend/btrixcloud/operator.py
Due: pylint

operator fixes: (#1639)
  backend/btrixcloud/operator.py
Due: pylint

make StopReason a literal as well
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

operator state fixes (follow up fomr #1639) (#1640)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

use placeholder <iframe> for loading from service worker
  frontend/src/pages/org/archived-item-qa.ts
Due: none

add text tab, text fetching and display
  frontend/src/pages/org/archived-item-qa.ts
Due: none

add resources tab, aggregating by 'type' and showing json as text optimize: don't load 'url' unless showing replay tab to avoid unnecessary navigation sizing tweaks, split tabs + nav bar into two rows
  frontend/src/pages/org/archived-item-qa.ts
Due: none

fix offscreen
  frontend/src/theme.stylesheet.css
Due: none

refactor initial loading state
  frontend/src/pages/org/archived-item-qa.ts
Due: none

guard screenshot render
  frontend/src/pages/org/archived-item-qa.ts
Due: none

always load replay
  frontend/src/pages/org/archived-item-qa.ts
Due: none

remove post message
  frontend/src/pages/org/archived-item-qa.ts
Due: none

fix replay iframe load
  frontend/src/pages/org/archived-item-qa.ts
Due: none

refactor for caching and file clean up
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/index.ts
  frontend/src/pages/org/archived-item-qa/styles.ts
  frontend/src/pages/org/archived-item-qa/types.ts
  frontend/src/pages/org/archived-item-qa/ui/replay.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/spinner.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
  frontend/src/pages/org/index.ts
Due: none

allow configuring args for QA crawl only via QA_ARGS
  backend/btrixcloud/operator/crawls.py
  chart/templates/configmap.yaml
Due: pylint, password-check

add diff tool
  frontend/package.json
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/types.ts
  frontend/src/pages/org/archived-item-qa/ui/replay.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/spinner.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
  frontend/yarn.lock
Due: none

move to updated
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

add diff typing
  frontend/package.json
Due: none

refactor to handle existing sw
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/types.ts
  frontend/src/pages/org/archived-item-qa/ui/replay.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

handle missing data
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

Adds documentation for exporting files
  docs/user-guide/archived-items.md
  docs/user-guide/collections.md
Due: none

update layout
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/styles.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/spinner.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

fix crawl/qa order, crawl on the left, qa on the right
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

enable split view / image comparer toggle (only for screenshots for now)
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
Due: none

fix comparer order
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
Due: none

update headings
  frontend/src/features/qa/qa-run-dropdown.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

update tabs
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/severityBadge.ts
Due: none

update screenshot button
  frontend/src/components/ui/button.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

load proxy iframe from non-RWP endpoint to avoid conflicting sw! label tweak
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
Due: none

update screenshot view
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/styles.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
Due: none

update button label
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

load pages on qa id change
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/replay.ts
Due: none

handle missing data
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/severityBadge.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

fix total pages
  frontend/src/features/qa/qa-run-dropdown.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

fix scroll
  frontend/src/controllers/navigate.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
