Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

more refactoring: - move storage prefix checks to StorageRef - keep track of default primary storage in StorageOps - use default primary storage for creating new orgs
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/users.py
Due: pylint

store 'storage_secret' seperately from storage_name in configmap, pass to crawljobs and profilejobs
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/templates/crawler.yaml
  backend/btrixcloud/templates/profile_job.yaml
  backend/btrixcloud/templates/profilebrowser.yaml
Due: pylint, password-check

cleanup: don't set storage on new org creation, will change later
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

update values, set 'is_default_primary' on tests only
  chart/test/test.yaml
  chart/values.yaml
Due: password-check

Show storage values for each item type when no quota (#1260)
  frontend/src/pages/org/dashboard.ts
Due: none

add utility function to get replicas for org
  backend/btrixcloud/storages.py
Due: pylint

more cleanup / consistent templates
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/templates/crawl_job.yaml
  backend/btrixcloud/templates/profile_job.yaml
Due: pylint, password-check

Adds details about permission levels
  docs/user-guide/org-settings.md
Due: none

Adds section on live crawler instance setting
  docs/user-guide/crawl-workflows.md
Due: none

Adds note about browser profile metadata editing
  docs/user-guide/browser-profiles.md
Due: none

Adds overview page
  docs/user-guide/overview.md
  mkdocs.yml
Due: password-check

Add down command to uninstall and delete data
  btrix
Due: none

models: CrawlFile & ProfileFile derive from BaseFile
  backend/btrixcloud/models.py
Due: pylint

test: change order of default storage
  chart/test/test.yaml
Due: password-check

Adds account settings page
  docs/user-guide/user-settings.md
  mkdocs.yml
Due: password-check

tests: add tests for changing storage to different predefined storage
  backend/btrixcloud/migrations/migration_0020_org_storage_refs.py
  backend/btrixcloud/storages.py
  backend/test/test_org.py
  chart/test/test.yaml
Due: pylint, password-check

Minor Workflow Creator UX Changes (#1267)
  docs/user-guide/workflow-setup.md
  frontend/src/components/config-details.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
Due: none

Update frontend/src/pages/org/settings.ts
  frontend/src/pages/org/settings.ts
Due: none

Allow org admins to update slug (#1276)
  frontend/package.json
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings.ts
  frontend/src/types/org.ts
  frontend/yarn.lock
Due: none

Add id-slug lookup and restrict slugs endpoints to superadmins (#1279)
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
Due: pylint

Add down command to uninstall and delete data (#1285)
  btrix
Due: none

switch to .log extension
  backend/btrixcloud/crawls.py
Due: pylint

lint and typo fixes
  backend/btrixcloud/storages.py
  backend/test/test_org.py
  chart/test/test.yaml
Due: pylint, password-check

Set log download attachment name to crawl_id.log (#1280)
  backend/btrixcloud/crawls.py
Due: pylint

typo fix
  backend/test/test_org.py
Due: pylint

cleanup
  backend/btrixcloud/operator.py
  backend/btrixcloud/storages.py
Due: pylint

cleanup: move signing data out of storage secrets, into seperate signing-secret, enabled if signing is enabled
  backend/btrixcloud/storages.py
  backend/btrixcloud/templates/crawler.yaml
  chart/templates/configmap.yaml
  chart/templates/secrets.yaml
  chart/values.yaml
Due: pylint, password-check

webhooks: pass oid to crawl finished and upload finished webhooks - avoids extra lookup - possible for crawl to be deleted before webhook fires otherwise! - add more typing to operator and webhooks
  backend/btrixcloud/operator.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/webhooks.py
Due: pylint

optimization: avoid updating whole org when only need to set one field - add update_users and update_slug - rename update to update_full
  backend/btrixcloud/orgs.py
Due: pylint

fix typo
  backend/btrixcloud/orgs.py
Due: pylint

backend: remove unsafe PATCH routes, remove router override update model to contain 'password' and 'newPassword' frontend: match model
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
  backend/btrixcloud/users_router.py
  frontend/src/components/account-settings.ts
Due: pylint

rename /users/me-with-orgs to /users/me update tests
  backend/btrixcloud/users.py
  backend/test/test_users.py
  frontend/src/index.ts
Due: pylint

also update name
  backend/btrixcloud/orgs.py
Due: pylint

remove unused model
  backend/btrixcloud/models.py
Due: pylint

remove get_users_router() altogether
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

tests: use latest crawler, lower resource usage
  chart/test/test.yaml
Due: password-check

remove fastap_users register, reset, verify routers, replace with local routes
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

remove fastapi_users auth, replace with fastapi OAuth2 jwt token creation + decoding move auth functionality to auth.py
  backend/btrixcloud/auth.py
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

unify password auth functions
  backend/btrixcloud/auth.py
  backend/btrixcloud/users.py
Due: pylint
