Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

update reqs
  backend/requirements.txt
Due: none

add missing file
  backend/btrixcloud/userdb.py
Due: pylint

fix req
  backend/requirements.txt
Due: none

additional type fixes for latest pydantic, update reqs
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/userdb.py
  backend/requirements.txt
Due: pylint

additional type fixes: - remove references to 'user_db' - unify 'get_id' / 'get_user_by_id' to just 'get_by_id' - fix 'id' -> '_id' reference
  backend/btrixcloud/auth.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/migrations/migration_0018_usernames.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
Due: pylint

add update_invites
  backend/btrixcloud/users.py
Due: pylint

version: bump to 1.7.0-beta.3
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

change password cleanup, rename UserUpdatePassword -> UserUpdate
  backend/btrixcloud/auth.py
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

more type fixes use UserDB instead of User rename create->register rename create_base->_create
  backend/btrixcloud/auth.py
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

merge on_after_register with _create, update invite + new org logic
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
Due: pylint

remove remaining on_after* methods consoldiate UserDB->User
  backend/btrixcloud/auth.py
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

more cleanup
  backend/btrixcloud/auth.py
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

update test
  backend/test/test_users.py
Due: pylint

test fixes
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

cleanup, update response models for auth
  backend/btrixcloud/auth.py
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

api function name tweaks
  backend/btrixcloud/users.py
Due: pylint

return UserOut model from register also remove is_active from model, check for 'id' on frontend instead of unused 'is_active'
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
  frontend/src/components/sign-up-form.ts
Due: pylint

cleanup
  backend/btrixcloud/users.py
Due: pylint

users model: don't switch to '_id' for id, key 'id' key for backwards compatibility
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

auth: add audience to jwt tokens, accept audience from fastapi_users for backwards compatibility
  backend/btrixcloud/auth.py
  backend/btrixcloud/users.py
Due: pylint

Disable collection share button actions for viewer users (#1282)
  frontend/src/pages/org/collection-detail.ts
Due: none

webhook tweak: pass oid to crawl finished and upload finished webhooks (#1287)
  backend/btrixcloud/operator.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/webhooks.py
Due: pylint

optimization: avoid updating whole org when only need to set one field (#1288)
  backend/btrixcloud/orgs.py
Due: pylint

WIP: First pass at background jobs to handle replicas
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/templates/delete_replica_job.yaml
  backend/btrixcloud/templates/replicate_job.yaml
  backend/btrixcloud/uploads.py
  chart/templates/operators.yaml
Due: pylint, password-check

fix OrgOut serialization, use 'id' instead of '_id'
  backend/btrixcloud/models.py
Due: pylint

update labels
  frontend/src/pages/org/settings.ts
Due: none

fix orgout model
  backend/btrixcloud/models.py
Due: pylint

operator typo fix: - don't log normal exists as crashes! - set pod_status.exitCode to the exitCode - count exit code 13 as not a crash also
  backend/btrixcloud/operator.py
Due: pylint

simplify
  backend/btrixcloud/operator.py
Due: pylint

Removes `renderAnchorLink` method
  frontend/src/components/config-details.ts
Due: none

add message for exit code 13
  backend/btrixcloud/operator.py
Due: pylint

operator status typo fix: (#1293)
  backend/btrixcloud/operator.py
Due: pylint

Update frontend/src/pages/org/settings.ts
  frontend/src/pages/org/settings.ts
Due: none

Update org custom URL label (#1292)
  frontend/src/pages/org/settings.ts
Due: none

version: bump to 1.7.0
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

ansible microk8s additional cleanup (#1295)
  ansible/install_microk8s.yml
  ansible/roles/digital_ocean/teardown/tasks/main.yml
  ansible/roles/microk8s/common/defaults/main.yml
  ansible/roles/microk8s/common/tasks/main.yml
Due: password-check

Update docs/user-guide/user-settings.md
  docs/user-guide/user-settings.md
Due: none

Adds missing user documentation for launch! (#1286)
  docs/user-guide/archived-items.md
  docs/user-guide/browser-profiles.md
  docs/user-guide/crawl-workflows.md
  docs/user-guide/index.md
  docs/user-guide/org-settings.md
  docs/user-guide/overview.md
  docs/user-guide/user-settings.md
  mkdocs.yml
Due: password-check

pass slug in me-with-orgs response
  backend/btrixcloud/users.py
Due: pylint

wip add slug
  frontend/src/index.ts
  frontend/src/pages/org/index.ts
  frontend/src/routes.ts
  frontend/src/utils/OrgService.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
