Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

feat: only use ipv4 addresses from resolv.conf
  frontend/00-browsertrix-nginx-init.sh
Due: none

Move page file and error counts to replay.json endpoint
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

show skeleton when pageCount is zero
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

use rounded bars & match page count if necessary
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

show "analysis starting" when there's no page count data yet
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Add paymentSuspended field to org and endpoint to update
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
Due: pylint

Add billing enabled Helm value and add to /settings
  backend/btrixcloud/main.py
  backend/test/test_settings.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

Add sales email to helm chart and /settings
  backend/btrixcloud/main.py
  backend/test/test_settings.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

Calculate crawl error and file counts while adding pages
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
Due: pylint

Add and set Page.isFile and Page.isError fields
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
Due: pylint

Add migration
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0028_page_files_errors.py
Due: pylint

Fixups
  backend/btrixcloud/migrations/migration_0028_page_files_errors.py
  backend/btrixcloud/pages.py
Due: pylint

Make Page.isFile and isError optional
  backend/btrixcloud/models.py
Due: pylint

Fix type warning
  backend/btrixcloud/migrations/migration_0028_page_files_errors.py
  backend/btrixcloud/pages.py
Due: pylint

Add pylint disable
  backend/btrixcloud/migrations/migration_0028_page_files_errors.py
Due: pylint

Fix updating crawl
  backend/btrixcloud/pages.py
Due: pylint

Add Page.isFile and Page.isError to tests
  backend/test/test_run_crawl.py
Due: pylint

remove adjustment that won't be needed once #1868 is merged
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

page type: also treat pages loaded to loadState == 2 and no title / status 200 and no mime as files
  backend/btrixcloud/migrations/migration_0028_page_files_errors.py
  backend/btrixcloud/models.py
Due: pylint

tweak status check
  backend/btrixcloud/models.py
Due: pylint

fix page type check again
  backend/btrixcloud/models.py
Due: pylint

just check status == 200
  backend/btrixcloud/models.py
Due: pylint

Backend: Move page file and error counts to crawl replay.json endpoint (#1868)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0028_page_files_errors.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

don't include isFile / isError pages when gathering aggregate page stats for QA runs
  backend/btrixcloud/pages.py
Due: pylint

remove commented out
  backend/btrixcloud/pages.py
Due: pylint

check not true instead as false is not set by default
  backend/btrixcloud/pages.py
Due: pylint

ignore "No data" bar and instead calculate it
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

translate "match" text
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

improve labels
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

only render remainder if remainder > 0
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Use internal rounded bar in `<btrix-meter>` for QA analysis meters (#1869)
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Add org fields to invite endpoints
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
Due: pylint

Support renaming org via /orgs/invite-accept endpoint
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

add type fixes
  backend/btrixcloud/orgs.py
Due: pylint

update role select
  frontend/src/features/accounts/invite-form.ts
Due: none

disable new org creation
  frontend/src/features/accounts/sign-up-form.ts
  frontend/src/pages/join.ts
Due: none

handle first org admin
  frontend/src/features/accounts/sign-up-form.ts
  frontend/src/pages/join.ts
Due: none

create separate org setup step
  frontend/src/features/accounts/index.ts
  frontend/src/features/accounts/org-setup-form.ts
  frontend/src/features/accounts/sign-up-form.ts
  frontend/src/index.ts
  frontend/src/pages/join.ts
Due: none

add additional fields
  frontend/src/features/accounts/sign-up-form.ts
  frontend/src/pages/join.ts
  frontend/src/types/user.ts
Due: none

update accept invite
  frontend/src/features/accounts/index.ts
  frontend/src/features/accounts/org-fields.ts
  frontend/src/features/accounts/org-setup-form.ts
  frontend/src/pages/accept-invite.ts
  frontend/src/pages/join.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
