Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Create webhook methods for deletions
  backend/btrixcloud/webhooks.py
Due: pylint

Hook up deleted webhook events from item/coll delete methods
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
Due: pylint

Re-use previous job id for retries and write previousAttempts to model
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
Due: pylint

Only include started, finished, success in previousAttempts
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/models.py
Due: pylint

Remove unused new_job_id variable
  backend/btrixcloud/background_jobs.py
Due: pylint

Remove success from previousAttempts
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/models.py
Due: pylint

Encode the sharing URL
  frontend/src/pages/org/collection-detail.ts
Due: none

Extend tests
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/webhooks.py
  backend/test/test_org.py
  backend/test/test_webhooks.py
Due: pylint

Rework webhook body models
  backend/btrixcloud/models.py
  backend/btrixcloud/webhooks.py
Due: pylint

Add OpenAPI docs for new webhooks and correct existing ones
  backend/btrixcloud/webhooks.py
Due: pylint

Encode the collection sharing URL (#1362)
  frontend/src/pages/org/collection-detail.ts
Due: none

Includes profiles/ prefix in filename for new profiles
  backend/btrixcloud/profiles.py
Due: pylint

Remove hardcoded profiles/ prefix from crawler template
  chart/app-templates/crawler.yaml
Due: password-check

Add migration to prepend profiles/ to filenames without them
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0021_profile_filenames.py
Due: pylint

Update profile_filename in configmaps
  backend/btrixcloud/migrations/migration_0021_profile_filenames.py
Due: pylint

Update print log message
  backend/btrixcloud/migrations/migration_0021_profile_filenames.py
Due: pylint

Import models, use models rather than result dicts
  backend/btrixcloud/migrations/migration_0021_profile_filenames.py
Due: pylint

And one more pass on migration issues
  backend/btrixcloud/migrations/migration_0021_profile_filenames.py
Due: pylint

Use Profile model in both parts of migration for consistency
  backend/btrixcloud/migrations/migration_0021_profile_filenames.py
Due: pylint

Regression fix: add profiles/ prefix to profile filenames (#1365)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0021_profile_filenames.py
  backend/btrixcloud/profiles.py
  chart/app-templates/crawler.yaml
Due: pylint, password-check

remove duplicate api tags
  backend/btrixcloud/background_jobs.py
Due: pylint

Implement retry API endpoint for failed background jobs (#1356)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
  backend/btrixcloud/webhooks.py
  backend/test/test_webhooks.py
Due: pylint

Add crawl, upload, and collection delete webhook event notifications (#1363)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/webhooks.py
  backend/test/test_org.py
  backend/test/test_webhooks.py
Due: pylint

version: bump to 1.8.0-beta.3
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

pod affinity: use required instead of preferred affinity for crawler pods
  chart/app-templates/crawler.yaml
Due: password-check

profilebrowser: set affinity to required and set resources to match crawler browser
  chart/app-templates/profilebrowser.yaml
Due: password-check

fix typos, add typechecking
  backend/btrixcloud/operator.py
Due: pylint

update test states, keep 'complete:' prefix for consistency
  backend/btrixcloud/models.py
  backend/test/conftest.py
  frontend/src/components/crawl-status.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
Due: pylint

rename stopped status to 'stopped:'
  frontend/src/components/crawl-status.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
Due: none

add new crawl states to frontend
  frontend/src/__mocks__/api/archives/[id]/crawls.js
  frontend/src/components/crawl-status.ts
  frontend/src/pages/org/collection-editor.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
Due: none

bump action version
  .github/workflows/lint.yaml
Due: password-check

add proxies via crawlconfig work
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/proxies.py
  chart/templates/proxies.yaml
Due: pylint, password-check

add proxies.yaml
  chart/templates/proxies.yaml
Due: password-check

socks5 proxy experiments
  chart/app-templates/crawler.yaml
  chart/templates/configmap.yaml
Due: password-check

proxies: - load proxies via proxies.json created from helm values - add support for 'proxyid' on crawlconfig on backend - add frontend <btrix-select-proxy> dropdown, add to workflow editor
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/proxies.py
  chart/templates/configmap.yaml
  chart/templates/proxies.yaml
  chart/templates/secrets.yaml
  frontend/src/components/index.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
Due: pylint, password-check

store ssh password instead of key
  chart/app-templates/crawler.yaml
  chart/templates/proxies.yaml
Due: password-check

reformat
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/proxies.py
Due: pylint

add types, fix tests to check all successful states
  backend/btrixcloud/operator.py
  backend/requirements.txt
  backend/test/test_crawlconfigs.py
  backend/test/test_webhooks.py
  backend/test/test_workflow_auto_add_to_collection.py
Due: pylint

fix tests, print actual complete status
  backend/test/test_crawlconfigs.py
  backend/test/test_run_crawl.py
  backend/test/test_webhooks.py
  backend/test/test_workflow_auto_add_to_collection.py
Due: pylint

tests work
  backend/test/test_crawlconfigs.py
  backend/test/test_webhooks.py
  backend/test/test_workflow_auto_add_to_collection.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
