Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

update crawl header
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

feat: implement collectionNames on base_crawls API
  backend/btrixcloud/basecrawls.py
Due: pylint

fix: format
  backend/btrixcloud/basecrawls.py
Due: pylint

update columns
  frontend/src/components/workflow-list.ts
  frontend/src/utils/cron.ts
  frontend/src/utils/number.ts
Due: none

format number
  frontend/src/components/workflow-list.ts
Due: none

fix: disable pylint too-many-statements for list_all_base_crawls
  backend/btrixcloud/basecrawls.py
Due: pylint

fix: annotate `collections` itself
  backend/btrixcloud/basecrawls.py
Due: pylint

Frontend workflow pagination column update (#1099)
  frontend/src/components/workflow-list.ts
  frontend/src/utils/cron.ts
  frontend/src/utils/number.ts
Due: none

Paginate Workflows and refactor to use server-side queries (#1078)
  backend/btrixcloud/crawlconfigs.py
  frontend/src/components/index.ts
  frontend/src/components/search-combobox.ts
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/cron.ts
  frontend/src/utils/css.ts
  frontend/src/utils/number.ts
Due: pylint

feat: collections can be updated by base_crawls_api
  backend/btrixcloud/basecrawls.py
Due: pylint

Add and enforce org maxPagesPerCrawl quota (#1044)
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  frontend/src/components/orgs-list.ts
  frontend/src/pages/org/workflow-editor.ts
Due: pylint

ingress: minor tweaks to ingress to update to latest spec: (#1096)
  chart/templates/ingress.yaml
Due: password-check

bump version to 1.7.0-beta.0
  backend/btrixcloud/version.py
  frontend/package.json
  version.txt
Due: pylint

add missing migration file
  backend/btrixcloud/migrations/migration_0014_to_collection_ids.py
Due: pylint

Use Shared Services for Crawling, Redis, Profile Browsers (#1088)
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/templates/crawler.yaml
  backend/btrixcloud/templates/profilebrowser.yaml
  backend/btrixcloud/templates/redis.yaml
  chart/templates/frontend.yaml
  chart/templates/operators.yaml
  chart/templates/service.yaml
  frontend/frontend.conf.template
Due: pylint, password-check

Rename test function
  backend/test_nightly/test_max_crawl_size_limit.py
Due: pylint

lint fix
  backend/btrixcloud/operator.py
Due: pylint

Add size limit in GB to frontend
  frontend/src/components/config-details.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
Due: none

Use BYTES_PER_GB as constant across component
  frontend/src/pages/org/workflow-editor.ts
Due: none

Add comment to test fixture
  backend/test_nightly/conftest.py
Due: pylint

Use Intl.NumberFormat to format GBs
  frontend/src/components/config-details.ts
Due: none

Add Crawl Size Limit to workflow setup docs
  docs/user-guide/workflow-setup.md
Due: none

Have another go at fixing size
  backend/btrixcloud/operator.py
Due: pylint

Fix workflow editor help text
  frontend/src/pages/org/workflow-editor.ts
Due: none

Rename to maxCrawlSize in frontend
  frontend/src/components/config-details.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
Due: none

convert configmap to use get for MAX_CRAWL_SIZE
  backend/btrixcloud/operator.py
Due: pylint

Remove MB fallback in config details since editor only allows GB
  frontend/src/components/config-details.ts
Due: none

Add sizeLimit to backend
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/templates/crawl_job.yaml
  backend/test/test_crawlconfigs.py
  backend/test_nightly/conftest.py
  backend/test_nightly/test_size_limit.py
Due: pylint, password-check

Change config label from Size Limit to Crawl Size Limit
  frontend/src/components/config-details.ts
Due: none

Rename setting to maxCrawlSize
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/templates/crawl_job.yaml
  backend/test/test_crawlconfigs.py
  backend/test_nightly/conftest.py
  backend/test_nightly/test_max_crawl_size_limit.py
Due: pylint, password-check

Fix revs history test to account for changes
  backend/test/test_crawlconfigs.py
Due: pylint

Use status.size
  backend/btrixcloud/operator.py
Due: pylint

update chart
  chart/charts/btrix-admin-logging-0.1.0.tgz
Due: none

add missing btrix-crds-0.1.1.tgz
  chart/charts/btrix-crds-0.1.1.tgz
Due: none

bump version to 1.6.3
  backend/btrixcloud/version.py
  frontend/package.json
  version.txt
Due: pylint

pass mdb collection directly
  backend/btrixcloud/crawls.py
Due: pylint

feat: implement 'collections' array with {name, id} for archived item details (#1098)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0014_to_collection_ids.py
  backend/btrixcloud/models.py
  backend/btrixcloud/uploads.py
  backend/test/test_collections.py
  backend/test/test_filter_sort_results.py
  backend/test/test_uploads.py
  backend/test/test_workflow_auto_add_to_collection.py
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/types/crawler.ts
Due: pylint

fix 'lastRun' sort: (#1109)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/main_scheduled_job.py
Due: pylint

Updates user story title
  .github/ISSUE_TEMPLATE/feature-change.yml
Due: password-check

Adds note about reporting security vulnerabilities
  .github/ISSUE_TEMPLATE/config.yml
Due: password-check
