Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Implemented Custom Cluster Issuer value as child of ingress map
  chart/templates/ingress.yaml
  chart/values.yaml
Due: password-check

Fix custom_cluster_issuer naming to abide spec
  chart/templates/ingress.yaml
  chart/values.yaml
Due: password-check

Allow User to specify custom cluster-issuer (#1332)
  chart/templates/ingress.yaml
  chart/values.yaml
Due: password-check

Change workflow editor run now default from true to false
  frontend/src/pages/org/workflow-editor.ts
Due: none

revert default
  frontend/src/pages/org/workflow-editor.ts
Due: none

Update backend/btrixcloud/operator.py
  backend/btrixcloud/operator.py
Due: pylint

exclusion optimizations: dynamic exclusions (part of #1216): (#1268)
  backend/btrixcloud/crawls.py
  frontend/src/components/crawl-queue.ts
  frontend/src/components/exclusion-editor.ts
  frontend/src/pages/org/workflow-detail.ts
Due: pylint

Move backend app templates to be installed from configmap volume (#1331)
  chart/app-templates/crawl_cron_job.yaml
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/profile_job.yaml
  chart/app-templates/profilebrowser.yaml
  chart/app-templates/redis.yaml
  chart/app-templates/replica_job.yaml
  chart/templates/backend.yaml
  chart/templates/configmap.yaml
Due: password-check

rename elapsedExecTime -> elapsedCrawlTime
  backend/btrixcloud/operator.py
Due: pylint

Crawl Timeout via elapsed time (#1338)
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator.py
  backend/test_nightly/test_upload_replicas.py
  chart/app-templates/crawl_job.yaml
Due: pylint, password-check

version: bump to 1.8.0-beta.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

allow viewer to view errors
  backend/btrixcloud/crawls.py
Due: pylint

Add cloud-check icon next to replicated archived item files
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/types/crawler.ts
Due: none

Add cloud-check for replicated browser profiles in list
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/types/crawler.ts
Due: none

Code review revisions
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/crawl-detail.ts
Due: none

Add more left padding before icon
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

Change padding to margin
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

Change padding-right to margin-right
  frontend/src/pages/org/crawl-detail.ts
Due: none

Remove flex alignment
  frontend/src/pages/org/crawl-detail.ts
Due: none

Apply suggestions from code review
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/crawl-detail.ts
Due: none

Send email to superuser when background job fails
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
Due: pylint

Add org name to email
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/emailsender.py
Due: pylint

Remove generic BackgroundJob as type
  backend/btrixcloud/emailsender.py
Due: pylint

Implement background job retry API endpoint
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/models.py
Due: pylint

Change webhooks retry endpoint to POST for consistency
  backend/btrixcloud/webhooks.py
  backend/test/test_webhooks.py
Due: pylint

Remove old dev print logging
  backend/btrixcloud/background_jobs.py
Due: pylint

Add check for item not found (e.g. if deleted since job)
  backend/btrixcloud/background_jobs.py
Due: pylint

Refactor to seperate method for getting BaseFile for job
  backend/btrixcloud/background_jobs.py
Due: pylint

Use clouds icon
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/crawl-detail.ts
Due: none

Change tooltips to 'Backed up' for now
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/crawl-detail.ts
Due: none

Add checkmark next to replicated/backed up files (#1343)
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/types/crawler.ts
Due: none

background jobs fix: - correctly parse the endpoint_url into prefix and bucket path - also add region and s3 provider type to storage secrets
  backend/btrixcloud/background_jobs.py
  chart/app-templates/replica_job.yaml
  chart/templates/secrets.yaml
Due: pylint, password-check

background jobs fix: ensure bucket is parsed correctly (#1359)
  backend/btrixcloud/background_jobs.py
  chart/app-templates/replica_job.yaml
  chart/templates/secrets.yaml
Due: pylint, password-check

nightly tests: bump page limit to 200 to ensure crawls don't end too quickly when testing quotas/limits
  chart/test/test-nightly-addons.yaml
Due: password-check

wrap background email sending in run_in_executor()
  backend/btrixcloud/background_jobs.py
Due: pylint

charts cleanup: (#1360)
  backend/btrixcloud/storages.py
  chart/app-templates/crawl_cron_job.yaml
  chart/templates/backend.yaml
  chart/templates/configmap.yaml
  chart/templates/secrets.yaml
  chart/templates/signer.yaml
Due: pylint, password-check

Send email to superuser when background job fails (#1355)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
Due: pylint

Remove downloadUrls from base webhook, move to coll webhooks as downloadUrl
  backend/btrixcloud/models.py
  backend/btrixcloud/webhooks.py
Due: pylint

Add models for new deleted webhook events
  backend/btrixcloud/models.py
Due: pylint
