Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

add "set initial view to this page" checkbox to edit dialog
  frontend/src/features/collections/collection-replay-dialog.ts
  frontend/src/features/collections/edit-dialog/general-section.ts
  frontend/src/features/collections/edit-dialog/helpers/check-changed.ts
  frontend/src/features/collections/edit-dialog/helpers/gather-state.ts
  frontend/src/features/collections/edit-dialog/helpers/submit-task.ts
Due: none

clean up
  frontend/src/pages/org/collections-list.ts
Due: none

Create collection presentation & sharing page
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/presentation-sharing.md
  frontend/docs/mkdocs.yml
Due: password-check

Fixes broken links
  frontend/docs/docs/user-guide/archived-items.md
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

Merges existing collection content into one page
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/collections.md
  frontend/docs/mkdocs.yml
Due: password-check

Fix test and ensure depth: 0 only returns int results
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

Fix depth check syntax
  backend/btrixcloud/pages.py
Due: pylint

Fix depth and last approved filter test that wasn't updated
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

Getting closer
  backend/test/test_collections.py
  backend/test/test_run_crawl.py
Due: pylint

Ensure isSeed is set to False in db, not just on serialization
  backend/btrixcloud/pages.py
Due: pylint

Remove unnecessary test
  backend/test/test_run_crawl.py
Due: pylint

resolve layout issues
  frontend/src/components/ui/tab-group/tab-group.ts
  frontend/src/features/collections/collection-edit-dialog.ts
  frontend/src/layouts/pageSectionsWithNav.ts
Due: none

remove download button from private detail view
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/types/collection.ts
Due: none

small bugfixes
  frontend/src/features/collections/collection-edit-dialog.ts
  frontend/src/features/collections/edit-dialog/general-section.ts
  frontend/src/features/collections/select-collection-page.ts
Due: none

don't allow actually selecting page thumbnail until there's a page thumbnail to select
  frontend/src/features/collections/edit-dialog/general-section.ts
Due: none

fix a couple subtle page selection indicator bugs
  frontend/src/features/collections/collection-edit-dialog.ts
  frontend/src/features/collections/edit-dialog/general-section.ts
Due: none

remove a few `console.log`s
  frontend/src/features/collections/collection-edit-dialog.ts
  frontend/src/features/collections/edit-dialog/general-section.ts
Due: none

fix update ordering
  frontend/src/features/collections/edit-dialog/general-section.ts
Due: none

update error to warning rather than error when thumbnail isnt actually selected
  frontend/src/features/collections/edit-dialog/general-section.ts
Due: none

remove more `console.log`s
  frontend/src/features/collections/edit-dialog/helpers/check-changed.ts
  frontend/src/features/collections/edit-dialog/helpers/submit-task.ts
Due: none

Apply suggestions from code review
  frontend/docs/docs/user-guide/collection.md
Due: none

operator: crawler 1.5.0 now has an exit code 3 for when crawler is out of storage, handle the exit code by increased pvc size
  backend/btrixcloud/operator/crawls.py
Due: pylint

tweak docstring
  backend/btrixcloud/crawlconfigs.py
Due: pylint

fix uploading logic & pass correct params in initial view selection dialog
  frontend/src/features/collections/collection-replay-dialog.ts
Due: none

Merge org public gallery settings (#2356)
  frontend/src/components/ui/copy-field.ts
  frontend/src/pages/org/settings/components/general.ts
  frontend/src/pages/org/settings/components/visibility.ts
  frontend/src/pages/org/settings/settings.ts
Due: none

changes from code review
  frontend/src/features/collections/collections-grid.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

reset page selector on dialog reset
  frontend/src/features/collections/collection-edit-dialog.ts
  frontend/src/features/collections/select-collection-page.ts
Due: none

Fixes create new profile link in the workflow form
  frontend/src/features/browser-profiles/select-browser-profile.ts
Due: none

Add autoclick to workflow and crawl settings display
  frontend/src/components/ui/config-details.ts
Due: none

hide collection share buttons when collection is private
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

update copy
  frontend/docs/docs/user-guide/org-settings.md
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/settings/components/general.ts
Due: none

move "visit public collections gallery" button down to public collections list
  frontend/src/pages/org/dashboard.ts
Due: none

add "select initial view" and "edit description" to action menu
  frontend/src/pages/org/collection-detail.ts
Due: none

change edit button to icon button
  frontend/src/pages/org/collection-detail.ts
Due: none

ensure "edit collection settings" is used everywhere
  frontend/src/features/collections/collections-grid.ts
  frontend/src/pages/org/collections-list.ts
Due: none

update "change org settings" to "edit org settings"
  frontend/docs/docs/user-guide/org-settings.md
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/public/org.ts
Due: none

Rename Auto-Scroll to Autoscroll for consistency
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

Apply Sua's suggestions from code review
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/presentation-sharing.md
Due: none

fix: create new profile link in the workflow form (#2373)
  frontend/src/features/browser-profiles/select-browser-profile.ts
Due: none
