Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Fix changes not caught in rebasing
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
Due: pylint

Fix additional rebasing conflicts
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Revert one final change made unnecessary by rebase
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/orgs.py
Due: pylint

Fix endpoint for checking pages
  backend/test/test_z_org_import_export.py
Due: pylint

fix test?
  backend/test/test_org.py
Due: pylint

Check pages for single crawl
  backend/test/test_z_org_import_export.py
Due: pylint

Disable uploading and creating browser profiles when read-only
  backend/btrixcloud/profiles.py
  backend/btrixcloud/uploads.py
  backend/test/conftest.py
  backend/test/test_org.py
  backend/test/test_profiles.py
Due: pylint

Update model to match streaming format in fixture
  backend/btrixcloud/models.py
Due: pylint

fixes to user creation
  backend/btrixcloud/main_op.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/test/conftest.py
  backend/test/test_org.py
  backend/test/test_users.py
  backend/test_nightly/conftest.py
Due: pylint

add testing of 'self-register' option in nightly tests run nightly test, enable running nightly test on-demand
  .github/workflows/k3d-nightly-ci.yaml
  backend/btrixcloud/users.py
  backend/test_nightly/test_free_register.py
  chart/test/test-nightly-addons.yaml
Due: pylint, password-check

rename firstOrgAdmin -> firstOrgOwner undo temp nightly run
  .github/workflows/k3d-nightly-ci.yaml
  backend/btrixcloud/invites.py
  backend/btrixcloud/models.py
  backend/test/test_org.py
  backend/test/test_users.py
Due: pylint, password-check

update migration, set tokenHash from current id
  backend/btrixcloud/invites.py
  backend/btrixcloud/migrations/migration_0030_user_invites_flatten.py
Due: pylint

comment
  backend/btrixcloud/migrations/migration_0030_user_invites_flatten.py
Due: pylint

more tests: ensure existing user can't re-register for default org with wrong password ensure invite required if free register not enabled
  backend/btrixcloud/users.py
  backend/test/test_users.py
  backend/test_nightly/test_free_register.py
Due: pylint

more test fixes
  backend/test/test_users.py
Due: pylint

test work
  backend/test/test_users.py
Due: pylint

cast
  backend/test/test_users.py
Due: pylint

update layout
  frontend/src/components/orgs-list.ts
  frontend/src/pages/home.ts
Due: none

make read only
  frontend/src/components/orgs-list.ts
  frontend/src/pages/home.ts
  frontend/src/types/org.ts
Due: none

fix migration, make idempotent
  backend/btrixcloud/migrations/migration_0030_user_invites_flatten.py
Due: pylint

set is_verified for invite-based registrations
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

fix tests
  frontend/src/index.ts
  frontend/src/pages/home.ts
  frontend/web-test-runner.config.mjs
Due: none

Disable uploading and creating browser profiles when org is read-only (#1907)
  backend/btrixcloud/profiles.py
  backend/btrixcloud/uploads.py
  backend/test/conftest.py
  backend/test/test_org.py
  backend/test/test_profiles.py
Due: pylint

update test config
  frontend/src/__mocks__/color.js
  frontend/src/__mocks__/slugify.js
  frontend/web-test-runner.config.mjs
Due: none

update test
  frontend/src/pages/invite/ui/org-form.test.ts
Due: none

nginx: update local nginx to support larger uploads
  frontend/frontend.conf.template
Due: none

add ingress annotation for proxy-read-timeout as well
  chart/templates/ingress.yaml
  frontend/frontend.conf.template
Due: password-check

Ensure scale is not above max and crawlerChannel set on import
  backend/btrixcloud/orgs.py
Due: pylint

Update user ids for profile createdBy and modifiedBy on import
  backend/btrixcloud/orgs.py
Due: pylint

Import PageWithAllQA to ensure comparison data is added
  backend/btrixcloud/orgs.py
Due: pylint

Remove unused Page model import
  backend/btrixcloud/orgs.py
Due: pylint

Refactor resetting userids for profile fields
  backend/btrixcloud/orgs.py
Due: pylint

Add superuser API endpoints to export and import org data (#1394)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/btrixcloud/utils.py
  backend/requirements.txt
  backend/test/data/org-export.json
  backend/test/test_z_org_import_export.py
  chart/templates/ingress.yaml
  docs/deploy/admin/org-import-export.md
  docs/deploy/index.md
  frontend/frontend.conf.template
  mkdocs.yml
Due: pylint, password-check

pass name, email, password to create_user() instead of UserCreate object
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
Due: pylint

Refactor Invites and Registration, Flatten Per-User Invites (#1902)
  .github/workflows/k3d-nightly-ci.yaml
  backend/btrixcloud/db.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/migrations/migration_0030_user_invites_flatten.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/test/conftest.py
  backend/test/test_invites.py
  backend/test/test_org.py
  backend/test/test_users.py
  backend/test_nightly/conftest.py
  backend/test_nightly/test_free_register.py
  chart/test/test-nightly-addons.yaml
Due: pylint, password-check

Apply network policy by label
  chart/app-templates/crawler.yaml
  chart/app-templates/profilebrowser.yaml
  chart/templates/networkpolicies.yaml
Due: password-check

helm: add crawler network policies
  chart/templates/networkpolicies.yaml
  chart/values.yaml
Due: password-check

Fix fetch error on QA crawls
  chart/templates/networkpolicies.yaml
Due: password-check

Fix egress rules
  chart/templates/networkpolicies.yaml
Due: password-check

Add and apply backend sorting for org list
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
  frontend/src/pages/home.ts
Due: pylint
