Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

update modified fields
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

add to action menu
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

fix document title
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

add checkout endpoint for addon minutes
  .github/workflows/k3d-ci.yaml
  .github/workflows/microk8s-ci.yaml
  backend/btrixcloud/models.py
  backend/btrixcloud/subs.py
  backend/test/echo_server.py
  backend/test/test_org_subs.py
Due: pylint, password-check

fix various bugs and issues with cashew <-> btrix api calls
  backend/btrixcloud/models.py
  backend/btrixcloud/subs.py
Due: pylint

fix autofetching price
  frontend/src/pages/org/settings/components/billing-addon-link.ts
Due: none

add endpoint for additional minute pricing
  backend/btrixcloud/models.py
  backend/btrixcloud/subs.py
Due: pylint

add 100 min preset & note about minutes being adjustable during checkout
  frontend/src/pages/org/settings/components/billing-addon-link.ts
Due: none

allow updating org quotas with shared secret as well as active user dep
  backend/btrixcloud/main.py
  backend/btrixcloud/orgs.py
Due: pylint

fix additional price usage
  frontend/src/pages/org/settings/components/billing-addon-link.ts
Due: none

add price fetching in FE & fix linting etc in backend changes
  backend/btrixcloud/subs.py
  frontend/src/pages/org/settings/components/billing-addon-link.ts
Due: pylint

set up additional minute checkout interface when subscription is available
  frontend/src/pages/org/settings/components/billing-addon-link.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/billing.ts
Due: none

allow shared secret when determining org for quotas update endpoint
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
Due: pylint

add optional "context" field to quota update log to store payment info if relevant
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
Due: pylint

update orgs router to allow shared secret when determining org
  backend/btrixcloud/orgs.py
Due: pylint

update error log
  backend/btrixcloud/subs.py
Due: pylint

rename to `shared_secret_or_superuser` in `users.py`
  backend/btrixcloud/users.py
Due: pylint

show extra and gifted minutes in billing section
  frontend/src/pages/org/settings/components/billing.ts
Due: none

rework input to accept context alongside quota updates in a single object
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

add new /add quotas endpoint & restore original set quotas endpoint
  backend/btrixcloud/orgs.py
Due: pylint

allow only quotas update endpoint to use shared secret, rather than entire orgs router
  backend/btrixcloud/auth.py
  backend/btrixcloud/main.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
Due: pylint

merge quota set & add methods into one quota update method
  backend/btrixcloud/orgs.py
Due: pylint

add `subscription_change` context to quota update when changing plan
  backend/btrixcloud/orgs.py
Due: pylint

make quota_updates update atomic in /quotas endpoint
  backend/btrixcloud/orgs.py
Due: pylint

fix type issue in auth.py
  backend/btrixcloud/auth.py
Due: pylint

More incremental storage work
  backend/btrixcloud/operator/crawls.py
Due: pylint

One more TODO
  backend/btrixcloud/operator/crawls.py
Due: pylint

revert type changes causing build failure
  backend/btrixcloud/auth.py
Due: pylint

add test for adding quotas
  backend/test_nightly/conftest.py
  backend/test_nightly/test_execution_minutes_quota.py
Due: pylint

Fix "Edit Exclusions" button
  frontend/src/features/crawl-workflows/workflow-action-menu/workflow-action-menu.ts
Due: none

Move paused with no stop reason condition below quota checks
  backend/btrixcloud/operator/crawls.py
Due: pylint

Fix "Edit Exclusions" button (#2983)
  frontend/src/features/crawl-workflows/workflow-action-menu/workflow-action-menu.ts
Due: none

switch tags query arg to 'tags' in profiles add 'tags' to crawl workflows, deprecate but keep 'tag'
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/profiles.py
Due: pylint

refactor dialog to separate component
  frontend/src/features/browser-profiles/index.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

update test tag -> tags
  backend/test/test_profiles.py
Due: pylint

remove console log
  frontend/src/features/browser-profiles/profile-metadata-dialog.ts
Due: none

render tags
  frontend/src/features/browser-profiles/profile-metadata-dialog.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

reset profile params on successful fetch
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

uncomment
  frontend/src/features/browser-profiles/profile-metadata-dialog.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
