Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

feat: Show running crawl when editing workflow (#2481)
  frontend/src/features/crawl-workflows/index.ts
  frontend/src/features/crawl-workflows/live-workflow-status.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

undo type change
  backend/btrixcloud/models.py
Due: pylint

fixes #2491 if logged in user is not part of any orgs, still allow logging in, instead of throwing an exception due to accessing non-existent org
  frontend/src/pages/log-in.ts
Due: none

fix test
  backend/test/test_api.py
Due: pylint

udpate validation
  frontend/src/components/ui/data-table.ts
  frontend/src/components/ui/syntax-input.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

reformat
  backend/btrixcloud/k8sapi.py
Due: pylint

lint
  backend/btrixcloud/k8sapi.py
Due: pylint

undo unneeded change
  chart/app-templates/crawl_cron_job.yaml
Due: password-check

operator: unsuspend job for cronjob when attached crawljob finishes
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/cronjobs.py
  chart/app-templates/crawl_cron_job.yaml
Due: pylint, password-check

version: bump to v1.14.5
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Unsuspend Job when CrawlJob is finished (#2489)
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/cronjobs.py
Due: pylint

add snippet
  .vscode/snippets.code-snippets
Due: none

update snippet
  .vscode/snippets.code-snippets
Due: none

Fixes #2488 (#2493)
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

fixes token lifetime bug / improve security (#2490)
  backend/btrixcloud/auth.py
  backend/btrixcloud/models.py
  backend/test/test_api.py
Due: pylint

add org subs info to /api/users/emails endpoint
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

udpate docs
  .vscode/snippets.code-snippets
  frontend/docs/docs/develop/frontend-dev.md
  frontend/docs/docs/develop/ui/components.md
  frontend/docs/mkdocs.yml
Due: password-check

fix periods
  frontend/docs/docs/develop/ui/components.md
Due: none

add test
  frontend/src/pages/log-in.test.ts
Due: none

update index test
  frontend/src/index.test.ts
Due: none

ensure `isCrawlRunning` is `false` if editing a new workflow
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

document component types
  frontend/docs/docs/develop/ui/components.md
Due: none

Workflow editor footer button: ensure `isCrawlRunning` is `false` if editing a new workflow (#2496)
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update padding
  frontend/src/components/ui/data-table.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

devex: Add frontend code snippet & update dev docs (#2494)
  .vscode/snippets.code-snippets
  frontend/docs/docs/develop/frontend-dev.md
  frontend/docs/docs/develop/ui/components.md
  frontend/docs/mkdocs.yml
Due: password-check

lint fix
  frontend/src/index.test.ts
Due: none

login: don't set default slug if user not part of any orgs #2491 (#2492)
  frontend/src/index.test.ts
  frontend/src/pages/log-in.test.ts
  frontend/src/pages/log-in.ts
Due: none

Switches to a table to display dropdown actions
  frontend/docs/docs/develop/design-action-menus.md
Due: none

docs: add development section on action menus (#2429)
  frontend/docs/docs/develop/design-action-menus.md
  frontend/docs/docs/index.md
  frontend/docs/mkdocs.yml
Due: password-check

switch to sl-input
  frontend/src/components/ui/syntax-input.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

render read-only table
  frontend/src/components/ui/code.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/syntax-input.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/utils/workflow.ts
Due: none

report validity
  frontend/src/components/ui/syntax-input.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update language
  frontend/src/components/ui/code.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

fix required fields
  frontend/package.json
  frontend/src/components/ui/syntax-input.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/yarn.lock
Due: none

add tooltip to delete
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

Move action menus to ui docs section
  frontend/docs/docs/develop/ui/design-action-menus.md
  frontend/docs/mkdocs.yml
Due: password-check

Fix sentence fragment
  frontend/docs/docs/user-guide/index.md
Due: none

cleanup unused chart values + change mongo default (#2484)
  chart/values.yaml
Due: password-check

add org subs info to /api/users/emails endpoint (#2495)
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

Add backend support for custom behaviors
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/test/test_crawlconfigs.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
