Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Adjust tests for changes
  backend/test/test_filter_sort_results.py
  backend/test/test_run_crawl.py
Due: pylint

typo fix
  backend/btrixcloud/operator.py
Due: pylint

fix typos
  backend/btrixcloud/operator.py
Due: pylint

Fix typo in test
  backend/test/test_filter_sort_results.py
Due: pylint

load handling: scale up redis only when crawler pods running (#1009)
  backend/btrixcloud/operator.py
  backend/btrixcloud/templates/redis.yaml
  chart/templates/configmap.yaml
Due: pylint, password-check

feat: add some simple tests to password_check.py
  scripts/check_passwords.py
  scripts/test/test_check_passwords.py
Due: pylint

fix: set `backend_password_secret` to an allowed password
  chart/values.yaml
Due: password-check

Rename notes to description in frontend and backend (#1011)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0012_notes_to_description.py
  backend/btrixcloud/models.py
  backend/btrixcloud/uploads.py
  backend/test/test_filter_sort_results.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  frontend/src/components/crawl-metadata-editor.ts
  frontend/src/components/file-uploader.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/types/crawler.ts
Due: pylint

feat: add pre-commit to check we don't have real passwords in yml files (#990)
  .github/workflows/password-check.yaml
  .pre-commit-config.yaml
  chart/values.yaml
  scripts/check_passwords.py
  scripts/test/test_check_passwords.py
Due: pylint, password-check

wip
  frontend/src/pages/crawls.ts
Due: none

add separate crawl list
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/crawls-list.ts
Due: none

remove unused admin prop
  frontend/src/pages/org/crawls-list.ts
Due: none

update base url
  frontend/src/pages/org/crawls-list.ts
Due: none

readd divider
  frontend/src/pages/org/collections-list.ts
Due: none

fix list download
  frontend/src/pages/org/collections-list.ts
Due: none

tests: add test for streaming download, ensure WACZ files + datapackage present, STORE compression used
  backend/test/test_collections.py
Due: pylint

fix: disable DO registry by default
  ansible/group_vars/do/main.yml
Due: password-check

fix: point database backup upload to the correct location in DO space
  ansible/playbooks/do_teardown.yml
Due: password-check

feat: ansible DO teardown (#950)
  ansible/group_vars/do/teardown.yml
  ansible/playbooks/do_teardown.yml
  docs/deploy/ansible/digitalocean.md
Due: password-check

feat: create DO registry if it doesn't exist (#947)
  ansible/group_vars/do/main.yml
  ansible/playbooks/do_setup.yml
Due: password-check

Streaming Download for Collections (#1012)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/storages.py
  backend/requirements.txt
  backend/test/test_collections.py
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collection-edit.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/types/collection.ts
Due: pylint

Show only running crawls in superadmin view (#1015)
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/crawls-list.ts
Due: none

Add proxy settings for crawler and profilebrowser (#997)
  backend/btrixcloud/templates/crawler.yaml
  backend/btrixcloud/templates/profilebrowser.yaml
  chart/templates/configmap.yaml
  chart/values.yaml
Due: password-check

fix: don't break on ScannerError
  scripts/check_passwords.py
Due: pylint

chart: always pull latest crawler image - since default image is pointing to webrecorder/browsertrix-crawler:latest, makes sense to always pull latest
  chart/values.yaml
Due: password-check

ci: password check: fix: don't break on ScannerError (#1017)
  scripts/check_passwords.py
Due: pylint

chart: always pull latest crawler image - since default image is pointing to webrecorder/browsertrix-crawler:latest, makes sense to always pull latest (#1018)
  chart/values.yaml
Due: password-check

fix(build): use `/usr/bin/env bash` instead of `/bin/bash`
  scripts/build-backend.sh
  scripts/build-frontend.sh
Due: none

fix(build): build frontend was missing required env vars
  scripts/build-frontend.sh
Due: none

fix: add to various other shell scripts
  frontend/00-browsertrix-nginx-init.sh
  test/setup.sh
  update-version.sh
Due: none

fix(build): use `/usr/bin/env bash` instead of `/bin/bash` (#1020)
  frontend/00-browsertrix-nginx-init.sh
  scripts/build-backend.sh
  scripts/build-frontend.sh
  test/setup.sh
  update-version.sh
Due: none

show total size
  frontend/src/pages/org/collections-list.ts
  frontend/src/types/collection.ts
Due: none

sort by size
  frontend/src/pages/org/collections-list.ts
Due: none

fix padding
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/index.ts
Due: none

update tabs
  frontend/src/components/button.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/index.ts
  frontend/src/routes.ts
Due: none

show list of web captures
  frontend/src/components/crawl-list.ts
  frontend/src/components/not-found.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/index.ts
Due: none

standardize headers
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-new.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
Due: none

update labels
  frontend/src/components/crawl-list.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

remove unused sort fields
  frontend/src/pages/org/collection-detail.ts
Due: none

update crawl list header
  frontend/src/components/crawl-list.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
