Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Fix linting issues
  backend/btrixcloud/orgs.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/users.py
Due: pylint

Add one more pylint disable comment
  backend/btrixcloud/orgs.py
Due: pylint

Fix typing
  backend/btrixcloud/orgs.py
Due: pylint

Implement deletion of org and its data
  backend/btrixcloud/main.py
  backend/btrixcloud/orgs.py
  backend/test/test_z_delete_org.py
Due: pylint

feat: add ipv6 support to nginx resolver
  frontend/00-browsertrix-nginx-init.sh
Due: none

Ensure org deletion test runs last
  backend/test/test_y_org_import_export.py
Due: pylint

delete: use incremental deletion with smaller to_list() or async for directly
  backend/btrixcloud/orgs.py
Due: pylint

don't error on replica delete failures
  backend/btrixcloud/background_jobs.py
Due: pylint

add additional port restrictions
  chart/templates/networkpolicies.yaml
Due: password-check

fix spacing
  chart/templates/networkpolicies.yaml
Due: password-check

Crawler network policy (#1727)
  chart/app-templates/crawler.yaml
  chart/app-templates/profilebrowser.yaml
  chart/templates/networkpolicies.yaml
  chart/values.yaml
Due: password-check

feat: support both ipv6 and ipv4 nginx resolver
  frontend/00-browsertrix-nginx-init.sh
Due: none

Increase wait time between attempts for testing workflow size update
  backend/test/test_uploads.py
Due: pylint

Delete org invites
  backend/btrixcloud/orgs.py
Due: pylint

Add counts for HTML pages, files, and errors to QA tab
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/types/crawler.ts
Due: none

Add API endpoint to delete org (#1448)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/main.py
  backend/btrixcloud/orgs.py
  backend/test/test_uploads.py
  backend/test/test_y_org_import_export.py
  backend/test/test_z_delete_org.py
Due: pylint

test: Remove temporary commonjs module mocks (#1910)
  frontend/src/__mocks__/color.js
  frontend/src/__mocks__/slugify.js
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/web-test-runner.config.mjs
Due: none

Add tooltip
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Add counts for HTML pages, files, and errors to QA tab (#1913)
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/types/crawler.ts
Due: none

work on tests
  backend/test/test_org_subs.py
Due: pylint

fix subId
  backend/btrixcloud/subs.py
Due: pylint

fix test
  backend/test/test_org_subs.py
Due: pylint

remove add_org, simplify dupe check
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
  backend/test/test_org_subs.py
Due: pylint

add /orgs/<id>/read-only-on-cancel option, default to false tests: test cancelling subscription with and without readOnlyOnCancel set
  backend/btrixcloud/auth.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
  backend/test/test_org_subs.py
Due: pylint

test fix
  backend/test/test_org_subs.py
Due: pylint

more type fixes for org collection delete: add option to ignore missing collection
  backend/btrixcloud/colls.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/orgs.py
Due: pylint

additional type fixes
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
  backend/test/test_org_subs.py
Due: pylint

add update test, exclude unset
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
  backend/test/test_org_subs.py
Due: pylint

undo ignore_missing for collections, shouldn't be needed?
  backend/btrixcloud/orgs.py
Due: pylint

add GET /orgs/<id>/subscription endpoint (still needs portalUrl lookup)
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/subs.py
  backend/test/test_org_subs.py
Due: pylint

lint fixes
  backend/btrixcloud/models.py
  backend/btrixcloud/subs.py
Due: pylint

keep subs data after cancellation, just mark status as 'canceled'
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
Due: pylint

fix update query
  backend/btrixcloud/orgs.py
Due: pylint

undo change, keep cancel as deleting subData
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
Due: pylint

update test
  backend/test/test_org_subs.py
Due: pylint

add portalUrl lookup if external subs app api URL is set (via BTRIX_SUBS_APP_URL)
  backend/btrixcloud/models.py
  backend/btrixcloud/subs.py
Due: pylint

Update frontend/src/components/orgs-list.ts
  frontend/src/components/orgs-list.ts
Due: none

update copy
  frontend/src/components/orgs-list.ts
Due: none

rename SubscriptionData -> Subscription rename subData -> subscription remove 'details' dict, just add planId string to Subscription model
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
  backend/test/test_org_subs.py
Due: pylint

add 'subscription' to OrgOut
  backend/btrixcloud/models.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
