Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Add sortBy and sortDirection to profiles
  backend/btrixcloud/profiles.py
  backend/test/test_profiles.py
Due: pylint

Expect updated name for profile_1 in sort test
  backend/test/test_profiles.py
Due: pylint

Fix regression to changing user roles via PATCH /user-role API (#1824)
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

Update frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/browser-profiles-new.ts
Due: none

Update frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/browser-profiles/profile-browser.ts
Due: none

Update frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

UX improvements to browser profile editing & creating view (#1815)
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/index.ts
  frontend/src/types/crawler.ts
Due: none

ensure loader fills image swiper, and only display loader when replay data is nullish, not when it's loaded but there's no image data (#1819)
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/spinner.ts
Due: none

update list
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

update list header
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/index.ts
Due: none

switch to desc list
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

Backend: Add modified field and track created/modifier users for profiles (#1820)
  backend/btrixcloud/models.py
  backend/btrixcloud/profiles.py
  backend/test/test_profiles.py
Due: pylint

update created and modified fields
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/types/crawler.ts
Due: none

show modified list column
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

add description validation
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

Add migration to set profile modified date
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0027_profile_modified.py
Due: pylint

update detail layout
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

update list spacing
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

prevent submit
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

ensure workflow crawl config is also added to QA runs, including various limits
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  chart/app-templates/crawler.yaml
  chart/app-templates/qa_configmap.yaml
  chart/templates/configmap.yaml
Due: pylint, password-check

resource usage config: use 'num_workers' and 'qa_num_workers' for clarity, subtract 1 in calc equation only
  backend/btrixcloud/operator/baseoperator.py
Due: pylint

Browser profile list and detail minor UX improvements (#1822)
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/types/crawler.ts
Due: none

show last updated in list
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

update docs
  docs/user-guide/browser-profiles.md
Due: none

Add migration to set profile modified date (#1832)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0027_profile_modified.py
Due: pylint

move backed up status
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

Update backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/baseoperator.py
Due: pylint

include workflow config in QA runs + different browser instances for QA (#1829)
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  chart/app-templates/crawler.yaml
  chart/app-templates/qa_configmap.yaml
  chart/templates/configmap.yaml
Due: pylint, password-check

Update docs/user-guide/browser-profiles.md
  docs/user-guide/browser-profiles.md
Due: none

Display name of user who last updated browser profile (#1834)
  docs/user-guide/browser-profiles.md
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

update column widths
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

add max length to name
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

update created columns
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

allow qa jobs with scale from workflow
  backend/btrixcloud/crawlmanager.py
Due: pylint

convert `BrowserProfilesNew` to `TailwindElement`
  frontend/src/pages/org/browser-profiles-new.ts
Due: none

simplify error to BrowserNotAvailableError as there is no detail to add
  frontend/src/features/browser-profiles/profile-browser.ts
Due: none

Make profiles sortable by first URL
  backend/btrixcloud/profiles.py
  backend/test/conftest.py
  backend/test/test_profiles.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
