Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

typo fix
  backend/btrixcloud/operator/crawls.py
Due: pylint

Allow custom auto-resize crawler volume ratio adjustable (#2076)
  backend/btrixcloud/operator/crawls.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

version: bump to 1.12.0-beta.0
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

undo
  frontend/xliff/es.xlf
Due: none

ci: update playwright action
  .github/workflows/ui-tests-playwright.yml
Due: password-check

Serialize datetimes with Z suffix (#2058)
  .github/workflows/ui-tests-playwright.yml
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/operator/bgjobs.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/profiles.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/utils.py
  backend/test/test_collections.py
  backend/test/test_crawlconfigs.py
  backend/test/test_org_subs.py
  backend/test/test_profiles.py
  backend/test/test_run_crawl.py
  frontend/src/components/orgs-list.ts
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/workflow-detail.ts
Due: pylint, password-check

proxy UI fixes after merge
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/infoText.ts
  frontend/xliff/es.xlf
Due: none

ensure that ci fails if extracted strings don't match
  .github/workflows/frontend-build-check.yaml
Due: password-check

improve error message
  .github/workflows/frontend-build-check.yaml
Due: password-check

extract strings & specify frontend folder in err msg
  .github/workflows/frontend-build-check.yaml
  frontend/xliff/es.xlf
Due: password-check

fix check script
  .github/workflows/frontend-build-check.yaml
Due: password-check

update checkout, setup-node & cache versions
  .github/workflows/frontend-build-check.yaml
Due: password-check

fix extra semi for sh environment
  .github/workflows/frontend-build-check.yaml
Due: password-check

show output from git diff-index
  .github/workflows/frontend-build-check.yaml
Due: password-check

ensure xlf files are formatted
  .github/workflows/frontend-build-check.yaml
  frontend/xliff/es.xlf
Due: password-check

switch to git diff
  .github/workflows/frontend-build-check.yaml
Due: password-check

include formatting in localize:extract script
  frontend/package.json
Due: none

remove unnecessary format step in extracted string check
  .github/workflows/frontend-build-check.yaml
Due: password-check

don't format xlf files from lint-staged they're formatted when generated instead now
  frontend/package.json
Due: none

Ensure that CI fails if extracted strings don't match (#2078)
  .github/workflows/frontend-build-check.yaml
  frontend/package.json
  frontend/xliff/es.xlf
Due: password-check

migrate from `onBeforeSetupMiddleware` to `setupMiddlewares`
  frontend/webpack.dev.js
Due: none

update browserlist db
  frontend/yarn.lock
Due: none

update overview
  docs/index.md
  mkdocs.yml
Due: password-check

updated section names
  docs/index.md
  mkdocs.yml
Due: password-check

add note
  docs/deploy/index.md
  docs/index.md
  docs/user-guide/index.md
  mkdocs.yml
Due: password-check

Change admonition type
  docs/deploy/index.md
Due: none

Remove assumption that this is easy for people
  docs/deploy/index.md
Due: none

Minor word updates
  docs/index.md
Due: none

update sections
  docs/index.md
Due: none

update develop
  docs/develop/index.md
Due: none

use proxyId from existing profile when running profile browser for existing profile
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/profiles.py
Due: pylint

proxies subchart: default to 'crawlers' namespace
  chart/charts/btrix-proxies-0.1.0.tgz
  chart/proxies/templates/proxies.yaml
Due: password-check

update version to 1.11.7
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

use EmailStr type for emails, or Optional[EmailStr] = None for optional emails
  backend/btrixcloud/models.py
Due: pylint

ci: update python version test: use mixed case email
  .github/workflows/k3d-ci.yaml
  backend/test/test_org_subs.py
Due: pylint, password-check

pin pymongo
  backend/requirements.txt
Due: none

fix test
  backend/test/test_org_subs.py
Due: pylint

Apply suggestions from code review
  docs/deploy/index.md
Due: none

docs: Clarify hosted vs. self-deployment requirements (#2082)
  docs/deploy/index.md
  docs/develop/index.md
  docs/index.md
  docs/user-guide/index.md
  mkdocs.yml
Due: password-check

add custom EmailStr type which lowercases the full email, not just the domain part ensures EmailStr is used throughout when emails are used
  backend/btrixcloud/invites.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/test/test_org.py
  backend/test/test_org_subs.py
Due: pylint
