Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Use empty str instead of None for seed_file_url
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

Fix crawlconfig test expected value
  backend/test/test_crawlconfigs.py
Due: pylint

Use all lowercase for upload type
  backend/btrixcloud/file_uploads.py
Due: pylint

Resolve internal path for presigned seed file url
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/main.py
  backend/btrixcloud/ops.py
Due: pylint

Fix search values to not assume all workflows have seeds
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Fix duplicate code lint warning for initing same class
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/ops.py
Due: pylint

update styles
  frontend/src/pages/org/workflows-list.ts
  frontend/src/theme.stylesheet.css
Due: none

Add slashes to end of page urls in test
  backend/test/test_run_crawl.py
Due: pylint

use apply
  frontend/src/theme.stylesheet.css
Due: none

shorten label
  frontend/src/pages/org/workflows-list.ts
Due: none

move schedule to top level filter
  frontend/src/pages/org/workflows-list.ts
Due: none

add section
  frontend/src/components/ui/file-input.ts
  frontend/src/context/docs-url.ts
  frontend/src/features/crawl-workflows/text-2.csv
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.ts
  frontend/src/theme.stylesheet.css
  frontend/src/utils/workflow.ts
Due: none

update file list
  frontend/src/components/ui/file-input.ts
  frontend/src/components/ui/file-list/events.ts
  frontend/src/components/ui/file-list/file-list-item.ts
  frontend/src/components/ui/file-list/types.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/stories/components/FileList.stories.ts
  frontend/src/stories/components/FileList.ts
Due: none

update params and labels
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/infoText.ts
  frontend/src/utils/workflow.ts
Due: none

convert paste to file
  frontend/src/components/ui/file-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

mark field as required
  frontend/src/components/ui/file-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

open file in new window
  frontend/src/components/ui/file-input.ts
  frontend/src/components/ui/file-list/file-list-item.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

remove test file
  frontend/src/features/crawl-workflows/text-2.csv
Due: none

only share auth if present
  frontend/src/utils/AuthService.ts
Due: none

check tab count
  frontend/src/utils/AuthService.ts
  frontend/src/utils/TabSyncService.ts
Due: none

Update radio button styles (#2697)
  frontend/src/pages/org/workflows-list.ts
  frontend/src/theme.stylesheet.css
Due: none

ensure combobox dropdown is rendered above radio buttons
  frontend/src/components/ui/combobox.ts
Due: none

rework layout so that search bar placeholder text is visible for longer, and less space is left unused in search/filter controls at small-medium viewport widths
  frontend/src/pages/org/workflows-list.ts
Due: none

fix: Hide irrelevant tabs in failed crawl detail view (#2695)
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

fix: Show latest crawl logs for failed workflows (#2694)
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/crawler.ts
Due: none

improve clamping logic
  frontend/src/components/ui/pagination.ts
Due: none

Add auto-link & various other url helpers (#2687)
  frontend/package.json
  frontend/src/components/ui/config-details.ts
  frontend/src/features/collections/collections-grid.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/public/org.ts
  frontend/src/stories/utils/RichText.mdx
  frontend/src/stories/utils/RichText.stories.ts
  frontend/src/stories/utils/RichText.ts
  frontend/src/utils/rich-text.ts
  frontend/src/utils/url-helpers.ts
  frontend/tsconfig.json
  frontend/web-test-runner.config.mjs
  frontend/yarn.lock
Due: none

use curly quote for default archive name, instead of straight quote
  backend/btrixcloud/orgs.py
Due: pylint

Allow filtering workflows to only running, & add dashboard links (#2607)
  backend/btrixcloud/crawlconfigs.py
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/pagination.ts
  frontend/src/controllers/searchParams.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/theme.stylesheet.css
Due: pylint

devex: Update status indicator Storybook docs (#2668)
  frontend/src/stories/design/status-indicators.mdx
Due: none

concurrent crawls: ensure concurrent crawls check only counts running or waiting crawls only, not all existing crawljobs
  backend/btrixcloud/operator/crawls.py
Due: pylint

version: bump to 1.17.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

convert existing filters
  frontend/src/pages/org/workflows-list.ts
  frontend/src/theme.stylesheet.css
Due: none
