Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

update tailwind to import
  frontend/tailwind.config.js
Due: none

add matrix
  .github/workflows/frontend-build-prepare.yaml
Due: password-check

add gap between icons & allow table to shrink a little
  frontend/src/components/orgs-list.ts
Due: none

Use nut-fill for canceled non-trial subscription
  frontend/src/components/orgs-list.ts
Due: none

Use nut-fill for failed payment on non-trial subscription
  frontend/src/components/orgs-list.ts
Due: none

update track calls
  frontend/src/features/collections/share-collection.ts
  frontend/src/trackEvents.ts
Due: none

add fuse-backed org search to superadmin
  frontend/src/components/orgs-list.ts
Due: none

add new props
  frontend/src/features/collections/share-collection.ts
  frontend/src/index.ts
  frontend/src/utils/analytics.ts
Due: none

fetch orgs
  frontend/src/pages/admin.ts
Due: none

fix: Update superadmin orgs list after create (#2278)
  frontend/src/pages/admin.ts
Due: none

change `inject_analytics` to `inject_extra` everywhere
  chart/values.yaml
  frontend/docs/docs/deploy/customization.md
  frontend/sample.env.local
  frontend/webpack.dev.js
Due: password-check

update comment
  frontend/webpack.dev.js
Due: none

deps: Upgrade to Node 22 (#2274)
  .github/workflows/frontend-build-prepare.yaml
  .github/workflows/ui-tests-playwright.yml
  .github/workflows/weblate-reformat.yaml
  frontend/.yarnrc
  frontend/Dockerfile
  frontend/docs/docs/develop/frontend-dev.md
  frontend/package.json
  frontend/tailwind.config.js
Due: password-check

Add fuse-backed org search to superadmin org list (#2277)
  frontend/src/components/orgs-list.ts
Due: none

Backend work for public collections (#2198)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/test/data/thumbnail.jpg
  backend/test/test_collections.py
  backend/test/test_uploads.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

Add public API endpoint for public collections (#2174)
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
Due: pylint

Make changes to collections to support publicly listed collections (#2164)
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0036_coll_visibility.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/types/collection.ts
Due: pylint

feat: Make collection public (#2208)
  frontend/package.json
  frontend/src/components/ui/copy-button.ts
  frontend/src/components/ui/dialog.ts
  frontend/src/controllers/clipboard.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/index.ts
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/collections/index.ts
  frontend/src/pages/index.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/events.d.ts
  frontend/src/types/org.ts
  frontend/yarn.lock
Due: none

feat: Public org profile page (#2172)
  frontend/docs/docs/user-guide/crawl-workflows.md
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/org-settings.md
  frontend/docs/docs/user-guide/overview.md
  frontend/src/components/index.ts
  frontend/src/components/not-found.ts
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/link.ts
  frontend/src/components/ui/url-input.ts
  frontend/src/components/verified-badge.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/layouts/columns.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/settings/components/profile.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/org.ts
  frontend/src/utils/APIRouter.ts
  frontend/src/utils/form.ts
  frontend/src/utils/state.ts
Due: none

Add missing os import
  backend/btrixcloud/background_jobs.py
Due: pylint

feat: Collection thumbnails, start page, and public view updates (#2209)
  frontend/index.d.ts
  frontend/src/assets/images/thumbnails/thumbnail-cyan.avif
  frontend/src/assets/images/thumbnails/thumbnail-green.avif
  frontend/src/assets/images/thumbnails/thumbnail-orange.avif
  frontend/src/assets/images/thumbnails/thumbnail-yellow.avif
  frontend/src/components/not-found.ts
  frontend/src/components/ui/button.ts
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/components/ui/markdown-viewer.ts
  frontend/src/components/ui/overflow-dropdown.ts
  frontend/src/components/ui/section-heading.ts
  frontend/src/components/ui/table/table.ts
  frontend/src/controllers/api.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/collection-replay-dialog.ts
  frontend/src/features/collections/collection-thumbnail.ts
  frontend/src/features/collections/collections-grid.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/select-collection-start-page.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/profile.ts
  frontend/src/replayWebPage.d.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/collection.ts
  frontend/src/types/org.ts
  frontend/src/utils/replay.ts
  frontend/webpack.config.js
  frontend/yarn.lock
Due: none

feat: Track collection events (#2256)
  chart/templates/frontend.yaml
  chart/values.yaml
  frontend/00-browsertrix-nginx-init.sh
  frontend/config/define.js
  frontend/docs/docs/deploy/customization.md
  frontend/sample.env.local
  frontend/src/features/collections/share-collection.ts
  frontend/src/index.ts
  frontend/src/trackEvents.ts
  frontend/src/utils/analytics.ts
  frontend/web-test-runner.config.mjs
  frontend/webpack.config.js
  frontend/webpack.dev.js
Due: password-check

combine frontend CI into one workflow
  .github/workflows/frontend-build-prepare.yaml
  .github/workflows/ui-tests-playwright.yml
Due: password-check

rename workflow & jobs
  .github/workflows/frontend-lint-test-build.yaml
Due: password-check

update weblate reformat action to use paths filter
  .github/workflows/weblate-reformat.yaml
Due: password-check

explicitly set base
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/k3d-ci.yaml
Due: password-check

include workflow paths in filters
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/k3d-ci.yaml
Due: password-check

cancel in-progress runs in prs
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/frontend-lint-test-build.yaml
  .github/workflows/k3d-ci.yaml
Due: password-check

remove extra `cd`s
  .github/workflows/frontend-lint-test-build.yaml
Due: password-check

add paths-filter checks to all workflows that run on prs
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/frontend-lint-test-build.yaml
  .github/workflows/k3d-ci.yaml
  .github/workflows/weblate-reformat.yaml
Due: password-check

convert crawler proxy
  frontend/src/components/ui/select-crawler-proxy.ts
Due: none

attempt fix for https://github.com/dorny/paths-filter/issues/240
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/frontend-lint-test-build.yaml
  .github/workflows/k3d-ci.yaml
  .github/workflows/weblate-reformat.yaml
Due: password-check

format
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/frontend-lint-test-build.yaml
  .github/workflows/k3d-ci.yaml
  .github/workflows/weblate-reformat.yaml
Due: password-check

[debug] tmate
  .github/workflows/frontend-lint-test-build.yaml
Due: password-check

add proxies to context
  frontend/package.json
  frontend/src/pages/org/context.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/yarn.lock
Due: none

debug
  .github/workflows/ansible-lint.yaml
  .github/workflows/frontend-lint-test-build.yaml
Due: password-check

tmate debug again
  .github/workflows/ansible-lint.yaml
Due: password-check

try using ref_name
  .github/workflows/ansible-lint.yaml
Due: password-check

try with git rev-parse
  .github/workflows/ansible-lint.yaml
Due: password-check

use git rev-parse for prev sha
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/frontend-lint-test-build.yaml
  .github/workflows/k3d-ci.yaml
  .github/workflows/weblate-reformat.yaml
Due: password-check
