Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Rename type_filter to crawl_type
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

Add API endpoint to GET single public collection
  backend/btrixcloud/colls.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/test/test_collections.py
Due: pylint

Include upload pages in collection pageCount
  backend/btrixcloud/colls.py
Due: pylint

Add migration to add upload files for all orgs in bg jobs
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/pages.py
Due: pylint

Enforce max thumbnail file size of 2MB
  backend/btrixcloud/colls.py
Due: pylint

Fix endpoint path in test
  backend/test/test_collections.py
Due: pylint

Modify public collections endpoint paths
  backend/btrixcloud/colls.py
  backend/test/test_collections.py
Due: pylint

Add oid to PublicCollOut model
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Return 404 for GET public collection if org isn't public
  backend/btrixcloud/colls.py
Due: pylint

Only fetch org once, not per-crawl
  backend/btrixcloud/colls.py
Due: pylint

Add counts and size to PublicCollOut
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Use proper thumbnail as test data
  backend/test/data/thumbnail.jpg
Due: none

feat: Public org profile page (#2172)
  frontend/src/index.ts
  frontend/src/theme.stylesheet.css
Due: none

feat: Make collection public (#2208)
  frontend/src/index.ts
Due: none

Don't expect thumbnail for unlisted collection
  backend/test/test_collections.py
Due: pylint

Add access field to PublicCollOut
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Allow unlisted collections in single public collection GET
  backend/btrixcloud/colls.py
  backend/test/test_collections.py
Due: pylint

disable adding regex if invalid
  frontend/src/features/crawl-workflows/queue-exclusion-form.ts
Due: none

fix: Prevent submitting invalid regex with keyboard enter (#2228)
  frontend/src/features/crawl-workflows/queue-exclusion-form.ts
Due: none

WIP: Implement delayed deletion of replica files
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
  chart/app-templates/replica_deletion_cron_job.yaml
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

Delete replica deletion cron job after one success
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
Due: pylint

Linting and typing fixups
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
Due: pylint

Plausible analytics (#2226)
  chart/templates/frontend.yaml
  chart/values.yaml
  frontend/00-browsertrix-nginx-init.sh
  frontend/docs/docs/deploy/customization.md
  frontend/src/index.ejs
Due: password-check

feat: Make collection public (#2208)
  frontend/package.json
  frontend/src/components/ui/copy-button.ts
  frontend/src/components/ui/dialog.ts
  frontend/src/controllers/clipboard.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/index.ts
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/collections/index.ts
  frontend/src/pages/index.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/events.d.ts
  frontend/src/types/org.ts
  frontend/yarn.lock
Due: none

Add public API endpoint for public collections (#2174)
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
Due: pylint

Make changes to collections to support publicly listed collections (#2164)
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0036_coll_visibility.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/types/collection.ts
Due: pylint

feat: Public org profile page (#2172)
  frontend/docs/docs/user-guide/crawl-workflows.md
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/org-settings.md
  frontend/docs/docs/user-guide/overview.md
  frontend/src/components/index.ts
  frontend/src/components/not-found.ts
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/link.ts
  frontend/src/components/ui/url-input.ts
  frontend/src/components/verified-badge.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/layouts/columns.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/settings/components/profile.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/org.ts
  frontend/src/utils/APIRouter.ts
  frontend/src/utils/form.ts
  frontend/src/utils/state.ts
Due: none

Add list endpoint to get sorted list of URLs in collection
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
Due: pylint

WIP: Add collection thumbnail upload
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/uploads.py
Due: pylint

Add endpoint to set or update collection home url
  backend/btrixcloud/colls.py
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
Due: pylint

Add tests
  backend/test/test_collections.py
Due: pylint

Use updated response for /home-urls endpoint
  backend/btrixcloud/colls.py
Due: pylint

WIP: Only share subset of coll and image data for public endpoint
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Add collection thumbnail upload test
  backend/btrixcloud/colls.py
  backend/test/data/thumbnail.jpg
  backend/test/test_collections.py
Due: pylint

Fixups
  backend/btrixcloud/colls.py
Due: pylint

Fix test
  backend/test/test_collections.py
Due: pylint

Add caption field to collections
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Change path for thumbnail endpoint
  backend/btrixcloud/colls.py
  backend/test/test_collections.py
Due: pylint
