Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Enables docs referral in issue template
  .github/ISSUE_TEMPLATE/config.yml
Due: password-check

line no longer too long
  backend/btrixcloud/k8sapi.py
Due: pylint

bump to 1.6.2
  backend/btrixcloud/version.py
  frontend/package.json
  version.txt
Due: pylint

Adds guidelines for using admonitions (#1084)
  docs/develop/docs.md
Due: none

tweaks
  docs/user-guide/browser-profiles.md
  docs/user-guide/index.md
Due: none

make into collapsible info block
  docs/user-guide/browser-profiles.md
Due: none

docs: Adds information about 1.6 features to documentation (#1086)
  docs/develop/docs.md
  docs/user-guide/browser-profiles.md
  docs/user-guide/collections.md
  docs/user-guide/crawl-workflows.md
  docs/user-guide/index.md
  docs/user-guide/org-settings.md
  docs/user-guide/workflow-setup.md
  mkdocs.yml
Due: password-check

ingress: minor tweaks to ingress to update to latest spec: - use pathType ImplementationSpecific for regexes - use ingressClassName instead of annotation
  chart/templates/ingress.yaml
Due: password-check

Update browser-profiles.md
  docs/user-guide/browser-profiles.md
Due: none

Update name change admonition
  docs/user-guide/index.md
Due: none

Comma fix
  docs/deploy/local.md
Due: none

Mac → macOS
  docs/deploy/local.md
  docs/develop/frontend-dev.md
Due: none

Admonition alignment with #1084
  docs/user-guide/workflow-setup.md
Due: none

Minor spelling, grammar, and markdown standardization
  docs/deploy/ansible/digitalocean.md
  docs/deploy/ansible/microk8s.md
Due: none

Removes manual line wrapping
  docs/deploy/index.md
  docs/deploy/local.md
  docs/deploy/production.md
  docs/develop/index.md
  docs/develop/local-dev-setup.md
Due: none

Adds note about titles on tip admonitions
  docs/develop/docs.md
Due: none

Change to note
  docs/user-guide/index.md
Due: none

docs: formatting fixes & minor content updates (#1091)
  docs/deploy/ansible/digitalocean.md
  docs/deploy/ansible/microk8s.md
  docs/deploy/index.md
  docs/deploy/local.md
  docs/deploy/production.md
  docs/develop/docs.md
  docs/develop/frontend-dev.md
  docs/develop/index.md
  docs/develop/local-dev-setup.md
  docs/user-guide/browser-profiles.md
  docs/user-guide/index.md
  docs/user-guide/workflow-setup.md
Due: none

exclusion regex: show unmodified regex string, avoid dropping the '\' when displaying escaped regexes
  frontend/src/components/queue-exclusion-table.ts
Due: none

dev: Adds GitHub feature issue template (#1087)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-change.yml
Due: password-check

update headers
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

switch to paginated list
  frontend/src/pages/org/workflows-list.ts
Due: none

fetch search values
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/types/crawler.ts
Due: none

refetch on order change
  frontend/src/pages/org/workflows-list.ts
Due: none

add "name" to allowed sort keys, move to separate const tuple for clarity
  backend/btrixcloud/crawlconfigs.py
Due: pylint

move combobox to common
  frontend/src/components/index.ts
  frontend/src/components/search-combobox.ts
  frontend/src/pages/org/crawls-list.ts
Due: none

refactor workflow filter
  frontend/src/components/search-combobox.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

update placeholders
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

update sort fields
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

reset page on org change
  frontend/src/pages/org/workflows-list.ts
Due: none

crawl workflows: add secondary index of firstSeed when sorting by name
  backend/btrixcloud/crawlconfigs.py
Due: pylint

remove check for modified
  frontend/src/components/workflow-list.ts
Due: none

undo index change
  backend/btrixcloud/crawlconfigs.py
Due: pylint

reuse format date component
  frontend/src/components/workflow-list.ts
Due: none

chart: move minio credentials to separate secret, part of #490
  chart/templates/minio.yaml
  chart/templates/secrets.yaml
Due: password-check

Apply suggestions from code review
  frontend/src/pages/org/workflows-list.ts
Due: none

show modified
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

update heading
  frontend/src/pages/org/workflows-list.ts
Due: none

exclusion regex: show unmodified regex string, avoid dropping the '\' when displaying escaped regexes (#1094)
  frontend/src/components/queue-exclusion-table.ts
Due: none

update columns
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/utils/css.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
