Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Update frontend/src/features/collections/share-collection.ts
  frontend/src/features/collections/share-collection.ts
Due: none

api: /urls api sort by seed, then timestamp
  backend/btrixcloud/colls.py
Due: pylint

attempt replay from replica, if available
  backend/btrixcloud/storages.py
Due: pylint

back to sanitize, just also replace spaces
  backend/btrixcloud/models.py
Due: pylint

tests: more specific assert
  backend/test/test_uploads.py
Due: pylint

back to slugify, needed to strip various %-encodings
  backend/btrixcloud/models.py
Due: pylint

fix isSeed check
  backend/btrixcloud/pages.py
Due: pylint

don't include ext in slugified name
  backend/btrixcloud/models.py
Due: pylint

remove rand string from upload, not needed given only supporting one file
  backend/btrixcloud/models.py
Due: pylint

lint fix
  backend/btrixcloud/models.py
Due: pylint

Fix test
  backend/test/test_uploads.py
Due: pylint

make access icons more consistent with list
  frontend/src/features/collections/collections-grid.ts
Due: none

wip
  frontend/src/pages/org/collections-list.ts
Due: none

handle refreshing collections a little better
  frontend/src/pages/org/collections-list.ts
Due: none

Add randstr back to upload name
  backend/btrixcloud/models.py
  backend/test/test_uploads.py
Due: pylint

update empty text state when view is set to "all"
  frontend/src/features/collections/collections-grid.ts
  frontend/src/pages/org/dashboard.ts
Due: none

Upload Fixes: (#2397)
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/test/test_uploads.py
Due: pylint

lint fix
  backend/btrixcloud/pages.py
Due: pylint

readd pages fixes: - add additional mem to background job - copy page qa data to separate temp coll when readding pages, then merge back in
  backend/btrixcloud/crawls.py
  backend/btrixcloud/pages.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

use ts_now for temp db timestamp
  backend/btrixcloud/pages.py
Due: pylint

Issue 2396 readd pages fixes (#2398)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/pages.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

Modify upload page migration
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
Due: pylint

Modify favIconUrl to be str
  backend/btrixcloud/models.py
Due: pylint

Add a small sticky banner when logged in as superadmin (#2393)
  frontend/src/index.ts
Due: none

add logging
  backend/btrixcloud/pages.py
Due: pylint

logging
  backend/btrixcloud/pages.py
Due: pylint

Fix re_add_all_crawl_pages query to include oid
  backend/btrixcloud/pages.py
Due: pylint

Fix collection ops StorageOps init arg
  backend/btrixcloud/ops.py
Due: pylint

cleanup re_add all, add counter
  backend/btrixcloud/pages.py
Due: pylint

remove print
  backend/btrixcloud/pages.py
Due: pylint

Modify page upload migration (#2400)
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
  backend/btrixcloud/pages.py
Due: pylint

version: bump to 1.14.0-beta.1
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

style change: remove spaces from python version docstring
  backend/btrixcloud/version.py
  update-version.sh
Due: pylint

add instance stats
  frontend/src/features/admin/index.ts
  frontend/src/features/admin/stats.ts
  frontend/src/features/index.ts
  frontend/src/pages/admin.ts
Due: none

Org dashboard: update collection grid empty text state when view is set to "all" (#2402)
  frontend/src/features/collections/collections-grid.ts
  frontend/src/pages/org/dashboard.ts
Due: none

migration fixes: - use group instead of distinct in unique page stats, page filename migration - consolidate collection recompute stats into single function - bump to 1.14.0-beta.2
  backend/btrixcloud/colls.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/migrations/migration_0042_page_filenames.py
  backend/btrixcloud/pages.py
Due: pylint

bump version to 1.14.0-beta.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

bump to 1.14.0-beta.3 add timeout for backend gunicorn worker
  backend/btrixcloud/pages.py
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/templates/backend.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

typo fix
  chart/templates/backend.yaml
Due: password-check

add admin route
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/admin/admin.ts
  frontend/src/pages/admin/index.ts
  frontend/src/pages/index.ts
  frontend/src/routes.ts
Due: none
