Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

update filter
  frontend/src/features/archived-items/crawl-logs.ts
Due: none

ci: use py3.12 for now
  .github/workflows/deploy-dev.yaml
Due: password-check

Update tests
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Last test touchups
  backend/test/conftest.py
  backend/test/test_uploads.py
Due: pylint

Add a CITATION file
  CITATION.cff
  update-version.sh
Due: none

Add clickSelector to RawCrawlConfig
  backend/btrixcloud/models.py
  backend/test/test_crawlconfigs.py
Due: pylint

update types
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

update syntax highlighter
  frontend/src/components/ui/code.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/syntax-input.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

add field
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/labels.ts
  frontend/src/utils/workflow.ts
Due: none

update docs
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

revert settings tab change
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

Add basic backend validation for selectLinks (#2510)
  backend/btrixcloud/crawlconfigs.py
  backend/test/test_crawlconfigs.py
  frontend/src/features/crawl-workflows/custom-behaviors-table-row.ts
Due: pylint

add validation
  frontend/src/components/ui/syntax-input.ts
  frontend/src/events/btrix-change.ts
  frontend/src/events/index.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/types/events.d.ts
  frontend/src/utils/form.ts
Due: none

allow filtering crawls by running or not running
  backend/btrixcloud/crawlconfigs.py
Due: pylint

wip
  frontend/src/pages/org/workflows-list-group-controller.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

show info text
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

Add behavior logs from Redis to database and add endpoint to serve (#2526)
  .github/workflows/deploy-dev.yaml
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/utils.py
  backend/test/conftest.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  chart/templates/configmap.yaml
Due: pylint, password-check

wip
  frontend/src/components/ui/pagination.ts
  frontend/src/controllers/searchParams.ts
  frontend/src/features/archived-items/crawl-pending-exclusions.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/index.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

wip
  frontend/src/components/ui/pagination.ts
  frontend/src/controllers/searchParams.ts
Due: none

Update frontend/src/events/btrix-change.ts
  frontend/src/events/btrix-change.ts
Due: none

update help text
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix: Enable saving workflow with default select links (#2537)
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

convert to tailwind
  frontend/src/features/archived-items/crawl-logs.ts
Due: none

update columns
  frontend/src/components/ui/format-date.ts
  frontend/src/features/archived-items/crawl-logs.ts
Due: none

update labels
  frontend/docs/docs/user-guide/archived-items.md
  frontend/src/features/archived-items/crawl-logs.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

show live
  frontend/src/components/ui/badge.ts
  frontend/src/features/archived-items/crawl-logs.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

update table
  frontend/src/features/archived-items/crawl-log-table.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

update dialog
  frontend/src/features/archived-items/crawl-log-table.ts
Due: none

update pagination
  frontend/src/features/archived-items/crawl-logs.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none
