Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Fix typo
  backend/btrixcloud/storages.py
Due: pylint

Remove TODO
  backend/btrixcloud/storages.py
Due: pylint

Create extra test buckets in CI
  .github/workflows/k3d-ci.yaml
  .github/workflows/microk8s-ci.yaml
Due: password-check

Always use oid prefix in s3 storage
  backend/btrixcloud/models.py
  chart/app-templates/copy_job.yaml
Due: pylint, password-check

One more positional operator fix
  backend/btrixcloud/orgs.py
Due: pylint

Check if any bg jobs running before changing storage
  backend/btrixcloud/storages.py
Due: pylint

Ensure there are no double slashes between bucket name and oid
  backend/btrixcloud/background_jobs.py
  chart/app-templates/copy_job.yaml
Due: pylint, password-check

Fix API endpoint path in docs example
  frontend/docs/docs/deploy/admin/org-storage.md
Due: none

Increase memory limit/request for copy job to 500Mi
  chart/app-templates/copy_job.yaml
Due: password-check

Add provider to s3storage for rclone
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint

Update docstrings and comments
  backend/btrixcloud/storages.py
Due: pylint

Add --progress flag to rclone copy command
  chart/app-templates/copy_job.yaml
Due: password-check

Add storage tag to API endpoints
  backend/btrixcloud/storages.py
Due: pylint

Add API endpoint for background job progress
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
  chart/app-templates/copy_job.yaml
Due: pylint, password-check

Format post-rebase with Black
  backend/btrixcloud/main_op.py
Due: pylint

Format with Black
  backend/btrixcloud/background_jobs.py
Due: pylint

Fix linting
  backend/btrixcloud/background_jobs.py
Due: pylint

Fix linting
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/db.py
Due: pylint

Fix linking
  backend/btrixcloud/background_jobs.py
Due: pylint

Cast job to CopyBucketJob
  backend/btrixcloud/background_jobs.py
Due: pylint

Fix type errors from rebase
  backend/btrixcloud/background_jobs.py
Due: pylint

remove dropping page index on migrations (#2418)
  backend/btrixcloud/db.py
Due: pylint

Add `deepLink` attribute to public collection replay embed (#2420)
  frontend/src/pages/collections/collection.ts
Due: none

version: update to 1.14.0
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

add "copy crawl id" to crawl list in workflow detail
  frontend/src/pages/org/workflow-detail.ts
Due: none

add "copy collection id" to collection list menus
  frontend/src/pages/org/collections-list.ts
Due: none

add "copy workflow id" to workflow list menus also remove an extra shoelace divider in the same menu
  frontend/src/pages/org/workflows-list.ts
Due: none

add "copy profile id" to browser profile menu
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

add "copy item id" to collection item list menus
  frontend/src/pages/org/collection-detail.ts
Due: none

add divider to workflow detail crawl list menus
  frontend/src/pages/org/workflow-detail.ts
Due: none

add "copy x id" to detail page action menus
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

move "copy item id" to bottom of menu in archived items list
  frontend/src/pages/org/archived-items.ts
Due: none

add "copy run id" to analysis run list
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

add overflow menu & copy page id item to page list
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

reorder "copy id" menu items to be above destructive actions
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

add file size to download menu items
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
Due: none

Adjust copy item position
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
Due: none

Revert reorder on collection detail page
  frontend/src/pages/org/collection-detail.ts
Due: none

fix menu item links trying to work if disabled
  frontend/src/components/ui/menu-item-link.ts
Due: none

move "copy" items alongside (but above) "copy id" items
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none
