Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

decrease docs font size
  frontend/docs/docs/js/embed.js
  frontend/docs/mkdocs.yml
Due: password-check

contain user guide
  frontend/src/index.ts
Due: none

store in state
  frontend/src/index.ts
  frontend/src/utils/state.ts
Due: none

sticky header
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.ts
  frontend/src/layouts/crawl-workflows/editor.ts
  frontend/src/layouts/pageSectionsWithNav.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

hide button when user guide is open
  frontend/src/layouts/crawl-workflows/editor.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

update user guide on nav click
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/utils/workflow.ts
Due: none

reuse styles from scrim
  frontend/src/components/ui/overflow-scroll.ts
  frontend/src/layouts/crawl-workflows/editor.ts
  frontend/src/layouts/styles/scrim.ts
  frontend/src/layouts/styles/stickyHeader.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/theme.stylesheet.css
Due: none

remove unused style
  frontend/src/index.ts
Due: none

revert change
  frontend/src/index.ts
Due: none

revert scrim css variable changes
  frontend/src/components/ui/overflow-scroll.ts
  frontend/src/layouts/styles/scrim.ts
  frontend/src/theme.stylesheet.css
Due: none

move scrim to stylesheet
  frontend/src/layouts/styles/scrim.ts
  frontend/src/layouts/styles/stickyHeader.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/theme.stylesheet.css
Due: none

move to components
  frontend/src/theme.stylesheet.css
Due: none

Update frontend/src/layouts/pageSectionsWithNav.ts
  frontend/src/layouts/pageSectionsWithNav.ts
Due: none

open user guide on expand
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/utils/workflow.ts
Due: none

Update docstring
  backend/btrixcloud/migrations/migration_0044_coll_stats.py
Due: pylint

Sort running crawls first by default (#2587)
  backend/btrixcloud/crawlconfigs.py
Due: pylint

compute top page origins for each collection (#2483)
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0044_coll_stats.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/test/test_collections.py
  frontend/src/layouts/collections/metadataColumn.ts
  frontend/src/strings/collections/metadata.ts
  frontend/src/types/collection.ts
Due: pylint

version: bump to 1.16.0
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

move design docs into storybook
  frontend/.eslintrc.js
  frontend/.storybook/blocks/ColorSwatch.tsx
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.storybook/tsconfig.json
  frontend/docs/docs/develop/ui/design-action-menus.md
  frontend/docs/docs/develop/ui/design-status-icons.md
  frontend/docs/docs/develop/ui/storybook.md
  frontend/package.json
  frontend/prettier.config.js
  frontend/src/stories/design/action-menus.mdx
  frontend/src/stories/design/status-indicators.mdx
  frontend/tsconfig.eslint.json
  frontend/yarn.lock
Due: none

fix: Sync user guide to correct workflow section (#2592)
  frontend/docs/docs/js/embed.js
  frontend/docs/mkdocs.yml
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.ts
  frontend/src/layouts/pageSectionsWithNav.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/theme.stylesheet.css
  frontend/src/utils/state.ts
  frontend/src/utils/workflow.ts
Due: password-check

remove unused icons
  frontend/docs/docs/overrides/.icons/bootstrap/check2-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/dash-square-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-circle-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-diamond-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-diamond.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-octagon.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-square-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-triangle-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-triangle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/pause-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/play-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/slash-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/x-octagon.svg
Due: none

clean up grid types
  frontend/src/components/ui/data-grid/data-grid-cell.ts
  frontend/src/components/ui/data-grid/types.ts
  frontend/src/components/ui/data-table.ts
  frontend/src/components/ui/table/table.ts
Due: none

devex: Refactor `syntax-input` and `link-selector-table` into form controls (#2588)
  frontend/src/components/ui/code.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/data-grid/controllers/rows.ts
  frontend/src/components/ui/data-grid/data-grid-cell.ts
  frontend/src/components/ui/data-grid/data-grid-row.ts
  frontend/src/components/ui/data-grid/data-grid.ts
  frontend/src/components/ui/data-grid/renderRows.ts
  frontend/src/components/ui/data-grid/types.ts
  frontend/src/components/ui/data-table.ts
  frontend/src/components/ui/syntax-input.ts
  frontend/src/components/ui/table/table.ts
  frontend/src/controllers/formControl.ts
  frontend/src/events/btrix-input.ts
  frontend/src/events/index.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/mixins/FormControl.ts
  frontend/src/stories/components/SyntaxInput.stories.ts
  frontend/src/stories/components/SyntaxInput.ts
  frontend/src/stories/components/decorators/dataGridForm.ts
  frontend/src/strings/validation.ts
  frontend/src/theme.stylesheet.css
  frontend/src/utils/form.ts
Due: none

revert removing `exclamation-circle-fill` icon
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-circle-fill.svg
Due: none

fix eslint & storybook types
  frontend/.eslintrc.js
  frontend/.storybook/main.ts
  frontend/package.json
  frontend/yarn.lock
Due: none

enable json import in storybook tsconfig
  frontend/.storybook/tsconfig.json
Due: none

revert `eslint-webpack-plugin` upgrade didn't mean to leave that in the commit
  frontend/package.json
  frontend/yarn.lock
Due: none

add last missing docs icon
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-diamond-fill.svg
Due: none

re-add `@storybook/addon-docs`
  frontend/package.json
  frontend/yarn.lock
Due: none

try enabling `esModuleInterop`
  frontend/.storybook/tsconfig.json
Due: none

add minimized superadmin banner - move it into its own component - add hide/show state - add buttons to hide/show - add tooltip
  frontend/src/features/admin/index.ts
  frontend/src/features/admin/super-admin-banner.ts
  frontend/src/index.ts
Due: none

fix typo
  chart/charts/btrix-proxies-0.2.0.tgz
  chart/proxies/templates/proxies.yaml
Due: password-check

Clear page counts when crawl pages are deleted
  backend/btrixcloud/pages.py
Due: pylint

Improve existing re-add test
  backend/test/test_run_crawl.py
Due: pylint

add data grid features
  frontend/src/components/ui/data-grid/controllers/rows.ts
  frontend/src/components/ui/data-grid/data-grid-cell.ts
  frontend/src/components/ui/data-grid/data-grid-row.ts
  frontend/src/components/ui/data-grid/data-grid.ts
  frontend/src/components/ui/data-grid/events/btrix-row-click.ts
  frontend/src/components/ui/data-grid/renderRows.ts
  frontend/src/components/ui/data-grid/types.ts
  frontend/src/stories/components/DataGrid.stories.ts
  frontend/src/stories/components/DataGrid.ts
  frontend/src/stories/features/archived-items/CrawlLogs.stories.ts
Due: none

update renderers
  frontend/src/components/ui/data-grid/controllers/focus.ts
  frontend/src/components/ui/data-grid/data-grid-row.ts
  frontend/src/components/ui/data-grid/data-grid.ts
  frontend/src/components/ui/data-grid/events/btrix-select-row.ts
  frontend/src/components/ui/data-grid/types.ts
  frontend/src/features/archived-items/crawl-log-table.ts
  frontend/src/stories/components/DataGrid.stories.ts
  frontend/src/stories/components/DataGrid.ts
  frontend/src/stories/features/archived-items/CrawlLogs.stories.ts
  frontend/src/types/crawler.ts
Due: none

wip crawl log
  frontend/src/features/archived-items/crawl-log-table.ts
Due: none

WIP: Add migration to reset file and error counts
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0045_crawl_counts.py
  backend/btrixcloud/pages.py
Due: pylint
