Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Always show user agent, default to Default User Agent
  frontend/src/components/ui/config-details.ts
Due: none

Test fastapi_profiler middleware
  backend/btrixcloud/main.py
  backend/requirements.txt
Due: pylint

Update docs/develop/docs.md
  docs/develop/docs.md
Due: none

Remove non-prod & optional dependencies when building frontend in ci (#1455)
  .github/workflows/frontend-build-check.yaml
Due: password-check

Update docs/user-guide/crawl-workflows.md
  docs/user-guide/crawl-workflows.md
Due: none

Add API endpoints for crawl statistics (#1461)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/btrixcloud/utils.py
  backend/test/test_run_crawl.py
Due: pylint

backend: switch backend to use hypercorn with uvloop instead of uvicorn to see if it addresses the memory leak set workers in backend chart, remove cmd from Dockerfile for consistency
  backend/Dockerfile
  backend/requirements.txt
  chart/templates/backend.yaml
Due: password-check

Add setup command to btrix helper to copy local config (#1462)
  btrix
Due: none

switch to gunicorn + uvicorn: - also set MOTOR_MAX_WORKERS to 1 to avoid scaling based on number of cpus - set backend workers to 1 as well
  backend/requirements.txt
  chart/templates/backend.yaml
  chart/values.yaml
Due: password-check

Fix browser profile name in crawl endpoints (#1464)
  backend/btrixcloud/models.py
Due: pylint

Adds status information to user documentation (#1459)
  docs/deploy/ansible/k3s.md
  docs/deploy/local.md
  docs/develop/docs.md
  docs/develop/local-dev-setup.md
  docs/overrides/.icons/bootstrap/check-circle.svg
  docs/overrides/.icons/bootstrap/dash-circle.svg
  docs/overrides/.icons/bootstrap/exclamation-triangle.svg
  docs/overrides/.icons/bootstrap/hourglass-split.svg
  docs/overrides/.icons/bootstrap/upload.svg
  docs/overrides/.icons/bootstrap/x-octagon.svg
  docs/overrides/.icons/btrix/status-dot.svg
  docs/stylesheets/extra.css
  docs/user-guide/archived-items.md
  docs/user-guide/browser-profiles.md
  docs/user-guide/crawl-workflows.md
  docs/user-guide/index.md
  docs/user-guide/org-settings.md
  mkdocs.yml
Due: password-check

rename crawlerId -> crawlerChannel on backend and frontend for clarity! update types
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/migrations/migration_0024_crawlerchannel.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/profiles.py
  chart/app-templates/crawl_job.yaml
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/select-crawler.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
Due: pylint, password-check

fix label
  frontend/src/components/ui/select-crawler.ts
Due: none

error on startup if 'latest' channel is missing
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Add crawler version name/label to config and crawl details
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/profiles.py
  frontend/src/components/ui/config-details.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/types/crawler.ts
Due: pylint

Adds release channel docs info
  docs/user-guide/workflow-setup.md
Due: none

Add backend test for crawler-versions API endpoint
  backend/test/test_crawlconfigs.py
Due: pylint

WIP: Add crawler select to workflow editor
  frontend/src/components/select-crawler-version.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
Due: none

Add crawler-select to new profile browser form
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
Due: none

Move crawler version above crawl id in crawl details
  frontend/src/pages/org/crawl-detail.ts
Due: none

Add support for crawler versions in profile browsers
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/profiles.py
  chart/app-templates/profile_job.yaml
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

Fix linting
  backend/btrixcloud/profiles.py
Due: pylint

Try to appease linting gods again
  backend/btrixcloud/profiles.py
Due: pylint

Use crawlerid: beta for crawler_crawl_id fixture
  backend/test/conftest.py
Due: pylint

WIP: Add crawlerid to config-details component
  frontend/src/components/ui/config-details.ts
Due: none

Fixups
  backend/btrixcloud/crawlconfigs.py
  frontend/src/components/ui/select-crawler.ts
Due: pylint

Lint fixes for the linter gods
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/migrations/migration_0024_crawlerid.py
Due: pylint

Fix import paths
  frontend/src/components/ui/select-crawler.ts
Due: none

Implement multiple crawler versions on backend
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  chart/app-templates/crawl_job.yaml
  chart/templates/configmap.yaml
  chart/templates/secrets.yaml
  chart/values.yaml
Due: pylint, password-check

additional cleanup: - switch to dict form for crawler version ids - fix tests, make configs consistent - add current crawlerImage to crawl status
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/operator.py
  backend/test/test_crawlconfigs.py
  chart/examples/local-config.yaml
  chart/templates/secrets.yaml
  chart/test/test.yaml
  chart/values.yaml
Due: pylint, password-check

Add CRAWLER_IMAGE to workflow configmap, fix scheduled crawls
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/operator.py
Due: pylint

Add crawlerid to profile
  backend/btrixcloud/models.py
  backend/btrixcloud/profiles.py
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/pages/org/browser-profiles-new.ts
Due: pylint

Fix linting
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Rename component to btrix-select-crawler
  frontend/src/components/select-crawler-version.ts
  frontend/src/pages/org/workflow-editor.ts
Due: none

Add migration to update workflows, profiles, and configmaps
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0024_crawlerid.py
  backend/btrixcloud/models.py
Due: pylint

Tweak crawler name/label display
  backend/btrixcloud/migrations/migration_0024_crawlerid.py
  frontend/src/pages/org/crawl-detail.ts
Due: pylint

Import component
  frontend/src/components/ui/select-crawler.ts
Due: none

Rename file
  frontend/src/components/select-crawler.ts
Due: none

Fix typing for get_crawler_version_by_id
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/profiles.py
Due: pylint

Getting closer on workflow frontend
  frontend/src/components/select-crawler-version.ts
Due: none
