Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

open file in new window
  frontend/src/components/ui/file-input.ts
  frontend/src/components/ui/file-list/file-list-item.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

upload seed file
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

handle upload 404
  frontend/src/controllers/api.ts
Due: none

convert more than max
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update field name
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

handle uploaded file
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/types/collection.ts
  frontend/src/types/crawler.ts
  frontend/src/types/storage.ts
  frontend/src/types/workflow.ts
  frontend/src/utils/workflow.ts
Due: none

validate max
  frontend/src/components/ui/file-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

fix trim
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

paste edge cases
  frontend/src/components/ui/file-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/workflow.ts
Due: none

handle focus
  frontend/src/components/ui/file-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

include upload in submitting
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle remove file
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/workflow.ts
Due: none

fix save wihout changes
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

handle long file name
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle error
  frontend/src/controllers/api.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/types/api.ts
Due: none

fix replacing file with url list
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle upload errors
  frontend/src/controllers/api.ts
Due: none

show url count
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

show number of urls
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/file-list/file-list-item.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

add loading overlay
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix incorrect height of compact current page indicator (#2758)
  frontend/src/components/ui/navigation/navigation-button.ts
  frontend/src/components/ui/pagination.ts
Due: none

feat: Review crawl without analysis run (#2719)
  frontend/src/components/ui/badge.ts
  frontend/src/features/qa/page-list/helpers/page.ts
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/features/qa/page-list/ui/page-details.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/features/qa/qa-run-dropdown.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.stylesheet.css
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/types.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/crawler.ts
Due: none

Profiles: Make browser commit API call idempotent (#2728)
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/profiles.py
  backend/test/conftest.py
  backend/test/test_profiles.py
  chart/app-templates/profile_job.yaml
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-new.ts
Due: pylint, password-check

Fix some failing tests
  backend/test/conftest.py
  backend/test/test_uploads.py
Due: pylint

Pass seed file to crawler, add tests
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  backend/test/conftest.py
  backend/test/test_crawlconfigs.py
  backend/test/test_files.py
  backend/test/test_filter_sort_results.py
  backend/test/test_run_crawl.py
  chart/app-templates/crawl_job.yaml
Due: pylint, password-check

Add weekly cleanup cron job
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/bgjobs.py
  backend/test/conftest.py
  backend/test/test_files.py
  chart/app-templates/background_cron_job.yaml
Due: pylint, password-check

Use empty str instead of None for seed_file_url
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

Add storage quota check
  backend/btrixcloud/file_uploads.py
Due: pylint

Remove extra space
  backend/test_nightly/test_cleanup_seed_files.py
Due: pylint

Fix docstring
  backend/btrixcloud/models.py
Due: pylint

Add temporary pylint disable comment
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Ensure seed file and thumbnail storage is added to org.bytesStored
  backend/btrixcloud/orgs.py
Due: pylint

Add exception handler for reading cleanup cron job
  backend/btrixcloud/crawlmanager.py
Due: pylint

Set test crawlerChannel to 1.7.0-beta.0
  backend/test/conftest.py
  chart/test/test.yaml
Due: pylint, password-check

Fix handling of seed cleanup jobs
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
Due: pylint

Extend seed file cleanup test to include file not cleaned up
  backend/test_nightly/test_cleanup_seed_files.py
Due: pylint

Fix duplicate code lint warning for initing same class
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/ops.py
Due: pylint

Fixups
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
  backend/test/test_files.py
Due: pylint

Check to make sure seed file not in use before deleting
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/file_uploads.py
Due: pylint

Use all lowercase for upload type
  backend/btrixcloud/file_uploads.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
