Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Translated using Weblate (Chinese (Simplified Han script))
  frontend/xliff/zh-Hans.xlf
Due: none

Format Weblate Changes
  frontend/src/__generated__/locales/zh-Hans.ts
  frontend/xliff/zh-Hans.xlf
Due: none

Only replicate files after crawl successfully completes (#3084)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/uploads.py
  backend/test/test_uploads.py
Due: pylint

Fix subdocument update format in org quota update (#3114)
  backend/btrixcloud/orgs.py
  backend/test/test_quota_updates.py
Due: pylint

deps: Bump pydantic and fastapi to support Python 3.14 (#2948)
  backend/requirements.txt
Due: none

rename parse -> parse_version for readability
  backend/btrixcloud/utils.py
Due: pylint

Fix checking of minimum crawler versions (#3096)
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/utils.py
  backend/test/test_utils.py
Due: pylint

Dedup Backend Initial Implementation (#2868)
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0010_collection_total_size.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/__init__.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/ops.py
  chart/Chart.lock
  chart/Chart.yaml
  chart/app-templates/coll_index.yaml
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/index-import-configmap.yaml
  chart/app-templates/index-import-job.yaml
  chart/app-templates/redis.yaml
  chart/btrix-crds/Chart.yaml
  chart/btrix-crds/templates/collindex.yaml
  chart/charts/btrix-admin-logging-0.1.0.tgz
  chart/charts/btrix-crds-0.1.1.tgz
  chart/charts/btrix-crds-0.2.0.tgz
  chart/templates/configmap.yaml
  chart/templates/operators.yaml
  chart/templates/priorities.yaml
  chart/templates/role.yaml
  chart/test/test.yaml
  chart/values.yaml
Due: pylint, password-check

task: Add dedupe form control to workflow (#2932)
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/WithSearchOrgContext.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/events/btrix-select.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/collections/collection-create-dialog.ts
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/collections/linked-collections/linked-collections.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/strings/crawl-workflows/labels.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/collection.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

feat: Add dedupe API filters (#3056)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
Due: pylint

quickfix: add 'ids' param to org get crawl ids endpoint
  backend/btrixcloud/crawls.py
Due: pylint

fix: fix dedupe filter
  backend/btrixcloud/crawlconfigs.py
Due: pylint

feat: Filter archived items by ID (#3061)
  backend/btrixcloud/basecrawls.py
Due: pylint

filter by crawl IDs
  backend/btrixcloud/crawls.py
Due: pylint

quickfix: fix 'ids' query, use str
  backend/btrixcloud/crawls.py
Due: pylint

Revert "feat: Filter archived items by ID (#3061)"
  backend/btrixcloud/basecrawls.py
Due: pylint

dedupe: misc updates for backend (#3087)
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Support purging dedupe index of removed crawls (#3074)
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/collindexes.py
  chart/app-templates/index-import-job.yaml
Due: pylint, password-check

Dedupe Recreate Index on Use (#3064)
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

feat: Display dedupe stats in collection (#3073)
  backend/btrixcloud/crawls.py
  chart/app-templates/index-import-job.yaml
  frontend/src/assets/icons/layers-half2.svg
  frontend/src/components/ui/meter.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.stylesheet.css
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/features/archived-items/templates/dedupe-status-icon.ts
  frontend/src/features/collections/dedupe-badge.ts
  frontend/src/features/collections/dedupe-workflows/dedupe-workflows.ts
  frontend/src/features/collections/templates/dedupe-icon.ts
  frontend/src/features/collections/templates/index-status.ts
  frontend/src/layouts/info-popover.ts
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/settings/components/deduplication.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/shoelace.ts
  frontend/src/stories/design/status-indicators.mdx
  frontend/src/strings/ui.ts
  frontend/src/types/collection.ts
  frontend/src/types/dedupe.ts
  frontend/src/types/shoelace.ts
Due: pylint, password-check

feat: Filter all crawls by given IDs (#3104)
  backend/btrixcloud/basecrawls.py
Due: pylint

dedupe index serialization/deserialization: create collindex object as needed, serialize when idle (#3088)
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/__init__.py
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/collindexjob.py
  backend/btrixcloud/operator/crawls.py
  chart/Chart.lock
  chart/Chart.yaml
  chart/app-templates/coll_index.yaml
  chart/app-templates/index-import-job.yaml
  chart/app-templates/redis.yaml
  chart/charts/metacontroller-helm-4.11.11.tgz
  chart/charts/metacontroller-helm-4.12.5.tgz
  chart/templates/configmap.yaml
  chart/templates/operators.yaml
  chart/values.yaml
Due: pylint, password-check

Add crawl list filters for deduplication dependencies (#3107)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
Due: pylint

Move requiresCrawls and requiredByCrawls to BaseCrawl (#3105)
  backend/btrixcloud/models.py
Due: pylint

update dialogs
  frontend/src/pages/org/settings/components/deduplication.ts
Due: none

show status
  frontend/src/features/collections/templates/index-status.ts
  frontend/src/pages/org/settings/components/deduplication.ts
  frontend/src/types/dedupe.ts
Due: none

keep edit dialog open
  frontend/src/pages/org/collection-detail/collection-detail.ts
Due: none

fix auto-add switch
  frontend/src/features/collections/collection-workflow-list.ts
Due: none

collapse if none deduped
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/collections/collection-workflow-list/settings.ts
  frontend/src/stories/features/collections/CollectionWorkflowListSettings.stories.ts
  frontend/src/stories/features/collections/CollectionWorkflowListSettings.ts
Due: none

add dedupe control component
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/collections/collection-workflow-list/settings.ts
  frontend/src/stories/features/collections/CollectionWorkflowListSettings.stories.ts
  frontend/src/stories/features/collections/CollectionWorkflowListSettings.ts
  frontend/src/stories/features/collections/DedupeWorkflows.stories.ts
  frontend/src/stories/features/collections/DedupeWorkflows.ts
  frontend/src/stories/features/collections/data.ts
Due: none

update settings
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/collections/collection-workflow-list/settings.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

update emptys tate
  frontend/src/layouts/emptyMessage.ts
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
  frontend/src/pages/org/collection-detail/types.ts
Due: none

create index
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

update actions
  frontend/src/features/collections/templates/create-index-dialog.ts
  frontend/src/features/collections/templates/delete-index-dialog.ts
  frontend/src/features/collections/templates/purge-index-dialog.ts
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
  frontend/src/pages/org/collection-detail/types.ts
  frontend/src/pages/org/settings/components/deduplication.ts
Due: none

fix scroll on click
  frontend/src/features/collections/collection-workflow-list.ts
Due: none

update labels
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

handle index errors
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/settings/components/deduplication.ts
  frontend/src/strings/collections/index-error.ts
  frontend/src/types/api.ts
Due: none

consistency fixes
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list/settings.ts
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none
