Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Add extra check for duplicate names
  backend/btrixcloud/migrations/migration_0032_dupe_org_names.py
Due: pylint

Add pylint disable comment
  backend/btrixcloud/migrations/migration_0032_dupe_org_names.py
Due: pylint

Change from zero index to one index for names
  backend/btrixcloud/migrations/migration_0032_dupe_org_names.py
Due: pylint

Ensure org name and slug uniqueness is case-insensitive (#1929)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0032_dupe_org_names.py
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
Due: pylint

fix queue response model + crawls typing fixes
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

updated deleted return type
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
Due: pylint

tests: add test for crawl queue, crawl queue match all, add/remove exclusions
  backend/btrixcloud/crawls.py
  backend/test/test_run_crawl.py
Due: pylint

fix typo
  backend/btrixcloud/crawls.py
  backend/test/test_uploads.py
Due: pylint

fix
  backend/test/test_uploads.py
Due: pylint

pin mypy version
  .github/workflows/lint.yaml
  backend/dev-requirements.txt
Due: password-check

add return type
  backend/btrixcloud/orgs.py
Due: pylint

Add API endpoint to recalculate org storage (#1943)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/profiles.py
  backend/test/test_z_delete_org.py
Due: pylint

quickfix: pin mypy version to avoid issues with latest release
  .github/workflows/lint.yaml
  backend/dev-requirements.txt
Due: password-check

- add single-WACZ download endpoint for QA runs - add test for endpoint - use new endpoint in frontend
  backend/btrixcloud/crawls.py
  backend/test/test_qa.py
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: pylint

add missing import
  backend/test/test_qa.py
Due: pylint

better filenames for qa run downloads
  backend/btrixcloud/crawls.py
Due: pylint

more missing import fix
  backend/test/test_qa.py
Due: pylint

api docs cleanup: - readd webhooks + set order of tags in docs - add missing tag to route
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/main.py
Due: pylint

Fix queue response models + additional testing for queue + exclusions (#1948)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

api docs cleanup + readd webhooks: (#1949)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/main.py
Due: pylint

rename superadmin property
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/home.ts
  frontend/src/pages/org/index.ts
  frontend/src/types/user.ts
  frontend/src/utils/form.ts
  frontend/src/utils/user.ts
Due: none

redirect to account settings
  frontend/src/pages/home.ts
Due: none

show banner
  frontend/src/features/accounts/account-settings.ts
  frontend/src/index.ts
Due: none

navigate on update
  frontend/src/pages/org/index.ts
Due: none

add cancel button
  frontend/src/features/accounts/account-settings.ts
Due: none

fix shift
  frontend/src/pages/org/dashboard.ts
Due: none

more type fixes
  backend/btrixcloud/uploads.py
Due: pylint

add org to app state
  frontend/src/utils/state.ts
Due: none

get org status from app state
  frontend/src/controllers/api.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/org/index.ts
  frontend/src/utils/state.ts
Due: none

switch to str with BeforeValidator
  backend/btrixcloud/models.py
Due: pylint

Pydantic 2.x update + type fixes + python 3.12 (#1947)
  backend/.pylintrc
  backend/Dockerfile
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/migrations/migration_0004_config_seeds.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/uploads.py
  backend/requirements.txt
  backend/test/test_crawl_config_search_values.py
  backend/test/test_crawlconfigs.py
  backend/test/test_org.py
  backend/test/test_qa.py
Due: pylint

Ensure lexical sort for org names
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
Due: pylint

Remove redundant lodash sort on orgs in nav bar dropdown
  frontend/src/index.ts
Due: none

Ensure lexical sort for org names (#1958)
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
  frontend/src/index.ts
Due: pylint

check for null org
  frontend/src/pages/org/dashboard.ts
Due: none
