Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

update review buttons
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Frontend QA: Add Text + Resources Tabs + Optimizations (#1641)
  frontend/package.json
  frontend/src/components/ui/button.ts
  frontend/src/components/ui/card.ts
  frontend/src/components/ui/desc-list.ts
  frontend/src/components/ui/index.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/index.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/index.ts
  frontend/src/pages/org/archived-item-qa/styles.ts
  frontend/src/pages/org/archived-item-qa/types.ts
  frontend/src/pages/org/archived-item-qa/ui/replay.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/severityBadge.ts
  frontend/src/pages/org/archived-item-qa/ui/spinner.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/crawler.ts
  frontend/yarn.lock
Due: none

submit qa review
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Changes second level status icon to `slash-square`
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

Updates finish review button
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Add note about backup status
  docs/user-guide/archived-items.md
Due: none

One more slash-square!
  frontend/src/pages/org/workflow-detail.ts
Due: none

Add microscope icon for analysis button
  frontend/src/assets/icons/microscope.svg
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

Adjust padding for stats bar
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Updates icon sizes
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

proxy iframe: use '/placeholder' URL to avoid loading RWP again
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Update docs/user-guide/archived-items.md
  docs/user-guide/archived-items.md
Due: none

Adds documentation for exporting files (#1643)
  docs/user-guide/archived-items.md
  docs/user-guide/collections.md
Due: none

Frontend: Fixes the "Replay Latest Crawl" button path (#1636)
  frontend/src/pages/org/workflow-detail.ts
Due: none

Minor UI additions for QA (#1645)
  frontend/src/assets/icons/microscope.svg
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

fix typo, add null check for event.source (for safari) disable devServer compression for firefox
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/webpack.dev.js
Due: none

frontend: make /replay/ path serve 404 with error to more easily catch fallthroughs, remove unneeded Server-Worker-Allowed header, in both nginx and devServer
  frontend/config/dev-server.js
  frontend/frontend.conf.template
Due: none

fix nginx default type for /replay/
  frontend/frontend.conf.template
Due: none

flip text compares
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

fix a bunch of linting issues
  .vscode/settings.json
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/features/qa/page-qa-toolbar.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/severityBadge.ts
Due: none

ci test non-root run
  .github/workflows/k3d-ci.yaml
Due: password-check

force run
  .github/workflows/k3d-ci.yaml
Due: password-check

run all tests, set timeout 30, use latest beta
  .github/workflows/k3d-ci.yaml
  chart/test/test.yaml
Due: password-check

try old beta
  chart/test/test.yaml
Due: password-check

type fixes from code review
  frontend/src/components/ui/tab-group/tab.ts
  frontend/src/features/qa/page-list/ui/page-details.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/severityBadge.ts
  frontend/src/types/qa.ts
Due: none

Remove whitespace-pre-line from text diff (from code review)
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

backend patch: ensure new_status is set to None
  backend/btrixcloud/operator/crawls.py
Due: pylint

allow a couple more types to be undefined
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Track failed QA runs in db and include in QA run list endpoint
  backend/btrixcloud/crawls.py
Due: pylint

Add /cancel QA run endpoint for testing
  backend/btrixcloud/crawls.py
Due: pylint

fix issue with incorrect number of total pages if any of the seeds is a redirect (#1649)
  backend/btrixcloud/operator/crawls.py
Due: pylint

Add tests
  backend/test/test_qa.py
Due: pylint

Expect crawlExecSeconds >= 0
  backend/test/test_qa.py
Due: pylint

Give backend time to delete QA runs
  backend/test/test_qa.py
Due: pylint

don't add current qa in case it failed if skip_failed is true
  backend/btrixcloud/crawls.py
Due: pylint

Track failed QA runs and include in list endpoint (#1650)
  backend/btrixcloud/crawls.py
  backend/test/test_qa.py
Due: pylint

version: bump to 1.9.7
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

update templates
  chart/email-templates/invite
  chart/templates/configmap.yaml
Due: password-check

version: bump to 1.10.0-beta.1
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
