Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

refactor: remove probes for easier local dev
  chart/templates/backend.yaml
  skaffold.yaml
Due: password-check

undo change
  backend/btrixcloud/models.py
Due: pylint

tests: add update quota tests
  backend/test/test_org_subs.py
Due: pylint

Subscription Update Quotas (#1988)
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
  backend/btrixcloud/utils.py
  backend/test/test_org_subs.py
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/types/billing.ts
Due: pylint

operator: adjust state transition rules to ensure 'running' state always accounted for in db (#1989)
  backend/btrixcloud/operator/crawls.py
Due: pylint

fix qa run downloads as single WACZ
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

rename STARTING_STATES -> WAITING_STATES for clarity don't count execution time when in WAITING_STATES
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/orgs.py
Due: pylint

qa runs: use qa._lut to track qa last update time, to avoid conflicting with crawl last update time, properly detecting when it hasn't been set yet
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

fix getter for qa._lut
  backend/btrixcloud/crawls.py
Due: pylint

lint fix
  backend/btrixcloud/crawls.py
Due: pylint

chore: Frontend user & org schema validation with zod (#1978)
  frontend/package.json
  frontend/src/pages/home.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/types/api.ts
  frontend/src/types/billing.ts
  frontend/src/types/org.ts
  frontend/src/types/user.ts
  frontend/src/utils/orgs.ts
  frontend/src/utils/state.ts
  frontend/yarn.lock
Due: none

chore: Get and update user info in shared state store (#1979)
  frontend/src/components/orgs-list.ts
  frontend/src/features/accounts/account-settings.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/home.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/orgs.ts
  frontend/src/pages/users-invite.ts
  frontend/src/types/user.ts
  frontend/src/utils/state.ts
  frontend/src/utils/user.ts
Due: none

fix superadmin
  frontend/src/pages/home.ts
Due: none

chore: Derive org ID from shared state (#1985)
  frontend/src/classes/BtrixElement.ts
  frontend/src/components/screencast.ts
  frontend/src/components/ui/select-crawler.ts
  frontend/src/features/archived-items/crawl-queue.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/crawl-workflows/exclusion-editor.ts
  frontend/src/features/crawl-workflows/new-workflow-dialog.ts
  frontend/src/features/qa/page-qa-approval.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/utils/LiteElement.ts
  frontend/src/utils/state.ts
Due: none

add controllers to btrix element
  frontend/src/classes/BtrixElement.ts
  frontend/src/components/orgs-list.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/org/org-status-banner.ts
  frontend/src/features/qa/page-qa-approval.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/settings/settings.ts
Due: none

update code snippet
  .vscode/snippets.code-snippets
Due: none

remove unused controllers
  frontend/src/features/accounts/invite-form.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/pages/invite/ui/org-form.ts
Due: none

rename nav
  frontend/src/pages/org/browser-profiles-new.ts
Due: none

Fix QA run downloads as a single WACZ (#1993)
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Execution time tracking tweaks (#1994)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/orgs.py
  chart/templates/operators.yaml
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: pylint, password-check

move table to own component
  frontend/src/features/org/usage-history-table.ts
  frontend/src/pages/org/dashboard.ts
Due: none

fix portal url loading unnecessarily
  frontend/src/pages/org/settings/components/billing.ts
Due: none

show usage history in billing tab
  frontend/src/features/org/index.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

add back table if billing is disabled
  frontend/src/pages/org/dashboard.ts
Due: none

update column headers
  frontend/src/features/org/usage-history-table.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

update execution time tooltip
  frontend/src/features/org/usage-history-table.ts
Due: none

update type
  frontend/src/index.ts
Due: none

update logo
  frontend/src/assets/brand/browsertrix-lockup-color.svg
  frontend/src/index.ts
Due: none

update app bar
  frontend/src/index.ts
Due: none

update links
  frontend/src/index.ts
  frontend/src/shoelace.ts
  frontend/src/theme.stylesheet.css
Due: none

show org name
  frontend/src/index.ts
Due: none

chore: Add controllers to`BtrixElement` (#1986)
  .vscode/snippets.code-snippets
  frontend/src/classes/BtrixElement.ts
  frontend/src/components/orgs-list.ts
  frontend/src/features/accounts/invite-form.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/org/org-status-banner.ts
  frontend/src/features/qa/page-qa-approval.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/pages/invite/ui/org-form.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/settings/settings.ts
Due: none

Revert "update type"
  frontend/src/index.ts
Due: none

Update frontend/src/index.ts
  frontend/src/index.ts
Due: none

update admin dashboard link
  frontend/src/index.ts
Due: none

feat: Update billing tab with usage & portal URL check (#1995)
  frontend/src/features/org/index.ts
  frontend/src/features/org/usage-history-table.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

update usage history table
  frontend/src/features/org/usage-history-table.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

update willupdate
  frontend/src/features/archived-items/crawl-queue.ts
  frontend/src/features/crawl-workflows/exclusion-editor.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

make responsive
  frontend/src/index.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
