Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

additional type fixes
  backend/btrixcloud/crawls.py
Due: pylint

refactor initial page selection
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/features/qa/page-list/ui/page-group.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-qa.ts
Due: none

implement guard on GroupedList render, and clean up functional utils to be more clear about dependencies
  frontend/src/features/qa/page-list/helpers/sortBy.ts
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/features/qa/page-list/ui/render-item.ts
Due: none

fix Page constructor
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/pages.py
Due: pylint

fix test, update crawler image to 1.1.0-beta.1
  backend/test/test_run_crawl.py
  chart/test/test.yaml
Due: pylint, password-check

fix load_state -> loadState
  backend/test/test_run_crawl.py
Due: pylint

fix models to contain qaUsage, qaCrawlExecSeconds in org and org out
  backend/btrixcloud/models.py
Due: pylint

rename FRONTEND_ALIAS -> FRONTEND_ORIGIN add resolve_internal_access_path() to storages which prepends the frontend_origin in get_internal_crawl_out()
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/storages.py
  chart/templates/configmap.yaml
Due: pylint, password-check

fix prettier config
  .vscode/settings.json
Due: none

update initial state
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-qa.ts
Due: none

add test for qaCrawlExecuted and qaUsage, ensure qaUsage is populated as well by calling inc_crawl_complete_stats for both regular crawls and qa runs
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/test/test_qa.py
Due: pylint

replace check with list
  .github/workflows/frontend-build-check.yaml
Due: password-check

Disable Prettier check in CI (#1619)
  .github/workflows/frontend-build-check.yaml
Due: password-check

disable check
  .github/workflows/frontend-build-check.yaml
Due: password-check

filterBy -> filterQABy
  backend/btrixcloud/pages.py
Due: pylint

update copy
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/pages/org/archived-item-qa.ts
Due: none

sync toolbar with page list
  frontend/src/controllers/navigate.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/features/qa/page-qa-toolbar.ts
  frontend/src/index.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/types/crawler.ts
Due: none

automatically advance page if not reviewed
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-qa.ts
Due: none

QA Runs Initial Backend Implementation (#1586)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/migrations/migration_0004_config_seeds.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/webhooks.py
  backend/test/test_qa.py
  backend/test/test_run_crawl.py
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/qa_configmap.yaml
  chart/app-templates/replica_job.yaml
  chart/templates/configmap.yaml
  chart/templates/operators.yaml
  chart/templates/priorities.yaml
  chart/test/test.yaml
  chart/values.yaml
Due: pylint, password-check

Add filters to page list endpoints
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

Remove anyApproved, make approved accept list of strings
  backend/btrixcloud/pages.py
  backend/btrixcloud/utils.py
  backend/test/test_run_crawl.py
Due: pylint

Fix intermittent crawl timeout test failure
  backend/test_nightly/test_crawl_timeout.py
Due: pylint

Fix intermittent crawl timeout test failure (#1621)
  backend/test_nightly/test_crawl_timeout.py
Due: pylint

try switch to single list
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/pages/org/archived-item-qa.ts
Due: none

Add additional filters to page list endpoints (#1622)
  backend/btrixcloud/pages.py
  backend/btrixcloud/utils.py
  backend/test/test_run_crawl.py
Due: pylint

wip render qa replay
  frontend/src/pages/org/archived-item-qa.ts
Due: none

default to first qaRun, if available hide RWP use qaRunId as coll= for RWP
  frontend/src/pages/org/archived-item-qa.ts
Due: none

include both RWP for crawl and qa detect when crawl and qa data is available separately
  frontend/src/pages/org/archived-item-qa.ts
Due: none

Fixes favicon path
  frontend/src/index.ejs
Due: none

Replaces replay icon with replaywebpage icon
  frontend/src/assets/icons/link-replay.svg
  frontend/src/assets/icons/replaywebpage.svg
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

adjust initial state
  frontend/src/pages/org/archived-item-qa.ts
Due: none

Update main logotype
  assets/browsertrix-lockup-color-dynamic.svg
  frontend/src/assets/brand/browsertrix-lockup-color.svg
Due: none

Re-adds Browsertrix H1 to readme
  README.md
Due: none

Replaces H1 by putting the image inside the H1
  README.md
Due: none

Add QA screenshot comparison tool (#1552)
  frontend/config/dev-server.js
  frontend/frontend.conf.template
  frontend/src/components/ui/navigation/navigation-button.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/shoelace.ts
Due: none

enable qa tab
  frontend/src/pages/org/archived-item-detail.ts
Due: none

get latest qa run
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/pages/org/index.ts
  frontend/src/types/crawler.ts
  frontend/src/types/qa.ts
Due: none

QA page list sidebar (#1546)
  .github/workflows/frontend-build-check.yaml
  .vscode/settings.json
  .vscode/snippets.code-snippets
  frontend/package.json
  frontend/src/components/ui/badge.ts
  frontend/src/components/utils/grouped-list.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/features/qa/index.ts
  frontend/src/features/qa/page-list/helpers/crawlCounts.ts
  frontend/src/features/qa/page-list/helpers/groupBy.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/features/qa/page-list/helpers/index.ts
  frontend/src/features/qa/page-list/helpers/issueCounts.ts
  frontend/src/features/qa/page-list/helpers/reviewStatus.ts
  frontend/src/features/qa/page-list/helpers/severity.ts
  frontend/src/features/qa/page-list/helpers/sortBy.ts
  frontend/src/features/qa/page-list/index.ts
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/features/qa/page-list/test-data.ts
  frontend/src/features/qa/page-list/ui/animate.ts
  frontend/src/features/qa/page-list/ui/index.ts
  frontend/src/features/qa/page-list/ui/page-details.ts
  frontend/src/features/qa/page-list/ui/page-group.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/features/qa/page-list/ui/render-item.ts
  frontend/src/features/qa/page-qa-toolbar.ts
  frontend/src/index.ts
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/pages/org/index.ts
  frontend/src/shoelace.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/weakCache.test.ts
  frontend/src/utils/weakCache.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/yarn.lock
Due: password-check

Add QA screenshot comparison tool (#1552)
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/types/crawler.ts
  frontend/src/types/qa.ts
Due: none

Remove "logo" from alt text
  README.md
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
