Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

remove unnecessary cache deletions
  frontend/package.json
  frontend/yarn.lock
Due: none

rspack migrate
  frontend/.eslintrc.js
  frontend/package.json
  frontend/rspack.config.js
  frontend/rspack.dev.js
  frontend/rspack.prod.js
  frontend/tsconfig.json
  frontend/webpack.dev.js
  frontend/webpack.prod.js
  frontend/yarn.lock
Due: none

clean up
  frontend/rspack.config.js
  frontend/rspack.dev.js
Due: none

update docs with analyzer and doctor tools
  frontend/docs/docs/develop/frontend-dev.md
Due: none

generate bundle analysis in rsdoctor
  frontend/rspack.config.js
Due: none

copy correct files in dockerfile
  frontend/Dockerfile
Due: none

move build deps into production dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

remove `--ignore-optional` from yarn install some platform-specific dependencies (prebuilt binaries) are listed as optional dependencies so that the appropriate one can be installed.
  frontend/Dockerfile
Due: none

move ts-lit-plugin back to devDeps
  frontend/package.json
Due: none

Translated using Weblate (French)
  frontend/xliff/fr.xlf
Due: none

Added includeClassAnno as a workaround for cert-manager v1.14.5 Closes #2267 and #1570
  chart/templates/ingress.yaml
  chart/values.yaml
Due: password-check

Avoid adding empty set to update
  backend/btrixcloud/crawlconfigs.py
Due: pylint

feat: Public org profile page (#2172)
  frontend/docs/docs/user-guide/crawl-workflows.md
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/org-settings.md
  frontend/docs/docs/user-guide/overview.md
  frontend/src/components/index.ts
  frontend/src/components/not-found.ts
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/link.ts
  frontend/src/components/ui/url-input.ts
  frontend/src/components/verified-badge.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/layouts/columns.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/settings/components/profile.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/org.ts
  frontend/src/utils/APIRouter.ts
  frontend/src/utils/form.ts
  frontend/src/utils/state.ts
Due: none

Add public API endpoint for public collections (#2174)
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
Due: pylint

Make changes to collections to support publicly listed collections (#2164)
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0036_coll_visibility.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/types/collection.ts
Due: pylint

feat: Make collection public (#2208)
  frontend/package.json
  frontend/src/components/ui/copy-button.ts
  frontend/src/components/ui/dialog.ts
  frontend/src/controllers/clipboard.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/index.ts
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/collections/index.ts
  frontend/src/pages/index.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/events.d.ts
  frontend/src/types/org.ts
  frontend/yarn.lock
Due: none

Backend work for public collections (#2198)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/test/data/thumbnail.jpg
  backend/test/test_collections.py
  backend/test/test_uploads.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

feat: Collection thumbnails, start page, and public view updates (#2209)
  frontend/index.d.ts
  frontend/src/assets/images/thumbnails/thumbnail-cyan.avif
  frontend/src/assets/images/thumbnails/thumbnail-green.avif
  frontend/src/assets/images/thumbnails/thumbnail-orange.avif
  frontend/src/assets/images/thumbnails/thumbnail-yellow.avif
  frontend/src/components/not-found.ts
  frontend/src/components/ui/button.ts
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/components/ui/markdown-viewer.ts
  frontend/src/components/ui/overflow-dropdown.ts
  frontend/src/components/ui/section-heading.ts
  frontend/src/components/ui/table/table.ts
  frontend/src/controllers/api.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/collection-replay-dialog.ts
  frontend/src/features/collections/collection-thumbnail.ts
  frontend/src/features/collections/collections-grid.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/select-collection-start-page.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/profile.ts
  frontend/src/replayWebPage.d.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/collection.ts
  frontend/src/types/org.ts
  frontend/src/utils/replay.ts
  frontend/webpack.config.js
  frontend/yarn.lock
Due: none

Add missing os import
  backend/btrixcloud/background_jobs.py
Due: pylint

specify script location
  frontend/sample.env.local
  frontend/webpack.dev.js
Due: none

specify analytics namespace
  frontend/sample.env.local
  frontend/src/utils/analytics.ts
  frontend/webpack.config.js
Due: none

track events
  frontend/docs/docs/deploy/customization.md
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/utils/analytics.ts
Due: none

enable testing analytics
  frontend/sample.env.local
  frontend/src/pages/collections/collection.ts
  frontend/src/utils/analytics.ts
  frontend/webpack.dev.js
Due: none

rename `inject_analytics` to `inject_extra`
  chart/templates/frontend.yaml
  chart/values.yaml
  frontend/00-browsertrix-nginx-init.sh
  frontend/docs/docs/deploy/customization.md
Due: password-check

update localhost script and docs
  frontend/docs/docs/deploy/customization.md
  frontend/sample.env.local
  frontend/src/utils/analytics.ts
  frontend/webpack.dev.js
Due: none

manually track page view
  frontend/src/features/collections/share-collection.ts
  frontend/src/index.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/utils/analytics.ts
Due: none

get analytics
  frontend/src/features/collections/share-collection.ts
  frontend/src/trackEvents.ts
  frontend/src/utils/analytics.ts
Due: none

fix tests
  frontend/config/define.js
  frontend/web-test-runner.config.mjs
  frontend/webpack.config.js
Due: none

fix linting issue
  frontend/webpack.config.js
Due: none

lint
  frontend/webpack.config.js
Due: none

Precalculate and store lastCrawlFinished for org
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0038_org_last_crawl_finished.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/orgs.py
  frontend/src/types/org.ts
Due: pylint

Add last crawl to orgs list in frontend
  frontend/src/components/orgs-list.ts
Due: none

Add subscription indicator to orgs list
  frontend/src/components/orgs-list.ts
Due: none

Add additional sort options for orgs list
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
Due: pylint

upgrade node
  .github/workflows/frontend-build-prepare.yaml
  .github/workflows/weblate-reformat.yaml
  frontend/Dockerfile
  frontend/docs/docs/develop/frontend-dev.md
  frontend/package.json
Due: password-check

remove ignore engines
  frontend/.yarnrc
Due: none

upgrade to 22
  .github/workflows/frontend-build-prepare.yaml
  .github/workflows/ui-tests-playwright.yml
  .github/workflows/weblate-reformat.yaml
  frontend/Dockerfile
  frontend/package.json
Due: password-check
