Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

api: add support email to api settings
  backend/btrixcloud/main.py
Due: pylint

api tweaks: - add 'supportEmail' to settings - add SettingsResponse model for better typing - consolidate settings test into test_api
  backend/btrixcloud/main.py
  backend/test/test_api.py
  backend/test/test_settings.py
Due: pylint

add back events
  frontend/src/controllers/api.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/org/index.ts
  frontend/src/utils/state.ts
Due: none

remove unused query
  frontend/src/features/org/org-status-banner.ts
Due: none

chart: shared configmap: - make crawler args a reusable template - adds QA_ARGS to configmap, setting to same value as CRAWL_ARGS but with --behaviors= prepended to disable behaviors for QA
  chart/templates/configmap.yaml
Due: password-check

update org on tab click
  frontend/src/pages/org/index.ts
Due: none

reformat
  chart/templates/configmap.yaml
Due: password-check

add return types
  backend/btrixcloud/main.py
Due: pylint

move enable_auto_resize to k8sops to support async init
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

fix typos
  backend/btrixcloud/operator/baseoperator.py
Due: pylint

Update frontend/src/index.ts
  frontend/src/index.ts
Due: none

feat: Improve UX when user doesn't belong to any orgs (#1953)
  frontend/src/features/accounts/account-settings.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/home.ts
  frontend/src/pages/org/index.ts
  frontend/src/types/user.ts
  frontend/src/utils/form.ts
  frontend/src/utils/user.ts
Due: none

update copy
  frontend/src/features/archived-items/file-uploader.ts
Due: none

Add support e-mail to settings (#1960)
  backend/btrixcloud/main.py
  backend/test/test_api.py
  backend/test/test_settings.py
Due: pylint

allow disabling of auto-resize of crawler pods (#1964)
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

disable behaviors for QA runs via configmap (#1963)
  chart/templates/configmap.yaml
Due: password-check

use `size-` tw class for square sizes
  frontend/src/pages/org/dashboard.ts
Due: none

fix: Update org status banner on quota reached (#1956)
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/utils/state.ts
Due: none

Update frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/file-uploader.ts
Due: none

chore: Rename upload dialog (#1966)
  frontend/src/features/archived-items/file-uploader.ts
Due: none

fix execution minutes meter using the incorrect metric for monthly execution minutes
  frontend/src/pages/org/dashboard.ts
Due: none

disable create buttons
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

disable edit buttons
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

check storage quota
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

update text
  frontend/src/components/orgs-list.ts
  frontend/src/features/org/org-status-banner.ts
Due: none

enable invites
  frontend/src/pages/org/settings/settings.ts
Due: none

add helper
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/utils/orgs.ts
Due: none

document exec fields
  frontend/src/types/org.ts
Due: none

Standardize storage and exec mins quota enforcement
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0033_crawl_quota_states.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  backend/test_nightly/test_execution_minutes_quota.py
Due: pylint

Update crawl statuses and types in frontend
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
Due: none

Add back missing awaits
  backend/btrixcloud/operator/crawls.py
Due: pylint

update comment
  frontend/src/types/org.ts
Due: none

Rename to ...time_quota_reached
  backend/btrixcloud/migrations/migration_0033_crawl_quota_states.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  backend/test_nightly/test_execution_minutes_quota.py
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
Due: pylint

fix execution minutes meter using wrong metric (#1967)
  frontend/src/pages/org/dashboard.ts
  frontend/src/types/org.ts
Due: none

Add nightly tests for storage quota
  backend/btrixcloud/orgs.py
  backend/test_nightly/test_execution_minutes_quota.py
  backend/test_nightly/test_storage_quota.py
Due: pylint

Fixups
  backend/btrixcloud/operator/crawls.py
  backend/test_nightly/test_storage_quota.py
Due: pylint

Fix size constant label
  backend/test_nightly/test_storage_quota.py
Due: pylint

Stop crawl gracefully if crawl size will go over storage quota
  backend/btrixcloud/operator/crawls.py
Due: pylint

Remove fickle nightly test
  backend/test_nightly/test_storage_quota.py
Due: pylint

Check all running crawl sizes, not just current crawl
  backend/btrixcloud/operator/crawls.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
