Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

set mongodb client to be tz_aware add backend tests from original issue
  backend/btrixcloud/db.py
  backend/btrixcloud/utils.py
  backend/test/test_collections.py
  backend/test/test_crawlconfigs.py
  backend/test/test_org_subs.py
  backend/test/test_profiles.py
  backend/test/test_run_crawl.py
Due: pylint

fix k8s date conversions to be timezone aware, just using plain isoformat conversion now
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/utils.py
Due: pylint

lint fix
  backend/btrixcloud/operator/crawls.py
Due: pylint

type fix
  backend/btrixcloud/operator/crawls.py
Due: pylint

proxies: add shared flag, org proxy settings
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/profiles.py
  chart/values.yaml
Due: pylint, password-check

Fix display of workflow last modified date in list
  frontend/src/features/crawl-workflows/workflow-list.ts
Due: none

Fix display of collections modified date in list
  frontend/src/pages/org/collections-list.ts
Due: none

Remove remaining manual Z suffixes from frontend
  frontend/src/components/orgs-list.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

proxies: fix backend bugs
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

frontend: add `proxy_not_found` error message
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

frontend: add wip admin proxy gui
  frontend/src/components/orgs-list.ts
  frontend/src/components/ui/select-crawler-proxy.ts
  frontend/src/pages/home.ts
  frontend/src/types/crawler.ts
  frontend/src/types/org.ts
Due: none

add missing docstring
  backend/btrixcloud/orgs.py
Due: pylint

convert metadata dialog
  frontend/src/features/collections/collection-metadata-dialog.ts
Due: none

clone styles
  frontend/src/components/ui/markdown-editor.ts
Due: none

fix rendering
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/pages/org/collections-list.ts
Due: none

wip
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/pages/org/collections-list.ts
  package.json
  yarn.lock
Due: none

replace markdown editor
  frontend/package.json
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/web-test-runner.config.mjs
  frontend/yarn.lock
Due: none

fix lockfile
  frontend/package.json
  frontend/yarn.lock
  package.json
  yarn.lock
Due: none

validate
  frontend/package.json
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/yarn.lock
Due: none

adjust styles
  frontend/src/components/ui/markdown-editor.ts
Due: none

enable basic preview
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
Due: none

adjust spacing
  frontend/src/features/collections/collection-metadata-dialog.ts
Due: none

fix hybrid rendering
  frontend/src/components/ui/markdown-editor.ts
Due: none

update docs
  docs/user-guide/collection.md
  frontend/src/components/ui/markdown-editor.ts
Due: none

version: bump to 1.11.6
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

feat: Display scale as number of browser windows (#2057)
  backend/btrixcloud/main.py
  backend/test/test_api.py
  chart/templates/configmap.yaml
  docs/user-guide/archived-items.md
  docs/user-guide/crawl-workflows.md
  docs/user-guide/overview.md
  docs/user-guide/running-crawl.md
  docs/user-guide/workflow-setup.md
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/features/org/usage-history-table.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/utils/app.ts
Due: pylint, password-check

fix: Fix collection description (#2065)
  docs/user-guide/collection.md
  frontend/package.json
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/web-test-runner.config.mjs
  frontend/yarn.lock
  yarn.lock
Due: none

replace with url list
  docs/user-guide/crawl-workflows.md
  docs/user-guide/getting-started.md
  docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/new-workflow-dialog.ts
Due: none

add shortcut
  docs/user-guide/crawl-workflows.md
  docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/new-workflow-dialog.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

update new workflow title
  frontend/src/pages/org/workflows-new.ts
Due: none

fix linting issue
  docs/user-guide/crawl-workflows.md
  frontend/src/features/crawl-workflows/new-workflow-dialog.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

replace automated discoery
  frontend/src/features/crawl-workflows/new-workflow-dialog.ts
Due: none

update terms
  docs/user-guide/crawl-workflows.md
  docs/user-guide/getting-started.md
  docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/new-workflow-dialog.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

update fields
  docs/user-guide/getting-started.md
  docs/user-guide/workflow-setup.md
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

remove unused localize script and files
  .github/workflows/frontend-build-check.yaml
  frontend/lit-localize.json
  frontend/package.json
  frontend/src/__generated__/locale-codes.ts
  frontend/src/__generated__/locales/en-US.ts
  frontend/xliff/en-US.xlf
Due: password-check

feat: Improve UX of choosing new workflow crawl type (#2067)
  docs/user-guide/crawl-workflows.md
  docs/user-guide/getting-started.md
  docs/user-guide/workflow-setup.md
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/new-workflow-dialog.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

update locale codes
  frontend/lit-localize.json
  frontend/src/__generated__/locale-codes.ts
Due: none

extract spanish file
  frontend/xliff/es.xlf
Due: none

update precommit hook
  frontend/.husky/pre-commit
Due: none

update pluralization
  frontend/.husky/pre-commit
  frontend/src/__generated__/locales/.keep
  frontend/src/components/ui/config-details.ts
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/crawler.ts
  frontend/src/utils/form.ts
  frontend/src/utils/pluralize.ts
  frontend/xliff/es.xlf
Due: none
