Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Removes dupled list item closing tag
  frontend/src/pages/org/workflow-detail.ts
Due: none

Add permissions to remove from collection option
  frontend/src/pages/org/collection-detail.ts
Due: none

fix password, simplify downloading via get_bucket
  backend/test/conftest.py
  backend/test/utils.py
Due: pylint

Test for NoSuchKey exception
  backend/test/utils.py
Due: pylint

Import exceptions from botocore differently
  backend/test/utils.py
Due: pylint

Use the same actions list for all users, disable actions accordingly
  frontend/src/pages/org/crawls-list.ts
Due: none

Adds user permission levels to the workflow list actions
  frontend/src/pages/org/workflows-list.ts
Due: none

One more go
  backend/test/utils.py
Due: pylint

Add operator print logging for CrawlFile to compare path
  backend/btrixcloud/operator.py
Due: pylint

One more go at print logging paths
  backend/btrixcloud/operator.py
Due: pylint

Print log path written to CreateReplicaJob
  backend/btrixcloud/background_jobs.py
Due: pylint

Strip btrix-test-data from job filepath for both primary and replica if present
  backend/test/utils.py
Due: pylint

Format
  backend/btrixcloud/background_jobs.py
  backend/test/utils.py
Due: pylint

Add another time.sleep and more print logging
  backend/test/test_run_crawl.py
Due: pylint

Add test to ensure there are no failures
  backend/test/test_z_background_jobs.py
Due: pylint

Wait full minute
  backend/test/test_run_crawl.py
Due: pylint

Print log filename from CrawlCompleteIn
  backend/btrixcloud/operator.py
Due: pylint

Hail mary
  backend/test/test_run_crawl.py
Due: pylint

Fix crawler_image typo in test.yaml
  chart/test/test.yaml
Due: password-check

switch assert to print failed jobs
  backend/test/test_z_background_jobs.py
Due: pylint

bump resources for replica jobs
  backend/btrixcloud/templates/replica_job.yaml
Due: password-check

:x
  backend/btrixcloud/models.py
Due: pylint

Remove print logging
  backend/btrixcloud/operator.py
  backend/test/test_run_crawl.py
  backend/test/test_z_background_jobs.py
  backend/test/utils.py
Due: pylint

Typo
  backend/test/test_z_background_jobs.py
Due: pylint

jobs: derived background job names from object-ids for clarity reduce print() statements tests: undo debug test changes, update image
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/operator.py
  chart/test/test.yaml
Due: pylint, password-check

fix bucket create call, also test on microk8s
  .github/workflows/k3d-ci.yaml
  .github/workflows/microk8s-ci.yaml
Due: password-check

also check nightly
  .github/workflows/k3d-nightly-ci.yaml
Due: password-check

force test
  .github/workflows/microk8s-ci.yaml
Due: password-check

derive unique job_id from job_id_prefix
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
Due: pylint

oops, don't disable port!
  chart/test/test.yaml
Due: password-check

undo changes for testing, revert running nightly on push
  .github/workflows/k3d-nightly-ci.yaml
  backend/test/conftest.py
Due: pylint, password-check

bump test to crawler 0.12.0
  chart/test/test.yaml
Due: password-check

Background Jobs Work (#1321)
  .github/workflows/k3d-nightly-ci.yaml
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/templates/replica_job.yaml
  backend/btrixcloud/uploads.py
  backend/test_nightly/conftest.py
  backend/test_nightly/test_crawl_timeout.py
  backend/test_nightly/test_delete_crawls.py
  backend/test_nightly/test_upload_replicas.py
  backend/test_nightly/test_z_background_jobs.py
  backend/test_nightly/utils.py
  chart/templates/minio.yaml
  chart/templates/operators.yaml
  chart/templates/priorities.yaml
  chart/test/test-nightly-addons.yaml
  chart/test/test.yaml
  chart/values.yaml
Due: pylint, password-check

Allow User to specify custom cluster-issuer
  chart/templates/ingress.yaml
Due: password-check

Update values.yaml
  chart/values.yaml
Due: password-check

correctly suffic Auth-Signer url when running in custom namespace
  chart/templates/secrets.yaml
Due: password-check

ensure workflow editor correctly switches to '#watch' tab when new crawl is started after editing
  frontend/src/pages/org/workflow-detail.ts
Due: none

tests: don't pin to bad image
  chart/test/test.yaml
Due: password-check

test: don't pin crawler image to non-working version
  chart/test/test.yaml
Due: password-check

correctly suffix Auth-Signer url when running in custom namespace (#1335)
  chart/templates/secrets.yaml
Due: password-check
