Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

update dialogs
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
  frontend/src/layouts/page.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

Regression fix: Update failed crawl database object after deleting files (#2993)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

don't allow changing proxy if profile is already set and not changed
  backend/btrixcloud/crawlconfigs.py
Due: pylint

update labels
  frontend/src/components/ui/code/index.ts
  frontend/src/features/browser-profiles/profile-browser-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
  frontend/src/layouts/emptyMessage.ts
  frontend/src/pages/org/browser-profiles/profile.ts
  frontend/src/theme.stylesheet.css
Due: none

profile constraints improvements (#2988)
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/profiles.py
Due: pylint

update options
  frontend/src/features/browser-profiles/start-browser-dialog.ts
Due: none

update label
  frontend/src/features/browser-profiles/start-browser-dialog.ts
Due: none

update menu label
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
Due: none

[wip] update collection sharing UI and copy button
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

Fix dropdown clipping issue in orgs list when few orgs are visible (#2990)
  frontend/src/components/orgs-list.ts
  frontend/src/pages/admin/admin.ts
Due: none

Fix bug where all crawls are added to workflow as successful even if failed
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Fix email sending (but still not yet idempotent)
  backend/btrixcloud/crawls.py
Due: pylint

WIP: Add debug logging to beginning of sync_crawls
  backend/btrixcloud/operator/crawls.py
Due: pylint

WIP: Add email notification
  backend/btrixcloud/crawls.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  emails/emails/crawl-auto-paused.tsx
  emails/emails/index.ts
Due: pylint

Decrement org in delete_failed_crawl_files
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Update nightly tests
  backend/test_nightly/test_execution_minutes_quota.py
  backend/test_nightly/test_storage_quota.py
Due: pylint

Update frontend for new paused states
  frontend/README.md
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/crawl-workflows/workflow-action-menu/workflow-action-menu.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/stories/design/action-menus.mdx
  frontend/src/stories/design/status-indicators.mdx
  frontend/src/types/crawlState.ts
Due: none

More incremental storage work
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Pause crawls instead of stopping when quotas are reached
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

Move paused with no stop reason condition below quota checks
  backend/btrixcloud/operator/crawls.py
Due: pylint

Inc org bytes stored when crawl files are added, not at end of crawl
  backend/btrixcloud/operator/crawls.py
Due: pylint

Fix datetime deprecation in nightly test fixture
  backend/test_nightly/conftest.py
Due: pylint

Modify execution time test to account for pausing
  backend/test_nightly/test_execution_minutes_quota.py
Due: pylint

One more TODO
  backend/btrixcloud/operator/crawls.py
Due: pylint

Shorten docstring
  backend/btrixcloud/crawls.py
Due: pylint

Only send auto-paused emails once
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

WIP: Mark current issues with some TODOs
  backend/btrixcloud/operator/crawls.py
Due: pylint

Fix status.stopReason handling for paused states
  backend/btrixcloud/operator/crawls.py
Due: pylint

Add TODO to address already-existing bug that now matters more
  backend/btrixcloud/operator/crawls.py
Due: pylint

Fix comments
  backend/btrixcloud/operator/crawls.py
Due: pylint

WIP: Don't double-count already-uploaded WACZs in check
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

fix crawler
  frontend/src/components/ui/select-crawler.ts
Due: none

update actions
  frontend/src/assets/icons/window-gear.svg
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/browser-profiles/profile-browser-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
  frontend/src/layouts/panel.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

reset input if site is not in list
  frontend/src/features/browser-profiles/start-browser-dialog.ts
Due: none

fix reset
  frontend/src/components/ui/url-input.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
Due: none

revert unused icon
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

support host-specific global proxy settings: (#2995)
  backend/btrixcloud/operator/crawls.py
  backend/test/test_run_crawl.py
  chart/Chart.lock
  chart/Chart.yaml
  chart/app-templates/crawler.yaml
  chart/charts/btrix-proxies-0.1.0.tgz
  chart/charts/btrix-proxies-0.2.0.tgz
  chart/proxies/Chart.yaml
  chart/proxies/templates/proxies.yaml
  chart/proxies/values.yaml
Due: pylint, password-check

ci release action: quickfix, use wildcard for btrix-proxies chart to support version changes
  .github/workflows/publish-helm-chart.yaml
Due: password-check

fix proxy selection
  frontend/src/features/browser-profiles/start-browser-dialog.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
