Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

open tab in url
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

add public collections gallery howto
  frontend/docs/docs/user-guide/public-collections-gallery.md
  frontend/docs/mkdocs.yml
Due: password-check

fix paths
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

docs: update collection howto
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
  frontend/docs/mkdocs.yml
Due: password-check

docs work
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

open panel on tab click
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

Collections guide formatting fixes
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

Add correct icons
  frontend/docs/docs/overrides/.icons/bootstrap/asterisk.svg
  frontend/docs/docs/overrides/.icons/bootstrap/globe2.svg
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

Em dashes, minor wording changes
  frontend/docs/docs/user-guide/collection.md
Due: none

update info text
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update docs
  frontend/docs/docs/user-guide/archived-items.md
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update labels
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/labels.ts
Due: none

Fix em dash
  frontend/docs/docs/index.md
Due: none

Edting draft for Collections sections including Collections, Public Collections Gallery, and Presentation
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/presentation-sharing.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

Editing draft for Collections - presentation
  frontend/docs/docs/user-guide/presentation-sharing.md
Due: none

Editing Collections draft - presentation and sharing
  frontend/docs/docs/user-guide/presentation-sharing.md
Due: none

Translated using Weblate (Portuguese)
  frontend/xliff/pt.xlf
Due: none

Format Weblate Changes
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

Trying to fix bootstrap icons
  frontend/docs/docs/user-guide/presentation-sharing.md
Due: none

Added bootstrap icons
  frontend/docs/docs/overrides/.icons/bootstrap/three-dots-vertical.svg
  yarn.lock
Due: none

Update .github/workflows/k3d-nightly-ci.yaml
  .github/workflows/k3d-nightly-ci.yaml
Due: password-check

Fix nightly tests (#2460)
  .github/workflows/k3d-nightly-ci.yaml
  backend/test_nightly/conftest.py
  backend/test_nightly/test_crawlconfig_crawl_stats.py
  backend/test_nightly/test_z_background_jobs.py
  chart/test/test-nightly-addons.yaml
Due: pylint, password-check

use empty str if no mime
  backend/btrixcloud/storages.py
Due: pylint

undo unrelated change
  backend/btrixcloud/operator/crawls.py
Due: pylint

set default crawler channel if not set, possible fix for #2458 update default RWP version
  backend/btrixcloud/operator/crawls.py
  chart/values.yaml
Due: pylint, password-check

remove print
  backend/btrixcloud/colls.py
Due: pylint

add cache-control to endpoint
  backend/btrixcloud/colls.py
Due: pylint

Update frontend/src/features/admin/stats.ts
  frontend/src/features/admin/stats.ts
Due: none

Add thumbnail endpoint (#2468)
  backend/btrixcloud/colls.py
  backend/btrixcloud/storages.py
Due: pylint

set default crawler channel if not set, possible fix for #2458 (#2469)
  backend/btrixcloud/operator/crawls.py
  chart/values.yaml
Due: pylint, password-check

fix: Open and highlight correct workflow form section on tab click (#2463)
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

Add missing "payment never made" subscription status to superadmin org list (#2457)
  frontend/src/components/orgs-list.ts
  frontend/src/features/admin/stats.ts
  frontend/src/types/billing.ts
Due: none

Translations update from Hosted Weblate (#2467)
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

Translations update from Hosted Weblate (#2467) (#2471)
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

Translations update from Hosted Weblate (#2470)
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

Update to reword gallery sharing
  frontend/docs/docs/user-guide/presentation-sharing.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

some more docs tweaks, combine public gallery content in one place
  frontend/docs/docs/user-guide/presentation-sharing.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

combine public gallery content in one place
  frontend/docs/docs/user-guide/presentation-sharing.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

docs tweak
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
