Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

update type
  frontend/src/index.ts
  frontend/src/types/app.ts
Due: none

update message
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.ts
Due: none

Fetch org first
  backend/btrixcloud/operator/crawls.py
Due: pylint

update accept
  frontend/src/pages/invite/accept.ts
Due: none

add admin tag
  frontend/src/index.ts
Due: none

differentiate id
  frontend/src/components/orgs-list.ts
Due: none

show created
  frontend/src/components/orgs-list.ts
  frontend/src/types/org.ts
Due: none

adjust new org logic
  frontend/src/pages/home.ts
Due: none

Implement downloading archived item + QA runs as multi-WACZ (#1933)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/requirements.txt
  backend/test/test_qa.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-items.ts
Due: pylint

Migrate lastCrawlState
  backend/btrixcloud/migrations/migration_0033_crawl_quota_states.py
Due: pylint

Improve docstring
  backend/btrixcloud/migrations/migration_0033_crawl_quota_states.py
Due: pylint

feat: Disable archiving for read-only orgs (#1965)
  frontend/src/components/orgs-list.ts
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/utils/orgs.ts
Due: none

Standardize handling of storage and execution time quotas (#1969)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0033_crawl_quota_states.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/orgs.py
  backend/test_nightly/test_execution_minutes_quota.py
  backend/test_nightly/test_storage_quota.py
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
Due: pylint

remove extra org lookups
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/uploads.py
Due: pylint

better fix, avoid extra org lookups
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/uploads.py
Due: pylint

Add webhooks for QA analysis and crawl reviewed
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/webhooks.py
Due: pylint

Update webhook tests
  backend/test/test_webhooks.py
Due: pylint

logging cleanup, log crawl stopping reason
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/pages.py
Due: pylint

more cleanup: remove additional org lookup when not needed
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/orgs.py
Due: pylint

feat: Show details of invalid invite (#1970)
  frontend/src/index.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.ts
  frontend/src/types/app.ts
Due: none

optimize org quota lookups (#1973)
  backend/btrixcloud/auth.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/uploads.py
Due: pylint

feat: Minor improvements to superadmin view (#1971)
  frontend/src/components/orgs-list.ts
  frontend/src/index.ts
  frontend/src/pages/home.ts
  frontend/src/types/org.ts
Due: none

cleanup, simplify qa_analysis_finished webhook by firing it exactly when crawl.qa gets moved to crawl.qaFinished
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/webhooks.py
Due: pylint

Add webhooks for qaAnalysisStarted, qaAnalysisFinished, and crawlReviewed (#1974)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/webhooks.py
  backend/test/test_webhooks.py
Due: pylint

operator: fix cronjob handling - fix mixup with models when finishing right away due to errors - add MCDecoratorSyncResponse model as response model for sync hook
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
Due: pylint

set update interval to cronjobs to be 60 seconds
  chart/templates/operators.yaml
Due: password-check

add missing file
  frontend/src/types/crawler.ts
Due: none

cronjob crawljob template: filter template to reduce merging, remove annotations and status, filter metadata raise default resync time
  backend/btrixcloud/operator/cronjobs.py
  chart/templates/operators.yaml
Due: pylint, password-check

add dep
  frontend/package.json
  frontend/yarn.lock
Due: none

update user and org types
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/types/api.ts
  frontend/src/types/billing.ts
  frontend/src/types/org.ts
  frontend/src/types/user.ts
  frontend/src/utils/orgs.ts
  frontend/src/utils/state.ts
Due: none

reword comment
  frontend/src/types/api.ts
Due: none

fix tests
  frontend/package.json
  frontend/src/index.test.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/types/org.ts
  frontend/yarn.lock
Due: none

Apply suggestions from code review
  frontend/src/types/billing.ts
Due: none

Revert "fix tests"
  frontend/package.json
  frontend/src/index.test.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/types/org.ts
  frontend/yarn.lock
Due: none

disable any
  frontend/.eslintrc.js
  frontend/src/pages/home.ts
  frontend/src/utils/state.ts
Due: none

fix user org schema
  frontend/.eslintrc.js
  frontend/src/types/user.ts
  frontend/src/utils/state.ts
Due: none

update date schema
  frontend/src/types/api.ts
Due: none

update comment for api date schema refinement
  frontend/src/types/api.ts
Due: none

chore: Frontend user & org schema validation with zod (#1978)
  frontend/package.json
  frontend/src/pages/home.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/types/api.ts
  frontend/src/types/billing.ts
  frontend/src/types/org.ts
  frontend/src/types/user.ts
  frontend/src/utils/orgs.ts
  frontend/src/utils/state.ts
  frontend/yarn.lock
Due: none

update orgs
  frontend/src/components/orgs-list.ts
  frontend/src/pages/home.ts
  frontend/src/pages/orgs.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
