Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

test: fix qa test for not filtering out certain crawl responses
  backend/test/test_qa.py
Due: pylint

Update tests with latest crawler (#1711)
  backend/test/test_qa.py
  chart/test/test.yaml
Due: pylint, password-check

comment out, but make it easier to debug resource by logging various properties of each resource
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Change resource table to be based on mime type (#1698)
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
Due: none

Remove additional instances of "Cloud" in docs and playbooks
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/password-check.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  NOTICE
  README.md
  ansible/README.md
  ansible/do_setup.yml
  ansible/install_k3s.yml
  ansible/playbooks/do_teardown.yml
  ansible/roles/digital_ocean/setup/tasks/main.yml
  ansible/roles/microk8s/common/defaults/main.yml
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  btrix
  chart/Chart.yaml
  chart/examples/k3s-hosted.yaml
  chart/examples/microk8s-hosted.yaml
Due: pylint, password-check

Regenerate frontend localization files
  frontend/src/__generated__/locales/en-US.ts
  frontend/xliff/en-US.xlf
Due: none

sort by lastQAStarted
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/test/test_qa.py
Due: pylint

Add Repository Index + Chart Rename + Docs Rename (#1708)
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/docs-publish.yaml
  .github/workflows/password-check.yaml
  .github/workflows/publish-helm-chart.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  NOTICE
  README.md
  ansible/README.md
  ansible/do_setup.yml
  ansible/install_k3s.yml
  ansible/playbooks/do_teardown.yml
  ansible/roles/digital_ocean/setup/tasks/main.yml
  ansible/roles/microk8s/common/defaults/main.yml
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  btrix
  chart/Chart.yaml
  chart/email-templates/invite
  chart/examples/k3s-hosted.yaml
  chart/examples/microk8s-hosted.yaml
  docs/CNAME
  docs/deploy/ansible/digitalocean.md
  docs/deploy/ansible/k3s.md
  docs/deploy/ansible/microk8s.md
  docs/deploy/customization.md
  docs/deploy/local.md
  docs/develop/docs.md
  docs/helm-repo/.gitignore
  docs/index.md
  frontend/src/__generated__/locales/en-US.ts
  frontend/src/index.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/xliff/en-US.xlf
  scripts/generate-helm-index.py
Due: pylint, password-check

temp
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/test/test_qa.py
Due: pylint

Rename qa sorts to lastQAStarted, lastQAState
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
Due: pylint

Fix aggregation - add missing dollar sign to set
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
Due: pylint

Update sortBys in upload sorting test
  backend/test/test_uploads.py
Due: pylint

Ensure QA run WACZs are deleted
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/test/test_qa.py
  backend/test/test_run_crawl.py
Due: pylint

Fix docstring
  backend/btrixcloud/crawls.py
Due: pylint

Revert unnecessary change
  backend/test/test_qa.py
Due: pylint

Fix typo in comment
  backend/test/test_qa.py
Due: pylint

update icon
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

show conditionally based on item type
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/pages/org/archived-items.ts
Due: none

move review status to helpers
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/qa/_helpers/reviewStatus.ts
  frontend/src/features/qa/page-list/helpers/approval.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

create component for review status
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/qa/_helpers/reviewStatus.ts
  frontend/src/features/qa/index.ts
  frontend/src/features/qa/review-status.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

add tooltips
  frontend/src/components/ui/table/table-cell.ts
  frontend/src/components/ui/table/table.stylesheet.css
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/qa/review-status.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/localization.ts
Due: none

sort by qa
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-items.ts
Due: none

add click to rest of tooltips
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

update analysis run state
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/types/crawler.ts
Due: none

adjust column widths
  frontend/src/components/ui/table/table.stylesheet.css
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/utils/crawler.ts
Due: none

fix type warnings
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

Update frontend to match backend changes in #1712
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/types/crawler.ts
Due: none

add progress ring + sorting by 'last qa run started' (dependent on #1712 to be merged in)
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/shoelace.ts
  frontend/src/types/crawler.ts
Due: none

adjust styles
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

move qa status
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

swap column order
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

update tooltips
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

fix nan progress
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

consistent state -> status
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

clean up grid layout & nav overflow
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/styles.ts
Due: none

first pass at page list percentages
  frontend/src/features/qa/page-list/helpers/severity.ts
  frontend/src/features/qa/page-list/ui/page-details.ts
  frontend/src/features/qa/page-list/ui/page.ts
Due: none

fix page list being pushed down when not many pages are present
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

improve spacing a bit
  frontend/src/features/qa/page-list/ui/page.ts
Due: none

clean up double nested ternary
  frontend/src/features/qa/page-list/ui/page.ts
Due: none

swap "analysis run" to lowercase in sentences
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none
