Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

additional fixes: - fix qa run stats update while running - fix qa run pages, add filterBy, gte, gt, lte and lt query args - include active QA in QA list, update model
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
Due: pylint

page model rename: rename load_state -> loadState, timestamp -> ts to match pages.jsonl data model
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
Due: pylint

Adds alt text to readme logo
  README.md
Due: none

tests: fix page test
  backend/test/test_run_crawl.py
Due: pylint

Adds padding to readme logo
  README.md
Due: none

Update README.md
  README.md
Due: none

initial QA tests! use 1.1.0-beta.0 crawler for QA support
  backend/test/test_qa.py
  chart/test/test.yaml
Due: pylint, password-check

qa: fix qa deletion, add test for deleting qa run, ensuring removed from both crawl and pages
  backend/btrixcloud/crawls.py
  backend/btrixcloud/pages.py
  backend/test/test_qa.py
Due: pylint

update @web/dev-server-esbuild to support typescript 5 const generics
  frontend/package.json
  frontend/yarn.lock
Due: none

clean up imports
  frontend/src/components/utils/grouped-list.ts
  frontend/src/features/qa/index.ts
  frontend/src/features/qa/page-list/index.ts
  frontend/src/features/qa/page-list/ui/index.ts
Due: none

update node version used in frontend build check & ui checks
  .github/workflows/frontend-build-check.yaml
  .github/workflows/ui-tests-playwright.yml
Due: password-check

Update backend/btrixcloud/basecrawls.py
  backend/btrixcloud/basecrawls.py
Due: pylint

also track qa-only exec time and usage, add qausage and qaexectime to org model
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/orgs.py
Due: pylint

change delete endpoint to use POST, accept a list of qa_run_ids
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/test/test_qa.py
Due: pylint

Adds new logo and favicon, changes theme colors
  docs/assets/brand/browsertrix-icon-color.svg
  docs/assets/brand/browsertrix-icon-white.svg
  docs/assets/brand/btrix-logo.svg
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: password-check

Write pages to db in batches
  backend/btrixcloud/pages.py
Due: pylint

Touchups
  backend/btrixcloud/crawls.py
  backend/btrixcloud/storages.py
Due: pylint

Remove dev debug print statements
  backend/btrixcloud/pages.py
Due: pylint

Remove migration 0026, add endpoints for re-adding crawl pages
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0026_crawl_pages.py
  backend/btrixcloud/pages.py
Due: pylint

Remove aiostream dependency
  backend/requirements.txt
Due: none

Add ZipInfo type annotations
  backend/btrixcloud/migrations/migration_0026_crawl_pages.py
  backend/btrixcloud/storages.py
Due: pylint

Fix linting
  backend/btrixcloud/storages.py
Due: pylint

Use remotezip for log streaming, remove custom zip module
  backend/btrixcloud/crawls.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/zip.py
Due: pylint

Bump CURR_DB_VERSION
  backend/btrixcloud/db.py
Due: pylint

Add tests
  backend/test/test_run_crawl.py
Due: pylint

Stream crawl pages syncronously with remotezip
  backend/btrixcloud/migrations/migration_0026_crawl_pages.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/utils.py
  backend/btrixcloud/zip.py
  backend/requirements.txt
Due: pylint

Linting fixes
  backend/btrixcloud/pages.py
Due: pylint

update descriptions
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-change.yml
Due: password-check

update bug report
  .github/ISSUE_TEMPLATE/bug.yml
Due: password-check

update feature change
  .github/ISSUE_TEMPLATE/feature-change.yml
Due: password-check

Revert "update node version used in frontend build check & ui checks"
  .github/workflows/frontend-build-check.yaml
  .github/workflows/ui-tests-playwright.yml
Due: password-check

Revert "update @web/dev-server-esbuild to support typescript 5 const generics"
  frontend/package.json
  frontend/yarn.lock
Due: none

resolve esbuild in @web/dev-server-esbuild to a version that supports typescript 5
  frontend/package.json
  frontend/yarn.lock
Due: none

Use browsertrix-cloud-frontend.default for presigned urls
  backend/btrixcloud/storages.py
Due: pylint

Adds dynamic favicon color for docs
  docs/assets/brand/browsertrix-icon-color-dynamic.svg
  docs/assets/brand/browsertrix-icon-color.svg
  mkdocs.yml
Due: password-check

Adds dynamic color for favicon in dark mode
  frontend/src/assets/favicons/favicon.svg
Due: none

minimize & fix issues with svg icon
  frontend/src/assets/favicons/favicon.svg
Due: none

Centers manifest icons
  frontend/src/assets/favicons/icon-192.png
  frontend/src/assets/favicons/icon-512.png
Due: none

whoops looks like svg requires quotes around attributes
  frontend/src/assets/favicons/favicon.svg
Due: none

Remove doctype, adds Emma's new favicon.svg
  docs/assets/brand/browsertrix-icon-color-dynamic.svg
  docs/assets/brand/browsertrix-icon-white.svg
  docs/assets/brand/favicon.svg
  mkdocs.yml
Due: password-check

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
