Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

add btrix-crds 0.2.0
  chart/charts/btrix-crds-0.2.0.tgz
Due: none

configmap: add missing settings
  chart/templates/configmap.yaml
Due: password-check

fix autoadd uploads to collections
  backend/btrixcloud/colls.py
  backend/btrixcloud/uploads.py
Due: pylint

make dedupCollId independent, but require dedup coll to also be in autoAdd collections
  backend/btrixcloud/crawlconfigs.py
Due: pylint

operator crds: - add CollIndex crd - add new operator
  backend/btrixcloud/operator/collindexes.py
  chart/btrix-crds/templates/collindex.yaml
  chart/templates/operators.yaml
Due: pylint, password-check

add dedupCollId to crawler, support running crawler with dedup!
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
Due: pylint, password-check

remove unused requestUpdate
  frontend/src/features/crawl-workflows/workflow-tag-filter.ts
Due: none

fix hangs and clean up unused property on archived item tag filter
  frontend/src/features/archived-items/archived-item-state-filter.ts
  frontend/src/features/archived-items/archived-item-tag-filter.ts
  frontend/src/features/crawl-workflows/workflow-profile-filter.ts
  frontend/src/features/crawl-workflows/workflow-tag-filter.ts
Due: none

fix archived item tag filter type change not dispatching event
  frontend/src/features/archived-items/archived-item-tag-filter.ts
Due: none

fix unnecessary page header stacking
  frontend/src/layouts/pageHeader.ts
Due: none

fix scrim showing up on viewports < lg
  frontend/src/layouts/pageSectionsWithNav.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

fix main nav overflow scroll not scrolling all the way to the right on smaller viewports
  frontend/src/pages/org/index.ts
Due: none

Apply changes from filter chip dropdowns immediately (#2877)
  frontend/src/features/archived-items/archived-item-state-filter.ts
  frontend/src/features/archived-items/archived-item-tag-filter.ts
  frontend/src/features/crawl-workflows/workflow-profile-filter.ts
  frontend/src/features/crawl-workflows/workflow-schedule-filter.ts
  frontend/src/features/crawl-workflows/workflow-tag-filter.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

Fix a variety of layout issues (#2879)
  frontend/src/layouts/pageHeader.ts
  frontend/src/layouts/pageSectionsWithNav.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

revert crawler type change
  frontend/src/types/crawler.ts
Due: none

add form section
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

remove unused task
  frontend/src/features/collections/collections-add.ts
Due: none

wip field
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

remove min search matches
  frontend/src/context/search-org/connectFuse.ts
Due: none

revert field changes
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/utils/workflow.ts
Due: none

revert combobox change
  frontend/src/components/ui/search-combobox.ts
Due: none

generalize org search
  frontend/src/context/search-org/SearchOrgContextController.ts
  frontend/src/context/search-org/WithSearchOrgContext.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/context/search-org/index.ts
  frontend/src/context/search-org/search-org.ts
  frontend/src/context/search-org/types.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/context/collectionQuery.ts
  frontend/src/features/collections/controllers/collectionQueryProvider.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/index.ts
Due: none

reduce calls to search values
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/context/collectionQuery.ts
  frontend/src/features/collections/controllers/collectionQueryProvider.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/index.ts
Due: none

update popup
  frontend/src/components/ui/tag-input.ts
Due: none

fix styles
  frontend/src/components/ui/tag-input.ts
Due: none

adjust spacing
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix: Fix tag input dropdown overlap (#2883)
  frontend/src/components/ui/tag-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

limit search results
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/pages/org/collections-list.ts
Due: none

limit combobox results
  frontend/src/components/ui/search-combobox.ts
Due: none

version: bump to 1.19.3
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

enumerate all possible keys when updating archived item search filter search param update
  frontend/src/pages/org/archived-items.ts
Due: none

Sort sort profiles test indices
  backend/test/test_profiles.py
Due: pylint

Fix tests to account for changes
  backend/test/test_collections.py
  backend/test/test_uploads.py
Due: pylint

Replace webrecorder.net with old.webrecorder.net in tests
  backend/test/conftest.py
  backend/test/data/org-export.json
  backend/test/data/seedfile.txt
  backend/test/test_crawl_config_search_values.py
  backend/test/test_crawlconfigs.py
  backend/test/test_filter_sort_results.py
  backend/test/test_org.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  backend/test_nightly/conftest.py
  backend/test_nightly/data/seedfile.txt
  backend/test_nightly/test_crawl_not_logged_in.py
  backend/test_nightly/test_execution_minutes_quota.py
  backend/test_nightly/test_org_deletion.py
  backend/test_nightly/test_scheduled_crawl.py
  backend/test_nightly/test_webhooks.py
Due: pylint

Set children to array
  backend/btrixcloud/operator/crawls.py
Due: pylint

Remove logging, set grace period and propagation policy
  backend/btrixcloud/crawlmanager.py
Due: pylint

Add pylint comment
  backend/btrixcloud/operator/cronjobs.py
Due: pylint

Add logging to figure out why paused cjs not deleted
  backend/btrixcloud/crawlmanager.py
Due: pylint

Delete all k8s objects on org delete
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/main.py
  backend/btrixcloud/ops.py
  backend/btrixcloud/orgs.py
Due: pylint

custom object cleanup if get_org_by_id() fails: - likely org has been deleted - crawljob: ensure job is finalized - cronjob: ensure job is finished
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
Due: pylint
