Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Review: Collections docs edit (#2465)
  frontend/docs/docs/overrides/.icons/bootstrap/three-dots-vertical.svg
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/presentation-sharing.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
  yarn.lock
Due: none

docs: add public collections gallery howto (#2462)
  frontend/docs/docs/overrides/.icons/bootstrap/asterisk.svg
  frontend/docs/docs/overrides/.icons/bootstrap/globe2.svg
  frontend/docs/docs/overrides/.icons/bootstrap/three-dots-vertical.svg
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/presentation-sharing.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
  frontend/docs/mkdocs.yml
  yarn.lock
Due: password-check

version: bump to 1.14.4
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

rename sections
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/utils/workflow.ts
Due: none

refactor settings
  frontend/src/components/ui/config-details.ts
  frontend/src/strings/crawl-workflows/section.ts
Due: none

update labels
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/labels.ts
Due: none

Update frontend/docs/docs/user-guide/workflow-setup.md
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

update inputs
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/section.ts
Due: none

update info text
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update docs
  frontend/docs/docs/user-guide/archived-items.md
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update label
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/strings/crawl-workflows/labels.ts
Due: none

add content-length and etag headers to thumbnail endpoint
  backend/btrixcloud/colls.py
Due: pylint

pass org public profile in public collections endpoints
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  frontend/src/types/collection.ts
Due: pylint

hide breadcrumbs when org gallery is disabled or not signed into org
  frontend/src/pages/collections/collection.ts
Due: none

update readme
  README.md
Due: none

replace changelog file
  CHANGES.md
  README.md
Due: none

update docs
  README.md
  frontend/docs/docs/develop/docs.md
Due: none

fix links
  frontend/docs/docs/develop/docs.md
  frontend/docs/docs/user-guide/archived-items.md
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

update weblate link
  README.md
Due: none

feat: Add behaviors section to workflow form (#2464)
  frontend/docs/docs/user-guide/archived-items.md
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/strings/crawl-workflows/labels.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/utils/workflow.ts
Due: none

Hide breadcrumbs for private orgs (#2477)
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  frontend/src/pages/collections/collection.ts
  frontend/src/types/collection.ts
Due: pylint

Update README.md
  README.md
Due: none

show workflow status
  frontend/src/features/crawl-workflows/index.ts
  frontend/src/features/crawl-workflows/live-workflow-status.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

disable button if running
  frontend/src/features/crawl-workflows/live-workflow-status.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

docs: Organize readme and fix doc links (#2479)
  CHANGES.md
  README.md
  frontend/docs/docs/develop/docs.md
  frontend/docs/docs/user-guide/archived-items.md
  frontend/docs/docs/user-guide/collection.md
  frontend/docs/docs/user-guide/public-collections-gallery.md
Due: none

lint fixes
  backend/btrixcloud/db.py
  backend/btrixcloud/storages.py
Due: pylint

add section
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/infoText.ts
  frontend/src/utils/workflow.ts
Due: none

format css selector
  frontend/src/components/ui/code.ts
  frontend/src/features/crawl-workflows/index.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

compute top page origins for each collection: - compute as part of existing collection stats compute - store top 10 results in collection - display in collection About sidebar
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  frontend/src/layouts/collections/metadataColumn.ts
  frontend/src/strings/collections/metadata.ts
  frontend/src/types/collection.ts
Due: pylint

fix regex
  backend/btrixcloud/pages.py
Due: pylint

remove unused chart values
  chart/values.yaml
Due: password-check

remove '.default' from minio
  chart/values.yaml
Due: password-check

fix broken image not taking up appropriate size on ff
  frontend/src/features/collections/collection-thumbnail.ts
Due: none

add alt text to collection thumbnails
  frontend/src/features/collections/collection-thumbnail.ts
  frontend/src/features/collections/collections-grid.ts
Due: none

disable save & run button until crawl status has loaded
  frontend/src/features/crawl-workflows/live-workflow-status.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

make editable
  frontend/src/components/ui/code.ts
  frontend/src/components/ui/data-table.ts
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/syntax-input.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/theme.stylesheet.css
Due: none

wip validate
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

Fix broken thumbnail images not taking up appropriate size on ff (#2486)
  frontend/src/features/collections/collection-thumbnail.ts
  frontend/src/features/collections/collections-grid.ts
Due: none
