Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Use standard firstSeed/seedCount fallback for workflows with no name in profile details (#1852)
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/profiles.py
  backend/test/test_profiles.py
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/types/crawler.ts
Due: pylint

Add button to QA Latest Crawl to Watch tab
  frontend/src/pages/org/workflow-detail.ts
Due: none

Remove Run Crawl button and beta icon
  frontend/src/pages/org/workflow-detail.ts
Due: none

Only show QA button to crawler users
  frontend/src/pages/org/workflow-detail.ts
Due: none

Add button to QA Latest Crawl to Watch tab (#1856)
  frontend/src/pages/org/workflow-detail.ts
Due: none

tests: fix typo in waiting for qa run to stop test!
  backend/test/test_qa.py
Due: pylint

tests: fix typo in waiting for qa run to stop test! (#1857)
  backend/test/test_qa.py
Due: pylint

version: bump to 1.10.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

load replay ui async
  frontend/src/index.ejs
Due: none

upgrade shoelace
  frontend/package.json
  frontend/yarn.lock
Due: none

fix progress ring size
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

add comment
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

Change color to default `text-neutral-400`
  frontend/src/components/ui/config-details.ts
Due: none

Change text to match workflow creator default
  frontend/src/components/ui/config-details.ts
Due: none

Reorder sections to match workflow creator
  frontend/src/components/ui/config-details.ts
Due: none

remove console log
  frontend/src/components/ui/config-details.ts
Due: none

fix: Correct progress ring for analysis run in Chrome (#1860)
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

ensure last time is stopped before a new one is scheduled when polling
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

enable meter bar transitions
  frontend/src/components/ui/meter.ts
Due: none

Remove Files count from qa stats endpoint
  backend/btrixcloud/crawls.py
  backend/btrixcloud/pages.py
Due: pylint

Remove files from qa test expected values
  backend/test/test_qa.py
Due: pylint

Show QA meter while analysis is running
  frontend/src/features/qa/qa-run-dropdown.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

use presence of qaStats value to determine whether to render meters, rather than task status
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Remove Identical Files from QA meter bar
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Reorder sections to match workflow creator (#1862)
  frontend/src/components/ui/config-details.ts
Due: none

Update frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

fix: Prevent ReplayWeb.Page shoelace components from impacting browsertrix (#1861)
  frontend/package.json
  frontend/src/index.ejs
  frontend/yarn.lock
Due: none

Show QA meter while analysis is running (#1854)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/pages.py
  backend/test/test_qa.py
  frontend/src/components/ui/meter.ts
  frontend/src/features/qa/qa-run-dropdown.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: pylint

move depth supported scopes
  frontend/src/components/ui/config-details.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/crawler.ts
Due: none

update default text
  frontend/src/components/ui/config-details.ts
Due: none

show 0
  frontend/src/components/ui/config-details.ts
Due: none

Adds aria-label for page heuristics nav bar
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Adds missing msg tags
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

Use <ins> and <del> tags for text comparison
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

Adds clarification for crawl vs analysis
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

Remove autofocus on cancel button
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

ensure QA configmap is updated for long running QA runs: (#1865)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/crawls.py
  backend/test/test_qa.py
  chart/app-templates/crawler.yaml
  chart/templates/operators.yaml
Due: pylint, password-check

fix: Show correct max depth in settings (#1858)
  frontend/src/components/ui/config-details.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/crawler.ts
Due: none

Changed to colon for brevity
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

Improves accessibility for QA features (#1863)
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
