Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Backend: format basecrawls with black
  backend/btrixcloud/basecrawls.py
Due: pylint

Backend: Remove crawlIds from search-values endpoints
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/test/test_uploads.py
Due: pylint

Rename Upload Archive button to Upload WACZ
  frontend/src/pages/org/crawls-list.ts
Due: none

Fix focusout in item menu so menus close
  frontend/src/components/crawl-list.ts
Due: none

Optimize Frontend Image Build on CI (#1057)
  .github/workflows/deploy-dev.yaml
  .github/workflows/frontend-build-check.yaml
  .github/workflows/release.yaml
  frontend/Dockerfile
  frontend/package.json
Due: password-check

bump version to 1.6.0-beta.4 for testing
  backend/btrixcloud/version.py
  frontend/package.json
  version.txt
Due: pylint

Standardize archived item filtering, sorting and labels (#1054)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/test/test_uploads.py
  frontend/src/components/crawl-list.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-editor.ts
Due: pylint

terminology tweaks in frontend: (part of #922) - use 'crawl workflow' instead of 'workflow' where possible - use 'replay' instead of 'replay crawl' - localization: rerun string extraction / processing
  frontend/src/__generated__/locales/en-US.ts
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/xliff/en-US.xlf
Due: none

Fix "Review Config" → "Review Settings"
  frontend/src/pages/org/collection-editor.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflow-editor.ts
Due: none

"Workflow" → "Crawl Workflow" in error message
  frontend/src/pages/org/workflow-editor.ts
Due: none

terminology tweaks in frontend: (part of #922) (#1062)
  frontend/src/__generated__/locales/en-US.ts
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/collection-editor.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/xliff/en-US.xlf
Due: none

bump to 1.6.0!
  backend/btrixcloud/version.py
  frontend/package.json
  version.txt
Due: pylint

upgrade webpack
  frontend/package.json
  frontend/yarn.lock
Due: none

use fs cache
  frontend/webpack.dev.js
Due: none

fix live reload
  frontend/webpack.dev.js
Due: none

refactor deprecated method
  frontend/config/dev-server.js
  frontend/webpack.dev.js
Due: none

Revert "refactor deprecated method"
  frontend/config/dev-server.js
  frontend/webpack.dev.js
Due: none

improve sourcemap
  frontend/package.json
  frontend/webpack.config.js
  frontend/webpack.dev.js
Due: none

fix css
  frontend/webpack.config.js
Due: none

bump version to 1.6.1
  backend/btrixcloud/version.py
  frontend/package.json
  version.txt
Due: pylint

Webpack config improvements (#1063)
  frontend/package.json
  frontend/webpack.config.js
  frontend/webpack.dev.js
  frontend/yarn.lock
Due: none

fix redis init, pass decode_response=true to connection
  backend/btrixcloud/k8sapi.py
Due: pylint

helm chart tweaks: - lower mem requirements for backend and crawler - disable cors in ingress to pass through cors headers from backend
  chart/templates/ingress.yaml
  chart/values.yaml
Due: password-check

crawler statefulset: use ordered instead of parallel scaling policy
  backend/btrixcloud/templates/crawler.yaml
Due: password-check

wip
  frontend/src/components/crawl-list.ts
  frontend/src/components/file-uploader.ts
  frontend/src/index.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/routes.ts
Due: none

remove all references to artifact
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

update item urls
  frontend/src/components/crawl-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

fix workflows url
  frontend/src/pages/org/index.ts
  frontend/src/routes.ts
Due: none

redirect from awp
  frontend/src/index.ts
  frontend/src/routes.ts
Due: none

update admin view
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

fix org tab test
  frontend/src/utils/APIRouter.test.ts
Due: none

fix org test
  frontend/src/utils/APIRouter.test.ts
Due: none

update archived items route
  frontend/src/components/crawl-list.ts
  frontend/src/components/file-uploader.ts
  frontend/src/index.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/routes.ts
Due: none

Add mkdocs YAML schema to vscode settings.json
  .vscode/settings.json
Due: none

update reason
  docs/develop/frontend-dev.md
Due: none

update instructions
  docs/develop/frontend-dev.md
Due: none

update requirements
  docs/develop/frontend-dev.md
Due: none

add details
  docs/develop/frontend-dev.md
Due: none

link to guide
  frontend/README.md
Due: none

helm chart tweaks: (#1067)
  backend/btrixcloud/templates/crawler.yaml
  chart/templates/ingress.yaml
  chart/values.yaml
Due: password-check
