Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

add back columns to uploads
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/pages/org/archived-items.ts
Due: none

navigate after finishing review
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

disable sort options if no qa run
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

disable click no qa run
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

handle no page title
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

render spinner when loading
  frontend/src/features/qa/page-list/page-list.ts
Due: none

navigate on update
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

hide review page
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/index.ts
Due: none

hide tab
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

fix menu rendering
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

Fix QA navigation (#1731)
  frontend/src/features/qa/page-list/page-list.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Poll archived items list (#1730)
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/pages/org/archived-items.ts
Due: none

format date with utility
  frontend/src/features/qa/page-qa-approval.ts
Due: none

add date for newly added comments
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/qa/page-qa-approval.ts
  frontend/src/features/qa/qa-run-dropdown.ts
  frontend/src/utils/localization.ts
Due: none

pass back note data
  backend/btrixcloud/pages.py
Due: pylint

return for updated
  backend/btrixcloud/pages.py
Due: pylint

better backend typing
  backend/btrixcloud/pages.py
Due: pylint

fix api type
  backend/btrixcloud/pages.py
Due: pylint

use returned data
  frontend/src/features/qa/page-qa-approval.ts
Due: none

move dialog to fix containment issue
  frontend/src/features/qa/page-qa-approval.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Hide QA UI from users without crawler role (#1733)
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/index.ts
Due: none

Fix QA review comments (#1723)
  backend/btrixcloud/pages.py
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/qa/page-qa-approval.ts
  frontend/src/features/qa/qa-run-dropdown.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/utils/localization.ts
Due: pylint

allow configuring which org new users are added to if 'registration_enabled' is enabled by setting 'registration_org_id' to the id of an alternative org fixes #1729
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

update fraction in tab
  frontend/src/pages/org/archived-item-qa/ui/severityBadge.ts
Due: none

fix icon size
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

add text to beta
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

remove padding
  frontend/src/pages/org/index.ts
Due: none

add back button
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

fix alignmentf
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

Fix linting and rename variable
  backend/btrixcloud/users.py
Due: pylint

Fix archived item status icon size + minor review UI updates (#1734)
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/severityBadge.ts
  frontend/src/pages/org/index.ts
Due: none

allow configuring designated registration org to which new users can register (#1735)
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

version: bump to 1.10.0-beta.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

docs publish: also run on release to update helm repo index
  .github/workflows/docs-publish.yaml
Due: password-check

hoist tooltips in archived item list
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

Quick fix: hoist tooltips in archived item list (#1738)
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

fix redirect on missing org
  frontend/src/pages/org/index.ts
Due: none

handle user registration if user already registered: - still add to org - error if already in org
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
Due: pylint

nginx: have nginx serve the fallback index.html with a 200 instead of a 404
  frontend/frontend.conf.template
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
