Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

fix: Make page selection outcomes more explicit
  frontend/src/features/collections/collection-replay-dialog.ts
Due: none

ui: Move the save and cancel buttons below markdown editor
  frontend/src/pages/org/collection-detail.ts
Due: none

ui: Add max-width to collection description text
  frontend/src/pages/org/collection-detail.ts
Due: none

ui: Hide share link when collection == private
  frontend/src/features/collections/share-collection.ts
Due: none

Update "About" layout (#2290)
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/layouts/page.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/index.ts
Due: none

fix: QA icon colors
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/features/qa/page-list/helpers/severity.ts
Due: none

add stroke to checkmark icon on selected thumbnail
  frontend/src/features/collections/share-collection.ts
Due: none

ui: Define the replay window based on vh instead of aspect ratio
  frontend/src/pages/org/collection-detail.ts
Due: none

fix lint issue
  frontend/src/pages/org/collection-detail.ts
Due: none

remove scale transition and instead make shadows more clear on hover
  frontend/src/features/collections/collections-grid.ts
Due: none

fix: Crawler proxy selection fixes (#2280)
  frontend/package.json
  frontend/src/components/ui/select-crawler-proxy.ts
  frontend/src/context/org.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/yarn.lock
Due: none

fix: Allow deleting workflows without any crawls (#2285)
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/strings/ui.ts
Due: none

Translated using Weblate (French)
  frontend/xliff/fr.xlf
Due: none

Format Weblate Changes
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

Translations update from Hosted Weblate (#2254)
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

Translations update from Hosted Weblate (#2254) (#2292)
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

version: bump to 1.13.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Renaming includeClassAnno to useOldClassField
  chart/templates/ingress.yaml
  chart/values.yaml
Due: password-check

fix language selector using locale instead of lang also fix shoelace menu-item bug where checkbox menu items would have their checked state flipped on click, regardless of `checked` value
  frontend/src/components/ui/user-language-select.ts
Due: none

extract
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

rename "filter paths" check to "Changed files?"
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/frontend-lint-test-build.yaml
  .github/workflows/k3d-ci.yaml
  .github/workflows/weblate-reformat.yaml
Due: password-check

Make changes to collections to support publicly listed collections (#2164)
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0036_coll_visibility.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/types/collection.ts
Due: pylint

feat: Collection thumbnails, start page, and public view updates (#2209)
  frontend/index.d.ts
  frontend/src/assets/images/thumbnails/thumbnail-cyan.avif
  frontend/src/assets/images/thumbnails/thumbnail-green.avif
  frontend/src/assets/images/thumbnails/thumbnail-orange.avif
  frontend/src/assets/images/thumbnails/thumbnail-yellow.avif
  frontend/src/components/not-found.ts
  frontend/src/components/ui/button.ts
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/components/ui/markdown-viewer.ts
  frontend/src/components/ui/overflow-dropdown.ts
  frontend/src/components/ui/section-heading.ts
  frontend/src/components/ui/table/table.ts
  frontend/src/controllers/api.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/collection-replay-dialog.ts
  frontend/src/features/collections/collection-thumbnail.ts
  frontend/src/features/collections/collections-grid.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/select-collection-start-page.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/profile.ts
  frontend/src/replayWebPage.d.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/collection.ts
  frontend/src/types/org.ts
  frontend/src/utils/replay.ts
  frontend/webpack.config.js
  frontend/yarn.lock
Due: none

Add public API endpoint for public collections (#2174)
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
Due: pylint

feat: Public org profile page (#2172)
  frontend/docs/docs/user-guide/crawl-workflows.md
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/org-settings.md
  frontend/docs/docs/user-guide/overview.md
  frontend/src/components/index.ts
  frontend/src/components/not-found.ts
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/link.ts
  frontend/src/components/ui/url-input.ts
  frontend/src/components/verified-badge.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/layouts/columns.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/settings/components/profile.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/org.ts
  frontend/src/utils/APIRouter.ts
  frontend/src/utils/form.ts
  frontend/src/utils/state.ts
Due: none

Backend work for public collections (#2198)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/test/data/thumbnail.jpg
  backend/test/test_collections.py
  backend/test/test_uploads.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

Add missing os import
  backend/btrixcloud/background_jobs.py
Due: pylint

feat: Make collection public (#2208)
  frontend/package.json
  frontend/src/components/ui/copy-button.ts
  frontend/src/components/ui/dialog.ts
  frontend/src/controllers/clipboard.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/index.ts
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/collections/index.ts
  frontend/src/pages/index.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/events.d.ts
  frontend/src/types/org.ts
  frontend/yarn.lock
Due: none

chore: Refactor page headers (#2282)
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

ui: Public Collections UI Nitpicks (#2287)
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/features/collections/collection-replay-dialog.ts
  frontend/src/features/collections/collections-grid.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/features/qa/page-list/helpers/severity.ts
  frontend/src/layouts/page.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/index.ts
Due: none

feat: Track collection events (#2256)
  chart/templates/frontend.yaml
  chart/values.yaml
  frontend/00-browsertrix-nginx-init.sh
  frontend/config/define.js
  frontend/docs/docs/deploy/customization.md
  frontend/sample.env.local
  frontend/src/features/collections/share-collection.ts
  frontend/src/index.ts
  frontend/src/trackEvents.ts
  frontend/src/utils/analytics.ts
  frontend/web-test-runner.config.mjs
  frontend/webpack.config.js
  frontend/webpack.dev.js
Due: password-check

Make more explicit error message for large thumbnails
  backend/btrixcloud/colls.py
Due: pylint

Use id for thumbnail size error detail
  backend/btrixcloud/colls.py
Due: pylint

remove unused empty message
  frontend/src/pages/org/collections-list.ts
Due: none
