Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Quick fix: use custom `getFn`s for user-related keys in superadmin (#2649)
  frontend/src/components/orgs-list.ts
Due: none

update icons everywhere, & write new bit on current use and intended use of status icons
  frontend/docs/docs/develop/ui/design-status-icons.md
  frontend/docs/docs/overrides/.icons/bootstrap/check2-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-diamond-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-diamond.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-octagon.svg
  frontend/docs/docs/overrides/.icons/bootstrap/pause-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/play-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/slash-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/x-octagon.svg
  frontend/docs/docs/stylesheets/extra.css
  frontend/docs/docs/stylesheets/theme.css
  frontend/docs/docs/user-guide/archived-items.md
  frontend/docs/mkdocs.yml
  frontend/src/components/orgs-list.ts
  frontend/src/components/ui/pw-strength-alert.ts
  frontend/src/features/archived-items/crawl-log-table.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/collections/collection-edit-dialog.ts
  frontend/src/features/collections/collection-initial-view-dialog.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/features/org/org-status-banner.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/index.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/utils/notify.ts
Due: password-check

move design docs into storybook
  frontend/.eslintrc.js
  frontend/.storybook/blocks/ColorSwatch.tsx
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.storybook/tsconfig.json
  frontend/docs/docs/develop/ui/design-action-menus.md
  frontend/docs/docs/develop/ui/design-status-icons.md
  frontend/docs/docs/develop/ui/storybook.md
  frontend/package.json
  frontend/prettier.config.js
  frontend/src/stories/design/action-menus.mdx
  frontend/src/stories/design/status-indicators.mdx
  frontend/tsconfig.eslint.json
  frontend/yarn.lock
Due: none

swap out user guide local fonts for hosted versions
  frontend/docs/docs/assets/fonts/Inter-Italic.var.woff2
  frontend/docs/docs/assets/fonts/Inter.var.woff2
  frontend/docs/docs/assets/fonts/Recursive_VF_1.084.woff2
  frontend/docs/docs/stylesheets/extra.css
Due: none

revert removing `exclamation-circle-fill` icon
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-circle-fill.svg
Due: none

revert `eslint-webpack-plugin` upgrade didn't mean to leave that in the commit
  frontend/package.json
  frontend/yarn.lock
Due: none

fix eslint & storybook types
  frontend/.eslintrc.js
  frontend/.storybook/main.ts
  frontend/package.json
  frontend/yarn.lock
Due: none

add last missing docs icon
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-diamond-fill.svg
Due: none

remove unused icons
  frontend/docs/docs/overrides/.icons/bootstrap/check2-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/dash-square-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-circle-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-diamond-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-diamond.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-octagon.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-square-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-triangle-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-triangle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/pause-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/play-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/slash-circle.svg
  frontend/docs/docs/overrides/.icons/bootstrap/x-octagon.svg
Due: none

enable json import in storybook tsconfig
  frontend/.storybook/tsconfig.json
Due: none

re-add `@storybook/addon-docs`
  frontend/package.json
  frontend/yarn.lock
Due: none

revert feature changes
  frontend/src/features/archived-items/crawl-log-table.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/collections/collection-edit-dialog.ts
  frontend/src/features/collections/collection-initial-view-dialog.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/features/org/org-status-banner.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/index.ts
Due: none

try enabling `esModuleInterop`
  frontend/.storybook/tsconfig.json
Due: none

handle readonly on cancel
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

update language to match stripe
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

update comments
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

handle future cancel date
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

show trialing banner if <8 days left, round up to next day for messaging
  frontend/src/features/org/org-status-banner.ts
Due: none

always continue
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

fix test and single_page check
  backend/btrixcloud/crawlconfigs.py
  backend/test/conftest.py
  backend/test/test_crawlconfigs.py
Due: pylint

Update frontend/src/pages/invite/join.ts
  frontend/src/pages/invite/join.ts
Due: none

fix tests?
  backend/test/conftest.py
  backend/test/test_crawlconfigs.py
  backend/test/test_filter_sort_results.py
Due: pylint

remove extra setting
  chart/values.yaml
Due: password-check

undo qa related changes, will update separately
  backend/btrixcloud/operator/crawls.py
  chart/values.yaml
Due: pylint, password-check

ignore line in eslint
  frontend/.storybook/preview.ts
Due: none

lint fix
  backend/btrixcloud/operator/crawls.py
Due: pylint

Normalize & document icon usage, and move design documents into storybook (#2597)
  frontend/.eslintrc.js
  frontend/.storybook/blocks/ColorSwatch.tsx
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.storybook/tsconfig.json
  frontend/docs/docs/assets/fonts/Inter-Italic.var.woff2
  frontend/docs/docs/assets/fonts/Inter.var.woff2
  frontend/docs/docs/assets/fonts/Recursive_VF_1.084.woff2
  frontend/docs/docs/develop/ui/design-action-menus.md
  frontend/docs/docs/develop/ui/design-status-icons.md
  frontend/docs/docs/develop/ui/storybook.md
  frontend/docs/docs/overrides/.icons/bootstrap/dash-square-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-circle-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-diamond-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-square-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-triangle-fill.svg
  frontend/docs/docs/overrides/.icons/bootstrap/exclamation-triangle.svg
  frontend/docs/docs/stylesheets/extra.css
  frontend/docs/docs/stylesheets/theme.css
  frontend/docs/docs/user-guide/archived-items.md
  frontend/docs/mkdocs.yml
  frontend/package.json
  frontend/prettier.config.js
  frontend/src/components/orgs-list.ts
  frontend/src/components/ui/pw-strength-alert.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/stories/design/action-menus.mdx
  frontend/src/stories/design/status-indicators.mdx
  frontend/src/utils/notify.ts
  frontend/tsconfig.eslint.json
  frontend/yarn.lock
Due: password-check

Optimize single-page crawl workflows (#2656)
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  backend/test/conftest.py
  backend/test/test_crawlconfigs.py
  backend/test/test_filter_sort_results.py
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/redis.yaml
  chart/values.yaml
Due: pylint, password-check

Translations update from Hosted Weblate (#2647)
  frontend/src/__generated__/locales/fr.ts
  frontend/xliff/fr.xlf
Due: none

remove await
  frontend/src/pages/org/settings/components/general.ts
Due: none

add test
  frontend/src/__mocks__/api/users/me.js
  frontend/src/pages/org/settings/components/general.test.ts
Due: none

fix: Display correct page after renaming org slug (#2659)
  frontend/src/__mocks__/api/users/me.js
  frontend/src/pages/org/settings/components/general.test.ts
  frontend/src/pages/org/settings/components/general.ts
Due: none

Add securityContext for Redis pod (#2640)
  chart/app-templates/redis.yaml
Due: password-check

fix: Handle trial ending without cancelation (#2651)
  frontend/src/features/org/org-status-banner.ts
  frontend/src/pages/org/settings/components/billing.ts
Due: none

docs: update docs for 'crawler_network_policy_additional_egress'
  frontend/docs/docs/deploy/customization.md
Due: none

fix typo?
  frontend/docs/docs/deploy/customization.md
Due: none

helm: add crawler_network_policy_additional_egress (#2641)
  chart/templates/networkpolicies.yaml
  chart/values.yaml
  frontend/docs/docs/deploy/customization.md
Due: password-check

Adding Admonitions
  frontend/docs/docs/user-guide/running-crawl.md
Due: none

Minor tweaks
  frontend/docs/docs/user-guide/running-crawl.md
Due: none

Draft doc for Pausing and Resuming Crawl section
  frontend/docs/docs/user-guide/running-crawl.md
Due: none
