Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Set end time for unexpectedly restarted crawler pods
  backend/btrixcloud/operator.py
Due: pylint

Improve setting execution seconds, more debug logging
  backend/btrixcloud/operator.py
Due: pylint

More gracefully handle if end time is missing at end
  backend/btrixcloud/operator.py
Due: pylint

Use datetime.now() for any missing end times
  backend/btrixcloud/operator.py
Due: pylint

Fix utils linting
  backend/btrixcloud/utils.py
Due: pylint

Fix linting (again)
  backend/btrixcloud/utils.py
Due: pylint

Fix typo
  backend/btrixcloud/operator.py
Due: pylint

Make improvements
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator.py
Due: pylint

linting fix
  backend/btrixcloud/utils.py
Due: pylint

on crawl delete, add any remaining start crawl ranges
  backend/btrixcloud/operator.py
Due: pylint

Add slug field with uniqueness constraint to Organization
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

Add migration to generate slugs for existing orgs
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0019_org_slug.py
Due: pylint

Add /api/orgs/slugs GET endpoint to return all slugs in use
  backend/btrixcloud/orgs.py
Due: pylint

Add support for renaming slugs in /rename
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

Generate slug if one not provided
  backend/btrixcloud/migrations/migration_0019_org_slug.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/utils.py
  backend/test/test_org.py
Due: pylint

Extend tests
  backend/test/conftest.py
  backend/test/test_org.py
Due: pylint

Skip org in migration if already has slug
  backend/btrixcloud/migrations/migration_0019_org_slug.py
Due: pylint

Use in check for slug
  backend/btrixcloud/migrations/migration_0019_org_slug.py
Due: pylint

version: bump to 1.7.0-beta.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Track pod resource usage, detect OOM crashes, handle auto-scaling (#1235)
  .github/workflows/k3d-ci.yaml
  .github/workflows/k3d-nightly-ci.yaml
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/templates/crawler.yaml
  backend/btrixcloud/templates/redis.yaml
  backend/btrixcloud/utils.py
  chart/templates/configmap.yaml
  chart/templates/role.yaml
  chart/values.yaml
Due: pylint, password-check

add get_user_by_id to operator instead, keep user object on CrawlConfig.add_new_crawl
  backend/btrixcloud/operator.py
  backend/btrixcloud/users.py
Due: pylint

fix: lookup user object operator to pass to CrawlConfig.add_new_crawl (#1254)
  backend/btrixcloud/operator.py
  backend/btrixcloud/users.py
Due: pylint

finalizer cleanup: also add terminated check, add logging
  backend/btrixcloud/operator.py
Due: pylint

don't wait for pods completed on failed with existing browsertrix-crawler image
  backend/btrixcloud/operator.py
Due: pylint

crash logging: don't log exit code 11 (interrupt due to time/size limits) as a crash
  backend/btrixcloud/operator.py
Due: pylint

fix return
  backend/btrixcloud/storages.py
Due: pylint

remove unused params, ensure crawl exists for rollover restart
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
Due: pylint

add missing minio env var check
  backend/btrixcloud/storages.py
  chart/templates/configmap.yaml
Due: pylint, password-check

check correct env var, add bucket to endpoint first crawls: just return empty list if not a crawl (eg. upload)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/storages.py
Due: pylint

review fixes
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
Due: pylint

Compute crawl execution time in operator (#1256)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
Due: pylint

crawlmanager: remove unused code, rename check_storage -> has_storage in crawlmanager
  backend/btrixcloud/crawlmanager.py
Due: pylint

hide bar when no quota
  frontend/src/pages/org/dashboard.ts
Due: none

show values when no quota
  frontend/src/pages/org/dashboard.ts
Due: none

Improve slug generation, add tests
  backend/btrixcloud/utils.py
  backend/requirements.txt
  backend/test/test_utils.py
Due: pylint

Auto-generate slug when only name changes in /rename
  backend/btrixcloud/orgs.py
Due: pylint

Fix indent
  backend/btrixcloud/orgs.py
Due: pylint

add new form
  frontend/src/components/account-settings.ts
Due: none

Extend backend test-requirements.txt from requirements
  .github/workflows/k3d-ci.yaml
  .github/workflows/k3d-nightly-ci.yaml
  .github/workflows/microk8s-ci.yaml
  backend/test-requirements.txt
Due: password-check

Storage Ops Refactor (#1257)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  chart/templates/backend.yaml
  chart/templates/configmap.yaml
  chart/templates/secrets.yaml
Due: pylint, password-check

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
