Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

add org titles
  frontend/src/pages/org/index.ts
Due: none

rename so its less confusing with browser profiles
  frontend/src/components/document-title.ts
  frontend/src/components/index.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/org/index.ts
Due: none

update title name
  frontend/src/components/index.ts
  frontend/src/components/title.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/org/index.ts
Due: none

remove push trigger
  .github/workflows/docs-publish.yaml
Due: password-check

add workflow dispatch
  .github/workflows/docs-publish.yaml
Due: password-check

docs: Publish only on release or manual run (#2055)
  .github/workflows/docs-publish.yaml
Due: password-check

parent ea252e8da91b373691336b793f1db776af981d9b author Ilya Kreymer <ikreymer@gmail.com> 1721504221 -0700 committer Ilya Kreymer <ikreymer@gmail.com> 1724898784 -0700
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  chart/Chart.lock
  chart/Chart.yaml
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/btrix-crds/Chart.yaml
  chart/btrix-crds/templates/crawlerjob.yaml
  chart/charts/btrix-admin-logging-0.1.0.tgz
  chart/charts/btrix-crds-0.1.1.tgz
  chart/charts/btrix-crds-0.2.0.tgz
  chart/charts/metacontroller-helm-4.11.11.tgz
  chart/charts/metacontroller-helm-4.11.17.tgz
  chart/templates/configmap.yaml
  chart/templates/operators.yaml
  chart/templates/role.yaml
  chart/values.yaml
  docs/deploy/customization.md
Due: pylint, password-check

cleanup
  backend/btrixcloud/operator/crawls.py
Due: pylint

always include requests
  chart/app-templates/crawler.yaml
Due: password-check

vpa: div lower limit by 2
  chart/app-templates/crawler.yaml
Due: password-check

typo
  chart/app-templates/crawler.yaml
Due: password-check

fix typo
  backend/btrixcloud/operator/crawls.py
Due: pylint

don't set resources if using vpa, don't set minAllowed on vpa
  chart/app-templates/crawler.yaml
Due: password-check

keep requests but not limits if using vpa
  chart/app-templates/crawler.yaml
Due: password-check

try scale down only: set maxAllowed to initial request values to allow scaling down lower, keep memory limit as is
  chart/app-templates/crawler.yaml
Due: password-check

Fix SubscriptionUpdate quotas model after rebase
  backend/btrixcloud/models.py
Due: pylint

Add comment to help with review
  backend/btrixcloud/crawls.py
Due: pylint

Fix status.finished type in operator
  backend/btrixcloud/operator/crawls.py
Due: pylint

Fix type for crawl.started
  backend/btrixcloud/crawls.py
Due: pylint

More datetime -> BtrixDatetime conversions
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
Due: pylint

Convert remaining datetimes to BtrixDatetimes as needed
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/pages.py
Due: pylint

fix lint error
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Reformat and modify utils
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/utils.py
Due: pylint

use 'Crawling Defaults' as the name of tab / component rename settings crawl-workflows -> crawling defaults rename component to btrix-org-settings-crawling-defaults
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/pages/org/settings/settings.ts
Due: none

Revert a few typing changes
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
Due: pylint

Revert "update title name"
  frontend/src/components/document-title.ts
  frontend/src/components/index.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/org/index.ts
Due: none

Apply suggestions from code review
  docs/user-guide/org-settings.md
Due: none

feat: Allow org admins to set default workflow configs (#2020)
  docs/user-guide/org-settings.md
  frontend/src/__mocks__/api/settings.js
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/language-select.ts
  frontend/src/components/ui/select-crawler.ts
  frontend/src/controllers/api.ts
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/crawl-workflows/exclusion-editor.ts
  frontend/src/features/crawl-workflows/index.ts
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.ejs
  frontend/src/index.ts
  frontend/src/layouts/columns.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/settings/ui/columns.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/strings/crawl-workflows/infoText.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/org.ts
  frontend/src/utils/OrgService.ts
  frontend/src/utils/app.ts
  frontend/src/utils/localization.ts
  frontend/src/utils/state.ts
  frontend/src/utils/workflow.ts
Due: none

fix: Update browser title (#2054)
  frontend/src/components/document-title.ts
  frontend/src/components/index.ts
  frontend/src/features/accounts/index.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/index.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/org/index.ts
Due: none

Revert operator changes
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

fix: correct link to crawlilng defaults
  frontend/src/pages/org/workflows-list.ts
Due: none

add to browser profiles
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/index.ts
Due: none

add to colleciton
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

add breadcrumbs to workflow
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/shoelace.ts
Due: none

add to archived item
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/routes.ts
Due: none

fix localization string
  frontend/src/pages/org/browser-profiles-new.ts
Due: none

remove unused coll name
  frontend/src/pages/org/collection-detail.ts
Due: none

update new workflow
  frontend/src/pages/org/workflows-new.ts
Due: none

standardize org settings header
  frontend/src/pages/org/settings/settings.ts
Due: none

use page header layout
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/workflows-list.ts
Due: none
