Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Add "Copy <item type> ID" to a bunch of menus (#2426)
  frontend/src/components/ui/menu-item-link.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

Add developemnt docs section on dropdown action order
  frontend/docs/docs/develop/design-actions-dropdown.md
  frontend/docs/mkdocs.yml
Due: password-check

Adds examples to all actions
  frontend/docs/docs/develop/design-actions-dropdown.md
Due: none

Add superadmin endpoint to readd scheduled workflow cronjobs
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Prevent btrix helper from doing anything to non-local context
  btrix
Due: none

ingress: only set ssl-redirect if using tls, otherwise http path should not redirect
  chart/templates/ingress.yaml
Due: password-check

move vhost outside conditional
  chart/templates/ingress.yaml
Due: password-check

ingress: only set ssl-redirect if using tls (#2432)
  chart/templates/ingress.yaml
Due: password-check

Prevent btrix helper from doing anything to k8s contexts other than docker-desktop (#2431)
  btrix
Due: none

Add superadmin endpoint to readd scheduled workflow cronjobs (#2430)
  backend/btrixcloud/crawlconfigs.py
Due: pylint

version: bump to 1.14.1
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Calculate total for crawl QA page endpoint
  backend/btrixcloud/pages.py
  backend/test/test_qa.py
Due: pylint

Calculate total for crawl QA page endpoint (#2435)
  backend/btrixcloud/pages.py
  backend/test/test_qa.py
Due: pylint

attempt replay from replica, if available
  backend/btrixcloud/storages.py
Due: pylint

enable configuring via 'replay_from_replica' helm chart value does not clear out already cached urls
  backend/btrixcloud/storages.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

reference replica by name
  backend/btrixcloud/storages.py
  chart/values.yaml
Due: pylint, password-check

Add endpoint to clear all presigned urls
  backend/btrixcloud/basecrawls.py
  backend/test/test_uploads.py
Due: pylint

Also clear presigned URLs for QA crawl files
  backend/btrixcloud/basecrawls.py
Due: pylint

Remove unnecessary .keys() call caught by linter
  backend/btrixcloud/basecrawls.py
Due: pylint

Type fix
  backend/btrixcloud/basecrawls.py
Due: pylint

Add per-org endpoint as well, still superadmin-only
  backend/btrixcloud/basecrawls.py
  backend/test/test_uploads.py
Due: pylint

Fix query typing
  backend/btrixcloud/basecrawls.py
Due: pylint

Use different query names
  backend/btrixcloud/basecrawls.py
Due: pylint

version: bump to 1.14.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Define all endpoint before org endpoint
  backend/btrixcloud/basecrawls.py
Due: pylint

show download button regardless of collection access
  frontend/src/features/collections/share-collection.ts
Due: none

Show download button on public collection pages regardless of collection access (#2442)
  frontend/src/features/collections/share-collection.ts
Due: none

make list_pages() return empty response if no crawls provided, instead of throwing tests: add tests for empty collection fixes #2443
  backend/btrixcloud/pages.py
  backend/test/test_collections.py
Due: pylint

fix test?
  backend/test/test_collections.py
Due: pylint

set migration to 0043
  backend/btrixcloud/db.py
Due: pylint

add migration 0043 to remove unused fields from file
  backend/btrixcloud/migrations/migration_0043_unset_file_expireat.py
Due: pylint

optimize public collection loading: - remove query for /collections endpoint just to get the org name - add orgName to collection endpoint, where it is already available on the backend
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  frontend/src/pages/collections/collection.ts
  frontend/src/types/collection.ts
Due: pylint

also add orgName on other endpoints
  backend/btrixcloud/colls.py
Due: pylint

add /clear-presigned-urls endpoints, one per org at /orgs/<org>/clear-presigned-urls and one for all /orgs/clear-presigned-urls, for superadmin only
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
  backend/test/test_uploads.py
Due: pylint

fix test, remove unneeded message test for now
  backend/test/test_uploads.py
Due: pylint

update test
  frontend/src/index.test.ts
Due: none

remove commented out code
  frontend/src/index.ts
Due: none

add missing file
  backend/btrixcloud/main_migrations.py
Due: pylint

lint fixes
  backend/btrixcloud/main.py
  backend/btrixcloud/main_migrations.py
Due: pylint

frontend: fix rendering when backend not available yet (#2448)
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/log-in.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
