Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

fix for interval
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/cron.test.ts
  frontend/src/utils/cron.ts
Due: none

humanize cron
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

add comments
  frontend/src/utils/workflow.ts
Due: none

test macros
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/cron.test.ts
Due: none

fix doc formatting
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

show date in utc
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/cron.ts
Due: none

update docs
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix value reset
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle errors
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/cron.ts
  frontend/src/utils/workflow.ts
Due: none

cronjob chart: need to use tianon/true:multiarch image to support arm64 now
  chart/app-templates/crawl_cron_job.yaml
Due: password-check

enable translations
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/cron.ts
  frontend/src/utils/localize.ts
Due: none

fix schedule not being reset
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix test
  frontend/src/utils/cron.test.ts
Due: none

implement virtual scrolling for org list
  frontend/package.json
  frontend/src/components/orgs-list.ts
  frontend/yarn.lock
Due: none

truncate org names, and include full names as link title
  frontend/src/components/orgs-list.ts
Due: none

add strict containment
  frontend/src/components/orgs-list.ts
Due: none

debounce search inputs
  frontend/src/components/orgs-list.ts
Due: none

patch shoelace's submenu controller with `LocalizeController`
  frontend/patches/@shoelace-style+shoelace+2.18.0.patch
Due: none

remove no old longer needed shoelace patch
  frontend/patches/@shoelace-style+shoelace+2.5.2.patch
Due: none

move from inline style attributes to tw classes for virtual scrolling container positioning
  frontend/src/components/orgs-list.ts
Due: none

feat: Enable custom cron schedule (#2809)
  chart/app-templates/crawl_cron_job.yaml
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/package.json
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/cron.test.ts
  frontend/src/utils/cron.ts
  frontend/src/utils/localize.ts
  frontend/src/utils/workflow.ts
  frontend/web-test-runner.config.mjs
  frontend/yarn.lock
Due: password-check

Don't delete seed files if referenced by crawls (#2816)
  backend/btrixcloud/file_uploads.py
  backend/test/test_crawlconfigs.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

migrations: unset old errors and behaviorLogs entries instead of just setting to null, remove from internal model, only keep in output as deprecated
  backend/btrixcloud/migrations/migration_0050_crawl_logs.py
  backend/btrixcloud/models.py
Due: pylint

migration: use $exists to remove existing field in migration
  backend/btrixcloud/migrations/migration_0050_crawl_logs.py
Due: pylint

Move crawl and QA logs to new mongo collection (#2791)
  backend/btrixcloud/crawl_logs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/main_migrations.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/migrations/migration_0050_crawl_logs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/ops.py
  backend/test_nightly/test_crawl_behavior_logs.py
  backend/test_nightly/test_crawl_errors.py
Due: pylint

version: bump to 1.19.0-beta.0
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

remove unused render
  frontend/src/pages/org/workflows-list.ts
Due: none

switch to generic label
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/crawl-workflows/workflow-action-menu/workflow-action-menu.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

add copy option
  frontend/src/features/crawl-workflows/workflow-action-menu/workflow-action-menu.ts
Due: none

update docs and info text
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update labels
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/config-details.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/crawl-workflows/workflow-action-menu/workflow-action-menu.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/strings/crawl-workflows/infoText.ts
Due: none

revert docs
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

update labels
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

update label
  frontend/docs/docs/user-guide/getting-started.md
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update user guide
  frontend/docs/docs/user-guide/overview.md
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

Implement virtual scrolling for org list (#2819)
  frontend/package.json
  frontend/patches/@shoelace-style+shoelace+2.18.0.patch
  frontend/patches/@shoelace-style+shoelace+2.5.2.patch
  frontend/src/components/orgs-list.ts
  frontend/yarn.lock
Due: none

frontend logs rendering: make details optional, as some logs may be missing a details object
  frontend/src/features/archived-items/crawl-log-table.ts
Due: none

update type
  frontend/src/types/crawler.ts
Due: none

quickfix: remove 'errors' and 'behaviorLogs' fields for uploads as well, instead of leaving empty []
  backend/btrixcloud/migrations/migration_0050_crawl_logs.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
