Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

format
  backend/btrixcloud/models.py
Due: pylint

allow disabling search params persistence in pagination
  frontend/src/components/ui/pagination.ts
Due: none

fix compact pagination input not updating
  frontend/src/components/ui/pagination.ts
Due: none

remove commented-out code
  frontend/src/components/orgs-list.ts
Due: none

add "unset" preset if no plans are available from backend
  frontend/src/features/admin/org-quota-editor.ts
Due: none

Apply suggestion from @ikreymer
  backend/btrixcloud/orgs.py
Due: pylint

version: bump to 1.19.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Add backend validation and migration for failOnContentCheck (#2844)
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0051_fail_on_content_check_profiles.py
  backend/test/conftest.py
  backend/test/test_crawlconfigs.py
  backend/test/test_filter_sort_results.py
Due: pylint

feat: Move collection settings to own section (#2847)
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/config-details.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/linked-collections/index.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/collections/linked-collections/linked-collections.ts
  frontend/src/features/collections/linked-collections/types.ts
  frontend/src/features/collections/linked-collections/utils.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/layouts/collections/metadataColumn.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/public/org.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/collection.ts
  frontend/src/types/storage.ts
  frontend/src/utils/workflow.ts
Due: none

fix: Prevent showing "not found" page when opening link in new tab (#2849)
  frontend/src/index.ts
Due: none

add search params value helper & use it to persist filter/search/sort in url
  frontend/src/controllers/searchParamsValue.ts
  frontend/src/pages/org/archived-items.ts
Due: none

add tags filter to archived item list endpoint
  backend/btrixcloud/crawls.py
Due: pylint

add status, tags, and "mine" filter chips
  frontend/src/controllers/searchParamsValue.ts
  frontend/src/features/archived-items/archived-item-state-filter.ts
  frontend/src/features/archived-items/archived-item-tag-filter.ts
  frontend/src/features/archived-items/index.ts
  frontend/src/pages/org/archived-items.ts
Due: none

fix task refetching
  frontend/src/pages/org/archived-items.ts
Due: none

add tag filters to basecrawls endpoint
  backend/btrixcloud/basecrawls.py
Due: pylint

fix casing typo
  frontend/src/pages/org/archived-items.ts
Due: none

consistenly use array formats for attributes with multiple items
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  frontend/src/pages/org/archived-items.ts
Due: pylint

add separate `/all-crawls/tagCounts` endpoint so that tag counts for archived items are accurate
  backend/btrixcloud/basecrawls.py
  frontend/src/features/archived-items/archived-item-tag-filter.ts
Due: pylint

fix controls layout
  frontend/src/pages/org/archived-items.ts
Due: none

clean up & add styling for checkboxes
  frontend/src/features/archived-items/archived-item-state-filter.ts
  frontend/src/pages/org/archived-items.ts
Due: none

format & lint backend changes
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
Due: pylint

add todo for myself
  frontend/src/pages/org/workflows-list.ts
Due: none

add info on how to use `SearchParamsValue`
  frontend/src/controllers/searchParamsValue.ts
Due: none

Use browser profile in config to test fail_on_content_check
  backend/test_nightly/test_crawl_not_logged_in.py
Due: pylint

Reorder to put util function above fixtures
  backend/test_nightly/test_crawl_not_logged_in.py
Due: pylint

Remove unused AsyncIOMotorCollection import
  backend/btrixcloud/basecrawls.py
Due: pylint

add to storybook
  frontend/src/stories/components/Pagination.stories.ts
  frontend/src/stories/components/Pagination.ts
Due: none

update example
  frontend/src/components/ui/pagination.ts
  frontend/src/stories/components/Pagination.stories.ts
  frontend/src/stories/components/Pagination.ts
Due: none

update persistence flag
  frontend/src/components/ui/pagination.ts
  frontend/src/stories/components/Pagination.stories.ts
  frontend/src/stories/components/Pagination.ts
Due: none

add todos
  frontend/src/components/ui/pagination.ts
Due: none

rename prop
  frontend/src/components/ui/pagination.ts
  frontend/src/stories/components/Pagination.stories.ts
  frontend/src/stories/components/Pagination.ts
Due: none

add docs for compact
  frontend/src/stories/components/Pagination.stories.ts
Due: none

update comment
  frontend/src/components/ui/pagination.ts
Due: none

Add pagination to Storybook + property update (#2859)
  frontend/src/components/ui/pagination.ts
  frontend/src/stories/components/Pagination.stories.ts
  frontend/src/stories/components/Pagination.ts
Due: none

ensure search value is populated from search params initially
  frontend/src/components/ui/search-combobox.ts
  frontend/src/pages/org/archived-items.ts
Due: none

Fix a couple issues with pagination component (#2852)
  frontend/src/components/ui/pagination.ts
  frontend/src/stories/components/Pagination.stories.ts
  frontend/src/stories/components/Pagination.ts
Due: none

refactor & fix "clear filters" functions & state
  frontend/src/pages/org/archived-items.ts
Due: none

add separate empty state when uploads page is selected
  frontend/src/pages/org/archived-items.ts
Due: none

Dashboard: change gifted execution minutes graph color (#2837)
  frontend/src/components/ui/meter.ts
  frontend/src/pages/org/dashboard.ts
Due: none
