Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

update home path
  frontend/src/index.ts
  frontend/src/utils/state.ts
Due: none

update users invite route
  frontend/src/index.ts
  frontend/src/pages/admin/index.ts
  frontend/src/pages/admin/users-invite.ts
  frontend/src/pages/index.ts
  frontend/src/routes.ts
Due: none

update tests
  frontend/src/index.test.ts
Due: none

redirect to superadmin
  frontend/src/index.ts
  frontend/src/pages/log-in.ts
Due: none

redirect to home path
  frontend/src/index.ts
  frontend/src/pages/log-in.ts
Due: none

empty filenames migration: use existing bulk re_add method for faster migration
  backend/btrixcloud/migrations/migration_0042_page_filenames.py
  backend/btrixcloud/pages.py
Due: pylint

bump to 1.14.0-beta.4
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Add version to BaseCrawl, set to 2 for new crawls/uploads
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/uploads.py
Due: pylint

Translated using Weblate (French)
  frontend/xliff/fr.xlf
Due: none

Format Weblate Changes
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/fr.xlf
Due: none

Use optimize pages background job in 0042
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/migrations/migration_0042_page_filenames.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  chart/app-templates/migration_job.yaml
Due: pylint, password-check

Hacky workaroud: Pass default org to retry_background_job
  backend/btrixcloud/background_jobs.py
Due: pylint

Make sure job failure emails are sent even if no oid
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/operator/bgjobs.py
  chart/email-templates/failed_bg_job
Due: pylint

Fix typing error
  backend/btrixcloud/operator/bgjobs.py
Due: pylint

add logging, switch order
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Only include replay optimization fields if all pages are optimized
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
Due: pylint

Set isMigrating at same time as pulling next crawl
  backend/btrixcloud/pages.py
Due: pylint

Redo background_jobs typing, add superuser non-org list endpoint
  backend/btrixcloud/background_jobs.py
Due: pylint

Translations update from Hosted Weblate (#2407)
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/fr.xlf
Due: none

operator: crawler 1.5.0 now has an exit code 3 for when crawler is out of storage, handle the exit code by increased pvc size
  backend/btrixcloud/operator/crawls.py
Due: pylint

extract new strings for 1.14.0
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

migration fixes: - use group instead of distinct in unique page stats, page filename migration - consolidate collection recompute stats into single function - bump to 1.14.0-beta.2
  backend/btrixcloud/colls.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/migrations/migration_0042_page_filenames.py
  backend/btrixcloud/pages.py
Due: pylint

bump version to 1.14.0-beta.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

typo fix
  chart/templates/backend.yaml
Due: password-check

Handle running crawls in page optimization
  backend/btrixcloud/pages.py
Due: pylint

Cast job to right type in retry
  backend/btrixcloud/background_jobs.py
Due: pylint

Remove crawl_type from optimize_pages bg job
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/migrations/migration_0042_page_filenames.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
Due: pylint

Remove isMigrating filter from running crawl check
  backend/btrixcloud/pages.py
Due: pylint

Fix bg job retry
  backend/btrixcloud/background_jobs.py
Due: pylint
