Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

update size
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

custom fuse
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/hasChanged.ts
Due: none

add section
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

add context callback
  frontend/src/context/search-org/WithSearchOrgContext.ts
  frontend/src/features/collections/choose-collection-name.ts
Due: none

add wip form control
  .vscode/settings.json
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/events/btrix-select.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

save dedupe collection ID
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

get name consistently
  frontend/src/features/collections/collections-add.ts
Due: none

handle org without collections
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

create new collection
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

show in configs
  frontend/src/components/ui/config-details.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/collections/linked-collections/linked-collections.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/strings/crawl-workflows/labels.ts
  frontend/src/types/collection.ts
Due: none

set to empty string
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

show warning
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix removable
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix reset id
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

rename component
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle disabling
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/hasChanged.ts
Due: none

ensure max collection name
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/collection-create-dialog.ts
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/types/collection.ts
Due: none

update info text
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

only show warning for changes
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update field names
  .vscode/settings.json
  frontend/src/components/ui/config-details.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/collection.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

update copy
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

revert vscode settings
  .vscode/settings.json
Due: none

Pin pydantic to latest and bump fastapi
  backend/requirements.txt
Due: none

task: Add dedupe form control to workflow (#2932)
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/WithSearchOrgContext.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/events/btrix-select.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/collections/collection-create-dialog.ts
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/collections/linked-collections/linked-collections.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/strings/crawl-workflows/labels.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/collection.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

add section
  frontend/src/pages/org/settings/components/deduplication.ts
  frontend/src/pages/org/settings/settings.ts
Due: none

add backend filter
  backend/btrixcloud/colls.py
Due: pylint

add table
  frontend/src/components/ui/data-grid/data-grid.ts
  frontend/src/pages/org/settings/components/deduplication.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/settings/templates/loading-panel.ts
  frontend/src/theme.stylesheet.css
Due: none

add alt icons
  frontend/src/assets/icons/file-earmark-scan.svg
  frontend/src/assets/icons/file-earmark-scan2.svg
  frontend/src/assets/icons/file-earmark-scan3.svg
  frontend/src/pages/org/settings/settings.ts
Due: none

update icon
  frontend/src/assets/icons/database-dedupe-fill.svg
  frontend/src/assets/icons/database-dedupe.svg
  frontend/src/pages/org/settings/settings.ts
Due: none

fix: Show correct empty message for workflows (#2929)
  frontend/src/pages/org/workflows-list.ts
Due: none

Pin Python to 3.12 for all CI
  .github/workflows/backend-lint.yaml
  .github/workflows/k3d-ci.yaml
  .github/workflows/k3d-nightly-ci.yaml
  .github/workflows/microk8s-ci.yaml
Due: password-check

Pin Python for two more workflows
  .github/workflows/ansible-lint.yaml
  .github/workflows/docs-publish.yaml
Due: password-check

refactor component
  frontend/src/features/archived-items/archived-item-list/archived-item-list-item.ts
  frontend/src/features/archived-items/archived-item-list/archived-item-list.ts
  frontend/src/features/archived-items/archived-item-list/index.ts
  frontend/src/features/archived-items/archived-item-list/types.ts
  frontend/src/features/collections/collection-items-dialog.ts
Due: none

update event
  frontend/src/features/archived-items/archived-item-list/archived-item-list-item.ts
  frontend/src/features/archived-items/archived-item-list/types.ts
  frontend/src/features/collections/collection-items-dialog.ts
Due: none

try py3.13
  .github/workflows/k3d-ci.yaml
Due: password-check

use py3.13 instead, as this was last version used in GH actions
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/docs-publish.yaml
  .github/workflows/k3d-nightly-ci.yaml
  .github/workflows/microk8s-ci.yaml
Due: password-check

reset lint to 3.12 for now
  .github/workflows/backend-lint.yaml
Due: password-check

Pin Python to 3.13 or 3.12 for all CI (#2952)
  .github/workflows/ansible-lint.yaml
  .github/workflows/backend-lint.yaml
  .github/workflows/docs-publish.yaml
  .github/workflows/k3d-ci.yaml
  .github/workflows/k3d-nightly-ci.yaml
  .github/workflows/microk8s-ci.yaml
Due: password-check

add optional concurrent max queue limit: (#2940)
  backend/btrixcloud/crawlconfigs.py
  backend/test_nightly/test_concurrent_crawl_limit.py
  chart/templates/configmap.yaml
  chart/test/test-nightly-addons.yaml
  chart/values.yaml
Due: pylint, password-check

Optimize Concurrent Crawl Check (#2945)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint
