Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Fix email sending (but still not yet idempotent)
  backend/btrixcloud/crawls.py
Due: pylint

Add TODO to address already-existing bug that now matters more
  backend/btrixcloud/operator/crawls.py
Due: pylint

Inc org bytes stored when crawl files are added, not at end of crawl
  backend/btrixcloud/operator/crawls.py
Due: pylint

Pause crawls instead of stopping when quotas are reached
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

More incremental storage work
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Small tweaks
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

fix typo, fix tests
  backend/btrixcloud/basecrawls.py
  backend/test/conftest.py
  backend/test/test_crawl_config_search_values.py
  backend/test/test_uploads.py
Due: pylint

show empty message
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

handle in list
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

handle in dialog
  frontend/src/features/browser-profiles/start-browser-dialog.ts
Due: none

disable until origins are available
  frontend/src/features/browser-profiles/profile-browser-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
Due: none

udpate tooltip
  frontend/src/features/browser-profiles/profile-browser-dialog.ts
Due: none

use repeat
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

Update frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

fix: Handle no origins or invalid origin (#3025)
  frontend/src/features/browser-profiles/profile-browser-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

Update expected 400 detail in tests
  backend/test/test_collections.py
Due: pylint

Pass list not set of crawl_ids to count_documents
  backend/btrixcloud/basecrawls.py
Due: pylint

fix checking when browser is complete: - origins list may be available before the browser is ready - just track separately and mark as incomplete if either browser not ready or no origins
  frontend/src/features/browser-profiles/profile-browser-dialog.ts
Due: none

Update crawlconfig count in test
  backend/test/test_filter_sort_results.py
Due: pylint

fix event not firing unless previous task value was set
  frontend/src/features/browser-profiles/profile-browser-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
Due: none

feat: Filter browser profile list by name (#3017)
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/utils/searchValues.ts
Due: none

Frontend browser profile UI enhancements origin check fix (#3030)
  frontend/src/features/browser-profiles/profile-browser-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
Due: none

Add backend validation to prevent adding failed crawls to collection (#2930)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/test/test_collections.py
  backend/test/test_crawl_config_search_values.py
  backend/test/test_crawl_config_tags.py
  backend/test/test_filter_sort_results.py
  backend/test/test_uploads.py
Due: pylint

devex: add helm chart option to drop indexes on startup useful if making changes to indexes, but a full migration is not needed
  backend/btrixcloud/db.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

put unset after sort but before facet
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
Due: pylint

quick follow-up to #2783: - the /crawlconfigs/{cid}/public/pagesSearch public endpoint also needs a corresponding CORS OPTIONS endpoint to allow embedding externally
  backend/btrixcloud/pages.py
Due: pylint

typo fix, reorder
  backend/btrixcloud/crawlconfigs.py
Due: pylint

devex: add helm chart option to drop indexes on startup (#3031)
  backend/btrixcloud/db.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

shareable workflows adds cors (#3032)
  backend/btrixcloud/pages.py
Due: pylint

Fix bug where all crawls are added to workflow as successful even if failed
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

quickfix: Fix possibly undefined 'pod_info' - ensure pod_info is declared before use - somehow missed by linter/mypy
  backend/btrixcloud/operator/crawls.py
Due: pylint

use str instead of any for more specific typing
  backend/btrixcloud/operator/crawls.py
Due: pylint

update copy
  frontend/docs/docs/user-guide/browser-profiles.md
Due: none

Explicitly check for successful states
  backend/btrixcloud/crawlconfigs.py
Due: pylint

create separate pages
  frontend/docs/docs/stylesheets/extra.css
  frontend/docs/docs/user-guide/browser-profiles.md
  frontend/docs/docs/user-guide/browser-profiles/browser-profiles-overview.md
  frontend/docs/docs/user-guide/browser-profiles/configure-sites.md
  frontend/docs/docs/user-guide/browser-profiles/create-browser-profile.md
  frontend/docs/docs/user-guide/browser-profiles/edit-browser-profile.md
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/docs/mkdocs.yml
Due: password-check

update workflow setup guide
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

update links
  frontend/docs/docs/user-guide/browser-profiles/configure-sites.md
  frontend/docs/docs/user-guide/browser-profiles/create-browser-profile.md
  frontend/docs/docs/user-guide/browser-profiles/edit-browser-profile.md
Due: none

additional links
  frontend/docs/docs/user-guide/browser-profiles/create-browser-profile.md
  frontend/docs/docs/user-guide/browser-profiles/edit-browser-profile.md
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

update metadata
  frontend/docs/docs/user-guide/browser-profiles/edit-browser-profile.md
Due: none

Add migration to recompute workflow stats
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0055_recompute_crawlconfig_stats.py
Due: pylint
