Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Update test to expect list
  backend/test/test_crawlconfigs.py
Due: pylint

add page layout
  frontend/src/components/ui/tab-group/tab-group.ts
  frontend/src/layouts/pageSectionsWithNav.ts
Due: none

add form sections
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/layouts/panel.ts
Due: none

update indicator on scroll
  frontend/src/components/utils/observable.ts
  frontend/src/features/archived-items/crawl-queue.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/layouts/panel.ts
Due: none

update sections
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/layouts/panel.ts
Due: none

add back indicator
  frontend/src/components/ui/tab-list.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle required fields
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

refactor observable
  frontend/src/components/utils/observable.ts
  frontend/src/controllers/observable.ts
  frontend/src/features/archived-items/crawl-queue.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle scroll
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle form errors
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

clean up
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle server errors
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

validate exclusion table
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/infoText.ts
  frontend/src/theme.stylesheet.css
Due: none

prevent default run now
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

update on focus
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

move general to component
  frontend/src/components/ui/copy-field.ts
  frontend/src/pages/org/settings/components/general.ts
  frontend/src/pages/org/settings/components/visibility.ts
  frontend/src/pages/org/settings/settings.ts
Due: none

update styles
  frontend/src/pages/org/settings/settings.ts
Due: none

add example
  frontend/src/pages/org/settings/settings.ts
Due: none

update submit
  frontend/src/components/ui/copy-field.ts
  frontend/src/pages/org/settings/components/general.ts
Due: none

Changes metadata → details
  frontend/src/pages/org/collection-detail.ts
Due: none

metadata → details (public view)
  frontend/src/pages/collections/collection.ts
Due: none

style focus state
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

add composed
  frontend/src/pages/org/workflows-new.ts
Due: none

fix: Re-enable workflow setup guide button (#2358)
  frontend/src/pages/org/workflows-new.ts
Due: none

update scroll tracking logic
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

always scroll clicked panel into view
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

don't focus panel when closing, only opening
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

feat: Enable viewing all workflow form sections at once (#2310)
  frontend/src/components/ui/tab-group/tab-group.ts
  frontend/src/components/ui/tab-list.ts
  frontend/src/components/utils/observable.ts
  frontend/src/controllers/observable.ts
  frontend/src/features/archived-items/crawl-queue.ts
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/layouts/pageSectionsWithNav.ts
  frontend/src/layouts/panel.ts
  frontend/src/strings/crawl-workflows/infoText.ts
  frontend/src/theme.stylesheet.css
  frontend/src/utils/workflow.ts
Due: none

Strip oid directory from WACZ file name
  backend/btrixcloud/storages.py
Due: pylint

add 'filename' to Page model, fill in 'filename' if available for new crawls set 'filename' when readding pages work for #2348
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/storages.py
Due: pylint

Add seed and faviconUrl to page model and backfill migration
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

Make filename consistent with name added from crawler (no oid dir)
  backend/btrixcloud/pages.py
Due: pylint

Linting and fixups
  backend/btrixcloud/migrations/migration_0042_page_filenames.py
  backend/btrixcloud/pages.py
Due: pylint

also set 'depth' on page
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Bump backend startupProbe to 1 hour before failure
  chart/templates/backend.yaml
Due: password-check

undo depth test in uploads, no depth guaranteed
  backend/test/test_uploads.py
Due: pylint

Add migration to backfill page filename
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0042_page_filenames.py
  backend/btrixcloud/pages.py
Due: pylint

Simplify stripping uuid directory from filename
  backend/btrixcloud/pages.py
Due: pylint

Add filename to page tests
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

rename select collection page file
  frontend/src/features/collections/collection-replay-dialog.ts
  frontend/src/features/collections/collection-snapshot-preview.ts
  frontend/src/features/collections/edit-dialog/general-section.ts
  frontend/src/features/collections/edit-dialog/helpers/snapshots.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-page.ts
Due: none
