Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Add pageCount to CrawlOut and include in tests
  backend/btrixcloud/models.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Add missing comma separating upload size and page count
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

Fix test
  backend/test/test_uploads.py
Due: pylint

Validate exclusion regex on add, return 422 if invalid
  backend/btrixcloud/crawls.py
  backend/test/test_run_crawl.py
Due: pylint

Modify exception detail for invalid regex on frontend
  frontend/src/features/crawl-workflows/exclusion-editor.ts
Due: none

Add pylint disable for raise-missing-from
  backend/btrixcloud/crawls.py
Due: pylint

Update chart/values.yaml
  chart/values.yaml
Due: password-check

Add support for autoclick (#2313)
  backend/btrixcloud/operator/crawls.py
  chart/templates/configmap.yaml
  chart/values.yaml
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: pylint, password-check

format & extract messages
  frontend/webpack.config.js
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

Add pageCount to crawls and uploads and use in frontend for page counts (#2315)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0040_archived_item_page_count.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/types/crawler.ts
  frontend/webpack.config.js
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: pylint

make public collections skeletons more accurate to loaded collections
  frontend/src/features/collections/collection-thumbnail.ts
  frontend/src/features/collections/collections-grid.ts
Due: none

add skeleton for profile info while loading
  frontend/src/features/browser-profiles/select-browser-profile.ts
Due: none

Valid regex on workflow creation
  backend/btrixcloud/crawlconfigs.py
  backend/test/test_crawlconfigs.py
Due: pylint

Validate exclude regex on crawlconfig update
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/utils.py
  backend/test/test_crawlconfigs.py
Due: pylint

Use invalid_regex detail already in use elsewhere
  backend/btrixcloud/utils.py
  backend/test/test_crawlconfigs.py
  backend/test/test_run_crawl.py
  frontend/src/features/crawl-workflows/exclusion-editor.ts
Due: pylint

Use 400 status code on exception for consistency
  backend/btrixcloud/utils.py
  backend/test/test_crawlconfigs.py
  backend/test/test_run_crawl.py
Due: pylint

Fix linting
  backend/btrixcloud/crawlconfigs.py
Due: pylint

One more pylint disable
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Check if update.config exists first
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Fix test
  backend/test/test_crawlconfigs.py
Due: pylint

Translated using Weblate (French)
  frontend/xliff/fr.xlf
Due: none

fix typo
  backend/btrixcloud/migrations/migration_0039_coll_slugs.py
Due: pylint

drop indexes first
  backend/btrixcloud/migrations/migration_0039_coll_slugs.py
Due: pylint

set slug to random value
  backend/btrixcloud/migrations/migration_0039_coll_slugs.py
Due: pylint

fix import order
  backend/btrixcloud/migrations/migration_0039_coll_slugs.py
Due: pylint

fix
  backend/btrixcloud/migrations/__init__.py
  backend/btrixcloud/migrations/migration_0039_coll_slugs.py
Due: pylint

run on all
  backend/btrixcloud/migrations/migration_0039_coll_slugs.py
Due: pylint

Add snapshotCount to archived items
  backend/btrixcloud/colls.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/migrations/migration_0040_archived_item_page_count.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/pages.py
Due: pylint

Rationalize counts for collections, add migration to recalc
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0041_pages_snapshots.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
Due: pylint

Add snapshotCounts to org metrics endpoint
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
Due: pylint

Update tests
  backend/test/test_collections.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Recalculate collection counts on import
  backend/btrixcloud/orgs.py
Due: pylint

Fix linting
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0041_pages_snapshots.py
Due: pylint

Add pylint comment
  backend/btrixcloud/colls.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
