Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Make migration idempotent - don't readd existing upload pages
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
Due: pylint

update not found page
  frontend/src/components/not-found.ts
Due: none

Reformat migration
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
Due: pylint

Fix typing
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
Due: pylint

add disclaimer
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/collections-grid.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
Due: none

Translated using Weblate (Spanish)
  frontend/xliff/es.xlf
Due: none

Format Weblate Changes
  frontend/src/__generated__/locales/es.ts
  frontend/xliff/es.xlf
Due: none

update thumbnail styles
  frontend/src/features/collections/collection-replay-dialog.ts
  frontend/src/features/collections/collection-thumbnail.ts
  frontend/src/features/collections/collections-grid.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/org/dashboard.ts
Due: none

Translations update from Hosted Weblate (#2251)
  frontend/src/__generated__/locales/es.ts
  frontend/xliff/es.xlf
Due: none

show what will be public
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/select-collection-access.ts
Due: none

update info text
  frontend/src/features/collections/collection-metadata-dialog.ts
Due: none

Update frontend/src/features/collections/select-collection-start-page.ts
  frontend/src/features/collections/select-collection-start-page.ts
Due: none

update copy
  frontend/src/features/collections/select-collection-access.ts
Due: none

revert test
  frontend/src/features/collections/collection-replay-dialog.ts
Due: none

show first few results
  frontend/src/features/collections/select-collection-start-page.ts
Due: none

fix updating snapshot after home url
  frontend/src/features/collections/collection-replay-dialog.ts
Due: none

remove console log
  frontend/src/features/collections/collection-replay-dialog.ts
Due: none

add link to org settings
  frontend/src/features/collections/collection-metadata-dialog.ts
Due: none

Additional translations (Weblate->Main )(#2255)
  frontend/src/__generated__/locales/es.ts
  frontend/xliff/es.xlf
Due: none

show download toggle
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/theme.stylesheet.css
Due: none

fix
  backend/btrixcloud/storages.py
Due: pylint

fix?
  backend/btrixcloud/storages.py
Due: pylint

default presign_endpoint_url
  backend/btrixcloud/models.py
Due: pylint

remove use_access_for_presign as doesn't make sense anymore always using presign_endpoint_url, defaulting to endpoint_url for presigning
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint

split key -> bucket, key
  backend/btrixcloud/storages.py
Due: pylint

only use presign_endpoint_url with api
  backend/btrixcloud/storages.py
Due: pylint

presign_endpoint_url always optional, default to endpoint_url
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint

Allow getting and downloading public collections if org profile disabled
  backend/btrixcloud/colls.py
  backend/test/test_collections.py
Due: pylint

URL decode urlPrefix in /urls endpoint
  backend/btrixcloud/colls.py
Due: pylint

Do URL decoding inside list urls method
  backend/btrixcloud/colls.py
Due: pylint

Escape special characters in url_prefix regex
  backend/btrixcloud/colls.py
Due: pylint

enable testing analytics
  frontend/sample.env.local
  frontend/src/pages/collections/collection.ts
  frontend/src/utils/analytics.ts
  frontend/webpack.dev.js
Due: none

track events
  frontend/docs/docs/deploy/customization.md
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/utils/analytics.ts
Due: none

specify script location
  frontend/sample.env.local
  frontend/webpack.dev.js
Due: none

specify analytics namespace
  frontend/sample.env.local
  frontend/src/utils/analytics.ts
  frontend/webpack.config.js
Due: none

remove min height
  frontend/src/features/collections/share-collection.ts
Due: none

simplify, just use 'addressing_style: virtual' for presigning if have a custom access_endpoint_url
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint

Translated using Weblate (French)
  frontend/xliff/fr.xlf
Due: none

don't hardcode '/data/' if minio is enabled, just add 'access_endpoint_url: /data/' instead to values easier to combine local minio + external storages
  backend/btrixcloud/storages.py
  chart/values.yaml
Due: pylint, password-check

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
