Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

allow access to certain apis as superadmin as superadmin if a known shared secret is passed as auth token only enabled for /api/orgs/create for now to allow programmatic access to this api
  backend/btrixcloud/auth.py
  backend/btrixcloud/main.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  chart/templates/secrets.yaml
Due: pylint, password-check

lint fix
  backend/btrixcloud/orgs.py
Due: pylint

add subscription lookup endpoint
  backend/btrixcloud/orgs.py
Due: pylint

Update authsigner to 0.5.2 (#1899)
  chart/values.yaml
Due: password-check

change type to Optional[UUID]
  backend/btrixcloud/crawlconfigs.py
Due: pylint

use btrix.org instead of btrix.oid label for consistency remove delete config_map, no longer needed
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/operator/cronjobs.py
  chart/app-templates/crawl_cron_job.yaml
Due: pylint, password-check

Remove Crawl Workflow Configmaps (#1894)
  .github/workflows/k3d-ci.yaml
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/migrations/migration_0005_operator_scheduled_jobs.py
  backend/btrixcloud/migrations/migration_0016_operator_scheduled_jobs_v2.py
  backend/btrixcloud/migrations/migration_0021_profile_filenames.py
  backend/btrixcloud/migrations/migration_0024_crawlerchannel.py
  backend/btrixcloud/migrations/migration_0025_workflow_db_configmap_fixes.py
  backend/btrixcloud/migrations/migration_0029_remove_workflow_configmaps.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  chart/app-templates/crawl_configmap.yaml
  chart/app-templates/crawl_cron_job.yaml
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/templates/operators.yaml
Due: pylint, password-check

extend /api/orgs/create endpoint to also accept first user to invite, quotas, and make name optional to support automated usage
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

fix typo
  backend/btrixcloud/orgs.py
Due: pylint

use BTRIX_SUBS_APP_API_KEY and load from optional 'btrix-subs-app-secret', to be provided externally
  backend/btrixcloud/auth.py
  chart/templates/backend.yaml
  chart/templates/secrets.yaml
Due: pylint, password-check

fix default port
  chart/templates/configmap.yaml
Due: password-check

fix template
  chart/templates/configmap.yaml
Due: password-check

org accept-invite path should not accept an invite with no org
  backend/btrixcloud/orgs.py
Due: pylint

Extends Org Create endpont + shared secret auth (#1897)
  backend/btrixcloud/auth.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/test/test_org.py
  chart/templates/backend.yaml
  chart/templates/configmap.yaml
Due: pylint, password-check

refactor existing invites: - flatten user.invites, just use invites list - fix existing user invites to showing up in org list - add InviteOut model for getting single invite, and get_invite_out()
  backend/btrixcloud/db.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/migrations/migration_0030_user_invites_flatten.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/test/test_invites.py
  backend/test/test_org.py
  backend/test/test_users.py
Due: pylint

update tests
  backend/test/test_org.py
  backend/test/test_users.py
Due: pylint

invites
  backend/btrixcloud/invites.py
Due: pylint

additional fixes for removing invites with tests
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

add dialog
  frontend/src/components/orgs-list.ts
  frontend/src/types/org.ts
Due: none

check confirmation string
  frontend/src/components/orgs-list.ts
Due: none

fix dialog
  frontend/src/components/orgs-list.ts
Due: none

sort orgs alphabetically
  frontend/src/index.ts
  frontend/src/pages/home.ts
Due: none

refactor org list
  frontend/src/components/orgs-list.ts
  frontend/src/types/org.ts
Due: none

show additional data
  frontend/src/components/orgs-list.ts
  frontend/src/controllers/navigate.ts
Due: none

show quota status
  frontend/src/components/orgs-list.ts
  frontend/src/pages/home.ts
Due: none

Add superuser org API endpoints to export and import org data
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
Due: pylint

First pass at export/import docs
  docs/deploy/admin.md
  docs/deploy/index.md
Due: none

Add docstring for now less-private method
  backend/btrixcloud/basecrawls.py
Due: pylint

Change object storage info to note
  docs/deploy/admin.md
Due: none

Fix linting
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/orgs.py
Due: pylint

Update docs language
  docs/deploy/admin/org-import-export.md
Due: none

Adds navigation
  mkdocs.yml
Due: password-check

Use a more secure random password for users
  backend/btrixcloud/orgs.py
Due: pylint

Use browsertrix.cloud in API call examples
  docs/deploy/admin.md
Due: none

Support updating StorageRef names on import
  backend/btrixcloud/orgs.py
Due: pylint

Add syntax highlighting for code blocks
  docs/deploy/admin.md
Due: none

Add ignoreVersion query param to import endpoint
  backend/btrixcloud/orgs.py
Due: pylint

Move org import and export guide to admin directory
  docs/deploy/admin/org-import-export.md
  docs/deploy/index.md
  mkdocs.yml
Due: password-check

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
