Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Update docstring
  backend/btrixcloud/migrations/migration_0052_profile_filenames.py
Due: pylint

Add match query to optimize migration
  backend/btrixcloud/migrations/migration_0052_profile_filenames.py
Due: pylint

Add --error-on-no-transfer flag to file replication
  chart/app-templates/replica_job.yaml
Due: password-check

Add migration to fix existing profile filenames
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0052_profile_filenames.py
Due: pylint

Add pylint disable in models
  backend/btrixcloud/models.py
Due: pylint

Migration: delete replicas in db for profiles, spawn replica jobs
  backend/btrixcloud/migrations/migration_0052_profile_filenames.py
Due: pylint

add section
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

use standard select event
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

add context callback
  frontend/src/context/search-org/WithSearchOrgContext.ts
  frontend/src/features/collections/choose-collection-name.ts
Due: none

add wip form control
  .vscode/settings.json
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/events/btrix-select.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

fix removable
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

rename component
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

set to empty string
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle disabling
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/hasChanged.ts
Due: none

show in configs
  frontend/src/components/ui/config-details.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/collections/linked-collections/linked-collections.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/strings/crawl-workflows/labels.ts
  frontend/src/types/collection.ts
Due: none

handle org without collections
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

save dedupe collection ID
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

update size
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

get name consistently
  frontend/src/features/collections/collections-add.ts
Due: none

custom fuse
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/hasChanged.ts
Due: none

show warning
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

create new collection
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

fix reset id
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

only show warning for changes
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update info text
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

lint fix move
  backend/btrixcloud/models.py
Due: pylint

more lint fixes
  backend/btrixcloud/models.py
Due: pylint

ensure max collection name
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/collection-create-dialog.ts
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/types/collection.ts
Due: none

wip
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

rework workflows fetching to use task
  frontend/src/pages/org/workflows-list.ts
Due: none

fix profile filter not updating when checkboxes change
  frontend/src/features/crawl-workflows/workflow-profile-filter.ts
Due: none

small type updates
  frontend/src/pages/org/archived-items.ts
Due: none

wip
  frontend/src/components/ui/pagination.ts
  frontend/src/controllers/searchParams.ts
  frontend/src/controllers/searchParamsValue.ts
Due: none

undo transaction work
  frontend/src/components/ui/pagination.ts
  frontend/src/controllers/searchParams.ts
  frontend/src/controllers/searchParamsValue.ts
Due: none

fix page change updates in archived item list
  frontend/src/pages/org/archived-items.ts
Due: none

remove now-unused transaction options
  frontend/src/controllers/searchParamsValue.ts
Due: none

get page resets when changing filters working
  frontend/src/components/ui/pagination.ts
  frontend/src/controllers/searchParamsValue.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

fix search not updated from url & profile filter not updating when deselecting
  frontend/src/pages/org/workflows-list.ts
Due: none

simplify tuple types
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

reduce updates and dispatches
  frontend/src/controllers/searchParamsValue.ts
  frontend/src/features/crawl-workflows/workflow-profile-filter.ts
  frontend/src/features/crawl-workflows/workflow-schedule-filter.ts
  frontend/src/features/crawl-workflows/workflow-tag-filter.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
