Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

correctly remove current user filter if not present in params
  frontend/src/pages/org/workflows-list.ts
Due: none

remove unused const
  frontend/src/pages/org/workflows-list.ts
Due: none

move filterByCurrentUser initialization to connectedCallback hook
  frontend/src/pages/org/workflows-list.ts
Due: none

add rich text element & helpers and utilities adapted from bsky's social app
  frontend/package.json
  frontend/src/components/utils/index.ts
  frontend/src/components/utils/rich-text.ts
  frontend/src/utils/rich-text/detect-links.ts
  frontend/src/utils/rich-text/url-helpers.ts
  frontend/yarn.lock
Due: none

update tsconfig target es version to support named capture groups
  frontend/tsconfig.json
Due: none

use new rich text element in a whole bunch of places
  frontend/src/components/ui/config-details.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/public/org.ts
Due: none

add storybook story & description
  frontend/src/components/utils/rich-text.ts
  frontend/src/stories/components/RichText.stories.ts
  frontend/src/stories/components/RichText.ts
Due: none

join url helpers
  frontend/src/components/utils/rich-text.ts
  frontend/src/utils/rich-text/detect-links.ts
  frontend/src/utils/rich-text/url-helpers.ts
Due: none

delete custom component and just use helper fn instead
  frontend/src/components/ui/config-details.ts
  frontend/src/components/utils/index.ts
  frontend/src/components/utils/rich-text.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/public/org.ts
  frontend/src/stories/components/RichText.stories.ts
  frontend/src/stories/components/RichText.ts
  frontend/src/stories/utils/RichText.mdx
  frontend/src/stories/utils/RichText.stories.ts
  frontend/src/stories/utils/RichText.ts
  frontend/src/utils/rich-text/rich-text.ts
Due: none

remove www & document short url helper a bit more
  frontend/src/utils/rich-text/url-helpers.ts
Due: none

move files around for cleaner paths
  frontend/src/components/ui/config-details.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/public/org.ts
  frontend/src/stories/utils/RichText.stories.ts
  frontend/src/stories/utils/RichText.ts
  frontend/src/utils/rich-text.ts
  frontend/src/utils/url-helpers.ts
Due: none

add some more options to rich text helper & storybook
  frontend/src/stories/utils/RichText.stories.ts
  frontend/src/stories/utils/RichText.ts
  frontend/src/utils/rich-text.ts
Due: none

tweak comments
  frontend/src/stories/utils/RichText.stories.ts
  frontend/src/stories/utils/RichText.ts
Due: none

use rich text in collection grid & public collection caption
  frontend/src/features/collections/collections-grid.ts
Due: none

add rich text to public collection pages
  frontend/src/pages/collections/collection.ts
Due: none

enable json packaging in web test runner esbuild config
  frontend/web-test-runner.config.mjs
Due: none

add .jinja file ext to email templates
  backend/btrixcloud/emailsender.py
  chart/email-templates/failed_bg_job.jinja
  chart/email-templates/invite.jinja
  chart/email-templates/password_reset.jinja
  chart/email-templates/sub_cancel.jinja
  chart/email-templates/validate.jinja
Due: pylint

add id to invite status
  frontend/src/pages/invite/accept.ts
Due: none

Translated using Weblate (French)
  frontend/xliff/fr.xlf
Due: none

fix: Close "please log in" alert when accepting invite (#2688)
  frontend/src/pages/invite/accept.ts
Due: none

Add new file uplooads module with PUT and DELETE endpoints
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/db.py
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/main_migrations.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
Due: pylint

Add temporary pylint disable comment
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Add file upload tests
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/models.py
  backend/test/data/seedfile.txt
  backend/test/test_files.py
Due: pylint

Add storage quota check
  backend/btrixcloud/file_uploads.py
Due: pylint

refresh crawl when crawl ends
  frontend/src/pages/org/workflow-detail.ts
Due: none

Fixups
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
  backend/test/test_files.py
Due: pylint

Fix linting
  backend/btrixcloud/storages.py
Due: pylint

fetch crawls when last crawl id changes
  frontend/src/pages/org/workflow-detail.ts
Due: none

clarify last run
  frontend/src/pages/org/workflow-detail.ts
Due: none

update for any less than a minute
  frontend/src/pages/org/workflow-detail.ts
Due: none

update refresh
  frontend/src/pages/org/workflow-detail.ts
Due: none

WIP: Add seedFileId to workflow POST and PATCH
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
Due: pylint

fix: Refresh workflow crawls list when workflow status changes (#2691)
  frontend/src/pages/org/workflow-detail.ts
Due: none

separate failed from skipped or canceled
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/crawler.ts
Due: none

add link to logs
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

hide tabs
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

Pass seed file to crawler, add tests
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  backend/test/conftest.py
  backend/test/test_crawlconfigs.py
  backend/test/test_files.py
  backend/test/test_filter_sort_results.py
  backend/test/test_run_crawl.py
  chart/app-templates/crawl_job.yaml
Due: pylint, password-check

Remove extra cruft
  backend/test/test_crawlconfigs.py
Due: pylint
