Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

version: 1.14.0-beta.6
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

fix exact match
  backend/btrixcloud/pages.py
Due: pylint

additional filters
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

readd additional pages query option, including url_prefix, can be combined with text search
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

list_page_url_counts also uses list_pages
  backend/btrixcloud/pages.py
Due: pylint

Update frontend/src/utils/analytics.ts
  frontend/src/utils/analytics.ts
Due: none

feat: Workflow form collapsible section enhancements (#2381)
  frontend/src/components/ui/tab-list.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/trackEvents.ts
  frontend/src/utils/analytics.ts
  frontend/src/utils/events.ts
Due: none

feat: Move admin route to own namespace (#2405)
  frontend/src/components/orgs-list.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/admin/admin.ts
  frontend/src/pages/admin/index.ts
  frontend/src/pages/admin/users-invite.ts
  frontend/src/pages/index.ts
  frontend/src/routes.ts
  frontend/src/utils/APIRouter.test.ts
  frontend/src/utils/APIRouter.ts
  frontend/src/utils/AuthService.ts
  frontend/src/utils/router.ts
  frontend/src/utils/state.ts
Due: none

readd pages: adds one more set apis to allow superadmin to readd pages for single crawl
  backend/btrixcloud/pages.py
Due: pylint

readd $facet, only add total when included
  backend/btrixcloud/pages.py
Due: pylint

also process crawls with empty pageCount but stats.done > 0 and not failed/canceled
  backend/btrixcloud/pages.py
Due: pylint

use facet only when including total support larger_resources for ops-driven background jobs
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/pages.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

allow only one of coll_id or crawl_ids
  backend/btrixcloud/colls.py
  backend/btrixcloud/pages.py
Due: pylint

fix typo
  chart/app-templates/background_job.yaml
Due: password-check

bgjobs: fix success check to account for parallelism
  backend/btrixcloud/operator/bgjobs.py
Due: pylint

frontend qa: add 'Crawl Order' as default sort option
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

add /pagesSearch endpoint after all
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/bgjobs.py
  backend/btrixcloud/pages.py
Due: pylint

typo fix
  backend/btrixcloud/pages.py
Due: pylint

job check fix
  backend/btrixcloud/operator/bgjobs.py
Due: pylint

test fix
  backend/test/test_run_crawl.py
Due: pylint

undo change
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

update to beta 7
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Consolidate list page endpoints + better QA sorting + optimize pages fix (#2417)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/operator/bgjobs.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/version.py
  backend/test/test_run_crawl.py
  chart/Chart.yaml
  chart/app-templates/background_job.yaml
  chart/values.yaml
  frontend/package.json
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  version.txt
Due: pylint, password-check

remove recreating page index on migration, later to add as needed
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
Due: pylint

Add page_ops back to update_and_prepare_db
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
Due: pylint

Add page index creation back, as is idempotent
  backend/btrixcloud/db.py
Due: pylint

Add `deepLink` attribute to public collection viewer
  frontend/src/pages/collections/collection.ts
Due: none

Fix test issue with bucket not existing for now
  backend/btrixcloud/storages.py
Due: pylint

Add TODO where custom storage deletion is failing
  backend/btrixcloud/crawlmanager.py
Due: pylint

Fix check for whether storage label is in use
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
Due: pylint

Flush out tests for setting custom storage
  backend/btrixcloud/storages.py
  backend/test/test_org.py
Due: pylint

Add additional tests
  backend/test/test_org.py
Due: pylint

Add back custom storage endpoints
  backend/btrixcloud/storages.py
Due: pylint

Remove todo on endpoint that's fine
  backend/btrixcloud/storages.py
Due: pylint

Actually unset custom replica storage before deleting
  backend/test/test_org.py
Due: pylint
