Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Add comment to get CI to run
  backend/btrixcloud/colls.py
Due: pylint

Fix test that was checking wrong collection
  backend/test/test_collections.py
Due: pylint

Add endpoint to delete collection thumbnail
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/test/test_collections.py
Due: pylint

Calculate and store earliest and latest dates in collection
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

WIP: Add all-crawls/ and uploads/ versions of GET pages endpoints
  backend/btrixcloud/pages.py
  backend/test/test_uploads.py
Due: pylint

Delete upload pages when deleted or replaced
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/uploads.py
Due: pylint

Remove asserts for upload pages for optional fields
  backend/test/test_uploads.py
Due: pylint

Add fallbacks if pages have no id or a non-UUID id
  backend/btrixcloud/pages.py
Due: pylint

Move pages test later to give it more time
  backend/test/test_uploads.py
Due: pylint

Add pages to database for uploads
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/uploads.py
  backend/test/test_uploads.py
Due: pylint

Add API endpoint to GET single public collection
  backend/btrixcloud/colls.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/test/test_collections.py
Due: pylint

Filter (re-)add all pages endpoint by crawl type in path
  backend/btrixcloud/pages.py
Due: pylint

Add migration to add upload files for all orgs in bg jobs
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/pages.py
Due: pylint

Rename type_filter to crawl_type
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

Recalculate collection dates after adding upload pages
  backend/btrixcloud/colls.py
  backend/btrixcloud/main_bg.py
Due: pylint

Move re-adding all pages in org to background job
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
  backend/btrixcloud/pages.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

Remove outdated comment
  backend/btrixcloud/colls.py
Due: pylint

Return 404 for GET public collection if org isn't public
  backend/btrixcloud/colls.py
Due: pylint

Include upload pages in collection pageCount
  backend/btrixcloud/colls.py
Due: pylint

Add oid to PublicCollOut model
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Reduce per-page print logging
  backend/btrixcloud/pages.py
Due: pylint

Fix endpoint path in test
  backend/test/test_collections.py
Due: pylint

Recalculate collection stats after adding upload pages
  backend/btrixcloud/colls.py
  backend/btrixcloud/main_bg.py
Due: pylint

Modify public collections endpoint paths
  backend/btrixcloud/colls.py
  backend/test/test_collections.py
Due: pylint

Only fetch org once, not per-crawl
  backend/btrixcloud/colls.py
Due: pylint

Use proper thumbnail as test data
  backend/test/data/thumbnail.jpg
Due: none

Allow unlisted collections in single public collection GET
  backend/btrixcloud/colls.py
  backend/test/test_collections.py
Due: pylint

feat: Make collection public (#2208)
  frontend/src/index.ts
Due: none

feat: Public org profile page (#2172)
  frontend/src/index.ts
  frontend/src/theme.stylesheet.css
Due: none

Enforce max thumbnail file size of 2MB
  backend/btrixcloud/colls.py
Due: pylint

Add counts and size to PublicCollOut
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Don't expect thumbnail for unlisted collection
  backend/test/test_collections.py
Due: pylint

Fix thumbnail-related 500 error with private collections list
  backend/btrixcloud/colls.py
Due: pylint

Add access field to PublicCollOut
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Add defaultThumbnailName field to collections
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

update routes
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/org/profile.ts
  frontend/src/types/org.ts
Due: none

feat: Public org profile page (#2172)
  frontend/src/index.ts
Due: none

update types
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/org/profile.ts
  frontend/src/types/collection.ts
  frontend/src/types/org.ts
Due: none

switch to offscreen tab
  frontend/src/pages/collections/collection.ts
Due: none
