Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Apply suggestions from code review
  backend/btrixcloud/storages.py
Due: pylint

Update backend/btrixcloud/storages.py
  backend/btrixcloud/storages.py
Due: pylint

Translated using Weblate (French)
  frontend/xliff/fr.xlf
Due: none

Format Weblate Changes
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

version: bump to 1.13.1
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

more tweaks
  frontend/docs/docs/deploy/customization.md
Due: none

docs: update docs to include `access_endpoint_url`
  frontend/docs/docs/deploy/customization.md
Due: none

additional docs tweaks
  frontend/docs/docs/deploy/customization.md
Due: none

Related crawljob filtering by role (#2262)
  backend/btrixcloud/operator/crawls.py
Due: pylint

Update backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawlmanager.py
Due: pylint

more docs tweaks
  frontend/docs/docs/deploy/customization.md
Due: none

cronjob needs to specify labels for spawned job as well add 'job-id' label instead of 'name', which is automatically set, use that if available
  backend/btrixcloud/operator/bgjobs.py
  chart/app-templates/replica_deletion_cron_job.yaml
Due: pylint, password-check

Support Presigning for use with custom domain (#2249)
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
  chart/values.yaml
  frontend/docs/docs/deploy/customization.md
Due: pylint, password-check

keep 'replica_deletion_delay_days' to 0 by default
  chart/values.yaml
Due: password-check

Optionally delay replica deletion (#2252)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/bgjobs.py
  chart/app-templates/replica_deletion_cron_job.yaml
  chart/templates/configmap.yaml
  chart/values.yaml
  frontend/docs/docs/deploy/customization.md
Due: pylint, password-check

encode url prefix
  frontend/src/features/collections/select-collection-start-page.ts
Due: none

use bundler package resolution
  frontend/tsconfig.json
Due: none

add rwp package (for types)
  frontend/package.json
  frontend/src/replayWebPage.d.ts
  frontend/yarn.lock
Due: none

use exported rwp embed type in collection detail component
  frontend/src/pages/org/collection-detail.ts
Due: none

fix issues from bundler module resolution change
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa/ui/spinner.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/shoelace.ts
  frontend/src/utils/notify.ts
Due: none

Backend work for public collections (#2198)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/test/data/thumbnail.jpg
  backend/test/test_collections.py
  backend/test/test_uploads.py
  chart/app-templates/background_job.yaml
Due: pylint, password-check

Make changes to collections to support publicly listed collections (#2164)
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0036_coll_visibility.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/types/collection.ts
Due: pylint

feat: Public org profile page (#2172)
  frontend/docs/docs/user-guide/crawl-workflows.md
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/org-settings.md
  frontend/docs/docs/user-guide/overview.md
  frontend/src/components/index.ts
  frontend/src/components/not-found.ts
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/link.ts
  frontend/src/components/ui/url-input.ts
  frontend/src/components/verified-badge.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/layouts/columns.ts
  frontend/src/pages/account-settings.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/settings/components/profile.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/org.ts
  frontend/src/utils/APIRouter.ts
  frontend/src/utils/form.ts
  frontend/src/utils/state.ts
Due: none

feat: Make collection public (#2208)
  frontend/package.json
  frontend/src/components/ui/copy-button.ts
  frontend/src/components/ui/dialog.ts
  frontend/src/controllers/clipboard.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/index.ts
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/collections/index.ts
  frontend/src/pages/index.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/profile.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/routes.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/events.d.ts
  frontend/src/types/org.ts
  frontend/yarn.lock
Due: none

Add public API endpoint for public collections (#2174)
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_collections.py
  backend/test/test_org.py
Due: pylint

feat: Collection thumbnails, start page, and public view updates (#2209)
  frontend/index.d.ts
  frontend/src/assets/images/thumbnails/thumbnail-cyan.avif
  frontend/src/assets/images/thumbnails/thumbnail-green.avif
  frontend/src/assets/images/thumbnails/thumbnail-orange.avif
  frontend/src/assets/images/thumbnails/thumbnail-yellow.avif
  frontend/src/components/not-found.ts
  frontend/src/components/ui/button.ts
  frontend/src/components/ui/markdown-editor.ts
  frontend/src/components/ui/markdown-viewer.ts
  frontend/src/components/ui/overflow-dropdown.ts
  frontend/src/components/ui/section-heading.ts
  frontend/src/components/ui/table/table.ts
  frontend/src/controllers/api.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/collection-replay-dialog.ts
  frontend/src/features/collections/collection-thumbnail.ts
  frontend/src/features/collections/collections-grid.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/select-collection-access.ts
  frontend/src/features/collections/select-collection-start-page.ts
  frontend/src/features/collections/share-collection.ts
  frontend/src/layouts/page.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/profile.ts
  frontend/src/replayWebPage.d.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/collection.ts
  frontend/src/types/org.ts
  frontend/src/utils/replay.ts
  frontend/webpack.config.js
Due: none

enable testing analytics
  frontend/sample.env.local
  frontend/src/pages/collections/collection.ts
  frontend/src/utils/analytics.ts
  frontend/webpack.dev.js
Due: none

track events
  frontend/docs/docs/deploy/customization.md
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/collections/collection.ts
  frontend/src/utils/analytics.ts
Due: none

specify analytics namespace
  frontend/sample.env.local
  frontend/src/utils/analytics.ts
  frontend/webpack.config.js
Due: none

specify script location
  frontend/sample.env.local
  frontend/webpack.dev.js
Due: none

Use types from ReplayWebPage (#2265)
  frontend/package.json
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa/ui/spinner.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/replayWebPage.d.ts
  frontend/src/shoelace.ts
  frontend/src/utils/notify.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: none

merge analysis into single build command
  frontend/docs/docs/develop/frontend-dev.md
  frontend/package.json
  frontend/rspack.config.js
  frontend/yarn.lock
Due: none

add rspack & yarn command for it
  frontend/package.json
  frontend/rspack.config.js
  frontend/yarn.lock
Due: none

fix serve script to work with rspack config
  frontend/scripts/serve.js
Due: none
