Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Update API settings test
  backend/test/test_api.py
Due: pylint

Use crawl.scale, add lots of debug print logging
  backend/btrixcloud/operator/crawls.py
Due: pylint

Fixups
  backend/btrixcloud/operator/crawls.py
Due: pylint

Consolidate print logging lines
  backend/btrixcloud/operator/crawls.py
Due: pylint

Temp: Debug print log sync_crawls return
  backend/btrixcloud/operator/crawls.py
Due: pylint

Remove some debug print logging
  backend/btrixcloud/operator/crawls.py
Due: pylint

fix size not showingf
  frontend/src/features/archived-items/crawl-list.ts
Due: none

add name to logs
  frontend/src/features/archived-items/crawl-logs.ts
Due: none

rebase fix
  backend/btrixcloud/operator/crawls.py
Due: pylint

paginate crawls
  frontend/src/components/ui/pagination.ts
  frontend/src/features/archived-items/crawl-logs.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

tweak layout
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

simplify poll
  frontend/src/components/ui/desc-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/theme.stylesheet.css
Due: none

simplify buttons
  frontend/src/components/ui/copy-button.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

show tooltip for entire latest crawl
  frontend/src/features/crawl-workflows/workflow-list.ts
Due: none

update title
  frontend/src/pages/admin/admin.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/index.ts
Due: none

update link
  frontend/src/index.ts
Due: none

show active crawl count
  frontend/src/index.ts
  frontend/src/shoelace.ts
Due: none

work
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

refresh crawls
  frontend/src/index.ts
  frontend/src/pages/crawls.ts
Due: none

remove filter
  frontend/src/index.ts
Due: none

remove unused badge component
  frontend/src/shoelace.ts
Due: none

update comment
  frontend/src/pages/crawls.ts
Due: none

update labels
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/org/usage-history-table.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/stories/components/DataTable.stories.ts
Due: none

update tooltips
  frontend/src/features/crawl-workflows/workflow-list.ts
Due: none

update menu options
  frontend/src/components/ui/button.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/strings/archived-items/tooltips.ts
Due: none

update tooltip
  frontend/src/features/org/usage-history-table.ts
Due: none

render not found page
  frontend/src/index.ts
Due: none

update dropdown
  frontend/src/index.ts
Due: none

hide separator
  frontend/src/index.ts
Due: none

add types
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature-change.yml
  .github/ISSUE_TEMPLATE/localization-request.yml
Due: password-check

update feature change issue
  .github/ISSUE_TEMPLATE/feature-change.yml
  .github/ISSUE_TEMPLATE/localization-request.yml
Due: password-check

add new feature template
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/2-feature-change.yml
  .github/ISSUE_TEMPLATE/3-localization-request.yml
  .github/ISSUE_TEMPLATE/4-new-feature.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: password-check

update test
  frontend/src/index.test.ts
Due: none

crawler pod: fix securityContext for readOnlyFileSystem and allowPriviligeEscalation: needed to be on the container
  chart/app-templates/crawler.yaml
Due: password-check

try mapping subdir to /tmp until crawler is updated
  chart/app-templates/crawler.yaml
Due: password-check

add generic task
  .github/ISSUE_TEMPLATE/4-docs-change.yml
  .github/ISSUE_TEMPLATE/5-new-feature.yml
  .github/ISSUE_TEMPLATE/6-task.yml
Due: password-check

feat: Update superadmin active crawls view (#2618)
  frontend/src/index.ts
  frontend/src/pages/admin/admin.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/index.ts
Due: none

fix merge
  backend/btrixcloud/operator/crawls.py
Due: pylint

docs: update k3s chart example for installing ingress-nginx
  chart/examples/k3s-hosted.yaml
Due: password-check

docs: update remote deployment docs with working example for installing ingress-nginx, fixes #2619
  frontend/docs/docs/deploy/remote.md
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
