Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Add collations for crawlconfigs list
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Fix typing
  backend/btrixcloud/db.py
Due: pylint

Fix spacing
  .github/workflows/k3d-nightly-ci.yaml
Due: password-check

Update tests
  backend/test/conftest.py
  backend/test/test_crawl_config_search_values.py
  backend/test/test_filter_sort_results.py
  backend/test/test_uploads.py
Due: pylint

Define case_insensitive_collation once
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/migrations/migration_0039_coll_slugs.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/utils.py
Due: pylint

Add case-insensitive index for workflow firstSeed
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Test typo fix
  backend/test/test_filter_sort_results.py
Due: pylint

Fix test comparison
  backend/test/test_filter_sort_results.py
Due: pylint

feat: Add tag constraints (#3006)
  frontend/src/components/ui/badge.ts
  frontend/src/components/ui/code/index.ts
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/tag-container.ts
  frontend/src/components/ui/tag-input.ts
  frontend/src/components/ui/tag.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/stories/components/TagContainer.stories.ts
  frontend/src/stories/components/TagContainer.ts
Due: none

try latest mongo for test
  chart/test/test.yaml
Due: password-check

Add initial disk cleanup action for nightly tests (#3014)
  .github/workflows/k3d-nightly-ci.yaml
Due: password-check

use shared collation
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
Due: pylint

add filtering profiles by 'name'
  backend/btrixcloud/profiles.py
  backend/test/test_profiles.py
Due: pylint

Use shared collation in profile aggregation
  backend/btrixcloud/profiles.py
Due: pylint

Add profile /search-values endpoint (#3015)
  backend/btrixcloud/models.py
  backend/btrixcloud/profiles.py
  backend/test/test_profiles.py
Due: pylint

CI: use Mongo 8 for testing (#3019)
  chart/test/test.yaml
Due: password-check

fix consistency
  frontend/src/features/browser-profiles/select-browser-profile.ts
Due: none

update badges
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/browser-profiles/templates/badges.ts
  frontend/src/features/crawls/crawler-channel-badge.ts
  frontend/src/features/crawls/index.ts
  frontend/src/features/crawls/proxy-badge.ts
Due: none

disable proxy selection
  frontend/src/components/ui/select-crawler-proxy.ts
  frontend/src/controllers/localize.ts
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

revert style changes
  frontend/src/theme.stylesheet.css
Due: none

update select
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/features/crawls/crawler-channel-badge.ts
  frontend/src/features/crawls/proxy-badge.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/strings/crawl-workflows/infoText.ts
  frontend/src/theme.stylesheet.css
Due: none

show details in panel
  frontend/src/components/ui/link.ts
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/browser-profiles/templates/badges.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

prevent retranslating
  frontend/src/strings/crawl-workflows/infoText.ts
Due: none

fix stylesheet merge
  frontend/src/theme.stylesheet.css
Due: none

decrease click area
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

move details to popover
  frontend/src/components/ui/badge.ts
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/browser-profiles/templates/origins-with-remainder.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/theme.stylesheet.css
Due: none

update controls
  frontend/src/components/ui/select-crawler-proxy.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/infoText.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

make header text selectable
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

ungroup proxy setting
  frontend/src/components/ui/select-crawler-proxy.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
Due: none

show suggestions
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix menu option
  frontend/src/theme.stylesheet.css
Due: none

update suffix
  frontend/src/components/ui/select-crawler-proxy.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

ci: add disk cleanup
  .github/workflows/k3d-ci.yaml
Due: password-check

fix default proxy id
  frontend/src/pages/org/index.ts
Due: none

update help text
  frontend/src/features/browser-profiles/start-browser-dialog.ts
Due: none

fix display of proxy
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/link.ts
  frontend/src/features/browser-profiles/templates/badges.ts
  frontend/src/features/crawls/crawler-channel-badge.ts
  frontend/src/features/crawls/proxy-badge.ts
Due: none

update label
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix inconsistent labels
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles/profile.ts
Due: none

feat: Standardize browser profile display and proxy setting (#3004)
  .github/workflows/k3d-ci.yaml
  frontend/src/components/ui/badge.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/link.ts
  frontend/src/components/ui/select-crawler-proxy.ts
  frontend/src/controllers/localize.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/features/browser-profiles/start-browser-dialog.ts
  frontend/src/features/browser-profiles/templates/badges.ts
  frontend/src/features/browser-profiles/templates/origins-with-remainder.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/features/crawls/crawler-channel-badge.ts
  frontend/src/features/crawls/index.ts
  frontend/src/features/crawls/proxy-badge.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles/profile.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/strings/crawl-workflows/infoText.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: password-check
