Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Add default URL to arg
  backend/test/conftest.py
Due: pylint

Profile UX tweaks + sync between new and edit workflows (#1840)
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-new.ts
Due: none

Docs: Elaborates on using user agents
  docs/user-guide/workflow-setup.md
Due: none

Updates URL & adds comment detail
  docs/user-guide/workflow-setup.md
Due: none

Updates user agent string
  docs/user-guide/workflow-setup.md
Due: none

Adds further details about the link comment
  docs/user-guide/workflow-setup.md
Due: none

remove filler word
  docs/user-guide/workflow-setup.md
Due: none

Docs: Elaborates on using user agents (#1841)
  docs/user-guide/workflow-setup.md
Due: none

QA analysis scale configurable in helm chart (#1843)
  backend/btrixcloud/operator/crawls.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

Move copy-field label outside of field
  frontend/src/components/ui/copy-field.ts
Due: none

Move copy-field label outside of field (#1845)
  frontend/src/components/ui/copy-field.ts
Due: none

update hover styles
  frontend/src/components/ui/table/table-header-cell.ts
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

enable sort
  frontend/src/components/ui/table/table-cell.ts
  frontend/src/components/ui/table/table-header-cell.ts
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

transition opacity
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

convert to TailwindElement
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

swap table style to style from archived item list
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

add loading state while fetching sorted list
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

use tabular nums for date columns for easier comparison
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

swap `sl-tag` for `btrix-badge`
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

truncate titles
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

make some columns in archived item list tabular
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

improve type suggestions for sort directions
  frontend/src/components/ui/table/table-header-cell.ts
  frontend/src/types/api.ts
  frontend/src/types/utils.ts
Due: none

break long urls in tooltips
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

only set min height on table when there's no content & content is loading
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

Update frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

Include file count in QA stats scores
  backend/btrixcloud/crawls.py
  backend/btrixcloud/pages.py
Due: pylint

feat: User-sort browser profiles list (#1839)
  backend/btrixcloud/profiles.py
  backend/test/conftest.py
  backend/test/test_profiles.py
  frontend/src/components/ui/table/table-cell.ts
  frontend/src/components/ui/table/table-header-cell.ts
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/types/api.ts
  frontend/src/types/utils.ts
Due: pylint

Exclude identical files from No data key
  backend/btrixcloud/pages.py
Due: pylint

Frontend fixups
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Test for Files in QA stats response
  backend/test/test_qa.py
Due: pylint

Fix Good Match label
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

version: bump to 1.11.0-beta.0
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Implement code review changes
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Add firstSeed and seedCount to profile crawlconfig info
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/profiles.py
  backend/test/test_profiles.py
Due: pylint

Use firstSeed/seedCount fallback for workflows without names
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/types/crawler.ts
Due: none

Fix firstSeed in test
  backend/test/test_profiles.py
Due: pylint

ensure text can be translated
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Capitalization fixes
  docs/user-guide/crawl-workflows.md
Due: none

Update frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

Include number of Identical Files in QA stats and meter (#1848)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/pages.py
  backend/test/test_qa.py
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: pylint
