Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

update model
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

remove resources from collection list
  backend/btrixcloud/colls.py
Due: pylint

ensure running crawl configmap is updated when exclusions are added/removed (#2409)
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  chart/app-templates/crawler.yaml
Due: pylint, password-check

optimize page snapshot query: - rename /urls -> /pageSnapshots - remove facet, just return results - frontend: update to new model, don't check total, just look at results list length
  backend/btrixcloud/colls.py
  frontend/src/features/collections/select-collection-page.ts
Due: pylint

cleanup
  backend/btrixcloud/colls.py
  backend/btrixcloud/pages.py
Due: pylint

fix typo
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
Due: pylint

lint
  backend/btrixcloud/crawlmanager.py
Due: pylint

delay rendering contents of collection edit dialog
  frontend/src/features/collections/collection-edit-dialog.ts
Due: none

Delay rendering components doing data fetching in collection settings dialog until open (#2414)
  frontend/src/features/collections/collection-edit-dialog.ts
Due: none

optimize page snapshots, add non-group alternative
  backend/btrixcloud/colls.py
  backend/btrixcloud/pages.py
Due: pylint

fix page_count update?
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
Due: pylint

tweak page snapshot sort order
  backend/btrixcloud/colls.py
  backend/btrixcloud/pages.py
Due: pylint

use gte
  backend/btrixcloud/colls.py
  backend/btrixcloud/pages.py
Due: pylint

readd unquote
  backend/btrixcloud/colls.py
Due: pylint

lint fix
  backend/btrixcloud/colls.py
Due: pylint

tweak
  backend/btrixcloud/colls.py
Due: pylint

more cleanup: - restore pages response models to include 'items' again - rename endpoint to pageSnapshots -> pageUrlCounts - fix tests to not check 'total'
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/test/test_collections.py
  frontend/src/features/collections/select-collection-page.ts
Due: pylint

wip
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/menu-item-without-focus.ts
  frontend/src/context/popup-boundary.ts
  frontend/src/features/collections/collection-edit-dialog.ts
  frontend/src/features/collections/select-collection-page.ts
  frontend/src/utils/css.ts
Due: pylint

test fix
  backend/test/test_collections.py
Due: pylint

Update backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawlmanager.py
Due: pylint

try $text for title, $gte for urls
  backend/btrixcloud/pages.py
Due: pylint

Adjust test
  backend/test/test_collections.py
Due: pylint

Call lower correctly
  backend/test/test_collections.py
Due: pylint

Remove commented out code
  backend/btrixcloud/pages.py
Due: pylint

Pages Query: use $text search or prefix search (#2415)
  backend/btrixcloud/pages.py
  backend/test/test_collections.py
Due: pylint

Adjust crawler pvc on exit code 3 (out of storage) (#2375)
  backend/btrixcloud/operator/crawls.py
Due: pylint

Additional French Translations from Weblate (#2410)
  frontend/src/__generated__/locales/de.ts
  frontend/src/__generated__/locales/es.ts
  frontend/src/__generated__/locales/fr.ts
  frontend/src/__generated__/locales/pt.ts
  frontend/xliff/de.xlf
  frontend/xliff/es.xlf
  frontend/xliff/fr.xlf
  frontend/xliff/pt.xlf
Due: none

Fix typo in response
  backend/btrixcloud/background_jobs.py
Due: pylint

Add test asserts for crawl/upload version field
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

remove dupe index
  backend/btrixcloud/pages.py
Due: pylint

fix mis-sized spinner
  frontend/src/features/collections/edit-dialog/presentation-section.ts
Due: none

Rework crawl page migration + MongoDB Query Optimizations (#2412)
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/migrations/migration_0037_upload_pages.py
  backend/btrixcloud/migrations/migration_0042_page_filenames.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/bgjobs.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/version.py
  backend/test/test_collections.py
  backend/test/test_org.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  chart/Chart.yaml
  chart/app-templates/background_job.yaml
  chart/email-templates/failed_bg_job
  chart/templates/configmap.yaml
  chart/values.yaml
  frontend/docs/docs/deploy/admin/upgrade-notes.md
  frontend/docs/mkdocs.yml
  frontend/package.json
  frontend/src/features/collections/collection-edit-dialog.ts
  frontend/src/features/collections/select-collection-page.ts
  version.txt
Due: pylint, password-check

add /pagesSearch endpoint after all
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/bgjobs.py
  backend/btrixcloud/pages.py
Due: pylint

allow only one of coll_id or crawl_ids
  backend/btrixcloud/colls.py
  backend/btrixcloud/pages.py
Due: pylint

frontend qa: add 'Crawl Order' as default sort option
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

job check fix
  backend/btrixcloud/operator/bgjobs.py
Due: pylint

undo change
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

test fix
  backend/test/test_run_crawl.py
Due: pylint

bgjobs: fix success check to account for parallelism
  backend/btrixcloud/operator/bgjobs.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
