Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

update list column
  frontend/src/pages/org/collections-list.ts
Due: none

add extra docs for crawler values being multiplied bump to 650 millicpu units just in case
  chart/values.yaml
Due: password-check

fix: On branch btrix-interpreter Changes to be committed: (use "git restore --staged <file>..." to unstage) modified: btrix
  btrix
Due: none

tweak backend memory + cpu defaults
  chart/values.yaml
Due: password-check

Resource Constraints Cleanup: (fixes #895) (#1019)
  backend/btrixcloud/templates/crawler.yaml
  backend/btrixcloud/templates/redis.yaml
  chart/templates/backend.yaml
  chart/templates/configmap.yaml
  chart/templates/frontend.yaml
  chart/templates/minio.yaml
  chart/templates/mongo.yaml
  chart/templates/signer.yaml
  chart/values.yaml
Due: password-check

fix(build): add DOCKER_BUILDKIT=1 to frontend Dockerfile to better support older versions of Docker (#1021)
  scripts/build-frontend.sh
Due: none

add crawl ending states: 'generate-wacz', 'uploading-wacz', 'pending-wait' that occur after a crawl is finished or is being stopped (#1022)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator.py
  frontend/src/components/crawl-status.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
Due: pylint

List web captures in Collection (#1024)
  frontend/src/components/button.ts
  frontend/src/components/crawl-list.ts
  frontend/src/components/not-found.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/collections-new.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/routes.ts
Due: none

fix: usr/bin/env bash interpreter for btrix (#1028)
  btrix
Due: none

Sort Collections by size (#1026)
  frontend/src/pages/org/collections-list.ts
  frontend/src/types/collection.ts
Due: none

version: bump to 1.6.0-beta.3
  backend/btrixcloud/version.py
  frontend/package.json
  version.txt
Due: pylint

feat: Display waiting message while backend is initializing
  frontend/src/pages/log-in.ts
Due: none

update desc list component
  frontend/src/components/desc-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

add info bar
  frontend/src/components/desc-list.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

update copy
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
Due: none

style desc list item with css
  frontend/src/components/desc-list.ts
Due: none

rename props and methods
  frontend/src/pages/org/collection-detail.ts
Due: none

tweak text
  frontend/src/pages/org/collection-editor.ts
Due: none

feat: use html dialog instead
  frontend/src/pages/log-in.ts
Due: none

Add additional filter and sorting, search-values to all-crawls
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/test/conftest.py
  backend/test/test_stop_cancel_crawl.py
  backend/test/test_uploads.py
  backend/test_nightly/test_concurrent_crawl_limit.py
Due: pylint

Copy config name to crawl, fix functionality and tests
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/test/conftest.py
  backend/test/test_run_crawl.py
  backend/test/test_stop_cancel_crawl.py
  backend/test/test_uploads.py
Due: pylint

Add migration to copy config name to associated crawls
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0013_crawl_name.py
Due: pylint

Bring uploads filters in alignment with all-crawls
  backend/btrixcloud/uploads.py
Due: pylint

Remove id checking from search-values test
  backend/test/test_uploads.py
Due: pylint

Fix decoding function namespace
  backend/btrixcloud/uploads.py
Due: pylint

fix: make pretty & work correctly
  frontend/src/pages/log-in.ts
Due: none

fix: take Sua's suggestons, less code needed
  frontend/src/pages/log-in.ts
Due: none

fix: add styling
  frontend/src/pages/log-in.ts
Due: none

fix: center text
  frontend/src/pages/log-in.ts
Due: none

fix: clear timeout on disconnect callback
  frontend/src/pages/log-in.ts
Due: none

fix: timerId not timeoutId
  frontend/src/pages/log-in.ts
Due: none

fix: need to use `window.timeOut` to get a timerId back
  frontend/src/pages/log-in.ts
Due: none

fix: remove strange character?
  frontend/src/pages/log-in.ts
Due: none

fix: run `yarn format` in frontend dir
  frontend/src/components/config-details.ts
  frontend/src/components/copy-button.ts
  frontend/src/components/crawl-logs.ts
  frontend/src/components/input/input.ts
  frontend/src/components/markdown-editor.ts
  frontend/src/components/orgs-list.ts
  frontend/src/components/profile-browser.ts
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

Replace `title` with `sl-tooltip`
  frontend/src/pages/org/collection-detail.ts
Due: none

Add info bar to Collection detail view (#1036)
  frontend/src/components/desc-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

frontend: tweak icons for public/private, label as 'make shareable', add shareable action items to collection list view
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
Due: none

eye-slash -> eye-slash-fill
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
Due: none

Change the menu option to use eye-slash (unfilled)
  frontend/src/pages/org/collection-detail.ts
Due: none

Revert margin change edited elsewhere in branch
  frontend/src/pages/org/collection-detail.ts
Due: none
