Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

fix edge case where future cancel date is undefined
  frontend/src/components/orgs-list.ts
Due: none

surface trial cancellation dates in the past as errors
  frontend/src/components/orgs-list.ts
Due: none

redis security context: - mount redis volumes as redis (user/group 999) - needed to run with redis >=8.0.2
  chart/app-templates/redis.yaml
Due: password-check

helm: add crawler_network_policy_additional_egress, resolves #2121
  chart/templates/networkpolicies.yaml
  chart/values.yaml
Due: password-check

Popover styling fixes (#2637)
  frontend/src/components/ui/popover.ts
Due: none

update org filtering logic so trialing cancelled subs are included in "cancellation scheduled" filter instead of "inactive"
  frontend/src/components/orgs-list.ts
Due: none

improve future cancellation info display
  frontend/src/components/orgs-list.ts
Due: none

Adding Admonitions
  frontend/docs/docs/user-guide/running-crawl.md
Due: none

include scheduled-for-cancellation trials in "trialing" filter
  frontend/src/components/orgs-list.ts
Due: none

add filter for unexpected/bad states
  frontend/src/components/orgs-list.ts
Due: none

version: bump to 1.17.0-beta.0
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

update qa
  frontend/src/features/qa/page-list/ui/page-details.ts
  frontend/src/features/qa/page-list/ui/page.ts
Due: none

remove unused localize
  frontend/src/components/ui/popover.ts
Due: none

gh action: switch to different github action for public helm chart action to avoid overriding non-draft releases, fixes #2642
  .github/workflows/publish-helm-chart.yaml
Due: password-check

fix story label
  frontend/src/stories/components/Popover.stories.ts
Due: none

test not clobbering existing release
  version.txt
Due: none

reset version
  version.txt
Due: none

update browser profile
  frontend/src/components/ui/table/table.stylesheet.css
  frontend/src/pages/org/browser-profiles-list.ts
Due: none

update qa note
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

remove class
  frontend/src/theme.stylesheet.css
Due: none

Update backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Don't clobber existing helm chart in release! (#2643)
  .github/workflows/publish-helm-chart.yaml
Due: password-check

Add deprecated flag to Scale
  backend/btrixcloud/models.py
Due: pylint

gh: Update issue contact links
  .github/ISSUE_TEMPLATE/config.yml
Due: password-check

Translated using Weblate (French)
  frontend/xliff/fr.xlf
Due: none

Allow users to run crawls with 1 or 2 browser windows (#2627)
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0005_operator_scheduled_jobs.py
  backend/btrixcloud/migrations/migration_0047_scale_to_browser_windows.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/utils.py
  backend/test/test_api.py
  backend/test/test_crawlconfigs.py
  backend/test/test_filter_sort_results.py
  backend/test/test_run_crawl.py
  chart/app-templates/crawl_job.yaml
  chart/templates/configmap.yaml
  chart/templates/priorities.yaml
  chart/values.yaml
  frontend/src/__mocks__/api/settings.js
  frontend/src/components/screencast.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/app.ts
  frontend/src/utils/crawler.ts
  frontend/src/utils/workflow.ts
Due: pylint, password-check

fix: Improve embedded user guide UX (#2630)
  frontend/docs/docs/user-guide/getting-started.md
  frontend/docs/docs/user-guide/index.md
  frontend/docs/docs/user-guide/signup.md
  frontend/docs/mkdocs.yml
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.ts
  frontend/src/utils/workflow.ts
Due: password-check

gh: Update issue contact links (#2645)
  .github/ISSUE_TEMPLATE/config.yml
Due: password-check

Fix issues with superadmin org filtering logic (#2638)
  frontend/src/components/orgs-list.ts
Due: none

Format Weblate Changes
  frontend/src/__generated__/locales/fr.ts
  frontend/xliff/fr.xlf
Due: none

devex: Replace inverted tooltip style with popver component (#2644)
  frontend/src/components/ui/popover.ts
  frontend/src/components/ui/table/table.stylesheet.css
  frontend/src/features/qa/page-list/ui/page-details.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/stories/components/Popover.stories.ts
  frontend/src/theme.stylesheet.css
Due: none

handle trialing without cancel
  frontend/src/pages/org/settings/components/billing.ts
Due: none

update org banner
  frontend/src/features/org/org-status-banner.ts
Due: none

update variant
  frontend/src/features/org/org-status-banner.ts
Due: none

revert max trial days
  frontend/src/features/org/org-status-banner.ts
Due: none

comment out card on file
  frontend/src/pages/org/settings/components/billing.ts
Due: none
