Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Update README features link to new landing site (#1302)
  README.md
Due: none

Update backend/btrixcloud/users.py
  backend/btrixcloud/users.py
Due: pylint

Update user names in crawls and workflows after username update (#1299)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

rename 'created' -> 'attempted', update on each failed login
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
Due: pylint

Prevent user from logging in after 5 consecutive failed login attempts until pw is reset (#1281)
  backend/btrixcloud/auth.py
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
  backend/test/test_users.py
  frontend/src/pages/log-in.ts
Due: pylint

Update tag spacing and styling for remove button (#1283)
  frontend/src/components/tag.ts
Due: none

show usage table
  frontend/src/pages/org/dashboard.ts
  frontend/src/types/org.ts
Due: none

show concurrent crawls
  frontend/src/pages/org/dashboard.ts
Due: none

show card skedleton
  frontend/src/pages/org/dashboard.ts
Due: none

update labels
  frontend/src/pages/org/dashboard.ts
Due: none

show placeholder if no value
  frontend/src/pages/org/dashboard.ts
Due: none

fix 500s: enforce UUID typing on request models, to avoid 500 errors later
  backend/btrixcloud/auth.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

Update frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/dashboard.ts
Due: none

Provide full resources in archived items finished webhooks
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/webhooks.py
  backend/test/test_webhooks.py
  chart/templates/configmap.yaml
Due: pylint, password-check

further uuid pass: - make uuid.UUID type explicit in fastapi routes whenever possible - catch ValueErr from UUID4 -> uuid.UUID conversion - cleanup
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/users.py
Due: pylint

keep user array as string key, required for mongo one more conversion
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
Due: pylint

Display crawl time usage history table (#1304)
  frontend/src/pages/org/dashboard.ts
  frontend/src/types/org.ts
Due: none

clean up presign defaults: - set default minutes in code, if omitted in chart - add commented out value to chart - use minutes as maximum
  backend/btrixcloud/basecrawls.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

fix default
  backend/btrixcloud/basecrawls.py
Due: pylint

Provide full resources in archived items finished webhooks (#1308)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/webhooks.py
  backend/test/test_webhooks.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

add null check
  frontend/src/pages/org/index.ts
Due: none

Adds <btrix-details> to table
  frontend/src/pages/org/dashboard.ts
Due: none

Change Duration to Elapsed Time in Crawl Detail
  frontend/src/pages/org/crawl-detail.ts
Due: none

Fix z-index footer issue in crawl workflow form
  frontend/src/pages/org/workflow-editor.ts
Due: none

Update backend/btrixcloud/operator.py
  backend/btrixcloud/operator.py
Due: pylint

fix too many requests check
  frontend/src/pages/log-in.ts
Due: none

minor frontend fixes: - fix missing org slug instead of org id change - fix login validation to check for 429 response code
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
Due: none

set exec time interval update to 60 seconds
  backend/btrixcloud/operator.py
Due: pylint

fix typo again
  frontend/src/pages/log-in.ts
Due: none

Frontend typo fixes (#1315)
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
Due: none

Exec Time Incremental Updates (#1314)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
Due: pylint

Use defualt if crawlfile doesn't have def_storage_name
  backend/btrixcloud/storages.py
Due: pylint

Check for empty string for SMTP password
  backend/btrixcloud/emailsender.py
Due: pylint

More stringent UUID types for user input / avoid 500 errors (#1309)
  backend/btrixcloud/auth.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/users.py
Due: pylint

additional fixes
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/orgs.py
  frontend/src/pages/org/index.ts
Due: pylint

typo fix
  backend/btrixcloud/basecrawls.py
Due: pylint

Issue 1261 execution time exceeded simplify (#1318)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
  backend/test_nightly/test_execution_minutes_quota.py
  frontend/src/components/orgs-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/routes.ts
  frontend/src/types/org.ts
  frontend/src/utils/LiteElement.ts
Due: pylint

Rename maxCrawlMinutesPerMonth to maxExecMinutesPerMonth
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test_nightly/test_execution_minutes_quota.py
Due: pylint

Fix typing for add_crawl_config
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Fix label for maxExecMinutesPerMonth
  frontend/src/components/orgs-list.ts
Due: none
