Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

readd missing api
  backend/btrixcloud/main.py
Due: pylint

mark pod resource values as non-optional
  backend/btrixcloud/operator.py
Due: pylint

additional changes for bg-jobs
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/uploads.py
Due: pylint

fix
  backend/btrixcloud/uploads.py
Due: pylint

refactor
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/operator.py
Due: pylint

fix arg typo
  backend/btrixcloud/main_op.py
Due: pylint

add db-backups cronjob
  chart/templates/db-backup.yaml
Due: password-check

users: add case-insensitive index to maintain backwards compatibility with fastapi-users (#1319)
  backend/btrixcloud/users.py
  backend/test/conftest.py
  backend/test/test_users.py
Due: pylint

work
  chart/templates/db-backup.yaml
Due: password-check

version: bump to 1.8.0-beta.1
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

run conditionally on first storage with 'is_db_backup' set!
  chart/templates/db-backup.yaml
Due: password-check

use secrets for mongo / minio auth instead of inserting credentials directly enable db backups by default
  chart/templates/db-backup.yaml
  chart/templates/mongo.yaml
  chart/values.yaml
Due: password-check

escape user/pass in url
  chart/templates/mongo.yaml
Due: password-check

use separate 'db_backups' value, enable backups if db_backups.storage is set, also allow customizing db_backups.schedule and db_backups.path
  chart/templates/db-backup.yaml
  chart/values.yaml
Due: password-check

disable by default
  chart/values.yaml
Due: password-check

fix empty value check
  chart/templates/db-backup.yaml
Due: password-check

add priority for background job always finalize, unless db update exception occurred
  backend/btrixcloud/operator.py
  backend/btrixcloud/templates/redis.yaml
  backend/btrixcloud/templates/replicate_job.yaml
  chart/templates/priorities.yaml
Due: pylint, password-check

always set 'finished' time
  backend/btrixcloud/operator.py
Due: pylint

minio: add 'minio_local_console_port' option to enable mapping minio console 9001 to a local port for debugging
  chart/templates/minio.yaml
  chart/values.yaml
Due: password-check

localization: enable locale picker, use localStorage to read/write current locale
  frontend/src/components/locale-picker.ts
  frontend/src/index.ts
  frontend/src/utils/localization.ts
Due: none

update strings
  frontend/src/__generated__/locales/en-US.ts
  frontend/xliff/en-US.xlf
Due: none

fix regression in concurrent crawls: - check the 'btrix.org' instead of 'oid' labels in getting related crawls
  backend/btrixcloud/operator.py
Due: pylint

fix regression in concurrent crawls: (#1324)
  backend/btrixcloud/operator.py
Due: pylint

Additional Type Hints / Type Fix Pass (#1320)
  .github/workflows/lint.yaml
  backend/btrixcloud/auth.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/users.py
  backend/btrixcloud/webhooks.py
Due: pylint, password-check

Set default replica location and test it
  backend/test/test_org.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  chart/test/test.yaml
Due: pylint, password-check

Fix resources reference for upload test
  backend/test/test_org.py
  backend/test/test_uploads.py
Due: pylint

Check numReplicas, not replicas (not in CrawlFileOut)
  backend/test/test_org.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Flesh out replication tests
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Update test.yaml storages
  chart/test/test.yaml
Due: password-check

Wait for background job to finish
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Return BackgroundJob from GET endpoint
  backend/btrixcloud/background_jobs.py
Due: pylint

Filter jobs by type
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Add missing return
  backend/btrixcloud/background_jobs.py
Due: pylint

tests: create 'replica-0' bucket for testing, fix test storage path
  .github/workflows/k3d-ci.yaml
  chart/test/test.yaml
Due: password-check

Fixups
  backend/btrixcloud/background_jobs.py
  backend/test/test_uploads.py
Due: pylint

Add additional background_jobs tests
  backend/test/test_uploads.py
  backend/test/test_z_background_jobs.py
Due: pylint

Return specific background job model in GET endpoint
  backend/btrixcloud/background_jobs.py
  backend/test/test_z_background_jobs.py
Due: pylint

Verify replicated files directly from minio and fix tests
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  backend/test/test_z_background_jobs.py
  backend/test/utils.py
  chart/templates/minio.yaml
  chart/test/test.yaml
Due: pylint, password-check

undo unrelated changes in redis.yaml
  backend/btrixcloud/templates/redis.yaml
Due: password-check

One more go
  backend/btrixcloud/background_jobs.py
  backend/test/test_z_background_jobs.py
  backend/test/utils.py
Due: pylint
