Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

adjust api handler
  frontend/src/utils/LiteElement.ts
Due: none

move message to org component
  frontend/src/components/file-uploader.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

update error messages
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

move alert
  frontend/src/pages/org/index.ts
Due: none

update upload message
  frontend/src/components/file-uploader.ts
Due: none

remove unused import
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

remove first update test
  frontend/src/pages/org/index.ts
Due: none

update message
  frontend/src/pages/org/index.ts
Due: none

show quota on load
  frontend/src/pages/org/index.ts
Due: none

allow creating new workflow
  frontend/src/pages/org/workflows-list.ts
Due: none

migration: fix 0015 migration to ensure it reads the correct mongo collection, iterates over orgs and uses org _id field fixes #1153
  backend/btrixcloud/migrations/migration_0015_org_storage_usage.py
Due: pylint

fix more vars
  backend/btrixcloud/migrations/migration_0015_org_storage_usage.py
Due: pylint

handle missing body json
  frontend/src/utils/LiteElement.ts
Due: none

disable other run crawls
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

Fix 0015 migration (#1154)
  backend/btrixcloud/migrations/migration_0015_org_storage_usage.py
Due: pylint

feat: add SMTP {port, use_tls} config (#1142)
  backend/btrixcloud/emailsender.py
  chart/templates/secrets.yaml
  chart/values.yaml
Due: pylint, password-check

Update backend/btrixcloud/operator.py
  backend/btrixcloud/operator.py
Due: pylint

improve logging for tests cancel crawl test: just wait until page is found, not necessarily done
  .github/workflows/k3d-ci.yaml
  backend/test/test_stop_cancel_crawl.py
Due: pylint, password-check

more failed pod logging: - print previous log - print pod statuses for failed crawls
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator.py
Due: pylint

debug: if logging last lines of failed container, don't restart to ensure get original log (previous container logs may not be available)
  backend/btrixcloud/operator.py
  backend/btrixcloud/templates/crawler.yaml
Due: pylint, password-check

feat: move do_setup to "new" format
  ansible/do_setup.yml
  ansible/install_k3s.yml
  ansible/inventory/digital_ocean/group_vars/main.yml
  ansible/inventory/digital_ocean/hosts.ini
  ansible/playbooks/do_setup.yml
  ansible/roles/btrix/deploy/main.yml
  ansible/roles/btrix/install/tasks/main.yml
  ansible/roles/digital_ocean/setup/tasks/main.yml
  ansible/roles/digital_ocean/setup/templates/do-values.template.yaml
  docs/deploy/ansible/digitalocean.md
  docs/deploy/ansible/k3s.md
Due: password-check

ci: disable frontend, use 1 browser instance
  chart/templates/frontend.yaml
  chart/test/test.yaml
  chart/values.yaml
Due: password-check

enable node port on backend if no frontend
  chart/templates/backend.yaml
Due: password-check

reenable frontend
  chart/test/test.yaml
Due: password-check

remove disabling frontend
  chart/templates/frontend.yaml
  chart/values.yaml
Due: password-check

undo
  chart/templates/backend.yaml
  chart/test/test.yaml
Due: password-check

reset
  chart/values.yaml
Due: password-check

need at least 1 done page
  backend/test/test_stop_cancel_crawl.py
Due: pylint

tweak tests
  backend/btrixcloud/k8sapi.py
  chart/test/test.yaml
Due: pylint, password-check

exclude community page
  backend/test/conftest.py
Due: pylint

set auto_add crawl limit to 1
  backend/test/conftest.py
Due: pylint

use dev image
  backend/test/test_stop_cancel_crawl.py
  chart/test/test.yaml
Due: pylint, password-check

refactor: use cancel_crawl() for canceled/failed crawls if logging lines/no restart mode, fail crawl when pod fails
  backend/btrixcloud/operator.py
Due: pylint

tests: don't run in loop if test fails, catch log exceptions
  backend/btrixcloud/k8sapi.py
  backend/test/conftest.py
Due: pylint

cleanup, replace cancel_crawl() with fail_crawl(), cancel crawl simply handled via mark_finished
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator.py
  backend/test/test_stop_cancel_crawl.py
Due: pylint

print redis errors also
  backend/btrixcloud/operator.py
Due: pylint

fix logging
  backend/btrixcloud/operator.py
Due: pylint

fix lint
  backend/btrixcloud/operator.py
Due: pylint

keep OnFailure restart policy, interrupted pods incorrectly considered failed! disable disk_utiliazation_threshold to avoid unnecessary interrupts
  backend/btrixcloud/operator.py
  backend/btrixcloud/templates/crawler.yaml
  chart/test/test.yaml
Due: pylint, password-check
