Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Rename guide
  docs/deploy/customization.md
  docs/deploy/index.md
  mkdocs.yml
Due: password-check

Update description
  docs/deploy/index.md
Due: none

Add guide for customizing Helm chart values (#1556)
  docs/deploy/customization.md
  docs/deploy/index.md
  mkdocs.yml
Due: password-check

Revert "Fixes navigation button min-height"
  frontend/src/components/ui/navigation/navigation-button.ts
Due: none

Temporarily remove pages migration (#1572)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0026_crawl_pages.py
Due: pylint

store lastUpdateTime in db
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator.py
Due: pylint

combine set_crawl_exec_last_update into inc_crawl_exec_time
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator.py
Due: pylint

update lastUpdatedTime even if already processed for same interval
  backend/btrixcloud/operator.py
Due: pylint

Archived item nav button quickfix (#1543)
  frontend/src/components/ui/navigation/navigation-button.ts
  frontend/src/components/ui/pagination.ts
  frontend/src/components/ui/tab-list.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

Fix execution time checking by keeping lastUpdatedTime in db (#1573)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator.py
Due: pylint

fix missing screen width change from 91ff95c
  frontend/src/components/ui/tab-list.ts
Due: none

disable postcss-lit for var css
  frontend/src/components/ui/tab-list.ts
Due: none

Create `ArchivedItemPage` and `ArchivedItemPageComment` types (#1567)
  frontend/src/types/crawler.ts
Due: none

Flesh out method docstring
  backend/btrixcloud/crawls.py
Due: pylint

Fixups
  backend/btrixcloud/crawls.py
Due: pylint

WIP: Add replay.json endpoint for QA crawls
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
Due: pylint

Use qa-crawlid-ts naming scheme for QA crawls
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/models.py
Due: pylint

Minor touchups
  backend/btrixcloud/crawls.py
Due: pylint

Start adding backend support to start and stop qa crawl jobs
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/models.py
  chart/app-templates/crawl_qa_job.yaml
  chart/app-templates/crawler_qa.yaml
Due: pylint, password-check

Fixups
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
Due: pylint

Add API endpoint to return QACrawls associated with a crawl
  backend/btrixcloud/crawls.py
Due: pylint

Add updatable crawl reviewStatus
  backend/btrixcloud/models.py
  backend/test/test_run_crawl.py
Due: pylint

Test that reviewStatus is None before being set
  backend/test/test_run_crawl.py
Due: pylint

Add updatable QA reviewStatus field to crawls (#1575)
  backend/btrixcloud/models.py
  backend/test/test_run_crawl.py
Due: pylint

removes "Cloud" from Browsertrix Cloud again
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/settings.ts
Due: none

removes "Cloud" from name in documentation
  docs/deploy/ansible/digitalocean.md
  docs/deploy/ansible/k3s.md
  docs/deploy/ansible/microk8s.md
  docs/deploy/index.md
  docs/deploy/local.md
  docs/deploy/remote.md
  docs/develop/docs.md
  docs/develop/frontend-dev.md
  docs/develop/index.md
  docs/develop/local-dev-setup.md
  docs/index.md
Due: none

stop propagation
  frontend/src/components/ui/copy-button.ts
Due: none

fix page
  frontend/src/features/archived-items/crawl-pending-exclusions.ts
Due: none

fix spacing
  frontend/src/features/archived-items/crawl-pending-exclusions.ts
Due: none

move to utility
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/string.ts
Due: none

version: update to 1.9.3
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Prevent closing tooltips from closing collecction share dialog (#1579)
  frontend/src/components/ui/copy-button.ts
Due: none

fix navigation buttons
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/navigation/index.ts
Due: none

Fix pending exclusion pagination (#1578)
  frontend/src/features/archived-items/crawl-pending-exclusions.ts
Due: none

Fix regex escape in exclusion editor text match (#1577)
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/string.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
