Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Add list endpoint for files
  backend/btrixcloud/colls.py
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/models.py
  backend/test/test_files.py
Due: pylint

Remove reundant resolve_internal_access_path call
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Resolve internal path for presigned seed file url
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/main.py
  backend/btrixcloud/ops.py
Due: pylint

Store seedCount and firstSeed in db for configs and crawls
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0048_first_seed_seed_count.py
  backend/btrixcloud/models.py
Due: pylint

Fix linting
  backend/btrixcloud/storages.py
Due: pylint

Fix cleanup cron job and tests for it
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/main_bg.py
  backend/test_nightly/test_cleanup_seed_files.py
  chart/templates/configmap.yaml
  chart/test/test-nightly-addons.yaml
  chart/values.yaml
Due: pylint, password-check

Try running job in default namespace
  backend/btrixcloud/crawlmanager.py
Due: pylint

Add back aggregation stage to unset config
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Fix crawlconfig test expected value
  backend/test/test_crawlconfigs.py
Due: pylint

Don't reuse match_query variable name
  backend/btrixcloud/migrations/migration_0048_first_seed_seed_count.py
Due: pylint

Remove ops-configs volume from background cron job yaml
  chart/app-templates/background_cron_job.yaml
Due: password-check

Add test for deleting in-use seed file
  backend/test/test_crawlconfigs.py
Due: pylint

Enforce min_seed_file_crawler_image
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

Rename ImageFile -> UserFile
  backend/btrixcloud/colls.py
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/models.py
Due: pylint

Add missing Union import
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Add file upload tests
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/models.py
  backend/test/data/seedfile.txt
  backend/test/test_files.py
Due: pylint

Remove extra cruft
  backend/test/test_crawlconfigs.py
Due: pylint

Cleanup cronjobs in default namespace on reset
  btrix
Due: none

Update .github/workflows/k3d-nightly-ci.yaml
  .github/workflows/k3d-nightly-ci.yaml
Due: password-check

Include seed file and thumbnail storage in org stats
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0049_recalculate_org_storage.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
Due: pylint

Add nightly test for seed file cleanup jobs
  backend/test_nightly/data/seedfile.txt
  backend/test_nightly/test_cleanup_seed_files.py
  chart/test/test-nightly-addons.yaml
Due: pylint, password-check

Add new file uplooads module with PUT and DELETE endpoints
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/db.py
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/main_migrations.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/ops.py
Due: pylint

Last test fix
  backend/test/test_uploads.py
Due: pylint

Add back ops-configs volume
  chart/app-templates/background_cron_job.yaml
Due: password-check

Fix list_user_files default sortBy
  backend/btrixcloud/file_uploads.py
Due: pylint

Add slashes to end of page urls in test
  backend/test/test_run_crawl.py
Due: pylint

Fix search values to not assume all workflows have seeds
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Modify migration to be more efficient
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0049_recalculate_org_storage.py
Due: pylint

Fix migration
  backend/btrixcloud/migrations/migration_0048_first_seed_seed_count.py
Due: pylint

Add additional check on crawlconfig update
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Fixup
  backend/btrixcloud/background_jobs.py
Due: pylint

TEMP FOR TESTING: Run nightly tests on this branch
  .github/workflows/k3d-nightly-ci.yaml
Due: password-check

Fix expected workflow name
  backend/test/test_crawlconfigs.py
Due: pylint

Make seed file cleanup job cron schedule configurable
  backend/btrixcloud/crawlmanager.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

rolebinding: allow creating cronjobs in default namespace
  chart/templates/role.yaml
Due: password-check

Calculate firstSeed and seedCount for seed files on upload
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/models.py
  backend/test/test_files.py
Due: pylint

Throw exception on job failure so job is marked as unsuccessful
  backend/btrixcloud/file_uploads.py
Due: pylint

WIP: Add seedFileId to workflow POST and PATCH
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
Due: pylint

tests: add host header to be sure of exact host
  backend/test/test_collections.py
  backend/test/test_files.py
Due: pylint

further cleanup: - consolidate UserUploadFile into SeedFile, can split again if needed - add get_absolute_presigned_url() to UserFile for convenience in getting absolute url directly
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/file_uploads.py
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint
