Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

change trash hover color
  frontend/src/features/qa/page-qa-toolbar.ts
  frontend/src/theme.stylesheet.css
Due: none

remove beta notice
  frontend/src/features/qa/page-qa-toolbar.ts
  frontend/src/pages/org/archived-item-qa.ts
Due: none

Adds webmanifest file type to prettier config
  frontend/package.json
Due: none

scroll long urls
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/theme.stylesheet.css
Due: none

Allow users to rate page in QA review (#1534)
  frontend/src/components/ui/dialog.ts
  frontend/src/features/index.ts
  frontend/src/features/qa/index.ts
  frontend/src/features/qa/page-qa-toolbar.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
Due: none

lint
  frontend/src/features/qa/page-qa-toolbar.ts
  frontend/src/pages/org/archived-item-qa.ts
Due: none

Switch to tailwind classes for colors
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
Due: none

remove unused `proxy-memoize` dependency
  frontend/package.json
  frontend/yarn.lock
Due: none

rework cache, weak ref map, and tests for them
  frontend/src/utils/weakCache.test.ts
  frontend/src/utils/weakCache.ts
Due: none

pull in changes from `emma/1497-qa-page-list-sidebar` branch
  frontend/src/components/ui/search-combobox.ts
Due: none

revert unrelated changes
  frontend/src/components/ui/search-combobox.ts
  frontend/src/utils/polyfills.ts
Due: none

fix timeout being in seconds rather than ms
  frontend/src/utils/weakCache.test.ts
Due: none

refactor styles out to fix build
  frontend/src/features/qa/page-list/index.ts
  frontend/src/features/qa/page-list/page-list.stylesheet.css
Due: none

wip replacement for shoelace tree
  frontend/src/components/ui/grouped-list.ts
  frontend/src/features/qa/page-list/helpers.ts
  frontend/src/features/qa/page-list/index.ts
  frontend/src/features/qa/page-list/page-list.stylesheet.css
  frontend/src/features/qa/page-list/test-data.ts
  frontend/src/features/qa/page-list/ui/animate.ts
  frontend/src/features/qa/page-list/ui/index.ts
  frontend/src/features/qa/page-list/ui/page-group.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/utils/weakCache.ts
Due: none

fix mistakenly renamed items
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

additional pages APIs: - /qa/<qa_run_id>/pages - /activeQA
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/pages.py
Due: pylint

update test, remove 'qa' from default /pages response
  backend/test/test_run_crawl.py
Due: pylint

Adjust priorities without changing bg-jobs
  chart/templates/priorities.yaml
Due: password-check

Browsertrix Cloud → Browsertrix text rename (#1466)
  .github/ISSUE_TEMPLATE/bug.yml
  README.md
  chart/email-templates/invite
  chart/email-templates/validate
  docs/deploy/ansible/digitalocean.md
  docs/deploy/ansible/k3s.md
  docs/deploy/ansible/microk8s.md
  docs/deploy/index.md
  docs/deploy/local.md
  docs/deploy/remote.md
  docs/develop/docs.md
  docs/develop/frontend-dev.md
  docs/develop/index.md
  docs/develop/local-dev-setup.md
  docs/index.md
  frontend/src/components/ui/README.md
  frontend/src/index.ejs
  frontend/src/index.ts
  frontend/src/pages/accept-invite.ts
  frontend/src/pages/join.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/settings.ts
Due: password-check

Change qa crawl priority back
  chart/templates/priorities.yaml
Due: password-check

Allow None for stats for reverse compatibility
  backend/btrixcloud/models.py
Due: pylint

Add conditional for if base crawl has stats
  backend/btrixcloud/orgs.py
Due: pylint

bg job priority: rename to 'bg-job' (to avoid conflict) and change to -1000
  chart/app-templates/replica_job.yaml
  chart/templates/priorities.yaml
Due: password-check

lint: fix conditional for stats being optional
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawls.py
Due: pylint

Manually approve pages in QA review (#1576)
  frontend/src/components/ui/dialog.ts
  frontend/src/features/index.ts
  frontend/src/features/qa/index.ts
  frontend/src/features/qa/page-qa-toolbar.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/pages/org/index.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
Due: none

Remove duplicate notes field in sort_fields
  backend/btrixcloud/pages.py
Due: pylint

Print log pages data in operator
  backend/btrixcloud/operator/crawls.py
Due: pylint

add tab
  frontend/src/pages/org/archived-item-detail.ts
Due: none

add placeholder sections
  frontend/src/pages/org/archived-item-detail.ts
Due: none

add badge
  frontend/src/components/ui/badge.ts
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/shoelace.ts
Due: none

fix more missed renames
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
Due: none

Frontend: Various icon updates (#1569)
  frontend/src/assets/icons/copy-code.svg
  frontend/src/components/ui/copy-button.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/tailwind.config.js
Due: none

allow passing group config into group render fn
  frontend/src/components/ui/grouped-list.ts
Due: none

hook up page list to state from archived item qa component
  frontend/src/features/qa/page-list/helpers.ts
  frontend/src/features/qa/page-list/index.ts
  frontend/src/features/qa/page-list/ui/page-group.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/types/crawler.ts
Due: none

only render comments if there's a comment to render
  frontend/src/features/qa/page-list/page-details.ts
Due: none

Convert settings members list trashcan to icon button
  frontend/src/pages/org/settings.ts
Due: none

Adds remove org member icon button label
  frontend/src/pages/org/settings.ts
Due: none

Convert exclusion table trash to icon button with label
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
Due: none

Add QA tab to archived item detail (#1590)
  frontend/src/components/ui/badge.ts
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/shoelace.ts
Due: none

Adds Browsertrix logo to readme
  README.md
  assets/browsertrix-lockup-color-dynamic.svg
Due: none
