Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Switches eye-slash (unfilled) for list controls
  frontend/src/pages/org/collections-list.ts
Due: none

readd warn color on menu items, add tooltips for list view
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
Due: none

Support for Public / Shareable Collections (#1038)
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collection-edit.ts
  frontend/src/pages/org/collection-editor.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/collections-new.ts
  frontend/src/types/collection.ts
Due: pylint

fix: run `yarn format` in frontend dir (#1043)
  frontend/src/components/config-details.ts
  frontend/src/components/copy-button.ts
  frontend/src/components/crawl-logs.ts
  frontend/src/components/input/input.ts
  frontend/src/components/markdown-editor.ts
  frontend/src/components/orgs-list.ts
  frontend/src/components/profile-browser.ts
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

Remove index for and sorting by fileCount
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
Due: pylint

Remove tests for sorting by fileCount
  backend/test/test_uploads.py
Due: pylint

fix public collections endpoint returning 404 when not public tests: add tests for public collections endpoint when collection is public and when not
  backend/btrixcloud/colls.py
  backend/test/test_collections.py
Due: pylint

Remove crawl list lookup to crawl_configs
  backend/btrixcloud/crawls.py
Due: pylint

Backend: standardize search values, filters, and sorting for archived items (#1039)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0013_crawl_name.py
  backend/btrixcloud/models.py
  backend/btrixcloud/uploads.py
  backend/test/conftest.py
  backend/test/test_run_crawl.py
  backend/test/test_stop_cancel_crawl.py
  backend/test/test_uploads.py
  backend/test_nightly/test_concurrent_crawl_limit.py
Due: pylint

Add org maxPagesPerCrawl quota
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint

Make frontend changes
  frontend/src/components/orgs-list.ts
  frontend/src/pages/org/workflow-editor.ts
Due: none

Fix localization
  frontend/src/components/orgs-list.ts
Due: none

Make label localization change
  frontend/src/components/orgs-list.ts
Due: none

fix public collections endpoint returning 404 when not public (#1052)
  backend/btrixcloud/colls.py
  backend/test/test_collections.py
Due: pylint

filter all archived datar by name
  frontend/src/pages/org/crawls-list.ts
Due: none

standardize endpoints
  frontend/src/pages/org/crawls-list.ts
Due: none

update copy
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-editor.ts
Due: none

filter search values by type
  frontend/src/pages/org/crawls-list.ts
Due: none

update share button
  frontend/src/pages/org/collection-detail.ts
Due: none

Backend: add crawlType filter to /all-crawls/search-values
  backend/btrixcloud/basecrawls.py
  backend/test/test_uploads.py
Due: pylint

backend: crawlout: include raw crawnconfig in api details, fixes #1030
  backend/btrixcloud/models.py
Due: pylint

add syntax highlighting
  frontend/package.json
  frontend/src/components/code.ts
  frontend/src/components/index.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/yarn.lock
Due: none

Remove unnecessary conditional
  backend/btrixcloud/basecrawls.py
Due: pylint

Fix invalid filter test
  backend/test/test_uploads.py
Due: pylint

toggle public
  frontend/src/pages/org/collection-detail.ts
Due: none

style sharable link
  frontend/src/pages/org/collection-detail.ts
Due: none

update styles
  frontend/src/pages/org/collection-detail.ts
Due: none

revert dev props
  frontend/src/pages/org/collection-detail.ts
Due: none

update copy
  frontend/src/pages/org/collection-detail.ts
Due: none

update copy
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
Due: none

add icon for share
  frontend/src/pages/org/collections-list.ts
Due: none

update search placeholder text
  frontend/src/pages/org/crawls-list.ts
Due: none

update crawl copy
  frontend/src/pages/org/crawls-list.ts
Due: none

refactor prop and method names
  frontend/src/pages/org/crawls-list.ts
Due: none

remove reference to crawl from copy
  frontend/src/pages/org/crawls-list.ts
Due: none

standardize messages
  frontend/src/pages/org/crawls-list.ts
Due: none

remove unused method
  frontend/src/pages/org/crawls-list.ts
Due: none

ci: attempt to optimize ci build: - build yarn stage separately, only on native platform - import built yarn output on both platforms, with native nginx! - allow trigger for testing
  .github/workflows/release.yaml
  frontend/Dockerfile
Due: password-check

run on push for testing
  .github/workflows/release.yaml
Due: password-check
