Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

fix permissions
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

update empty state
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

update create permissions
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

update progress
  frontend/src/features/collections/index-import-progress.ts
  frontend/src/features/collections/templates/delete-index-dialog.ts
  frontend/src/features/collections/templates/index-status.ts
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

wip update progress
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/collections/index-import-progress.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/templates/index-status.ts
  frontend/src/pages/org/archived-item-detail/templates/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
  frontend/src/theme.stylesheet.css
Due: none

udpate actions and stats
  frontend/src/components/ui/overflow-dropdown.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/collections/templates/create-index-dialog.ts
  frontend/src/features/collections/templates/delete-index-dialog.ts
  frontend/src/features/collections/templates/purge-index-dialog.ts
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
  frontend/src/pages/org/collection-detail/types.ts
  frontend/src/utils/localize.ts
Due: none

keep pylint for now, as many comments in place to disable pylint warnings
  .github/workflows/backend-lint.yaml
  backend/dev-requirements.txt
Due: password-check

linter update: - replace black and pylint with ruff - rerun formatting with ruff - update ci to use ruff
  .github/workflows/backend-lint.yaml
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/migrations/migration_0030_user_invites_flatten.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/dev-requirements.txt
Due: pylint, password-check

Add ruff to pre-commit config
  .pre-commit-config.yaml
Due: password-check

update VSCode extensions to use ruff instead of black
  .vscode/extensions.json
Due: none

feat: Manage dedupe index + improved collection workflow list UX (#3108)
  frontend/src/components/ui/overflow-dropdown.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/collections/collection-workflow-list/settings.ts
  frontend/src/features/collections/index-import-progress.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/templates/create-index-dialog.ts
  frontend/src/features/collections/templates/delete-index-dialog.ts
  frontend/src/features/collections/templates/index-status.ts
  frontend/src/features/collections/templates/purge-index-dialog.ts
  frontend/src/layouts/emptyMessage.ts
  frontend/src/pages/org/archived-item-detail/templates/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail/collection-detail.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
  frontend/src/pages/org/collection-detail/types.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/settings/components/deduplication.ts
  frontend/src/stories/features/collections/CollectionWorkflowListSettings.stories.ts
  frontend/src/stories/features/collections/CollectionWorkflowListSettings.ts
  frontend/src/stories/features/collections/DedupeWorkflows.stories.ts
  frontend/src/stories/features/collections/DedupeWorkflows.ts
  frontend/src/stories/features/collections/data.ts
  frontend/src/strings/collections/index-error.ts
  frontend/src/theme.stylesheet.css
  frontend/src/types/api.ts
  frontend/src/types/dedupe.ts
  frontend/src/utils/localize.ts
Due: none

differentiate upload
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.stylesheet.css
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/features/collections/dedupe-workflows/dedupe-workflows.stylesheet.css
Due: none

update endpoint
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/stories/features/collections/DedupeWorkflows.stories.ts
  frontend/src/types/crawler.ts
Due: none

show list of uploads
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

update detail view
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/features/collections/dedupe-badge.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/templates/badges.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

add dependents view
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.stylesheet.css
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/features/archived-items/templates/dedupe-status-icon.ts
  frontend/src/features/collections/dedupe-workflows/dedupe-workflows.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

add collection id filter to search values
  backend/btrixcloud/basecrawls.py
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: pylint

use search ids for dependents
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/features/collections/dedupe-workflows/dedupe-workflows.ts
  frontend/src/pages/org/collection-detail/dedupe.ts
  frontend/src/types/archivedItems.ts
Due: none

fix lint
  backend/btrixcloud/basecrawls.py
Due: pylint

fix labels
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

clean up comments
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

update response model
  backend/btrixcloud/models.py
Due: pylint

Fix Total Pages Computation (#3120)
  backend/btrixcloud/operator/crawls.py
Due: pylint

Linter update, switch to ruff (#3119)
  .github/workflows/backend-lint.yaml
  .pre-commit-config.yaml
  .vscode/extensions.json
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/migrations/migration_0030_user_invites_flatten.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/dev-requirements.txt
Due: pylint, password-check

Ensure crawl logs are also deleted when crawls are deleted
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawl_logs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/main.py
  backend/btrixcloud/ops.py
Due: pylint

find -> find_one
  backend/btrixcloud/migrations/migration_0056_crawl_logs_deleted_cleanup.py
Due: pylint

Add migration to delete logs for deleted crawls
  backend/btrixcloud/migrations/migration_0056_crawl_logs_deleted_cleanup.py
Due: pylint

Bump CURR_DB_VERSION to 0056
  backend/btrixcloud/db.py
Due: pylint

Add migration to delete bg jobs for deleted orgs from db
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0057_deleted_org_bg_job_cleanup.py
Due: pylint

Delete background jobs on org delete
  backend/btrixcloud/orgs.py
Due: pylint

Remove unnecessary variable
  backend/btrixcloud/migrations/migration_0057_replicate_files.py
Due: pylint

Add migration to look for unreplicated files and replicate them
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0057_replicate_files.py
Due: pylint

Add migration to fix failed bg jobs with weird state
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0056_rerun_bg_jobs.py
Due: pylint

Fix typo
  backend/btrixcloud/migrations/migration_0056_rerun_bg_jobs.py
Due: pylint

Remove unnecessary success filter
  backend/btrixcloud/migrations/migration_0057_replicate_files.py
Due: pylint

Dedup Backend Initial Implementation (#2868)
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0010_collection_total_size.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/__init__.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/ops.py
  chart/Chart.lock
  chart/Chart.yaml
  chart/app-templates/coll_index.yaml
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/index-import-configmap.yaml
  chart/app-templates/index-import-job.yaml
  chart/app-templates/redis.yaml
  chart/btrix-crds/Chart.yaml
  chart/btrix-crds/templates/collindex.yaml
  chart/charts/btrix-admin-logging-0.1.0.tgz
  chart/charts/btrix-crds-0.1.1.tgz
  chart/charts/btrix-crds-0.2.0.tgz
  chart/templates/configmap.yaml
  chart/templates/operators.yaml
  chart/templates/priorities.yaml
  chart/templates/role.yaml
  chart/test/test.yaml
  chart/values.yaml
Due: pylint, password-check

task: Add dedupe form control to workflow (#2932)
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/WithSearchOrgContext.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/events/btrix-select.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/collections/collection-create-dialog.ts
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/collections/linked-collections/linked-collections.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/strings/crawl-workflows/labels.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/collection.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

feat: Add dedupe API filters (#3056)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
Due: pylint

quickfix: add 'ids' param to org get crawl ids endpoint
  backend/btrixcloud/crawls.py
Due: pylint

fix: fix dedupe filter
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
