Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

feat(ci): add github action for password_check
  .github/workflows/password-check.yaml
  scripts/check_passwords.py
Due: pylint, password-check

fix: pass ansible lint
  .github/workflows/ansible-lint.yaml
  ansible/lint-cfg.yml
  ansible/playbooks/do_setup.yml
Due: password-check

fix(ansible): idempotent DO registry creation
  ansible/playbooks/do_setup.yml
Due: password-check

docs(ansible): mention teardown in the docs
  docs/deploy/ansible/digitalocean.md
Due: none

fix: pass ansible-lint
  ansible/playbooks/do_teardown.yml
Due: password-check

Upgrade lit + shoelace to reduce build size (#938)
  frontend/package.json
  frontend/yarn.lock
Due: none

Add proxy settings for crawler and profilebrowser
  backend/btrixcloud/templates/crawler.yaml
  backend/btrixcloud/templates/profilebrowser.yaml
  chart/templates/configmap.yaml
  chart/values.yaml
Due: password-check

Fix pull_request syntax in ansible lint GH Action (#995)
  .github/workflows/ansible-lint.yaml
  ansible/lint-cfg.yml
  ansible/playbooks/do_setup.yml
Due: password-check

format fix
  backend/btrixcloud/basecrawls.py
Due: pylint

Move pydantic models to separate module + refactor crawl response endpoints to be consistent (#983)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0003_mutable_crawl_configs.py
  backend/btrixcloud/migrations/migration_0004_config_seeds.py
  backend/btrixcloud/migrations/migration_0005_operator_scheduled_jobs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/pagination.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/users.py
  backend/test/test_uploads.py
Due: pylint

Add collections and tags to uploads
  backend/btrixcloud/uploads.py
  backend/test/conftest.py
  backend/test/test_uploads.py
Due: pylint

Fix order of deletion check test
  backend/test/test_uploads.py
Due: pylint

Re-add tags to UploadedCrawl model after rebase
  backend/btrixcloud/models.py
Due: pylint

debug, print key/path
  backend/btrixcloud/colls.py
Due: pylint

cleanup, fix policy path
  backend/btrixcloud/colls.py
  backend/btrixcloud/storages.py
Due: pylint

use endpoint_url url for public collection url
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint

Collections list and detail published state enhancements (#974)
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collection-edit.ts
  frontend/src/pages/org/collections-list.ts
Due: none

fix published url link
  backend/btrixcloud/colls.py
Due: pylint

Collections: poll collection until publication job is finished (#975)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
  backend/requirements.txt
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/shoelace.ts
  frontend/src/types/collection.ts
Due: pylint

Fix Users model heading
  backend/btrixcloud/models.py
Due: pylint

WIP: Add manual archiving backend
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/manual_archives.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/templates/manual_archiving_job.yaml
  backend/btrixcloud/templates/manualbrowser.yaml
  backend/btrixcloud/uploads.py
  backend/test/conftest.py
  backend/test/test_manual_archives.py
  backend/test/test_uploads.py
  chart/btrix-crds/templates/manualarchivingjob.yaml
  chart/charts/btrix-crds-0.1.0.tgz
  chart/templates/operators.yaml
  chart/templates/role.yaml
  chart/templates/secrets.yaml
  chart/values.yaml
Due: pylint, password-check

Add TODO where crawler work is needed
  backend/test/test_manual_archives.py
Due: pylint

Precompute collection.totalSize and make sortable
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Add migration to recompute collection data with totalSize
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0010_collection_total_size.py
Due: pylint

Remove descriptions from crawls in favor of notes
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/uploads.py
  backend/test/test_filter_sort_results.py
  backend/test/test_run_crawl.py
Due: pylint

Fix test
  backend/test/test_filter_sort_results.py
Due: pylint

Update frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/crawls-list.ts
Due: none

Add collections and tags to upload API endpoints (#993)
  backend/btrixcloud/models.py
  backend/btrixcloud/uploads.py
  backend/test/conftest.py
  backend/test/test_uploads.py
Due: pylint

Upload WACZ via UI (#992)
  frontend/src/components/collections-add.ts
  frontend/src/components/file-list.ts
  frontend/src/components/file-uploader.ts
  frontend/src/components/index.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/shoelace.ts
  frontend/src/utils/LiteElement.ts
Due: none

Add migration to replace None with 0 for configmap CRAWL_TIMEOUT
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0011_crawl_timeout_configmap.py
Due: pylint

Add totalSize to collections and make it sortable in list endpoint (#1001)
  backend/btrixcloud/colls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0010_collection_total_size.py
  backend/btrixcloud/models.py
  backend/test/test_collections.py
Due: pylint

Add migration to replace None with 0 for configmap CRAWL_TIMEOUT (#1008)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0011_crawl_timeout_configmap.py
Due: pylint

also consider 'ContainerCreating' state as running, as container will not be blocked by resource limits
  backend/btrixcloud/operator.py
Due: pylint

additional tweaks: - don't start redis until crawler is running - resync after 3 seconds when waiting for redis or in waiting for infra
  backend/btrixcloud/operator.py
Due: pylint

op: make fast retry seconds configurable via 'operator_fast_resync_secs' config value, default to 3 seconds
  backend/btrixcloud/operator.py
  chart/templates/configmap.yaml
Due: pylint, password-check

set_state: if not updating state, ensure state reflects actual value in db
  backend/btrixcloud/operator.py
Due: pylint

rename new_state -> actual_state
  backend/btrixcloud/operator.py
Due: pylint

Rename crawl notes to description
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0012_notes_to_description.py
  backend/btrixcloud/models.py
  backend/btrixcloud/uploads.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Update frontend to replace crawl/upload notes with description
  frontend/src/components/crawl-metadata-editor.ts
  frontend/src/components/file-uploader.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/types/crawler.ts
Due: none

Remove setting of config description from crawl list
  backend/btrixcloud/crawls.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
