Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

persist state
  frontend/src/components/ui/config-details.ts
  frontend/src/index.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/state.ts
Due: none

wip
  frontend/src/index.ts
  frontend/src/utils/state.ts
Due: none

derive userOrg
  frontend/src/components/screencast.ts
  frontend/src/features/accounts/account-settings.ts
  frontend/src/index.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/pages/invite/ui/org-form.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/persist.ts
  frontend/src/utils/state.ts
Due: none

update test import
  frontend/web-test-runner.config.mjs
Due: none

fix lodash imports
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/tsconfig.json
  frontend/web-test-runner.config.mjs
Due: none

add a crawling defaults on the Org to allow setting certain crawl workflow fields as defaults: (#2031)
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
Due: pylint

feat: Add help shortcuts to app header & footer (#2040)
  frontend/src/index.ts
  frontend/src/shoelace.ts
  frontend/src/theme.stylesheet.css
Due: none

update crawler channel fix: add crawlerChannel to update check
  backend/btrixcloud/crawlconfigs.py
Due: pylint

use pvc status instead of spec to get actual allocated storage
  backend/btrixcloud/operator/crawls.py
Due: pylint

also check for <1GBi
  backend/btrixcloud/operator/crawls.py
Due: pylint

simplify
  backend/btrixcloud/operator/crawls.py
Due: pylint

round to Gi
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

add 1GB min resize
  backend/btrixcloud/operator/crawls.py
Due: pylint

rename
  backend/btrixcloud/operator/crawls.py
Due: pylint

adjust pvc storage if crawler is running and is used more than 2.2x allocated storage shouldn't happen generally, but could occasionally if crawler is downloading lots of large files in one page
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  chart/app-templates/crawler.yaml
Due: pylint, password-check

update crawler channel fix: add crawlerChannel to update check (#2046)
  backend/btrixcloud/crawlconfigs.py
Due: pylint

chore: Improve time to load org UI (#2044)
  frontend/src/components/screencast.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/features/accounts/account-settings.ts
  frontend/src/index.ts
  frontend/src/pages/admin.ts
  frontend/src/pages/index.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/pages/invite/ui/org-form.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/components/billing.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/AuthService.ts
  frontend/src/utils/persist.ts
  frontend/src/utils/state.ts
  frontend/tsconfig.json
  frontend/web-test-runner.config.mjs
Due: none

version: update to 1.11.4
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

lastCrawlStopping always false for last crawl
  backend/btrixcloud/crawlconfigs.py
Due: pylint

stats recompute fixes: (#2022)
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Attempt to auto-adjust storage if usage is running out while crawl is running (#2023)
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  chart/app-templates/crawler.yaml
Due: pylint, password-check

specify package manager
  frontend/package.json
Due: none

update docs
  docs/develop/frontend-dev.md
Due: none

chore: Lock yarn version to classic (#2047)
  docs/develop/frontend-dev.md
  frontend/package.json
Due: none

fix help forum linknot showing on mobile
  frontend/src/index.ts
Due: none

fix: Help forum link not showing on mobile (#2049)
  frontend/src/index.ts
Due: none

add to api
  backend/btrixcloud/main.py
  backend/test/test_api.py
Due: pylint

add to chart
  backend/btrixcloud/main.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

show sign up link
  frontend/src/controllers/navigate.ts
  frontend/src/index.ts
  frontend/src/types/app.ts
  frontend/src/utils/LiteElement.ts
Due: none

expire settings in localstorage
  frontend/src/index.ts
  frontend/src/utils/persist.ts
  frontend/src/utils/state.ts
Due: none

store settings in session storage
  frontend/src/utils/state.ts
Due: none

feat: Add link to hosted sign-up page (#2045)
  backend/btrixcloud/main.py
  backend/test/test_api.py
  chart/templates/configmap.yaml
  chart/values.yaml
  frontend/src/controllers/navigate.ts
  frontend/src/index.ts
  frontend/src/types/app.ts
  frontend/src/utils/LiteElement.ts
  frontend/src/utils/persist.ts
  frontend/src/utils/state.ts
Due: pylint, password-check

update sidebar
  docs/user-guide/archived-items.md
  docs/user-guide/browser-profiles.md
  docs/user-guide/collections.md
  docs/user-guide/crawl-workflows.md
  docs/user-guide/index.md
  docs/user-guide/org-settings.md
  docs/user-guide/overview.md
  docs/user-guide/review.md
  docs/user-guide/signup.md
  docs/user-guide/user-settings.md
  docs/user-guide/workflow-setup.md
  mkdocs.yml
Due: password-check

update signup docs
  docs/deploy/customization.md
  docs/user-guide/join.md
  docs/user-guide/signup.md
  docs/user-guide/user-settings.md
Due: none

add join
  docs/user-guide/join.md
  mkdocs.yml
Due: password-check

separate crawl workflows
  docs/user-guide/crawl-workflows.md
  docs/user-guide/overview.md
  docs/user-guide/running-crawl.md
  docs/user-guide/workflow-setup.md
  mkdocs.yml
Due: password-check

organize
  docs/user-guide/archived-items.md
  docs/user-guide/browser-profiles.md
  docs/user-guide/collection.md
  docs/user-guide/collections.md
  docs/user-guide/crawl-workflows.md
  docs/user-guide/index.md
  docs/user-guide/org-members.md
  docs/user-guide/org-settings.md
  docs/user-guide/user-settings.md
  docs/user-guide/workflow-setup.md
  mkdocs.yml
Due: password-check

Fix broken links
  docs/user-guide/archived-items.md
  docs/user-guide/index.md
Due: none

update signup language with "sign up"
  docs/user-guide/signup.md
Due: none

Update self hosting instructions
  docs/user-guide/signup.md
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
