Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Fix regex escape in exclusion editor text match (#1577)
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/string.ts
Due: none

Prevent closing tooltips from closing collecction share dialog (#1579)
  frontend/src/components/ui/copy-button.ts
Due: none

Fix execution time checking by keeping lastUpdatedTime in db (#1573)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

disable postcss-lit for var css
  frontend/src/components/ui/tab-list.ts
Due: none

Merge V1.9.3 changes into main (#1583)
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
  frontend/src/components/ui/copy-button.ts
  frontend/src/components/ui/tab-list.ts
  frontend/src/features/archived-items/crawl-pending-exclusions.ts
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/string.ts
Due: pylint

qa run work, unifying interface
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawl_qa_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/crawler_qa.yaml
  chart/templates/priorities.yaml
Due: pylint, password-check

Adds favicons!
  frontend/src/apple-touch-icon.png
  frontend/src/favicon.ico
  frontend/src/favicon.svg
  frontend/src/icon-192.png
  frontend/src/icon-512.png
  frontend/src/index.ejs
Due: none

more refactoring of apis for qa
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  chart/app-templates/crawl_job.yaml
Due: pylint, password-check

rename a bunch more things (github jobs and email templates, primarily)
  .github/workflows/publish-helm-chart.yaml
  .github/workflows/release.yaml
  NOTICE
  ansible/do_setup.yml
  ansible/install_k3s.yml
  ansible/playbooks/do_teardown.yml
  ansible/roles/digital_ocean/setup/tasks/main.yml
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  chart/Chart.yaml
  chart/email-templates/invite
  chart/email-templates/validate
  chart/examples/k3s-hosted.yaml
  chart/examples/microk8s-hosted.yaml
  mkdocs.yml
Due: pylint, password-check

rename "browsertrix" to "browsertrix cloud" in init shell script (and format with shfmt)
  btrix
Due: none

Revert "rename a bunch more things (github jobs and email templates, primarily)"
  .github/workflows/publish-helm-chart.yaml
  .github/workflows/release.yaml
  NOTICE
  ansible/do_setup.yml
  ansible/install_k3s.yml
  ansible/playbooks/do_teardown.yml
  ansible/roles/digital_ocean/setup/tasks/main.yml
  backend/btrixcloud/main.py
  backend/btrixcloud/main_op.py
  btrix
  chart/Chart.yaml
  chart/email-templates/invite
  chart/email-templates/validate
  chart/examples/k3s-hosted.yaml
  chart/examples/microk8s-hosted.yaml
  mkdocs.yml
Due: pylint, password-check

update browsertrix cloud to browsertrix in email templates
  chart/email-templates/invite
  chart/email-templates/validate
Due: none

Adds 3D icons for PWAs
  frontend/src/apple-touch-icon.png
  frontend/src/icon-192.png
  frontend/src/icon-512.png
Due: none

Optimize favicon svg
  frontend/src/favicon.svg
Due: none

moves and links icons
  frontend/src/assets/favicons/apple-touch-icon.png
  frontend/src/assets/favicons/favicon.ico
  frontend/src/assets/favicons/favicon.svg
  frontend/src/assets/favicons/icon-192.png
  frontend/src/assets/favicons/icon-512.png
  frontend/webpack.config.js
Due: none

Adds app manifest
  frontend/src/index.ejs
  frontend/src/manifest.webmanifest
  frontend/webpack.config.js
Due: none

Adjust manifest icon brightness & contrast
  frontend/src/assets/favicons/icon-192.png
  frontend/src/assets/favicons/icon-512.png
Due: none

Further simplifies SVG
  frontend/src/assets/favicons/favicon.svg
Due: none

Runs prettier on webmanifest
  frontend/src/manifest.webmanifest
Due: none

update operator + crawl_ops calls to pass crawl_id + source_crawl_id and treat as 'crawl_or_qa_run_id' and 'qa_source_crawl_id' in crawl ops
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/pages.py
Due: pylint

store qa compare data in unified PageQACompare from page_dict
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
Due: pylint

fixes
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/operator/crawls.py
  chart/templates/priorities.yaml
Due: pylint, password-check

various fixes, add separate configmap for qa qa runs work!
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/storages.py
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/qa_configmap.yaml
  chart/templates/operators.yaml
  chart/templates/priorities.yaml
Due: pylint, password-check

rename qa_finished -> qaFinished fix qa replay additional type fixes, look up Org if missing, needed for resolving presigned URLs
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/storages.py
Due: pylint

various type fixes to fix tests: - ensure .from_dict() has proper generic type - use type Crawl objects for better type safety - add tags to BaseCrawl - fix delete_crawls() typing
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0004_config_seeds.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

page ops: create index on 'crawl_id'
  backend/btrixcloud/db.py
  backend/btrixcloud/pages.py
Due: pylint

lint fix
  backend/btrixcloud/operator/crawls.py
Due: pylint

upgrade shoelace
  frontend/package.json
  frontend/yarn.lock
Due: none

fix icon import
  frontend/src/shoelace.ts
Due: none

downgrade shoelace
  frontend/package.json
  frontend/yarn-error.log
  frontend/yarn.lock
Due: none

update lockfile
  frontend/yarn.lock
Due: none

Fix shoelace icon loading (#1587)
  frontend/package.json
  frontend/src/shoelace.ts
  frontend/yarn-error.log
  frontend/yarn.lock
Due: none

show pages list
  frontend/src/pages/org/archived-item-qa.ts
Due: none

make pages request
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/pages/org/index.ts
Due: none

add location bar
  frontend/src/pages/org/archived-item-qa.ts
Due: none

show current page url
  frontend/src/pages/org/archived-item-qa.ts
Due: none

add timestamp
  frontend/src/pages/org/archived-item-qa.ts
Due: none

only show timestamp if present
  frontend/src/pages/org/archived-item-qa.ts
Due: none

add dialog
  frontend/src/components/ui/dialog.ts
  frontend/src/features/archived-items/index.ts
  frontend/src/features/archived-items/qa-approval-buttons.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/utils/crawler.ts
Due: none

add buttons
  frontend/src/features/archived-items/index.ts
  frontend/src/features/archived-items/qa-rating.ts
  frontend/src/pages/org/archived-item-qa.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
