Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

open file in new window
  frontend/src/components/ui/file-input.ts
  frontend/src/components/ui/file-list/file-list-item.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

convert more than max
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

validate max
  frontend/src/components/ui/file-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

rewrite array-type lists in url search params to support removing items
  frontend/src/pages/org/workflows-list.ts
Due: none

remove console.log
  frontend/src/features/crawl-workflows/workflow-tag-filter.ts
Due: none

add explanation for why simpler method makes sense
  frontend/src/pages/org/workflows-list.ts
Due: none

upload seed file
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

version: bump to 1.17.3
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

hotfix: workflow list - rewrite arrays in url search params to remove items (#2734)
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  frontend/src/features/crawl-workflows/workflow-tag-filter.ts
  frontend/src/pages/org/workflows-list.ts
  version.txt
Due: pylint, password-check

handle uploaded file
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/types/collection.ts
  frontend/src/types/crawler.ts
  frontend/src/types/storage.ts
  frontend/src/types/workflow.ts
  frontend/src/utils/workflow.ts
Due: none

Update workflow setup user guide
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

Run webhook tests nightly
  backend/test/conftest.py
  backend/test/test_org.py
  backend/test_nightly/data/example.wacz
  backend/test_nightly/echo_server.py
  backend/test_nightly/test_webhooks.py
Due: pylint

Update frontend/docs/docs/user-guide/workflow-setup.md
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

Add echo server back to regular tests
  backend/test/conftest.py
  backend/test/echo_server.py
Due: pylint

handle upload 404
  frontend/src/controllers/api.ts
Due: none

Custom Page Prefix Usability Fixes (#2736)
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

Be more lenient with timing of uploads fixtures
  backend/test/test_uploads.py
Due: pylint

update copy for finish step
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

qa: run siteSpecific behaviors on QA, to allow proper waiting time for built-in site-specific behaviors
  chart/templates/configmap.yaml
Due: password-check

include upload in submitting
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

handle remove file
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/workflow.ts
Due: none

handle focus
  frontend/src/components/ui/file-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

qa: run siteSpecific behaviors on QA (#2739)
  chart/templates/configmap.yaml
Due: password-check

fix save wihout changes
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

ci: set ECHO_SERVER_HOST_URL for nightly tests
  .github/workflows/k3d-nightly-ci.yaml
Due: password-check

tests: for exception that have time.sleep, always also sleep in exception handler instead of 'pass'
  backend/test/conftest.py
  backend/test/test_z_delete_org.py
  backend/test_nightly/test_org_deletion.py
Due: pylint

paste edge cases
  frontend/src/components/ui/file-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/workflow.ts
Due: none

fix trim
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

add time import!
  backend/test/test_z_delete_org.py
Due: pylint

Run webhook tests nightly (#2738)
  .github/workflows/k3d-nightly-ci.yaml
  backend/test/conftest.py
  backend/test/test_org.py
  backend/test/test_uploads.py
  backend/test/test_z_delete_org.py
  backend/test_nightly/data/example.wacz
  backend/test_nightly/echo_server.py
  backend/test_nightly/test_org_deletion.py
  backend/test_nightly/test_webhooks.py
Due: pylint, password-check

fix lint
  backend/btrixcloud/profiles.py
Due: pylint

tests: fix commit to existing test
  backend/test/test_profiles.py
Due: pylint

fix tests: move read-only check, catch exception in do_commit
  backend/btrixcloud/profiles.py
  backend/test/test_profiles.py
Due: pylint

tests: update timeouts
  backend/test/conftest.py
  backend/test/test_profiles.py
Due: pylint

always update expireTime when checking browser state
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/profiles.py
Due: pylint

reformat
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/profiles.py
Due: pylint

use curly quote for default archive name, instead of straight quote
  backend/btrixcloud/orgs.py
Due: pylint

fix tests
  backend/test/test_org_subs.py
Due: pylint

ensure replay.json pagesQueryUrl has correct hostname by using the Host/Origin header from the API request fixes #2740, better fix for #2720 avoiding need for separate alias
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/utils.py
  backend/test/test_collections.py
  backend/test/test_stop_cancel_crawl.py
  backend/test_nightly/test_org_deletion.py
Due: pylint

reset everything & just pull in email repo contents as separate package no more monorepo, it seems to break web test runner
  emails/.dockerignore
  emails/.gitignore
  emails/Dockerfile
  emails/api-server.ts
  emails/components/button.tsx
  emails/components/card.tsx
  emails/components/warning.tsx
  emails/emails/index.ts
  emails/emails/invite.tsx
  emails/emails/password-reset.tsx
  emails/emails/static/browsertrix-icon-color.png
  emails/emails/static/linky-concerned-tiny.jpg
  emails/emails/static/linky-happy-tiny.jpg
  emails/emails/static/linky-hello-tiny.jpg
  emails/emails/static/webrecorder-lockup-color.png
  emails/emails/subscription-cancel.tsx
  emails/emails/trial-ending-soon.tsx
  emails/emails/verify-email.tsx
  emails/lib/date.ts
  emails/lib/number.ts
  emails/package.json
  emails/readme.md
  emails/tailwind.config.ts
  emails/templates/btrix.tsx
  emails/tsconfig.json
  emails/yarn.lock
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
