Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

move presets into sidebar in dialog
  frontend/src/features/admin/org-quota-editor.ts
Due: none

Update superadmin quota dialog with relative changes & presets (#2825)
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  chart/templates/configmap.yaml
  chart/values.yaml
  frontend/src/components/orgs-list.ts
  frontend/src/components/ui/data-grid/cellDirective.ts
  frontend/src/components/ui/data-grid/controllers/focus.ts
  frontend/src/components/ui/data-grid/data-grid-cell.ts
  frontend/src/components/ui/data-grid/data-grid-row.ts
  frontend/src/components/ui/data-grid/data-grid.ts
  frontend/src/components/ui/data-grid/types.ts
  frontend/src/features/admin/index.ts
  frontend/src/features/admin/org-quota-editor.ts
  frontend/src/features/org/usage-history-table.ts
  frontend/src/utils/pluralize.ts
Due: pylint, password-check

Fix nightly test for fail on content check by adding browser profile (#2857)
  backend/test_nightly/test_crawl_not_logged_in.py
Due: pylint

quickfix: only set AVAILABLE_PLANS if actually defined
  chart/templates/configmap.yaml
Due: password-check

quickfix: helm chart: only set AVAILABLE_PLANS if actually defined (#2869)
  chart/templates/configmap.yaml
Due: password-check

update `searchParamsValue` api with `setValue` instead of setter
  frontend/src/controllers/searchParamsValue.ts
  frontend/src/pages/org/archived-items.ts
Due: none

text: slight tweak to download text Download Files -> Download All update help text to indicate all files downloaded as a single WACZ
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

Add archived item tag filter (#2855)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  frontend/src/components/ui/search-combobox.ts
  frontend/src/controllers/searchParamsValue.ts
  frontend/src/features/archived-items/archived-item-state-filter.ts
  frontend/src/features/archived-items/archived-item-tag-filter.ts
  frontend/src/features/archived-items/index.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: pylint

optimize adding/removing crawls to/from collection: - use update_many to add/remove all - use $addToSet instead of $push to ignore duplicates
  backend/btrixcloud/basecrawls.py
Due: pylint

optimization: adding/removing crawls to/from collection: (#2870)
  backend/btrixcloud/basecrawls.py
Due: pylint

Shareable workflows (API + frontend) (#2783)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/test/test_crawlconfigs.py
  frontend/src/features/crawl-workflows/templates/shareable-notice.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/types/crawler.ts
Due: pylint

Download archived items as single WACZ file when possible via new download endpoint query parameter (#2850)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/storages.py
  backend/test/test_run_crawl.py
  frontend/src/features/crawl-workflows/workflow-action-menu/workflow-action-menu.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflow-detail.ts
Due: pylint

custom object cleanup if get_org_by_id() fails: - likely org has been deleted - crawljob: ensure job is finalized - cronjob: ensure job is finished
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
Due: pylint

add crud for CollIndex object in collections
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0010_collection_total_size.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/__init__.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/ops.py
Due: pylint

operator crds: - add CollIndex crd - add new operator
  backend/btrixcloud/operator/collindexes.py
  chart/btrix-crds/templates/collindex.yaml
  chart/templates/operators.yaml
Due: pylint, password-check

work
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/collindexes.py
  chart/app-templates/crawl_job.yaml
Due: pylint, password-check

add import job, minimally working update all models add dedupCollIndex on Crawl and CrawlConfig update crds
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  chart/Chart.lock
  chart/Chart.yaml
  chart/app-templates/coll_index.yaml
  chart/app-templates/index-import-configmap.yaml
  chart/app-templates/index-import-job.yaml
  chart/app-templates/redis.yaml
  chart/btrix-crds/Chart.yaml
  chart/btrix-crds/templates/collindex.yaml
  chart/charts/btrix-admin-logging-0.1.0.tgz
  chart/charts/btrix-crds-0.1.1.tgz
  chart/charts/btrix-proxies-0.1.0.tgz
  chart/templates/operators.yaml
  chart/templates/priorities.yaml
  chart/templates/role.yaml
Due: pylint, password-check

add btrix-crds 0.2.0
  chart/charts/btrix-crds-0.2.0.tgz
Due: none

make storage and memory configureable: lower settings for tests
  backend/btrixcloud/operator/collindexes.py
  chart/test/test.yaml
  chart/values.yaml
Due: pylint, password-check

fix typo/formatting
  backend/btrixcloud/crawlconfigs.py
Due: pylint

configmap: add missing settings
  chart/templates/configmap.yaml
Due: password-check

make dedupCollId independent, but require dedup coll to also be in autoAdd collections
  backend/btrixcloud/crawlconfigs.py
Due: pylint

ensure collindex deleted on collection delete
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
Due: pylint

add 'waiting_for_dedup_index' state to indicate crawl is awaiting dedup index to be ready before starting
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
Due: pylint

add dedupCollId to crawler, support running crawler with dedup!
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
Due: pylint, password-check

fix autoadd uploads to collections
  backend/btrixcloud/colls.py
  backend/btrixcloud/uploads.py
Due: pylint

index import channel: support setting custom crawler channel to use for index import with 'dedup_importer_channel'
  backend/btrixcloud/operator/collindexes.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

configmap: fix quotes
  chart/templates/configmap.yaml
Due: password-check

Update backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawlmanager.py
Due: pylint

Apply suggestion from @tw4l
  backend/btrixcloud/k8sapi.py
Due: pylint

Apply suggestion from @tw4l
  backend/btrixcloud/uploads.py
Due: pylint

chart: change index importer nodeAffinity to preferred not required
  chart/app-templates/index-import-job.yaml
Due: password-check

choose timezone without dst
  frontend/src/utils/cron.test.ts
  frontend/src/utils/localize.test.ts
  frontend/web-test-runner.config.mjs
Due: none

test: Fix frontend tests that use timezone (#2873)
  frontend/src/utils/cron.test.ts
  frontend/src/utils/localize.test.ts
  frontend/web-test-runner.config.mjs
Due: none

add query
  frontend/src/features/archived-items/item-metadata-editor.ts
Due: none

focus[
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

fix focus
  frontend/src/features/collections/collections-add.ts
Due: none

fix tests
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/utils/AuthService.test.ts
  frontend/src/utils/AuthService.ts
Due: none

aways save login during init
  frontend/src/utils/AuthService.ts
  frontend/src/utils/state.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
