Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

convert breadcrumbs
  frontend/src/controllers/navigate.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

add breadcrumb to qa
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

show breadcrumb for active tab
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

fix breadcrumb height and add skeletons when loading
  frontend/src/layouts/pageHeader.ts
Due: none

make route backwards compatible
  frontend/src/pages/org/index.ts
Due: none

rename wacz tab
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

add max-width to archived item titles in breadcrumbs
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/utils/crawler.ts
Due: none

label titles
  docs/user-guide/archived-items.md
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

fix qa breadcrumb alignment
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

fix link to settings
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

Revert util change temporarily, keep print logging
  backend/btrixcloud/utils.py
Due: pylint

Fix imports
  backend/btrixcloud/emailsender.py
Due: pylint

Make datetime returned by from_k8s_date aware
  backend/btrixcloud/utils.py
Due: pylint

Leave microseconds alone
  backend/btrixcloud/utils.py
Due: pylint

Just trying things
  backend/btrixcloud/utils.py
Due: pylint

Add temp comparison fix with TODO
  backend/btrixcloud/crawls.py
Due: pylint

Revert datetime serialization for export, add comment
  backend/btrixcloud/utils.py
Due: pylint

Try removing slice
  backend/btrixcloud/utils.py
Due: pylint

Fix crawl stats for now, add another TODO
  backend/btrixcloud/crawls.py
Due: pylint

feat: Breadcrumb navigation (#2053)
  docs/user-guide/archived-items.md
  frontend/src/controllers/navigate.ts
  frontend/src/layouts/pageHeader.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/routes.ts
  frontend/src/shoelace.ts
  frontend/src/utils/crawler.ts
Due: none

add 'numBrowsers' to /api/settings endpoint, part of #2048
  backend/btrixcloud/main.py
  backend/test/test_api.py
  chart/templates/configmap.yaml
Due: pylint, password-check

update field
  docs/user-guide/running-crawl.md
  docs/user-guide/workflow-setup.md
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

update docs
  docs/user-guide/crawl-workflows.md
  docs/user-guide/workflow-setup.md
Due: none

update info text
  docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/app.ts
  frontend/src/utils/workflow.ts
Due: none

update dialog
  frontend/src/pages/org/workflow-detail.ts
Due: none

update display value
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/workflow.ts
Due: none

update config
  frontend/src/components/ui/config-details.ts
  frontend/src/features/org/usage-history-table.ts
Due: none

fix when usage
  frontend/src/pages/org/workflow-detail.ts
Due: none

update dialog name
  frontend/src/pages/org/workflow-detail.ts
Due: none

fix info text
  frontend/src/pages/org/workflow-detail.ts
Due: none

update how edit browser disable
  frontend/src/pages/org/workflow-detail.ts
Due: none

update execution time text
  frontend/src/features/org/usage-history-table.ts
Due: none

fix
  backend/btrixcloud/operator/baseoperator.py
Due: pylint

Change verb
  frontend/src/pages/org/workflow-detail.ts
Due: none

Minor docs reword
  docs/user-guide/workflow-setup.md
Due: none

Fix broken ID links
  docs/user-guide/archived-items.md
  docs/user-guide/overview.md
Due: none

update notify message
  frontend/src/pages/org/workflow-detail.ts
Due: none

Update execution time overview
  docs/user-guide/overview.md
Due: none

update file documentation
  docs/user-guide/archived-items.md
Due: none

Fix copy-paste error
  backend/btrixcloud/crawls.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
