Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

use enum
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/select-crawler.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

pass proxies
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/pages/org/index.ts
Due: none

Add step to build emails image in bootstrap
  btrix
Due: none

btrix dev helper: Add step to build email image to bootstrap (#2939)
  btrix
Due: none

Fix typos
  backend/btrixcloud/crawlmanager.py
Due: pylint

adjust test
  backend/btrixcloud/crawlconfigs.py
Due: pylint

subscribe to proxies
  frontend/src/pages/org/index.ts
Due: none

task: Filter tags by item type (#2934)
  frontend/src/features/archived-items/archived-item-tag-filter.ts
  frontend/src/pages/org/archived-items.ts
Due: none

fix filter check
  frontend/src/pages/org/workflows-list.ts
Due: none

fix: Use org crawling defaults for new browser profile (#2937)
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/select-crawler.ts
  frontend/src/components/ui/url-input.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

fix tests?
  backend/test_nightly/test_concurrent_crawl_limit.py
Due: pylint

[wip] update collection sharing UI and copy button
  frontend/src/features/collections/share-collection.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

adjust index type
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

cleanup, remove unused
  backend/btrixcloud/operator/crawls.py
Due: pylint

fix from review, rename param name, cleanup
  backend/btrixcloud/crawlconfigs.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

Update chart/values.yaml
  chart/values.yaml
Due: password-check

Update seed file cleanup cron job schedule if needed on startup (#2931)
  backend/btrixcloud/crawlmanager.py
Due: pylint

Bump pydantic to >=2.12.3 to support Python 3.14
  backend/requirements.txt
Due: none

add section
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/crawling.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/routes.ts
Due: none

update dialog
  frontend/src/features/crawl-workflows/delete-crawl-dialog.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/pluralize.ts
Due: none

fix list path
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

update sort fields
  backend/btrixcloud/crawls.py
  frontend/src/pages/org/crawls.ts
Due: pylint

update delete option styles
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

create separate filter
  frontend/src/features/crawls/crawl-state-filter.ts
  frontend/src/features/crawls/index.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

handle long names
  frontend/src/features/crawls/crawl-list/crawl-list-item.ts
  frontend/src/features/crawls/crawl-list/crawl-list.ts
  frontend/src/features/users/user-chip.ts
Due: none

clean up crawl list display
  frontend/src/components/ui/badge.ts
  frontend/src/features/archived-items/index.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/features/crawls/crawl-list/crawl-list-item.ts
  frontend/src/features/crawls/crawl-list/crawl-list.ts
  frontend/src/features/crawls/crawl-list/index.ts
  frontend/src/features/crawls/index.ts
  frontend/src/features/index.ts
  frontend/src/features/users/index.ts
  frontend/src/features/users/user-chip.ts
Due: none

update search
  frontend/src/features/crawl-workflows/index.ts
  frontend/src/features/crawl-workflows/workflow-search.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

add page
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflows-crawl-runs.ts
  frontend/src/routes.ts
Due: none

update actions
  frontend/src/events/btrix-cancel.ts
  frontend/src/events/btrix-confirm.ts
  frontend/src/features/crawl-workflows/delete-crawl-dialog.ts
  frontend/src/features/crawl-workflows/index.ts
  frontend/src/pages/org/crawls.ts
Due: none

use consistent state filter
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

use dialog
  frontend/src/features/archived-items/delete-item-dialog.ts
  frontend/src/features/archived-items/index.ts
  frontend/src/features/crawl-workflows/index.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

update list
  frontend/src/features/archived-items/archived-item-state-filter.ts
  frontend/src/index.ts
  frontend/src/pages/org/crawling.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/index.ts
Due: none

update canceled status icon
  frontend/docs/docs/user-guide/archived-items.md
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/stories/design/status-indicators.mdx
Due: none

better responsive columns
  frontend/src/features/crawls/crawl-list/crawl-list.ts
Due: none

add clear button
  frontend/src/pages/org/workflow-detail.ts
Due: none

standardize labels
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

fix crawl list column width
  frontend/src/features/archived-items/crawl-list.ts
Due: none

fix flash of unstyled border
  frontend/src/features/crawls/crawl-list/crawl-list-item.ts
Due: none

Dedup Backend Initial Implementation (#2868)
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0010_collection_total_size.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/__init__.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/ops.py
  chart/Chart.lock
  chart/Chart.yaml
  chart/app-templates/coll_index.yaml
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/index-import-configmap.yaml
  chart/app-templates/index-import-job.yaml
  chart/app-templates/redis.yaml
  chart/btrix-crds/Chart.yaml
  chart/btrix-crds/templates/collindex.yaml
  chart/charts/btrix-admin-logging-0.1.0.tgz
  chart/charts/btrix-crds-0.1.1.tgz
  chart/charts/btrix-crds-0.2.0.tgz
  chart/charts/btrix-proxies-0.1.0.tgz
  chart/templates/configmap.yaml
  chart/templates/operators.yaml
  chart/templates/priorities.yaml
  chart/templates/role.yaml
  chart/test/test.yaml
  chart/values.yaml
Due: pylint, password-check

use standard select event
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none
