Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Only modify workflow config fields that are in PATCH request
  backend/btrixcloud/crawlconfigs.py
  backend/test/conftest.py
  backend/test/test_crawlconfigs.py
Due: pylint

Add new method to determine if update changes config
  backend/btrixcloud/crawlconfigs.py
Due: pylint

recompute stats migration: add logging for while migration is running version: bump to 1.21.0
  backend/btrixcloud/migrations/migration_0055_recompute_crawlconfig_stats.py
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

typo fix
  backend/btrixcloud/migrations/migration_0055_recompute_crawlconfig_stats.py
Due: pylint

Simplify query config assignment
  backend/btrixcloud/crawlconfigs.py
Due: pylint

quickfix: add logging for while migration is running + bump version (#3081)
  backend/btrixcloud/migrations/migration_0055_recompute_crawlconfig_stats.py
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

simplify config merge
  backend/btrixcloud/crawlconfigs.py
  backend/test/conftest.py
Due: pylint

fix merge
  backend/btrixcloud/crawlconfigs.py
Due: pylint

use consistent dict()
  backend/btrixcloud/crawlconfigs.py
Due: pylint

add exclude_unset for crawlconfig merge, set updated if actually updated
  backend/btrixcloud/crawlconfigs.py
Due: pylint

leave updated as is
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Only modify CrawlConfig.config fields included in PATCH request (#3080)
  backend/btrixcloud/crawlconfigs.py
  backend/test/conftest.py
  backend/test/test_crawlconfigs.py
Due: pylint

Dedup Backend Initial Implementation (#2868)
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0010_collection_total_size.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/__init__.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/ops.py
  chart/Chart.lock
  chart/Chart.yaml
  chart/app-templates/coll_index.yaml
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/index-import-configmap.yaml
  chart/app-templates/index-import-job.yaml
  chart/app-templates/redis.yaml
  chart/btrix-crds/Chart.yaml
  chart/btrix-crds/templates/collindex.yaml
  chart/charts/btrix-admin-logging-0.1.0.tgz
  chart/charts/btrix-crds-0.1.1.tgz
  chart/charts/btrix-crds-0.2.0.tgz
  chart/templates/configmap.yaml
  chart/templates/operators.yaml
  chart/templates/priorities.yaml
  chart/templates/role.yaml
  chart/test/test.yaml
  chart/values.yaml
Due: pylint, password-check

feat: Add dedupe API filters (#3056)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
Due: pylint

task: Add dedupe form control to workflow (#2932)
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/WithSearchOrgContext.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/events/btrix-select.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/collections/collection-create-dialog.ts
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/collections/linked-collections/linked-collections.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/crawls.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/strings/crawl-workflows/labels.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/collection.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

Dedupe Recreate Index on Use (#3064)
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

quickfix: add 'ids' param to org get crawl ids endpoint
  backend/btrixcloud/crawls.py
Due: pylint

Revert "feat: Filter archived items by ID (#3061)"
  backend/btrixcloud/basecrawls.py
Due: pylint

feat: Filter archived items by ID (#3061)
  backend/btrixcloud/basecrawls.py
Due: pylint

quickfix: fix 'ids' query, use str
  backend/btrixcloud/crawls.py
Due: pylint

fix: fix dedupe filter
  backend/btrixcloud/crawlconfigs.py
Due: pylint

filter by crawl IDs
  backend/btrixcloud/crawls.py
Due: pylint

fix updating/purging logic
  backend/btrixcloud/operator/collindexes.py
Due: pylint

Apply suggestions from code review
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
Due: pylint

Support purging dedupe index of removed crawls (#3074)
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/collindexes.py
  chart/app-templates/index-import-job.yaml
Due: pylint, password-check

add section to org settings
  frontend/src/components/ui/data-grid/data-grid.ts
  frontend/src/pages/org/settings/components/deduplication.ts
  frontend/src/pages/org/settings/settings.ts
  frontend/src/pages/org/settings/templates/loading-panel.ts
  frontend/src/theme.stylesheet.css
Due: none

update list
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

update org settings
  frontend/src/pages/org/settings/components/deduplication.ts
Due: none

paginate
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.stylesheet.css
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

add state
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/types/crawlState.ts
Due: none

update archived item details
  frontend/src/components/ui/link.ts
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.stylesheet.css
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/features/archived-items/templates/dedupe-files-notice.ts
  frontend/src/features/archived-items/templates/dedupe-replay-notice.ts
  frontend/src/features/collections/dedupe-workflows.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/crawl-workflows/workflow-action-menu/workflow-action-menu.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/templates/qa.ts
  frontend/src/pages/org/browser-profiles/profile.ts
  frontend/src/pages/org/collection-detail.ts
Due: none

update notices
  frontend/src/components/ui/link.ts
  frontend/src/features/archived-items/templates/dedupe-files-notice.ts
  frontend/src/features/archived-items/templates/dedupe-qa-notice.ts
  frontend/src/features/archived-items/templates/dedupe-replay-notice.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

standardize layout
  frontend/src/pages/org/collection-detail.ts
Due: none

add badges
  frontend/src/assets/icons/file-earmark-scan.svg
  frontend/src/features/archived-items/archived-item-list/archived-item-list-item.ts
  frontend/src/features/collections/dedupe-badge.ts
  frontend/src/features/collections/dedupe-source-badge.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/pages/org/archived-item-detail/templates/badges.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/stories/components/Badge.stories.ts
  frontend/src/stories/components/DedupeBadge.stories.ts
  frontend/src/stories/components/DedupeBadge.ts
  frontend/src/types/crawler.ts
Due: none

handle circular dependency
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/stories/features/collections/DedupeWorkflows.stories.ts
  frontend/src/stories/features/collections/DedupeWorkflows.ts
Due: none

add notice
  frontend/src/components/ui/link.ts
  frontend/src/features/archived-items/templates/dedupe-files-notice.ts
  frontend/src/features/archived-items/templates/dedupe-qa-notice.ts
  frontend/src/features/archived-items/templates/dedupe-replay-notice.ts
  frontend/src/features/collections/dedupe-badge.ts
  frontend/src/features/collections/dedupe-source-badge.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

only get finished crawls
  frontend/src/features/collections/dedupe-workflows.ts
Due: none

clean up render methods
  frontend/src/pages/org/collection-detail/dedupe.ts
Due: none

clean up styles
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.stylesheet.css
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/features/collections/dedupe-workflows/dedupe-workflows.stylesheet.css
  frontend/src/features/collections/dedupe-workflows/dedupe-workflows.ts
  frontend/src/features/collections/dedupe-workflows/index.ts
  frontend/src/features/collections/index.ts
  frontend/src/stories/features/collections/DedupeWorkflows.ts
Due: none

show dependencies in collection
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/package.json
  frontend/src/__generated__/static/mockServiceWorker.js
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.stylesheet.css
  frontend/src/features/archived-items/item-dependency-tree/item-dependency-tree.ts
  frontend/src/features/collections/dedupe-workflows.ts
  frontend/src/features/collections/index.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/stories/decorators/userDecorator.ts
  frontend/src/stories/features/archived-items/DedupeBadge.stories.ts
  frontend/src/stories/features/archived-items/ItemDependencyTree.stories.ts
  frontend/src/stories/features/archived-items/ItemDependencyTree.ts
  frontend/src/stories/features/collections/DedupeWorkflows.stories.ts
  frontend/src/stories/features/collections/DedupeWorkflows.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/crawler.ts
  frontend/src/utils/pluralize.ts
  frontend/yarn.lock
Due: none
