Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

More reworking, use new fixture
  backend/test/test_qa.py
Due: pylint

Add missing break statements so test actually finishes
  backend/test/test_uploads.py
Due: pylint

Add missing pytest.fixture decorator
  backend/test/test_qa.py
Due: pylint

One more go with reworking QA tests
  backend/test/test_qa.py
Due: pylint

Update test.yaml
  chart/test/test.yaml
Due: password-check

Remove pages from QA Configmap (#1671)
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

renumber crawl priority classes: (#1673)
  backend/btrixcloud/operator/crawls.py
  chart/templates/priorities.yaml
Due: pylint, password-check

only disable qa button when there's no available qa runs
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Update state after stopping/canceling QA runs
  backend/btrixcloud/crawls.py
Due: pylint

Remove duplicate test after refactor
  backend/test/test_qa.py
Due: pylint

Get active qa run id to set state after stopping
  backend/btrixcloud/crawls.py
Due: pylint

Revert state changes, print log data to see whats going on
  backend/btrixcloud/crawls.py
  backend/test/test_qa.py
Due: pylint

Use correct API endpoint to check canceled run state
  backend/test/test_qa.py
Due: pylint

1.9.8 release branch
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

wip delete qa
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Fix shoelace icon loading (#1587)
  frontend/package.json
  frontend/src/shoelace.ts
  frontend/yarn.lock
Due: none

Use replay.json endpoint to check state
  backend/test/test_qa.py
Due: pylint

Fix icons in 1.9.8 (#1680)
  frontend/package.json
  frontend/src/shoelace.ts
  frontend/yarn.lock
Due: none

Remove extra check after canceling QA run
  backend/test/test_qa.py
Due: pylint

Give crawl time to shut down
  backend/test/test_qa.py
Due: pylint

Fix uploads test with deprecation notice
  backend/test/test_uploads.py
Due: pylint

Try again to wait until canceled state is set
  backend/test/test_qa.py
Due: pylint

Add fixtures to ensure desired state before tests
  backend/test/test_qa.py
Due: pylint

Fix deletion test
  backend/test/test_qa.py
Due: pylint

Make sure no qa run is running before stop test
  backend/test/test_qa.py
Due: pylint

Expect /qa data to just be list, no keys
  backend/test/test_qa.py
Due: pylint

One more go
  backend/test/test_qa.py
Due: pylint

Revert raise -> return
  backend/btrixcloud/crawls.py
Due: pylint

Fix typo in comment
  backend/test/test_qa.py
Due: pylint

Use correct keys for page data
  backend/test/test_qa.py
Due: pylint

fix qa availability for header buttons
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

ensure browser navigation corresponds to active tab
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

Simplify delete_qa_runs, pages aren't necessarily deleted
  backend/test/test_qa.py
Due: pylint

Remove asserts from test, don't get caught by except
  backend/test/test_uploads.py
Due: pylint

Modify upload tests to avoid try/except in while loop
  backend/test/test_uploads.py
Due: pylint

Sleepy mistake
  backend/test/test_uploads.py
Due: pylint

Fix typo
  backend/test/test_uploads.py
Due: pylint

complete delete confirmation dialog
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/utils/localization.ts
Due: none

use str tag for localized string
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

identify separate pages translations
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
