Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

update page column
  frontend/src/components/ui/table/table.ts
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

fix overlfow
  frontend/src/features/archived-items/archived-item-list.ts
Due: none

fix auto-add
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/pages/org/collections-list.ts
Due: none

refactor collection list to use table
  frontend/src/components/ui/table/table-body.ts
  frontend/src/components/ui/table/table.ts
  frontend/src/pages/org/collections-list.ts
Due: none

reset selection and filter
  frontend/src/features/collections/collection-items-dialog.ts
Due: none

Replace input placeholder and add help text link to useragents.me
  frontend/src/pages/org/workflow-editor.ts
Due: none

adjust columns
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/collections/collection-items-dialog.ts
Due: none

update list items
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/pages/org/crawls-list.ts
Due: none

hide for non-crawlers
  frontend/src/pages/org/collection-detail.ts
Due: none

Add custom user agent to workflows (#1465)
  backend/btrixcloud/models.py
  chart/templates/configmap.yaml
  chart/values.yaml
  docs/user-guide/workflow-setup.md
  frontend/src/components/ui/config-details.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
Due: pylint, password-check

version: bump to 1.9.0-beta.1
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

prevent unnecessary re-render
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
Due: none

update crawl count
  frontend/src/features/collections/collection-workflow-list.ts
Due: none

adjust for smaller screen
  frontend/src/components/ui/table/table-head.ts
  frontend/src/components/ui/table/table.ts
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/pages/org/collections-list.ts
Due: none

fix utc week
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/cron.ts
Due: none

fix utc month
  frontend/src/utils/cron.ts
Due: none

fix input
  frontend/src/components/ui/time-input.ts
Due: none

Explains execution time
  docs/develop/docs.md
  docs/stylesheets/extra.css
  docs/user-guide/overview.md
Due: none

Elapsed time clarification
  docs/user-guide/workflow-setup.md
Due: none

storages: use contextmanager for sync s3 client to avoid possible memory leak
  backend/btrixcloud/storages.py
Due: pylint

docs config changes for mkdocs-material 9.5 support
  mkdocs.yml
Due: password-check

Docs: Improve relative links
  docs/deploy/ansible/digitalocean.md
  docs/deploy/index.md
  docs/deploy/remote.md
  docs/develop/frontend-dev.md
  docs/develop/index.md
  docs/index.md
  docs/user-guide/archived-items.md
  docs/user-guide/collections.md
  docs/user-guide/crawl-workflows.md
  docs/user-guide/index.md
  docs/user-guide/signup.md
  docs/user-guide/workflow-setup.md
Due: none

Adds search suggestions
  mkdocs.yml
Due: password-check

more cleanup
  backend/btrixcloud/storages.py
Due: pylint

Update docs/user-guide/overview.md
  docs/user-guide/overview.md
Due: none

operator: use 'default' CRAWLER_CHANNEL if none is set
  backend/btrixcloud/operator.py
Due: pylint

version: bump to 1.9.0-beta.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

operator: use 'default' CRAWLER_CHANNEL if none is set (#1478)
  backend/btrixcloud/operator.py
Due: pylint

clean up types a little
  frontend/src/utils/cron.ts
Due: none

Add migration to update null crawlTimeouts in db
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0025_crawl_timeout.py
Due: pylint

Fix linting
  backend/btrixcloud/migrations/migration_0025_crawl_timeout.py
Due: pylint

remove unnecessary `any`
  frontend/src/components/ui/dialog.ts
Due: none

coerce type of `styles` group rather than individual `CSSResult`
  frontend/src/components/ui/dialog.ts
Due: none

Add crawlerChannel configmap fix
  backend/btrixcloud/migrations/migration_0025_crawl_timeout.py
  backend/btrixcloud/migrations/migration_0025_workflow_db_configmap_fixes.py
Due: pylint

Add migration to fix issues with previous migrations (#1480)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0025_workflow_db_configmap_fixes.py
Due: pylint

Close sync S3 client (#1481)
  backend/btrixcloud/storages.py
Due: pylint

Fix scheduler date input and display (#1472)
  frontend/src/components/ui/time-input.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/utils/cron.ts
Due: none

fix dialog visibility
  frontend/src/pages/org/crawls-list.ts
Due: none

Update collection archived item lists (#1457)
  frontend/package.json
  frontend/src/components/ui/checkbox-list.ts
  frontend/src/components/ui/dialog.ts
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/components/ui/table/index.ts
  frontend/src/components/ui/table/table-body.ts
  frontend/src/components/ui/table/table-cell.ts
  frontend/src/components/ui/table/table-head.ts
  frontend/src/components/ui/table/table-header-cell.ts
  frontend/src/components/ui/table/table-row.ts
  frontend/src/components/ui/table/table.ts
  frontend/src/components/ui/tag-input.ts
  frontend/src/components/ui/tag.ts
  frontend/src/controllers/navigate.ts
  frontend/src/features/archived-items/archived-item-list.ts
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/features/archived-items/crawl-metadata-editor.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/index.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/collections/index.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/shoelace.ts
  frontend/src/types/api.ts
  frontend/src/types/crawler.ts
  frontend/yarn.lock
Due: none

upgrade deps
  frontend/package.json
  frontend/yarn.lock
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
