Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

refactor other download links
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
Due: none

add cancel buttons
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

enable downloads
  frontend/src/components/ui/menu-item-link.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/types/qa.ts
Due: none

fix linting issues
  frontend/src/components/ui/menu-item-link.ts
  frontend/src/features/qa/page-qa-approval.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

hide canceled
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

fix some more small spacing & overflow issues
  frontend/src/components/ui/desc-list.ts
  frontend/src/components/ui/tab-list.ts
Due: none

restrict review status to set number literals
  frontend/src/types/crawler.ts
Due: none

add additional points
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
Due: none

add titles to links so that full titles/urls can be viewed
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

refactor to enum
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/types/crawler.ts
Due: none

try ensuring cwd is set properly
  frontend/webpack.prod.js
Due: none

Revert "try ensuring cwd is set properly"
  frontend/webpack.prod.js
Due: none

ensure required files are present in docker build, and switch to a cache mount for yarn cache
  frontend/Dockerfile
Due: none

Fix failing Webpack build
  frontend/Dockerfile
Due: none

Increase QA review rating scale (#1668)
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/types/crawler.ts
Due: none

exclude paths altogether to avoid processing 'pages' by crawler
  backend/btrixcloud/operator/crawls.py
Due: pylint

Stop, cancel, and download QA run (#1666)
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/menu-item-link.ts
  frontend/src/features/qa/page-qa-approval.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/types/qa.ts
Due: none

remove PagesAndResources, pages will always be loaded from WACZs during the crawl as planned
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

add progress bar
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

add tooltip and min widths to loaders
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

move section to separate desc list item
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

re-fetch periodically when starting or running qa
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

improve tooltip text when loading pages
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

show most recent successful qa run info
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
Due: none

make cancel dialog buttons push more towards not cancelling
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
Due: none

Rework test_profiles.py: fixtures instead of globals, limit `while True` loops
  backend/test/test_profiles.py
Due: pylint

Allow changing crawler uid, gid, fsgroup and workdir size in values file
  chart/app-templates/crawler.yaml
  chart/app-templates/profilebrowser.yaml
  chart/templates/configmap.yaml
  chart/values.yaml
Due: password-check

use latest beta!
  chart/test/test.yaml
Due: password-check

k3d-ci: Show K8S events
  .github/workflows/k3d-ci.yaml
Due: password-check

Reuse crawl storage instead of addition emptyDir (Should help with crawljob boot time)
  chart/app-templates/crawler.yaml
Due: password-check

Try newer k3d version for backend tests
  .github/workflows/k3d-ci.yaml
Due: password-check

Rename crawler_workdir_size, increase default crawler_storage a bit.
  chart/app-templates/profilebrowser.yaml
  chart/templates/configmap.yaml
  chart/values.yaml
Due: password-check

Run crawler and profilebrowser with non-root user
  chart/app-templates/crawler.yaml
  chart/app-templates/profilebrowser.yaml
Due: password-check

tests: update to browsertrix-crawler:1.1.0-beta.4
  chart/test/test.yaml
Due: password-check

Improve QA tests
  backend/test/test_qa.py
Due: pylint

Give upload deletion tests more time to update org
  backend/test/test_uploads.py
Due: pylint

Replace globals with fixtures in test_uploads
  backend/test/test_uploads.py
Due: pylint

Test fixes
  backend/test/test_uploads.py
Due: pylint

Revert changes to combined_crawl_size and crawl list
  backend/test/test_uploads.py
Due: pylint

Rework QA tests
  backend/test/test_qa.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
