Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Fix test for GET /jobs/{job_id}
  backend/test/test_z_background_jobs.py
Due: pylint

Fix typo
  backend/test/test_z_background_jobs.py
Due: pylint

Use strs for type comparison
  backend/btrixcloud/background_jobs.py
Due: pylint

add AnyJob Union type for response model, otherwise only base type is matched get_background_job() returns specific job type reformat with black
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/models.py
  backend/test/test_org.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  backend/test/test_z_background_jobs.py
  backend/test/utils.py
Due: pylint

Fix typo
  backend/test/utils.py
Due: pylint

Wait 10 seconds before checking mongo
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
Due: pylint

Expect original file and replica to be deleted
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  backend/test/utils.py
Due: pylint

Modify return types
  backend/test/utils.py
Due: pylint

Just print log line if file deleted before replication
  backend/btrixcloud/background_jobs.py
  backend/test/test_uploads.py
  backend/test/utils.py
Due: pylint

Not an fstring
  backend/btrixcloud/background_jobs.py
Due: pylint

Be extra careful
  backend/test/utils.py
Due: pylint

Don't expect failed replication jobs
  backend/test/test_z_background_jobs.py
Due: pylint

Print log hashes
  backend/test/utils.py
Due: pylint

Use temp.name for filepath to temp file
  backend/test/utils.py
Due: pylint

Tweak tempfile and add print logging
  backend/test/utils.py
Due: pylint

Temporarily remove exception handling to see what issue is
  backend/test/utils.py
Due: pylint

One step closer
  backend/test/utils.py
Due: pylint

Fixes allowed actions on the dashboard page
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
Due: none

Get rid of option from Python 3.12
  backend/test/utils.py
Due: pylint

Remove leftover colon
  backend/test/utils.py
Due: pylint

Add back try/except
  backend/test/utils.py
Due: pylint

Adds isCrawler checks for edit options on workflow details pages
  frontend/src/pages/org/workflow-detail.ts
Due: none

One more go with print logging
  backend/test/utils.py
Due: pylint

Import os
  backend/test/utils.py
Due: pylint

Print log file path
  backend/test/utils.py
Due: pylint

Remove os import
  backend/test/utils.py
Due: pylint

Fix path to files to verify replication
  backend/test/utils.py
Due: pylint

Format with black
  backend/test/test_z_background_jobs.py
  backend/test/utils.py
Due: pylint

Get endpoint url for minio:30090 from env var
  .github/workflows/k3d-ci.yaml
  .github/workflows/microk8s-ci.yaml
  backend/test/test_webhooks.py
  backend/test/utils.py
Due: pylint, password-check

Remove port from microk8s HOST_URL_FROM_K8S
  .github/workflows/microk8s-ci.yaml
Due: password-check

Remove try/except again
  backend/test/utils.py
Due: pylint

Add os import
  backend/test/utils.py
Due: pylint

Strip primary bucket from replica path
  backend/test/utils.py
Due: pylint

use 127.0.0.1:30090 for minio access
  backend/test/utils.py
  chart/test/test.yaml
Due: pylint, password-check

keep one service for minio access
  chart/templates/minio.yaml
Due: password-check

export port range
  .github/workflows/k3d-ci.yaml
Due: password-check

try individual ports
  .github/workflows/k3d-ci.yaml
  backend/test/test_uploads.py
Due: pylint, password-check

Check if there are archived item actions before rendering button
  frontend/src/components/crawl-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none
