Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

typing for from_k8s_date / to_k8s_date
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/utils.py
Due: pylint

Add and enforce readOnly field in Organization (#1886)
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/orgs.py
  backend/test/test_org.py
Due: pylint

remove console log
  frontend/src/pages/org/settings.ts
Due: none

update comments
  frontend/src/index.ts
  frontend/src/types/user.ts
Due: none

Add slug validation and test
  backend/btrixcloud/orgs.py
  backend/btrixcloud/utils.py
  backend/test/test_org.py
Due: pylint

lint fixes
  backend/btrixcloud/operator/crawls.py
Due: pylint

try qa_scale 2
  chart/test/test.yaml
Due: password-check

ensure page check is always applied, set desired_scale to 1 even if 0 pages
  backend/btrixcloud/operator/crawls.py
Due: pylint

Update backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

typo fix
  backend/btrixcloud/operator/crawls.py
Due: pylint

additional operator tweaks: - update lastActiveTime whenever a crawler is running - don't enter waiting_capacity if already done - logging tweaks
  backend/btrixcloud/operator/crawls.py
Due: pylint

cleanup comment re: lastActiveTime
  backend/btrixcloud/operator/crawls.py
Due: pylint

Improved Scale Handling (#1889)
  backend/btrixcloud/operator/crawls.py
  chart/test/test.yaml
Due: pylint, password-check

Apply suggestions from code review
  frontend/src/pages/invite/ui/inviteMessage.ts
Due: none

remove unused file
  frontend/src/pages/invite/ui/orgAdminHelpText.ts
Due: none

Update docstring
  backend/btrixcloud/utils.py
Due: pylint

email: show 'Welcome to Browsertrix!' only for new users
  chart/email-templates/invite
Due: none

Add slug validation and test (#1891)
  backend/btrixcloud/orgs.py
  backend/btrixcloud/utils.py
  backend/test/test_org.py
Due: pylint

cronjobs: - create CrawlJob object if doesn't already exist, otherwise copy existing - set to update OnDelete - add crawl in db only if state not set when creating CrawlJob
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/operator/cronjobs.py
  chart/templates/operators.yaml
Due: pylint, password-check

type fixes
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/operator/cronjobs.py
  chart/templates/operators.yaml
Due: pylint, password-check

add missing migration
  backend/btrixcloud/migrations/migration_0029_remove_workflow_configmaps.py
Due: pylint

more work, fix up cronjobs
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/db.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/migrations/migration_0005_operator_scheduled_jobs.py
  backend/btrixcloud/migrations/migration_0016_operator_scheduled_jobs_v2.py
  backend/btrixcloud/migrations/migration_0021_profile_filenames.py
  backend/btrixcloud/migrations/migration_0024_crawlerchannel.py
  backend/btrixcloud/migrations/migration_0025_workflow_db_configmap_fixes.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
Due: pylint, password-check

remove configmap from related, only use for crawl-config.json add typing to new_crawl_job()
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/operator/crawls.py
  chart/app-templates/crawl_job.yaml
Due: pylint, password-check

ci: debug ci stuck on test start
  .github/workflows/k3d-ci.yaml
Due: password-check

add oid and userid to cronjob labels
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/operator/cronjobs.py
  chart/app-templates/crawl_cron_job.yaml
Due: pylint, password-check

add missing crawl_configmap.yaml ci: keep timeout for running tests to 30 mins, to be able to view the subsequent debug logs on timeout
  .github/workflows/k3d-ci.yaml
  chart/app-templates/crawl_configmap.yaml
Due: password-check

more typing fixes: - get_crawl_config() always returns or throws, remove checks for null config
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
Due: pylint

fix redirects and add tests
  frontend/src/__mocks__/_spy.js
  frontend/src/features/accounts/index.ts
  frontend/src/index.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/pages/invite/ui/org-form.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings.ts
  frontend/src/types/user.ts
  frontend/src/utils/user.ts
  frontend/web-test-runner.config.mjs
Due: none

update invite message
  frontend/src/pages/invite/ui/inviteMessage.ts
Due: none

fix linting warnings
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/ui/org-form.test.ts
Due: none

email template: only include support email line if support_email is defined
  chart/email-templates/invite
  chart/values.yaml
Due: password-check

typo fix
  chart/email-templates/invite
Due: none

update tests
  frontend/src/__mocks__/_spy.js
  frontend/src/__mocks__/slugify.js
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/pages/invite/ui/org-form.ts
  frontend/web-test-runner.config.mjs
Due: none

remove unused event listener
  frontend/src/index.ts
Due: none

oops revert unrelated changes from test branch
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/browser-profiles-detail.ts
Due: none

update authsigner to 0.5.2 now also has increased mem requirements
  chart/values.yaml
Due: password-check

Update chart/email-templates/invite
  chart/email-templates/invite
Due: none

feat: Rename org when accepting org invite for first admin (#1870)
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  chart/email-templates/invite
  chart/values.yaml
  frontend/src/__mocks__/slugify.js
  frontend/src/features/accounts/invite-form.ts
  frontend/src/features/accounts/sign-up-form.ts
  frontend/src/index.ts
  frontend/src/pages/accept-invite.ts
  frontend/src/pages/index.ts
  frontend/src/pages/invite/accept.test.ts
  frontend/src/pages/invite/accept.ts
  frontend/src/pages/invite/join.test.ts
  frontend/src/pages/invite/join.ts
  frontend/src/pages/invite/ui/inviteMessage.ts
  frontend/src/pages/invite/ui/org-form.test.ts
  frontend/src/pages/invite/ui/org-form.ts
  frontend/src/pages/join.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings.ts
  frontend/src/types/user.ts
  frontend/src/utils/user.ts
  frontend/web-test-runner.config.mjs
Due: pylint, password-check

extend /api/orgs/create endpoint to also accept first user to invite, quotas, and make name optional to support automated usage
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
Due: pylint
