Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

tests: fix nightly test config after #2611, remove namespace from minio path
  chart/test/test-nightly-addons.yaml
Due: password-check

Optimize presigning for replay.json (#2516)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/storages.py
  chart/templates/configmap.yaml
Due: pylint, password-check

add org check for coll access
  backend/btrixcloud/colls.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/uploads.py
Due: pylint

add test for wrong org
  backend/test/test_collections.py
Due: pylint

docs: Document latest crawl (#2613)
  frontend/docs/docs/user-guide/crawl-workflows.md
  frontend/docs/docs/user-guide/overview.md
  frontend/docs/docs/user-guide/running-crawl.md
  frontend/src/pages/org/workflow-detail.ts
Due: none

tests: fix nightly test config after #2611 (#2614)
  chart/test/test-nightly-addons.yaml
Due: password-check

remove delete collections from crawlconfigs, simpler version of #2608 for now
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Add Org Check for Collection access (#2616)
  backend/btrixcloud/colls.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/uploads.py
  backend/test/test_collections.py
Due: pylint

WIP: Throwaway work toward scale 0 approach
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  frontend/src/components/screencast.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflow-detail.ts
Due: pylint

format, add tests
  backend/btrixcloud/crawlconfigs.py
  backend/test/test_collections.py
  backend/test/test_workflow_auto_add_to_collection.py
Due: pylint

remove deleted collections from crawlconfigs (#2615)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/test/test_collections.py
  backend/test/test_workflow_auto_add_to_collection.py
Due: pylint

version: bump to 1.16.2
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

rename pausing -> shouldPause, lastCrawlPausing -> lastCrawlShouldPause, except actual derived 'pausing' state in frontend ensure resources are available for paused state
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/crawl-workflows/live-workflow-status.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/types/crawler.ts
Due: pylint

rename for clarity, use resume instead of unpause consistently
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  frontend/src/pages/org/workflow-detail.ts
Due: pylint

Add pausedExpiryMinutes to /settings API endpoint
  backend/btrixcloud/main.py
  backend/test/test_api.py
Due: pylint

pass 'pausing' to btrix-crawl-status (and also a missing 'stopping')
  frontend/src/features/crawl-workflows/live-workflow-status.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
Due: none

Pause / resume frontend tweaks (#2575)
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

support stopping paused crawls instantly (if WACZ files already uploaded)
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

darker gray for paused state
  frontend/src/features/archived-items/crawl-status.ts
Due: none

undo previous changes, just need to check for 'state' being paused
  backend/btrixcloud/operator/crawls.py
Due: pylint

use :paused key again, support crawler 1.6.1+, otherwise duplicate data is uploaded
  backend/btrixcloud/operator/crawls.py
Due: pylint

ui: add 'shouldPause' to admin running crawls display
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/types/crawler.ts
Due: none

Pause / Resume Crawls Initial Implmentation. (#2572)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/models.py
  backend/test/test_api.py
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/templates/configmap.yaml
  chart/values.yaml
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/crawl-workflows/live-workflow-status.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/types/crawlState.ts
  frontend/src/types/crawler.ts
Due: pylint, password-check

switch to task
  frontend/src/pages/org/workflow-detail.ts
Due: none

enable replay
  frontend/src/pages/org/workflow-detail.ts
Due: none

update paused dates
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

add pause notice
  frontend/src/components/ui/alert.ts
  frontend/src/components/ui/badge.ts
  frontend/src/features/admin/super-admin-banner.ts
  frontend/src/features/archived-items/crawl-logs.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/layouts/pageSectionsWithNav.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/types/crawler.ts
Due: none

adjust replay
  frontend/src/pages/org/workflow-detail.ts
Due: none

show consistent elapsed time
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

fix type
  frontend/src/features/crawl-workflows/workflow-list.ts
Due: none

switch to task
  frontend/src/components/not-found.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/layouts/pageError.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

Modify backend scale to be number of browser windows
  backend/btrixcloud/crawls.py
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/utils.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

Import math
  backend/btrixcloud/utils.py
Due: pylint

Fix SettingsReponse model
  backend/btrixcloud/main.py
Due: pylint

Update frontend for simplified maxBrowserWindows
  frontend/src/__mocks__/api/settings.js
  frontend/src/components/ui/config-details.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/app.ts
  frontend/src/utils/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

Operator fixups
  backend/btrixcloud/operator/crawls.py
Due: pylint

Handle case where scale < workers per pod
  backend/btrixcloud/operator/crawls.py
Due: pylint

Add pylint comment
  backend/btrixcloud/operator/crawls.py
Due: pylint

Fix pylint comment
  backend/btrixcloud/operator/crawls.py
Due: pylint
