Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

Fix ui docs showing up in main docs site (#2787)
  frontend/docs/mkdocs.yml
Due: password-check

Ensure QA behavior logs have isQA and qaRunId set correctly
  backend/btrixcloud/operator/crawls.py
Due: pylint

Add/improve nightly tests for error and behavior log endpoints
  backend/test_nightly/test_crawl_behavior_logs.py
  backend/test_nightly/test_crawl_errors.py
Due: pylint

Remove isQA from model, duplicative of qaRunId
  backend/btrixcloud/crawl_logs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/migrations/migration_0050_crawl_logs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Remove crawl_id to crawlId
  backend/btrixcloud/crawl_logs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
Due: pylint

Sort logs ascending by timestamp by default
  backend/btrixcloud/crawl_logs.py
  backend/btrixcloud/crawls.py
Due: pylint

Save crawl logs to new mongo collection
  backend/btrixcloud/crawl_logs.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_bg.py
  backend/btrixcloud/main_migrations.py
  backend/btrixcloud/main_op.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/ops.py
Due: pylint

Hardcode get_crawl_logs to only return non-QA logs for now
  backend/btrixcloud/crawl_logs.py
Due: pylint

Add indices and fix typing
  backend/btrixcloud/crawl_logs.py
  backend/btrixcloud/crawls.py
Due: pylint

Migrate QA run logs
  backend/btrixcloud/migrations/migration_0050_crawl_logs.py
  backend/btrixcloud/models.py
Due: pylint

Deprecate errors and behaviorLogs Crawl fields
  backend/btrixcloud/models.py
Due: pylint

Allow sorting by message
  backend/btrixcloud/crawl_logs.py
Due: pylint

Add migration
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0050_crawl_logs.py
Due: pylint

docs: Update new feature of URL list upload
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

docs: Update new feature of upload seed URL list
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

Use ascending timestamp sort order by default for consistency
  backend/btrixcloud/crawls.py
Due: pylint

Update docs for List of Pages feature - upload URL text file
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

Update frontend/docs/docs/user-guide/workflow-setup.md
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

docs: Update new feature of upload seed URL list as file (#2792)
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

convert `dt`s to headers so they can be linked to by id
  frontend/docs/docs/user-guide/workflow-setup.md
Due: none

docs: additional tweaks to docs for 'list of pages' (#2793)
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update docs nav with emails page
  frontend/docs/mkdocs.yml
Due: password-check

update emails docs to use mkdocs code highlighting features
  frontend/docs/docs/develop/emails.md
Due: none

swap to yarn & add install step
  frontend/docs/docs/develop/emails.md
Due: none

fix link for smtp4dev
  frontend/docs/docs/develop/emails.md
Due: none

update email testing docs to mention local sending specifically
  frontend/docs/docs/develop/emails.md
Due: none

specify how emails are sent from the dev server vs from browsertrix
  frontend/docs/docs/develop/emails.md
Due: none

update docs nav with emails page (#2794)
  frontend/docs/docs/develop/emails.md
  frontend/docs/mkdocs.yml
Due: password-check

Add nightly test for scheduled crawls
  backend/test_nightly/test_scheduled_crawl.py
Due: pylint

DROP BEFORE MERGING: Run nightly tests on push
  .github/workflows/k3d-nightly-ci.yaml
Due: password-check

devex: Refactor workflow action menus into component (#2776)
  frontend/src/__mocks__/api/orgs/[id]/crawlconfigs/[id].js
  frontend/src/components/ui/overflow-dropdown.ts
  frontend/src/events/btrix-select.ts
  frontend/src/features/crawl-workflows/index.ts
  frontend/src/features/crawl-workflows/workflow-action-menu/index.ts
  frontend/src/features/crawl-workflows/workflow-action-menu/types.ts
  frontend/src/features/crawl-workflows/workflow-action-menu/workflow-action-menu.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/stories/decorators/orgDecorator.ts
  frontend/src/stories/design/action-menus.mdx
  frontend/src/stories/features/crawl-workflows/WorkflowActionMenu.stories.ts
  frontend/src/theme.stylesheet.css
  frontend/yarn.lock
Due: none

remove unused render
  frontend/src/pages/org/workflows-list.ts
Due: none

format & fix lint issues
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/models.py
  backend/btrixcloud/subs.py
Due: pylint

revert unnecessary change to email
  backend/btrixcloud/invites.py
Due: pylint

add endpoint to send "trial will end" email
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/subs.py
Due: pylint

format
  backend/btrixcloud/invites.py
  backend/btrixcloud/models.py
  backend/btrixcloud/subs.py
Due: pylint

fix date calculation
  backend/btrixcloud/emailsender.py
Due: pylint

add subscription info to invite emails
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/invites.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
