Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Modify import order
  backend/btrixcloud/crawlconfigs.py
Due: pylint

Use functino scope for sample_crawl_data
  backend/test/conftest.py
Due: pylint

Update sort filter tests for changes
  backend/test/test_filter_sort_results.py
Due: pylint

Final fix for test counts
  backend/test/test_filter_sort_results.py
Due: pylint

Add docs page for status icon usage
  frontend/docs/docs/develop/ui/design-status-icons.md
  frontend/docs/docs/overrides/.icons/bootstrap/slash-circle-fill.svg
  frontend/docs/docs/stylesheets/extra.css
  frontend/docs/mkdocs.yml
Due: password-check

Update dropdown action order table name
  frontend/docs/docs/develop/ui/design-action-menus.md
Due: none

Adds running state
  frontend/docs/docs/develop/ui/design-status-icons.md
Due: none

Add redirects plugin to uvx docs instructions
  frontend/docs/docs/develop/docs.md
Due: none

frontend: move name field to the top of the signup form
  frontend/src/features/accounts/sign-up-form.ts
Due: none

crawl replay: remove isSeed=true from initialPages query to match collection, fixes 'Show Non-Seed Pages' not appearing for crawl replay
  backend/btrixcloud/basecrawls.py
Due: pylint

fix test
  backend/test/test_run_crawl.py
Due: pylint

crawl replay: remove isSeed=true from initialPages query (#2509)
  backend/btrixcloud/basecrawls.py
  backend/test/test_run_crawl.py
Due: pylint

frontend: move name field to the top of the signup form (#2508)
  frontend/src/features/accounts/sign-up-form.ts
Due: none

docs: Add UI documentation page on status icons (#2506)
  frontend/docs/docs/develop/docs.md
  frontend/docs/docs/develop/ui/design-action-menus.md
  frontend/docs/docs/develop/ui/design-status-icons.md
  frontend/docs/docs/overrides/.icons/bootstrap/slash-circle-fill.svg
  frontend/docs/docs/stylesheets/extra.css
  frontend/docs/docs/user-guide/index.md
  frontend/docs/mkdocs.yml
Due: password-check

version: bump to 1.14.6
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

admin: fix /users/emails endpoint to return UserOut, which includes org with subscription info
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

don't return 'id' in email list
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

fix test, remove is_superuser from bulk response
  backend/btrixcloud/models.py
  backend/test/test_users.py
Due: pylint

generate file download URLs with own token, instead of presigning every WACZ file initially only presign on-demand to speed up larger collection loading
  backend/btrixcloud/auth.py
  backend/btrixcloud/basecrawls.py
Due: pylint

add project
  backend/btrixcloud/basecrawls.py
Due: pylint

crawl errors optimization: - split crawl errors into separate mongodb collection, 'crawl_errors' - remove qa run errors altogether, no longer store them
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Add basic backend validation for selectLinks
  backend/btrixcloud/crawlconfigs.py
  backend/test/conftest.py
  backend/test/test_crawlconfigs.py
Due: pylint

Fix test typos
  backend/test/test_users.py
Due: pylint

Update backend/test/test_users.py
  backend/test/test_users.py
Due: pylint

handle error
  frontend/src/components/ui/syntax-input.ts
  frontend/src/controllers/api.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/errors.ts
  frontend/src/types/api.ts
  frontend/src/utils/api.ts
Due: none

fallback to default links
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

Fix user emails use userout (#2511)
  backend/btrixcloud/models.py
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

update info text
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/infoText.ts
Due: none

update docs
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

fix for chrome
  frontend/src/components/ui/syntax-input.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

switch to camelCase for consistency with input prop
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/models.py
Due: pylint

update frontend
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

only pass for patch
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

presign batch size configurable
  backend/btrixcloud/storages.py
  chart/templates/configmap.yaml
Due: pylint, password-check

try increasing batch size
  backend/btrixcloud/storages.py
Due: pylint

fix
  backend/btrixcloud/colls.py
Due: pylint

fix
  backend/btrixcloud/storages.py
Due: pylint

optimize generating collection replay.json by performing bulk presigned url lookup
  backend/btrixcloud/colls.py
Due: pylint

typo
  backend/btrixcloud/colls.py
Due: pylint
