Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Update docstring
  backend/btrixcloud/migrations/migration_0045_crawl_counts.py
Due: pylint

add features
  frontend/src/components/ui/data-grid/controllers/focus.ts
  frontend/src/components/ui/data-grid/controllers/rows.ts
  frontend/src/components/ui/data-grid/data-grid-cell.ts
  frontend/src/components/ui/data-grid/data-grid-row.ts
  frontend/src/components/ui/data-grid/data-grid.ts
  frontend/src/components/ui/data-grid/events/btrix-select-row.ts
  frontend/src/components/ui/data-grid/renderRows.ts
  frontend/src/components/ui/data-grid/types.ts
Due: none

update stories
  frontend/src/stories/components/DataGrid.stories.ts
  frontend/src/stories/components/DataGrid.ts
Due: none

update comment
  frontend/src/components/ui/data-grid/data-grid.ts
Due: none

clean up styles
  frontend/src/components/ui/data-grid/data-grid.stylesheet.css
  frontend/src/components/ui/data-grid/data-grid.ts
Due: none

Only recalculate crawls that are necessary to recalculate
  backend/btrixcloud/migrations/migration_0045_crawl_counts.py
Due: pylint

Avoid needing to save entire list in memory, update a crawl at a time
  backend/btrixcloud/migrations/migration_0045_crawl_counts.py
Due: pylint

clean up types
  frontend/src/components/ui/data-grid/controllers/rows.ts
  frontend/src/components/ui/data-grid/data-grid.ts
  frontend/src/components/ui/data-grid/renderRows.ts
  frontend/src/features/crawl-workflows/link-selector-table.ts
Due: none

add wip note
  frontend/src/components/ui/data-grid/data-grid.ts
Due: none

update tab routes
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/routes.ts
Due: none

update tab panels
  frontend/src/components/ui/desc-list.ts
  frontend/src/components/ui/tab-group/tab-group.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/layouts/pageSectionsWithNav.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/utils/pluralize.ts
Due: none

clean up errors
  frontend/src/pages/org/workflow-detail.ts
Due: none

render replay
  frontend/src/components/ui/navigation/navigation-button.ts
  frontend/src/layouts/pageSectionsWithNav.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-new.ts
Due: none

enable download
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/strings/archived-items/tooltips.ts
Due: none

update collection id
  frontend/src/pages/org/workflow-detail.ts
Due: none

adjust states
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/features/archived-items/crawl-queue.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

fix crawl queue error
  frontend/src/features/archived-items/crawl-queue.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

update redirect
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

Ensure crawl page counts are correct when re-adding pages (#2601)
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0045_crawl_counts.py
  backend/btrixcloud/pages.py
  backend/test/test_run_crawl.py
Due: pylint

Add support for invalid_lang response to frontend
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/types/api.ts
Due: none

Add backend validation for invalid ISO-639-1 lang codes
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/utils.py
  backend/requirements.txt
  backend/test/test_crawlconfigs.py
  backend/test/test_org.py
Due: pylint

Add migration to fix invalid language codes
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0046_invalid_lang.py
Due: pylint

Fix import order
  backend/btrixcloud/migrations/migration_0046_invalid_lang.py
Due: pylint

Make migration more efficient
  backend/btrixcloud/migrations/migration_0046_invalid_lang.py
Due: pylint

Add minimized superadmin banner (#2598)
  frontend/src/features/admin/index.ts
  frontend/src/features/admin/super-admin-banner.ts
  frontend/src/index.ts
Due: none

Add ISO-639-1 language code validation to backend (#2602)
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/db.py
  backend/btrixcloud/migrations/migration_0046_invalid_lang.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/utils.py
  backend/requirements.txt
  backend/test/test_crawlconfigs.py
  backend/test/test_org.py
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/types/api.ts
Due: pylint

update tooltips
  frontend/src/strings/archived-items/tooltips.ts
Due: none

show qa rating
  frontend/src/components/ui/desc-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/theme.stylesheet.css
Due: none

Bump version to 1.16.1
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Bump version to 1.16.1 (#2606)
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

get initial log totals
  frontend/src/pages/org/workflow-detail.ts
Due: none

allow filtering by crawl running state
  backend/btrixcloud/crawlconfigs.py
Due: pylint

add set & delete methods to search params controller - renames `set` method to `update` - adds `set` and `delete` methods that mirror `URLSearchParams` methods
  frontend/src/controllers/searchParams.ts
Due: none

simplify pagination url search params updates
  frontend/src/components/ui/pagination.ts
Due: none

add "running" filter to crawl workflow list - add "running" filter - persist these filters in url search params
  frontend/src/pages/org/workflows-list.ts
Due: none

update filters from search params on first render
  frontend/src/pages/org/workflows-list.ts
Due: none

darker gray for paused state
  frontend/src/features/archived-items/crawl-status.ts
Due: none

Pause / resume frontend tweaks (#2575)
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

pass 'pausing' to btrix-crawl-status (and also a missing 'stopping')
  frontend/src/features/crawl-workflows/live-workflow-status.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
Due: none
