Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: ["backend/btrixcloud/"]
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: cd backend && pylint
      language: system
      types: [python]
      args: ["btrixcloud/"]
- repo: local
  hooks:
    - id: husky-run-pre-commit
      name: husky
      language: system
      entry: frontend/.husky/pre-commit
      pass_filenames: false
- repo: local
  hooks:
    - id: password-check
      name: password-check
      language: system
      types: [yaml]
      entry: python3 scripts/check_passwords.py

Revert "add badge"
  frontend/src/components/ui/badge.ts
  frontend/src/shoelace.ts
Due: none

ensure badge has correct height and positioning
  frontend/src/components/ui/badge.ts
  frontend/src/features/qa/page-list/index.ts
Due: none

clean up expand/collapse animations
  frontend/src/features/qa/page-list/ui/page-group.ts
  frontend/src/features/qa/page-list/ui/page.ts
Due: none

version: bump to 1.9.4
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

Make storage deletion work on more S3 providers
  backend/btrixcloud/storages.py
Due: pylint

profile browser fixes: better resource usage + load retry (#1599)
  backend/btrixcloud/operator.py
  chart/app-templates/profilebrowser.yaml
  chart/values.yaml
  frontend/src/features/browser-profiles/profile-browser.ts
Due: pylint, password-check

bump kubernetes-asyncio to 29.0.0
  backend/requirements.txt
Due: none

Updates app icons
  frontend/src/assets/favicons/icon-192.png
  frontend/src/assets/favicons/icon-512.png
Due: none

Make storage deletion work on more S3 providers, don't use access URL for deletion (#1600)
  backend/btrixcloud/storages.py
Due: pylint

kubernetes api: avoid overriding content-type header in kubernetes-asyncio, pass in via arg instead (#1602)
  backend/btrixcloud/k8sapi.py
  backend/requirements.txt
Due: pylint

backport of #1600 to 1.9.4, don't use access URL for deletion
  backend/btrixcloud/storages.py
Due: pylint

Don't use access URL for delete (#1603)
  backend/btrixcloud/storages.py
Due: pylint

RWP version: bump to 1.8.15
  chart/values.yaml
Due: password-check

Update issue reporting templates (#1596)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-change.yml
Due: password-check

fix qa org keys to be properly cased
  backend/btrixcloud/orgs.py
Due: pylint

profile browser fixes: better resource usage + load retry (main) (#1604)
  backend/btrixcloud/operator/baseoperator.py
  chart/app-templates/profilebrowser.yaml
  chart/values.yaml
  frontend/src/features/browser-profiles/profile-browser.ts
Due: pylint, password-check

Docs: Update docs theme (#1594)
  README.md
  assets/browsertrix-lockup-color-dynamic.svg
  docs/assets/brand/browsertrix-icon-white.svg
  docs/assets/brand/btrix-logo.svg
  docs/assets/brand/favicon.svg
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: password-check

Adds favicons! (#1584)
  frontend/package.json
  frontend/src/assets/favicons/apple-touch-icon.png
  frontend/src/assets/favicons/favicon.ico
  frontend/src/assets/favicons/favicon.svg
  frontend/src/assets/favicons/icon-192.png
  frontend/src/assets/favicons/icon-512.png
  frontend/src/index.ejs
  frontend/src/manifest.webmanifest
  frontend/webpack.config.js
Due: none

test: fix frontend auth unit test
  frontend/package.json
  frontend/src/index.test.ts
  frontend/yarn.lock
Due: none

kubernetes api: avoid overriding content-type header in kubernetes-asyncio, pass in via arg instead (main) (#1605)
  backend/btrixcloud/k8sapi.py
  backend/requirements.txt
Due: pylint

reorganize helpers and fns
  frontend/src/features/qa/page-list/helpers.ts
  frontend/src/features/qa/page-list/helpers/crawlCounts.ts
  frontend/src/features/qa/page-list/helpers/groupBy.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/features/qa/page-list/helpers/index.ts
  frontend/src/features/qa/page-list/helpers/issueCounts.ts
  frontend/src/features/qa/page-list/helpers/severity.ts
  frontend/src/features/qa/page-list/helpers/sortBy.ts
  frontend/src/features/qa/page-list/index.ts
  frontend/src/features/qa/page-list/test-data.ts
  frontend/src/features/qa/page-list/ui/page-details.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/features/qa/page-list/ui/render-item.ts
  frontend/src/pages/org/archived-item-qa.ts
Due: none

add eslint-import and enable sort order
  frontend/.eslintrc.js
  frontend/package.json
  frontend/yarn.lock
Due: none

Add frontend alias and use with default namespace to construct WACZ URL
  backend/btrixcloud/storages.py
  chart/templates/configmap.yaml
  chart/values.yaml
Due: pylint, password-check

Fix typo
  backend/btrixcloud/storages.py
Due: pylint

add a couple more import rules
  frontend/.eslintrc.js
Due: none

add "favicons" to project spell check
  .vscode/settings.json
Due: none

swap `eslint-plugin-import` for `eslint-plugin-import-x` for better perf
  frontend/.eslintrc.js
  frontend/package.json
  frontend/yarn.lock
Due: none

remove unnecessary settings now that we're using `eslint-plugin-import-x`
  frontend/.eslintrc.js
Due: none

fix: hide wip qa tab
  frontend/src/pages/org/archived-item-detail.ts
Due: none

fix mismatched prettier import order config, and run prettier on everything
  .vscode/snippets.code-snippets
  frontend/prettier.config.js
  frontend/src/components/utils/grouped-list.ts
  frontend/src/features/qa/page-list/helpers/groupBy.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/features/qa/page-list/helpers/issueCounts.ts
  frontend/src/features/qa/page-list/helpers/sortBy.ts
  frontend/src/features/qa/page-list/index.ts
  frontend/src/features/qa/page-list/test-data.ts
  frontend/src/features/qa/page-list/ui/page-details.ts
  frontend/src/features/qa/page-list/ui/page-group.ts
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/features/qa/page-list/ui/render-item.ts
  frontend/src/utils/weakCache.test.ts
Due: none

fix mismatch in prettier import order config
  frontend/prettier.config.js
Due: none

Fix mismatch in prettier import order config (#1609)
  frontend/prettier.config.js
Due: none

disable no duplicates rule
  frontend/.eslintrc.js
Due: none

add back imports
  frontend/src/pages/org/index.ts
Due: none

Fix missing page component imports (#1610)
  frontend/.eslintrc.js
  frontend/src/pages/org/index.ts
Due: none

upgrade node to 18
  .github/workflows/frontend-build-check.yaml
  .github/workflows/ui-tests-playwright.yml
  frontend/package.json
Due: password-check

update dockerfile
  frontend/Dockerfile
Due: none
