Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

update orgids
  frontend/src/components/select-browser-profile.ts
  frontend/src/index.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collection-edit.ts
  frontend/src/pages/org/collection-editor.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/collections-new.ts
  frontend/src/pages/org/components/file-uploader.ts
  frontend/src/pages/org/components/new-browser-profile-dialog.ts
  frontend/src/pages/org/components/new-collection-dialog.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/utils/LiteElement.ts
  frontend/src/utils/orgs.ts
Due: none

fix redirect
  frontend/src/index.ts
Due: none

remove console log
  frontend/src/index.ts
  frontend/src/utils/OrgService.ts
Due: none

switch between orgs
  frontend/src/index.ts
  frontend/src/pages/home.ts
  frontend/src/pages/org/index.ts
Due: none

update links
  frontend/src/components/orgs-list.ts
  frontend/src/pages/org/index.ts
  frontend/src/utils/OrgService.ts
Due: none

update crawl base url
  frontend/src/components/crawl-list.ts
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

store global org state
  frontend/package.json
  frontend/src/components/crawl-list.ts
  frontend/src/components/workflow-list.ts
  frontend/src/index.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/utils/LiteElement.ts
  frontend/src/utils/orgs.ts
  frontend/src/utils/state.ts
  frontend/yarn.lock
Due: none

update superadmin view
  frontend/src/pages/crawls.ts
  frontend/src/pages/org/workflow-detail.ts
Due: none

add state service
  frontend/src/index.ts
  frontend/src/utils/state.ts
Due: none

update workflow base url
  frontend/src/components/workflow-list.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

update superadmin base
  frontend/src/pages/crawls.ts
Due: none

persist org setting
  frontend/src/index.ts
  frontend/src/pages/org/index.ts
  frontend/src/utils/persist.ts
  frontend/src/utils/state.ts
Due: none

update test
  frontend/src/index.test.ts
Due: none

update slug test
  frontend/src/index.test.ts
  frontend/src/utils/APIRouter.test.ts
Due: none

add org id
  frontend/src/pages/org/settings.ts
Due: none

fix url on slug update
  frontend/src/pages/org/index.ts
Due: none

fix edit workflow link
  frontend/src/pages/org/workflow-detail.ts
Due: none

fix profile browser
  frontend/src/pages/org/components/new-browser-profile-dialog.ts
Due: none

hotfix: display workflow list date as utc
  frontend/src/components/workflow-list.ts
Due: none

ci: disable metrics-server for now
  .github/workflows/k3d-ci.yaml
Due: password-check

add redirect from orgId (uuid) -> org slug URLs
  frontend/src/pages/org/index.ts
Due: none

change order for orgId field on general tab
  frontend/src/pages/org/settings.ts
Due: none

version: update to 1.8.0-beta.0
  backend/btrixcloud/version.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

fixes from code review: - fix doc strings - add user.update_invites() when removing an invite - fix logic for printing when superuser password has changed
  backend/btrixcloud/invites.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
Due: pylint

Use org slug in place of UUIDs in app URLs (#1277)
  backend/btrixcloud/users.py
  frontend/package.json
  frontend/src/components/crawl-list.ts
  frontend/src/components/orgs-list.ts
  frontend/src/components/select-browser-profile.ts
  frontend/src/components/workflow-list.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/home.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/browser-profiles-new.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collection-edit.ts
  frontend/src/pages/org/collection-editor.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/collections-new.ts
  frontend/src/pages/org/components/file-uploader.ts
  frontend/src/pages/org/components/new-browser-profile-dialog.ts
  frontend/src/pages/org/components/new-collection-dialog.ts
  frontend/src/pages/org/crawl-detail.ts
  frontend/src/pages/org/crawls-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/routes.ts
  frontend/src/utils/APIRouter.test.ts
  frontend/src/utils/LiteElement.ts
  frontend/src/utils/OrgService.ts
  frontend/src/utils/orgs.ts
  frontend/src/utils/persist.ts
  frontend/src/utils/state.ts
  frontend/yarn.lock
Due: pylint

add 'slug' to UserOrgInfoOut
  backend/btrixcloud/models.py
Due: pylint

readd default for pop
  backend/btrixcloud/invites.py
Due: pylint

User refactor + remove fastapi_users dependency + update fastapi (#1290)
  backend/btrixcloud/auth.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0018_usernames.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
  backend/btrixcloud/webhooks.py
  backend/requirements.txt
  backend/test/test_login.py
  backend/test/test_users.py
  chart/test/test.yaml
  frontend/src/components/account-settings.ts
  frontend/src/components/sign-up-form.ts
  frontend/src/index.ts
  frontend/src/pages/reset-password.ts
  frontend/src/pages/verify.ts
Due: pylint, password-check

Update user names in crawls and workflows after update
  backend/btrixcloud/users.py
  backend/test/test_users.py
Due: pylint

remove unused param from create_org_for_user add 'numReplicas' to CrawlFileOut to report number of replicas on the file
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/users.py
Due: pylint

avoid exception if 'errors' key doesn't exist (for 1.7.1 release) (#1300)
  .github/workflows/k3d-ci.yaml
  .github/workflows/publish-helm-chart.yaml
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/version.py
  backend/test/test_run_crawl.py
  backend/test/test_uploads.py
  chart/Chart.yaml
  chart/values.yaml
  frontend/package.json
  version.txt
Due: pylint, password-check

publish helm chart
  .github/workflows/publish-helm-chart.yaml
Due: password-check

Update backend/btrixcloud/migrations/migration_0020_org_storage_refs.py
  backend/btrixcloud/migrations/migration_0020_org_storage_refs.py
Due: pylint

migration: add migration from def_storage_name -> StorageRef
  backend/btrixcloud/migrations/migration_0020_org_storage_refs.py
Due: pylint

add migration for profilefiles as well
  backend/btrixcloud/migrations/migration_0020_org_storage_refs.py
Due: pylint

Update .github/workflows/publish-helm-chart.yaml
  .github/workflows/publish-helm-chart.yaml
Due: password-check

Make URLs in the settings viewer clickable, removes deeplinked titles (#1247)
  frontend/src/components/config-details.ts
Due: none

undo k3d change here
  .github/workflows/k3d-ci.yaml
Due: password-check

Update backend/btrixcloud/storages.py
  backend/btrixcloud/storages.py
Due: pylint

crawlfiles: add optional crc32 - use crc32 when streaming file as part of nested wacz - use different version stream-zip which allows empty crc32 (for now)
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/storages.py
  backend/requirements.txt
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
