Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

operator crds: - add CollIndex crd - add new operator - added as btrix-crds 0.2.0
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/migrations/migration_0010_collection_total_size.py
  backend/btrixcloud/models.py
  backend/btrixcloud/operator/__init__.py
  backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/operator/models.py
  backend/btrixcloud/ops.py
  chart/Chart.lock
  chart/Chart.yaml
  chart/app-templates/coll_index.yaml
  chart/app-templates/crawl_job.yaml
  chart/app-templates/crawler.yaml
  chart/app-templates/index-import-configmap.yaml
  chart/app-templates/index-import-job.yaml
  chart/app-templates/redis.yaml
  chart/btrix-crds/Chart.yaml
  chart/btrix-crds/templates/collindex.yaml
  chart/charts/btrix-admin-logging-0.1.0.tgz
  chart/charts/btrix-crds-0.1.1.tgz
  chart/charts/btrix-crds-0.2.0.tgz
  chart/charts/btrix-proxies-0.1.0.tgz
  chart/templates/configmap.yaml
  chart/templates/operators.yaml
  chart/templates/priorities.yaml
  chart/templates/role.yaml
  chart/test/test.yaml
  chart/values.yaml
Due: pylint, password-check

Update backend/btrixcloud/operator/collindexes.py
  backend/btrixcloud/operator/collindexes.py
Due: pylint

lastCollUpdated -> collLastUpdated
  backend/btrixcloud/operator/collindexes.py
Due: pylint

update size
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

add section
  frontend/docs/docs/user-guide/workflow-setup.md
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/strings/crawl-workflows/section.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

add context callback
  frontend/src/context/search-org/WithSearchOrgContext.ts
  frontend/src/features/collections/choose-collection-name.ts
Due: none

custom fuse
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/hasChanged.ts
Due: none

use standard select event
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/archived-items/item-list-controls.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/workflows-list.ts
Due: none

add wip form control
  .vscode/settings.json
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/context/search-org/connectFuse.ts
  frontend/src/events/btrix-select.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

handle org without collections
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

get name consistently
  frontend/src/features/collections/collections-add.ts
Due: none

show in configs
  frontend/src/components/ui/config-details.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/collections/linked-collections/linked-collections.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/settings/components/crawling-defaults.ts
  frontend/src/strings/crawl-workflows/labels.ts
  frontend/src/types/collection.ts
Due: none

rename component
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/collections/index.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

create new collection
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

save dedupe collection ID
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/choose-collection-name.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/workflow.ts
Due: none

handle disabling
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/utils/hasChanged.ts
Due: none

show warning
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

fix reset id
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update info text
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

ensure max collection name
  frontend/src/components/ui/search-combobox.ts
  frontend/src/features/collections/collection-create-dialog.ts
  frontend/src/features/collections/collection-name-input.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/types/collection.ts
Due: none

fix removable
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

only show warning for changes
  frontend/src/features/collections/linked-collections/linked-collections-list-item.ts
  frontend/src/features/collections/linked-collections/linked-collections-list.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

set to empty string
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

update field names
  .vscode/settings.json
  frontend/src/components/ui/config-details.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/crawl-workflows/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
  frontend/src/types/collection.ts
  frontend/src/types/crawler.ts
  frontend/src/utils/workflow.ts
Due: none

more update for auto setting autoAddCollections from dedupCollId
  backend/btrixcloud/crawlconfigs.py
Due: pylint

update copy
  frontend/src/features/crawl-workflows/workflow-editor.ts
Due: none

further fix for autoAddCollection updating
  backend/btrixcloud/crawlconfigs.py
Due: pylint

revert vscode settings
  .vscode/settings.json
Due: none

handle concurrent crawls via db instead of returning all cjs objects via operator /customize
  backend/btrixcloud/crawls.py
  backend/btrixcloud/operator/crawls.py
Due: pylint

Validate crawls being added to coll aren't failed
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
Due: pylint

Validate crawls successful and coll exists before updating crawls
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
Due: pylint

Ensure all crawls actually exist
  backend/btrixcloud/basecrawls.py
Due: pylint

Add org check
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
Due: pylint

Update docstring
  backend/btrixcloud/basecrawls.py
Due: pylint

Update seed file cleanup cron job schedule if needed on startup
  backend/btrixcloud/crawlmanager.py
Due: pylint

Fix line length
  backend/btrixcloud/crawlmanager.py
Due: pylint

filter tags
  frontend/src/features/archived-items/archived-item-tag-filter.ts
  frontend/src/pages/org/archived-items.ts
Due: none

get default proxy
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/pages/org/index.ts
Due: none

use url input
  frontend/src/components/ui/url-input.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/pages/org/index.ts
Due: none

set crawler channel
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/pages/org/index.ts
Due: none

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
