Repository webrecorder/browsertrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, password-check

pylint:
  name: pylint
  entry: cd backend && pylint
  language: system
  args:
  - btrixcloud/

password-check:
  name: password-check
  language: system
  entry: python3 scripts/check_passwords.py

add round-duration, tests for it, & add to humanize controller
  frontend/src/components/ui/relative-duration.ts
  frontend/src/controllers/localize.ts
  frontend/src/utils/humanize-duration.test.ts
  frontend/src/utils/polyfills.ts
  frontend/src/utils/round-duration.test.ts
  frontend/src/utils/round-duration.ts
Due: none

fix cjs polyfill not loading in tests
  frontend/web-test-runner.config.mjs
Due: none

fix: Fix debounced inputs (#2191)
  frontend/src/features/crawl-workflows/exclusion-editor.ts
  frontend/src/features/crawl-workflows/queue-exclusion-form.ts
  frontend/src/pages/org/collections-list.ts
Due: none

Verified badges (#2195)
  frontend/src/components/index.ts
  frontend/src/components/verified-badge.ts
  frontend/src/pages/org/profile.ts
  frontend/xliff/es.xlf
Due: none

Apply `localize:extract` changes
  frontend/xliff/es.xlf
Due: none

load polyfill in localize utils specifically
  frontend/src/utils/localize.ts
  frontend/src/utils/polyfills.ts
Due: none

update playwright and chromium versions
  .github/workflows/ui-tests-playwright.yml
  frontend/package.json
  frontend/playwright.config.ts
  frontend/web-test-runner.config.mjs
  frontend/yarn.lock
Due: password-check

comment out verbose
  frontend/src/components/ui/relative-duration.ts
  frontend/src/lib/intl-durationformat.ts
Due: none

shim polyfill
  frontend/lib/intl-durationformat.js
  frontend/src/lib/intl-durationformat.ts
  frontend/src/utils/localize.ts
  frontend/webpack.config.js
Due: none

add comments
  frontend/lib/intl-durationformat.js
  frontend/src/utils/localize.ts
  frontend/webpack.config.js
Due: none

install playwright
  .github/workflows/frontend-build-prepare.yaml
Due: password-check

update dockerfile
  frontend/Dockerfile
Due: none

add `.duration` tests to `localize` util
  frontend/src/utils/localize.test.ts
Due: none

move intl.durationformat types into separate file
  frontend/index.d.ts
  frontend/src/types/lib/intl.durationformat.d.ts
Due: none

simplify relative-duration's render method to use `localize.humanizeDuration` directly
  frontend/src/components/ui/relative-duration.ts
Due: none

fix extra spacing & unnecessary titles in usage table
  frontend/src/utils/executionTimeFormatter.ts
Due: none

update default duration format style to be consistent with `pretty-ms` config
  frontend/src/controllers/localize.ts
  frontend/src/utils/localize.ts
Due: none

fix execution time formatter tests
  frontend/src/utils/executionTimeFormatter.test.ts
Due: none

Flush out tests for setting custom storage
  backend/btrixcloud/storages.py
  backend/test/test_org.py
Due: pylint

Add todos re: tasks necessary to change storage
  backend/btrixcloud/storages.py
Due: pylint

Add back custom storage endpoints
  backend/btrixcloud/storages.py
Due: pylint

Actually unset custom replica storage before deleting
  backend/test/test_org.py
Due: pylint

Start adding post-storage update logic
  backend/btrixcloud/orgs.py
  backend/btrixcloud/storages.py
Due: pylint

Fix test issue with bucket not existing for now
  backend/btrixcloud/storages.py
Due: pylint

Check that no crawls are running before updating storage
  backend/btrixcloud/orgs.py
  backend/btrixcloud/storages.py
Due: pylint

Fix custom storage so it works as expected
  backend/btrixcloud/storages.py
Due: pylint

Fix check for whether storage label is in use
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/k8sapi.py
Due: pylint

Remove todo on endpoint that's fine
  backend/btrixcloud/storages.py
Due: pylint

Add additional tests
  backend/test/test_org.py
Due: pylint

Add TODO where custom storage deletion is failing
  backend/btrixcloud/crawlmanager.py
Due: pylint

Localize durations on frontend (#2196)
  .github/workflows/frontend-build-prepare.yaml
  .github/workflows/ui-tests-playwright.yml
  frontend/Dockerfile
  frontend/lib/intl-durationformat.js
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/relative-duration.ts
  frontend/src/controllers/localize.ts
  frontend/src/features/archived-items/crawl-list.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/types/lib/intl.durationformat.d.ts
  frontend/src/utils/executionTimeFormatter.test.ts
  frontend/src/utils/executionTimeFormatter.ts
  frontend/src/utils/localize.test.ts
  frontend/src/utils/localize.ts
  frontend/src/utils/polyfills.ts
  frontend/src/utils/round-duration.test.ts
  frontend/src/utils/round-duration.ts
  frontend/web-test-runner.config.mjs
  frontend/webpack.config.js
  frontend/xliff/es.xlf
  frontend/yarn.lock
Due: password-check

WIP: Add background job to copy old s3 bucket to new
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/main.py
  backend/btrixcloud/models.py
  backend/btrixcloud/storages.py
Due: pylint

WIP: Start adding logic to handle replica location updates
  backend/btrixcloud/storages.py
Due: pylint

Fixups
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/storages.py
Due: pylint

Add additional note
  backend/btrixcloud/storages.py
Due: pylint

More linting fixes
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/subs.py
  backend/btrixcloud/uploads.py
Due: pylint

Fix linting
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/basecrawls.py
  backend/btrixcloud/colls.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/db.py
  backend/btrixcloud/emailsender.py
  backend/btrixcloud/invites.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/migrations/migration_0032_dupe_org_names.py
  backend/btrixcloud/operator/baseoperator.py
  backend/btrixcloud/operator/crawls.py
  backend/btrixcloud/operator/cronjobs.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/pages.py
  backend/btrixcloud/profiles.py
  backend/btrixcloud/storages.py
  backend/btrixcloud/subs.py
  backend/btrixcloud/uploads.py
  backend/btrixcloud/users.py
  backend/btrixcloud/webhooks.py
Due: pylint

Fix argument
  backend/btrixcloud/storages.py
Due: pylint

Fix another argument
  backend/btrixcloud/storages.py
Due: pylint

Refactor, seperate storage and replicas updates
  backend/btrixcloud/background_jobs.py
  backend/btrixcloud/models.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/storages.py
  backend/test/test_org.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  password-check: any of: \.(yaml|yml)$
